<div data-th-fragment="supplier">
  <div id="modal_add_warehouse" data-th-id="|modal_add_${moduleName}|" class="modal fade"
       style="z-index: 9999">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h5 class="modal-title" data-th-text="|新增${displayName}|">新增仓库</h5>
        </div>
        <div class="modal-body form-horizontal">
          <form id="warehouse-form" data-th-id="|${moduleName}-form|" method="post" action="">
            <input name="id" type="hidden"/>
            <div class="form-group">
              <div class="row">
                <label class="col-lg-2 control-label text-right" data-th-text="|${displayName}名称|">仓库名称:</label>
                <div class="col-lg-9 input-group">
                  <input type="text" name="name" class="form-control" id="name"
                         placeholder="请输入仓库名称" data-th-placeholder="|请输入${displayName}名称|"/>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <label class="col-lg-2 control-label text-right" data-th-text="|${displayName}编码|">仓库名称:</label>
                <div class="col-lg-9 input-group">
                  <input type="text" name="code" class="form-control" id="code"
                         placeholder="请输入仓库名称" data-th-placeholder="|请输入${displayName}的编号|"/>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <label class="col-lg-2 control-label text-right" data-th-text="|关联仓库|">仓库名称:</label>
                <div class="col-lg-9 input-group">
                  <select name="houseList" id="houseList" multiple="multiple"
                          data-placeholder="请输入关联仓库"></select>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" id="submit-warehouse" data-th-id="|submit-${moduleName}|"
                  class=" btn btn-primary">确认
          </button>
          <button class=" btn btn-default" data-dismiss="modal">取消</button>
        </div>
      </div>
    </div>
  </div>
</div>


