@charset "utf-8";
/* CSS Document */
*{ margin:0px; padding:0px; list-style:none;}
img{ border:0px;}
body{ font-family: "microsoft yahei",Verdana,Arial,Helvetica,sans-serif; font-size:12px; color:#000; background:#fff;}
a{ text-decoration:none; color:#000;}
em,i,cite{ font-weight:normal; font-style:normal;}

.w1100{width:1100px; overflow:hidden; margin:0 auto;}
/*===== 头部 ====*/
.boxtop{ height:26px; line-height:26px; background:#333; padding:0 20px; font-size:12px;}
.boxtop .topCon{ overflow:hidden; height:26px; background:#333; width:1100px; margin:0 auto; color:#DADADA}
.boxtop .topCon .welcome{float:right;text-align:right;  width:70%}
.boxtop .topCon .welcome a{ color:#DADADA}
.boxtop .topCon .welcome a:hover{ color:#FFEFA7}
.boxtop .topCon .zcdox{ float:left; width:20%; height:26px; line-height:26px;}
.boxtop .topCon .zcdox a{ margin-left:10px; color:#DADADA;}
.boxtop .topCon .zcdox a:hover{ color:#FFEFA7;}
#topcid{ width:1100px; margin:0 auto;} 

.logo{padding:0px 0 0 0; margin-top:10px; background:url(/statics/images/essen/logo.jpg) no-repeat; height:70px; width:600px; float:left}
.top{width:500px; display:block; height:70px; float:left}
.lvad{width:300px; display:block; height:97px; float:left}
.head_r{ width:500px; float:right; text-align:right}
.head_r img{padding-top:15px;}
.head_r p{ text-align:right; padding-right:305px; padding-top:20px;}


/*导航*/
.navbg2{ width:100%; height:48px; background:#fff; position:relative; 
 -webkit-box-shadow:0 0 5px #ccc;  
  -moz-box-shadow:0 0 5px #ccc;  
  box-shadow:0 0 5px #ccc;  margin-bottom:20px;
}
.header_nav{ width:1100px; margin:0 auto; font-family:"微软雅黑"; font-size:14px; line-height:48px; height:48px;}
/*左导航*/
.topnav{float:left; width:800px}
.topnav ul li{float:left; text-align:center; position:relative; width:110px; margin-right:30px;}
.topnav ul li em{ background:url(../images/top_05.png) center right no-repeat; width:7px; height:4px; padding-left:0px; }
.topnav ul li a{ color:#333; padding:0 12px; display:block; font-size:16px; font-weight:600}
.topnav ul li a.hover{ color:#1EA3C4; border-bottom:3px solid #1EA3C4; height:45px; }
.topnav ul li a:hover{ color:#333; background:#fff; }
.topnav ul li i a{ margin:0 5px; padding:0 15px;}
.topnav ul li i a:hover{ color:#1EA3C4; border-bottom:3px solid #1EA3C4; height:45px; background:none;}
.topnav ul li:hover span a{ color:#fff; display:block; background:#1EA3C4;}/*定住主导航菜单的颜色*/

/*二级弹出菜单*/
.topnav .menu ul.children{	display:none; position:absolute; top:48px; left:0; width:110px;	padding:0px 0px; background:#1EA3C4; border-bottom:3px solid #0681A3; z-index:9999; }
.topnav .menu ul.children li{ float:left; width:110px; font-size:12px; text-align:center; margin:0 0px; }
.topnav .menu ul.children li a{ line-height:22px; overflow:hidden; height:20px; padding:8px 0 8px 0px; display:block; color:#fff; font-size:12px;}
.topnav .menu ul.children li a:hover { background:#dfedff; color:#000; }
.topnav .menu ul.sleft {left: auto;	right:0; z-index:9999}/*这个sleft是为了让下拉菜单右对齐，防止右边的挡住*/
.topnav .menu li a{font-size:15px}

/*清除浮动*/
.clearfloat{clear:both;height:0;font-size:1px;line-height:0px;} 

/*右导航*/
.right_nav{ width:240px; float:right; text-align:right;}
.right_nav a{color:#fff; padding:3px 12px; background-color:#1EA3C4; margin-left:10px}
.right_nav a:hover{background-color:#ff6600;}


/* 搜索 */
.search-bar{ overflow:hidden; float:right; padding-top:10px;} 
.search-bar li{ float:left;}
.search-bar .search{ width:220px; height:29px; line-height:29px; background:url(../images/essen/search_bg.png) no-repeat; float:left; position:relative;}
.search-bar .search .cxe{ width:137px; border:0px; padding:4px 0 4px 0px; background:none; margin-left:30px}
.search-bar .search .sbm{ width:35px; height:25px; position:absolute; top:0px; right:0px; border:0px; background:none; cursor:pointer;}
.search-bar .locat{ line-height:25px; margin-left:10px; color:#ff6600;text-decoration:underline; font-size:16px; padding-left:20px;}

/*== 幻灯 ===*/
.sidbox{ overflow:hidden; padding:0 0px; margin-top:0px;}
.flexslider{position:relative;min-height:200px;overflow:hidden;background:url(../images/essen/loading.gif) 50% no-repeat;}
.slides{position:relative;z-index:1;}
.slides li{ min-height:200px;}
.slides li img{ width:1100px;}
.flex-control-nav{position:absolute;bottom:10px;z-index:2;width:100%;text-align:center;}
.flex-control-nav li{display:inline-block;width:14px;height:14px;margin:0 5px;*display:inline;zoom:1;}
.flex-control-nav a{display:inline-block;width:14px;height:14px;line-height:40px;overflow:hidden;background:url(../images/essen/dot.png) right 0 no-repeat;cursor:pointer;}
.flex-control-nav .flex-active{background-position:0 0;}

.flex-direction-nav{position:absolute;z-index:3;width:1100px;top:55%;}
.flex-direction-nav li a{display:block;width:50px;height:50px;overflow:hidden;cursor:pointer;position:absolute;}
.flex-direction-nav li a.flex-prev{left:10px;background:url(/statics/images/essen/prev.png) center center no-repeat;}
.flex-direction-nav li a.flex-next{right:10px;background:url(/statics/images/essen/next.png) center center no-repeat;}


.pro-switch{height: 450px;overflow: hidden;position: relative;width:1000px;}
.flexslider{margin: 0;padding: 0;}
.flexslider .slides > li{display: none;-webkit-backface-visibility: hidden;}
.flexslider .slides img{width:1100px;display: block;}
.slides:after{content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
html[xmlns] .slides{display: block;}
* html .slides{height: 450px;}
.no-js .slides > li:first-child{display: block;}
.flexslider{margin: 0 auto;position: relative;width:1100px;zoom: 1;}
.flex-viewport{max-height: 2000px;-webkit-transition: all 1s ease;-moz-transition: all 1s ease;transition: all 1s ease;}
.flexslider .slides{zoom: 1;}
.flex-direction-nav{*height: 0;}
.flex-direction-nav a{width: 60px;height: 90px;margin: -60px 0 0;display: block;background: url(../images/essen/ad_ctr.png) no-repeat 0 0;position: absolute;top: 50%;z-index: 10;cursor: pointer;text-indent: -9999px;opacity: 0;filter: alpha(opacity=0);-webkit-transition: all .3s ease;}
.flex-direction-nav .flex-next{background-position: 0 -90px;right: 0;}
.flex-direction-nav .flex-prev{left: 0;}
.flexslider:hover .flex-next{opacity: 0.8;filter: alpha(opacity=25);}
.flexslider:hover .flex-prev{opacity: 0.8;filter: alpha(opacity=25);}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover{opacity: 1;filter: alpha(opacity=50);}
.flex-control-nav{width:1100px;position: absolute;text-align: center;left: 0;top: 472px;}
.flex-control-nav li{margin: 0 5px;display: inline-block;zoom: 1;*display: inline;}
.flex-control-paging li a{background: url(../images/essen/dot.png) no-repeat 0 -16px;display: block;height: 16px;overflow: hidden;text-indent: -99em;width: 16px;cursor: pointer;}
.flex-control-paging li a.flex-active{background-position: 0 0;}
.fastNav{width: 220px;height: 450px;position: absolute;left: 0px;top: 41px;}


.e_product{clear:both;overflow:hidden;padding-top:15px; width:940px;}
.e_product li{width:260px;height:270px;float:left;overflow:hidden; margin-right:30px; }
.e_product li a{display:block;margin:0px auto;text-align:center; font-size:14px}
.e_product li a:hover{ color:#FF6600}
.e_product li a img{width:248px;height:190px;display:block;margin:0px auto 0px;padding:0px;border:1px solid #DDD; overflow:hidden}
.e_product li a:hover img{padding:0px;border:1px solid #A80900;}
.e_product li p{overflow:hidden;line-height:30px;}
.e_product li span{width:260px;height:190px; overflow:hidden}

/*======= 动态 ========*/
.tong img{ transition: transform 1s;
           -moz-transition: -moz-transform 1s;
		   -webkit-transition: -webkit-transform 1s;
		   -o-transition: -o-transform 1;
		   -ms-transition:-ms-transform 1s;
	     }
.tong img:hover{ transform: scale(1.2,1.2);
                 -webkit-transform: scale(1.2,1.2);
                 -o-transform: scale(1.2,1.2);
                 -moz-transform: scale(1.2,1.2);
                 -ms-transform: scale(1.2,1.2);
				}

.product{}
.product h2{ text-align:center}
.news{width:1200px}
.news h2{ text-align:center}
.new2{ overflow:hidden; padding-bottom:25px; margin-top:0px;}
.new2 li:first-child{ margin-left:0px;}
.new2 li{ width:22%; float:left; margin-left:1.5%; height:360px;}
.new2 li a:hover{color:#CCCCCC}
.new2 li a img{ width:100%;}
.new2 li h3{ color:#000; margin:15px 0; font-weight:normal; font-size:22px; height:28px; line-height:28px; overflow:hidden}
.new2 li .texe{ line-height:22px; margin-top:10px; color:#999999;height:40px; overflow:hidden}
.new2 li .texe2{ line-height:22px; margin-top:10px; color:#272727; height:50px; overflow:hidden; font-family:Arial, Helvetica, sans-serif}
.new2 li .link{ display:inline-block; height:22px; line-height:16px; padding-left:10px; margin-top:20px;}
.new2 li a:hover .link{ color:#ff6600;}

/* 查询 */
.query{ overflow:hidden; padding-bottom:30px; margin-top:30px; width:1210px}
.query li:first-child{ border-left:0px;}
.query li{ width:30%; float:left; border-left:0px solid #434343; padding-right:3.2%;}
.query li h3{ font-weight:normal; color:#333; margin-top:10px;}
.que{ overflow:hidden; width:496px; height:34px; position:relative; margin:7px 0 15px 0;}
.que .c20{ width:435px; border:1px solid #707070; height:32px; line-height:32px; background:none; color:#777777; font-size:12px; padding-left:5px;}
.que .c21{ width:56px; text-align:center; height:34x; line-height:34px; background:#333; position:absolute; top:0px; right:0px; border:0px; font-size:12px; cursor:pointer; color:#FFFFFF}
.query li dl{ overflow:hidden;}
.query li dl dt{ margin-bottom:5px;}
.query li dl dd{ margin-top:3px;}

/* 查询弹出框 */
.mask{ width:100%; height:100%; background:#000; position:fixed; left:0px; top:0px; z-index:8; filter: Alpha(opacity=50); _top: expression(eval(document.documentElement.scrollTop)); _background:#cccccc; opacity:0.5;  _position: absolute; display:none;}
.wrap_tc{ width:500px; height:400px; position:fixed; top:2%; left:50%; margin-left:-250px; z-index:9; background:url(../images/tc_bg.png) repeat; padding:5px; border-radius:1px; display:none;}
.wrap_tc .tcbox{ width:660px; height:570px; background:#FFF; position:relative;}
.wrap_tc .tcbox .stdown{ display:inline-block; width:51px; height:51px; background:#D1E800 url(../images/c4.jpg) no-repeat; position:absolute; top:10px; right:10px; z-index:11; cursor:pointer; border-radius:15px;}
.wrap_tc p.img{ width:100%; text-align:center; padding-top:20px; }
.wrap_tc .desc{ padding-left:130px; width:400px; padding-top:30px; line-height:28px}
.content{ width:1100px; overflow:hidden; margin:20px auto 0px;}
.k_path{margin-bottom:20px;}
.k_path a:hover{color:#FF6600}

/*============ 产品详情 ============*/
.leibt{ overflow:hidden;}
.leibt a:hover{ color:#fff;}

.tuwen{ overflow:hidden; margin-top:30px;}
.tuwen .tuimg{ width:630px; overflow:hidden; float:left;}
.tuwen .tuimg img{ width:630px; height:305px;}
.tuwen .wetxe{ width:440px; overflow:hidden; float:right; margin-top:0px;}
.tuwen .wetxe em{ font-size:14px;}
.tuwen .wetxe h1{ font-weight:normal; color:#333; margin:3px 0;}
.tuwen .wetxe h3{ font-weight:normal; color:#333;}
.tuwen .wetxe p{ border-top:1px solid #434343; margin-top:15px; padding-top:15px; color:#333333;}
.tuwen .wetxe dl{ overflow:hidden;}
.tuwen .wetxe dl dd{ margin-top:15px; color:#333333;}
.titcp{ font-weight:normal; border-bottom:1px solid #434343; padding-bottom:7px; font-size:17px; color:#333;}
.details{ overflow:hidden; color:#333333; margin-bottom:50px;}
.details p{ line-height:18px; margin-top:20px;}

.chplist{ overflow:hidden; width:945px;}
.chplist li{ width:263px; overflow:hidden; margin:30px 22px 0 0; float:left;}
.chplist li a img{ width:263px; height:127px;}
.chplist li h5{ text-align:center; font-weight:normal; font-size:15px; color:#000; margin-top:10px; height:40px}
.chplist li p{ text-align:center; margin:3px 0 20px 0;}
.chplist li .more{ display:inline-block; width:72px; height:25px; line-height:25px; text-align:center; background:#333; color:#dddddd; margin-left:80px;}
.chplist li .more:hover{ background:#FFEFA7; color:#000000}

.a_bg{background-color:#1EA3C4; color:#FFFFFF; height:35px; line-height:35px; font-size:16px; padding-left:15px; font-weight:bold}
/*============ 新闻资讯 ============*/
.newbox{ overflow:hidden;}
.newbox .new_list{ width:199px; float:left; overflow:hidden; padding-left:0px;}
.newbox .new_list li{ overflow:hidden; padding-left:25px; text-align:left; border-bottom:#CCCCCC 1px dotted; line-height:35px; background:url(../images/essen/ico21.png) 15px 14px no-repeat}
.newbox .new_list li em{padding-left:15px;}
.newbox .new_list li a{ font-size:14px;}
.newbox .new_list li a:hover{ color:#ff6600;}
#menu LI A#menu_active {color:#ff6600;}
#menu2 LI A#menu_activet {color:#ff6600;}
.newbox .newtext{ width:840px; float:right; overflow:hidden; border-left:1px solid #DADADA; padding-left:60px; margin-bottom:0px;border-top:1px solid #DADADA;}
.newbox .newtext h1{ font-weight:normal; color:#000; font-size:30px; padding-top:20px}
.newbox .newtext h1 span{font-weight:normal; font-size:18px; color:#999999}
.newbox .newtext .tlst{ overflow:hidden; margin:5px 0 15px 0;}
.newbox .newtext .tlst span{ margin-right:10px;}
.newbox .newtext .text{ overflow:hidden; line-height:28px;}
.newbox .newtext .text p{ line-height:20px; margin:40px 0 15px 0;}

.newbox .newtext .ldbt{ font-size:30px;}
.newbox .newtext h4{ color:#999999; font-size:18px;}
.newbox .newtext .newlist{ overflow:hidden; margin-top:40px;}
.newbox .newtext .newlist li{ overflow:hidden; list-style:inside;  border-bottom:#cccccc 1px dotted; height:35px; line-height:35px;}
.newbox .newtext .newlist li span{ float:right; font-size:14px; color:#ccc;}
.newbox .newtext .newlist li a{ font-size:14px; color:#333333;}
.newbox .newtext .newlist li a:hover{ font-size:14px; color:#ff6600;}
.newbox .newtext .fanye{ overflow:hidden; margin-top:100px; float:right;}
.newbox .newtext .fanye a{ display:inline-block; float:left; padding:5px 8px; margin-left:10px;}
.newbox .newtext .fanye span{ display:inline-block; float:left; padding:5px 8px; margin-left:10px;background:#FFF; }
.newbox .newtext .fanye a:hover{ background:#fff;}

/*=========== 会员中心 ===========*/
.side_bar{ width:218px; min-height:680px; overflow:hidden; float:left; border:1px solid #DADADA; background:#DADADA;}
.side_bar .sbat{ height:65px; line-height:65px; font: 18px/65px Microsoft YaHei; color:#fff;}
.side_bar .sbat span{ margin-left:75px;}
.side_bar dl{ overflow:hidden; padding-bottom:20px;}
.side_bar dl dt{ font: bold 14px/32px Microsoft YaHei; border-bottom: 1px dotted #DADADA; border-top: 1px dotted #DADADA; height:32px; background:url(../images/icon2.gif) no-repeat 67px center; padding-left:80px; margin-bottom:12px; color:#000000;}
.side_bar dl dd{ overflow:hidden;}
.side_bar dl dd a{ display:block; padding-left:80px; height:30px; line-height:30px;}
.side_bar dl dd a:hover{ background:#3E3E3E; color:#fff;}

.conter{ width:868px; min-height:680px; float:right; overflow:hidden; background:#ffffff; border-bottom:1px solid #DADADA;  color:#333333;}
.tenbt{ height:66px; line-height:66px; background:#1EA3C4; border-bottom:1px solid #DADADA; margin-bottom:15px}
.tenbt span{ margin-left:40px; font: 18px/65px Microsoft YaHei; color:#fff;}
/*=========== 账户安全验证 ===========*/
.pn-safety{ overflow:hidden; width:830px; margin:0 auto;}
.pn-safety .pn-safety-sign{ border-bottom:1px dotted #DADADA; padding:20px 20px 10px 20px; font: 13px/18px Microsoft YaHei;}
.pn-safety .pn-safety-sign cite{ color:#666; font-weight:normal;}
.pn-safety .pn-safety-sign cite a{ color:#02b1cb;}
.pn-safety table{ width:100%; border-spacing:0; border-collapse:collapse;}
.pn-safety table tr td{ border-bottom:1px dotted #DADADA; padding:20px; font-size: 12px;}
.pn-safety table tr td strong{ display:inline-block; padding-left:45px; font:18px/36px Microsoft YaHei, '微软雅黑'; height:36px; background: url(../images/btn3.jpg) left -44px no-repeat;}
.pn-safety table tr td strong.isok{ background-position:left 0px;}
.pn-safety table tr td .pn-weight{ position:static; display:inline-block; margin:0 10px;}
.pn-safety table tr td .pn-weight .pn-pwd-middle{display:inline-block; width:122px; height:14px;vertical-align:middle; transition:.3s ease-in-out; background:url(../images/btn5.jpg) left 0 no-repeat; background-position:left -20px;}
.pn-safety table tr td .pn-safety-edit{ display:inline-block; width:89px; height:30px; line-height:30px; text-align:center; color:#666; background:url(../images/bt_bg.jpg) 0 -34px no-repeat;}
.pn-safety table tr td span{ color: #999;}
.pn-safety table tr td a.pn-safety-check{ display: inline-block; width: 89px; height: 30px; line-height: 30px; text-align: center; color: #fff; background: url(../images/bt_bg.jpg) 0 0 no-repeat;}

/*=== 会员 ===*/
.hybox{ width:700px; overflow:hidden; margin:30px auto; border-bottom:1px solid #313131; padding-bottom:15px;}
.hybox .mtu{ width:125px; height:125px; float:left; overflow:hidden; border-radius:60px; margin-left:20px;}
.hybox .mtu img{ width:125px; height:125px;}
.hybox .mzl{ width:535px; float:right; overflow:hidden;}
.hybox .mzl .btt{ overflow:hidden; margin:25px 0 10px 0;}
.hybox .mzl .btt h1{ font-weight:normal; color:#fff; float:left;}
.hybox .mzl .btt a{ color:#333333; display:inline-block; float:left; margin:13px 0 0 13px;}
.hybox .mzl .btt a:hover{ color:#fff;}
.hybox .mzl .zlz{ overflow:hidden; padding:3px 5px; background:#313131; width:285px;}
.hybox .mzl .zlz span{ margin-left:10px; font-size:13px;}
.hybox .mzl .zlz span font{ color:#fff;}

.ta-order{ overflow:hidden; width:700px; margin:0 auto;}
.ta-order tr{ overflow:hidden; border-bottom:1px solid #}

/*=========== 登录/注册 ===========*/
.logbt{ height:35px; line-height:35px; border-bottom:1px solid #DADADA; padding-bottom:15px;}
.logbt span{ font-size:13px; margin-left:5px; color:#888888;}
.lgbox{ overflow:hidden; margin-top:30px;}
.lgbox .login{ width:780px; float:left; overflow:hidden; min-height:500px; border:1px solid #DADADA;}
.lgbox .login .gin{ width:550px; margin:20px auto 0 auto; overflow:hidden; padding-bottom:40px;}
.gincon li{ overflow:hidden; height:37px; line-height:37px; margin-top:20px;}
.gincon li label{ text-align:right; width:75px; display:block; float:left; color:#333333;}
.gincon li .det{ height:32px; line-height:32px; border:1px solid #DADADA; width:300px; padding-left:10px; background:none; color:#333333}
.gincon li>a{ font-size:12px; color:#506EAA;}
.gincon li .dyz{ height:32px; line-height:32px; border:1px solid #DADADA; width:120px; padding-left:10px; background:none; color:#333333}
.gincon li.cdx1{ padding-left:75px; height:15px; margin-top:25px;}
.gincon li.cdx2{ padding-left:75px;}
.gincon li.cdx1 span{ font-size:12px; display:block; float:left; height:14px; line-height:14px; margin-left:5px;}
.gincon li.cdx2 .subm{ width:100px; height:35px; border:0px; background:#999999; font-size:18px; color:#fff; letter-spacing:3px; border-radius:1px; cursor:pointer;}
.gincon li.cdx2 .subm:hover{ background:#1C1C1C;}
.gincon li.cdx2 .subm2{ width:165px; height:35px; border:0px; background:#999999; font-size:18px; color:#fff; border-radius:1px; cursor:pointer; font-family:"微软雅黑"}
.gincon li.cdx2 .subm2:hover{ background:#1C1C1C;}
.lgbox .glist{ overflow:hidden; width:550px; margin:0 auto; border-top:1px solid #DEDEDE;}
.lgbox .glist p{ margin:15px 0 0 32px;}
.lgbox .glist ul li{ width:97px; float:left; overflow:hidden; margin:10px 0 0 32px;}

.lgbox .lgright{ width:200px; min-height:500px; overflow:hidden; float:right; background:#DADADA; padding-left:100px; }
.lgbox .lgright p{ margin:30px 0 15px 0;} 
.lgbox .lgright .lash{ display:block; width:108px; height:33px; line-height:33px; background:url(../images/essen/lash_bg.png) no-repeat; text-align:center; color:#DADADA;}
.lgbox .lgright .zcdl{ overflow:hidden;}
.lgbox .lgright .zcdl p{ font-size:13px;}
.lgbox .lgright .zcdl ul{}
.lgbox .lgright .zcdl ul li{ float:left; margin:0 10px 5px 0;}
.lgbox .lgright .zcdl ul li img{ width:97px; height:25px;}

/*========= 尾部 ===========*/
.footer{ width:100%; border-top:#CCCCCC 1px solid; margin-top:15px; margin-bottom:10px; padding-top:15px;}
#footid{ width:1100px; margin:0 auto; text-align:center; line-height:25px;}
#footid a:hover{ color:#FF6600}



.fc_box{ width:830px; height:640px; overflow:hidden; margin:0 auto; padding-top:10px;}
.fc_box .person_infor{ overflow:hidden; border-bottom: 1px solid #666; padding-bottom:25px;}
.fc_box .person_infor .photo{ float:left; width:120px; overflow:hidden;}
.fc_box .person_infor .photo img{ width:120px; height:120px;}
.fc_box .person_infor .infor_r{ width:690px; float:right;}
.fc_box .person_infor .infor_r h2{ font:20px/24px Microsoft YaHei; padding-bottom: 10px; padding-left: 15px; margin-top:20px;}
.fc_box .person_infor .infor_r h2 a{ font: 12px SimSun; color:#999; padding-left: 10px;}
.fc_box .person_infor .infor_r h2 a:hover{ text-decoration:underline;}

.person_infor .infor_r .hfxz{ width:665px; overflow:hidden; zoom:1; background-color: #FFEFA7; padding: 10px 15px; color: #000;}
.person_infor .infor_r .hfxz span{ display:inline-block; width:230px; height:12px; line-height:12px; background-color: #E9E9E9; border-radius: 5px;}
.person_infor .infor_r .hfxz span .pointSize{ display:block; background-color:#FFD159; color:#fff; font:10px/14px normal; font-weight:bold; height:12px; text-align:right; border-radius:5px; text-indent:1em;}
.person_infor .infor_r .hfxz #printExplain{ font-size:13px; padding-top: 3px;}
.person_infor .infor_r .hfxz #printExplain em{ color: #F42647; font-style: normal; font-weight: normal;}
.person_infor .infor_r .tags{ overflow:hidden; margin-top:10px;}
.person_infor .infor_r .tags span{ display:inline-block; width:140px; height:25px; padding-top:5px; background:url(../images/num_bg.gif) no-repeat 0 -42px; color: #878787; text-align: center;}
.person_infor .infor_r .tags .on4{ background-position:-451px 0; color:#fff;}
.person_infor .infor_r .tags b{ display:inline-block; width:21px; height:21px; line-height:21px; background:url(../images/quan.gif) no-repeat center;}
.person_infor .infor_r .tags .on4{ color:#fff;}
.person_infor .infor_r .tags .on4 b{ color:#F42647;}
.fc_box .title{ font: 18px Microsoft YaHei; color: #333; margin-top: 15px; margin-bottom: 10px; color:#000}
.fc_box .title a{ float:right; color: #999; font-size:12px; margin:8px 10px 0 0;}
.fc_box .title a:hover{color: #fff;}
.fc_box .jqdd{ overflow:hidden;}
.fc_box .jqdd table{ width: 830px;}
.fc_box .jqdd table tr{}
.fc_box .jqdd table tr th{ height:40px; background:#484848; color:#eeeeee}
.fc_box .jqdd table tr td{ height:34px; line-height:28px}
.fc_box .title2{ margin-top:30px; border-bottom:3px solid #EAE4D7; font: 18px Microsoft YaHei; padding-bottom:10px;}
.fc_box .title2 a{ float:right; font-size: 12px; color: #999; margin:8px 10px 0 0;}
.fc_box .brand{ overflow:hidden;}
.fc_box .brand p{ text-align:center; line-height:20px; margin-top:20px;}

/*=========== 我要推荐 ===========*/
.recom{ width:750px; margin:0 auto;}
.recom >p{ margin-left:25px; font-size:12px; margin-top:20px;}
.recom dl{ overflow:hidden; font-size:12px; padding-left:25px; margin-top:10px;}
.recom dl dd{ margin:7px 0 0 45px;}
.recom .fzdm{ overflow:hidden; margin:30px 0 0 70px;}
.recom .fzdm .ljtu{ float:left;}
.recom .fzdm .ljtu img{ width:175px; height:60px;}
.recom .fzdm .ljbox{ width:625px; height:60px;}
.recom .fzdm .ljbox .lj{ height:20px; line-height:20px; width:280px; border:1px solid #666; margin:20px 0 0 0px; background-color:#ffffff}
.recom .fzdm .ljbox span{ cursor:pointer; color:#02B1CB; font-size:13px;}
.recom .fxbox{ overflow:hidden; border-top:1px solid #F0F0F0; padding-left:25px; margin:20px 0;}
.recom .fxbox .fxtu{}
.recom .fxbox .fxtu img{ width:410px; height:100px;}
.recom .fybox{ overflow:hidden; height:35px; line-height:35px; background:#F5F9F6;}
.recom .fybox span{ display:block;}
.recom .fybox span font{ color:#F03;}
.recom .fybox .sz{ float:left; margin-left:100px;}
.recom .fybox .ye{ float:right; margin-right:15px;}

.m-product{ width:830px; overflow:hidden; margin:0 auto; padding-top:20px;}
/* 分页 */
#pages{ overflow:hidden; margin-top:100px; float:right;}
#pages a{ display:inline-block; float:left; padding:5px 8px; margin-left:10px;}
#pages span{ display:inline-block; float:left; padding:5px 8px; margin-left:10px;background:#FFF; }
#pages a:hover{ background:#fff;}

.table_form td,.table_form th{ padding:10px 0px; border-bottom:1px dotted #ccc}
.input-text{border:1px solid #999999;height:18px;margin:0 5px 0 0;padding:2px 0 2px 5px; color:#333;background: none; font-family: Verdana, Geneva, sans-serif,"宋体";font-size:12px;}
.table_form td a:hover{color:#ff6600}

.button{padding:10px 20px; background-color:#1EA3C4; border-bottom:0px;border-left:0px;border-right:0px;border-top:1px #1EA3C4 solid; color:#FFFFFF; font-size:14px}