/*reset*/
audio,canvas,progress,video {
    display: inline-block;
    vertical-align: baseline;
}
section{
	display: block;
}
audio:not ([controls] ) {
    display: none;
    height: 0;
}
/* 1.去除android a/button/input标签被点击时产生的边框 2.去除ios a标签被点击时产生的半透明灰色背景 */
a,button,input{
    -webkit-tap-highlight-color:rgba(255,0,0,0)
};

[hidden],template {
    display: none;
}
body,ul,li,ol,p,h1,h2,h3,h6{
    margin: 0;
    padding: 0;
    font-weight: normal;

}

ul,li,ol{
    list-style: none;
}
a {
    background: transparent;
    text-decoration: none;
    color:#9a9a9a;
}
pre{
    margin: 0;
    padding: 0;
    word-break: break-word;
}

.relative{
    position: relative;
}

.centered {
    text-align: center;

}
a, button, input {
    -webkit-tap-highlight-color: rgba(255,0,0,0);
}
img {
    width: auto\9;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}
.fn-hide{
    display: none;
}

/*reset end*/

/*box-flex*/
.box{
    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari、Opera 以及 Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
    width: 100%;

	/* IE */
    display:-ms-flexbox;
}
.flex1{
    -moz-box-flex:1;
    -webkit-box-flex:1;
    box-flex:1;
}
.flex2{
    -moz-box-flex:2;
    -webkit-box-flex:2;
    box-flex:2;
}
.flex8{
    -moz-box-flex:8;
    -webkit-box-flex:8;
    box-flex:8;
}
body{
    font-size: 62.5%;
}
.header{ position: relative;margin: 0 auto; overflow: hidden;width: 100%;height: 50px; line-height: 50px; text-align: center; background: #fff;box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); font-size: 40px;}
.header .logo{ margin-top: 7.5px; display: block;}
.header .back{ position: absolute; left: 0; top:0; width: 22px; height: 25px; overflow: hidden; text-indent: -99em; background: url(../../../_resources/images/xiangqu/widget.png) no-repeat -6px -2px;}
.header .back:active{ background: url(../images/widget.png) #ccc no-repeat -6px -2px;}

/*想去详情页*/
.cart-title{
    padding: 9px 15px 9px 15px;
    font-size: 12px;
    color: #000;
    font-weight: bold;
    line-height: auto;
    font-family:'\5fae\8f6f\96c5\9ed1',"Microsoft YaHei";
}
.mb40{
    margin-bottom: 20px;
}
.ptb20{
    padding:10px 0;
}
.cart-next-img{
    display: block;
    width: 60px;
    height:60px;
    overflow: hidden;
}
.cart-next-infor,.pro-title{
    font-family:'\5fae\8f6f\96c5\9ed1',"Microsoft YaHei";
}
.cart-next-infor{
    line-height: normal;
    margin-left: 10px;
}
.ml20{
    margin-left: 10px;
}
.pro-title{
    display: inline-block;
    font-size: 11px;
    color: #888;
    overflow: hidden;
    height:28px;
    /*
    white-space:nowrap;
    -o-text-overflow: ellipsis;
    text-overflow:ellipsis;
   */
}
.pro-title:hover,.pro-title:active{
    color: #555;
}

.clearfix {
    *zoom: 1
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table
}

.clearfix:after {
    clear: both
}
.fl-l{
    display: inline-block;
    float: left;
}
.fl-r{
    display: inline-block;
    float: right;
}
.pt40lr30{
    padding: 20px 15px 0 15px;
}
.pt0lr30{
	padding: 0px 15px 0 15px;
}
.ptb40lr30{
    padding: 20px 15px;
}
.ptb19lr30{
	padding: 19px 15px;
}
.ptb12lr30{
	padding: 12px 30px 12px 15px ;
}
.pb40{
    padding-bottom: 20px;
}
.pb10{
	padding-bottom: 7.5px;
}
.bdt, .bdb, .bdl, .bdr, .bd, .bdtb {
    border-color: #f0eeea;
    border-style: solid;
}
.bdt{
    border-width: 1px 0 0 0;
}
.bdb {
    border-width: 0 0 1px 0;
}
.w80{
    width: 70%;
}
.order-infor,.pro-price{
    font-size: 12px;
    color: #888;
    line-height: 13px;

}
.order-infor{
    padding-top: 12.5px;
}
.pro-price{
    padding-top: 5px;
}
.pro-right{
    padding-left: 5px;
    display: inline-block;
    color: #000;
    font-family: helveticaneue;
    vertical-align: top;
}
section{
    margin: 0;
    padding: 0;
}
.plr30{
    padding: 0px 15px;
    background-color: #fff!important;
}
.mt25{
    margin-top:12.5px;
}
.mt0{
	margin-top:0;
}
.mt30{
    margin-top : 15px;
}
.total-left,.total-right{
    font-size: 12px;
    color: #888;
    font-family:'\5fae\8f6f\96c5\9ed1',"Microsoft YaHei";
}
.total-right{
    padding-left: 5px;
    color: #000;
}
.numEditor {
    text-align: left;
    display: inline-block;
    border: 1px solid #aaa5a0;
    vertical-align: middle;
}
.numEditor .numPlus {
    background: url("/../_resources/images/productNewIcon03.png") center no-repeat;
}
.numEditor .numMinus {
    background: url("/../_resources/images/productNewIcon02.png") center no-repeat;
}
.numEditor button, .numEditor .numed {
    display: inline-block;
    text-align: center;
    padding: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-family: helveticaneue;
    float: left;
    border: 0;
    margin: 0;
    width: 33px;
    height: 33px;
    line-height: 33px;
    vertical-align: middle;
    background-color: transparent;
}
.numEditor .numed {
    border-style: solid;
    border-color: #aaa5a0;
    border-width: 0 1px;
    width: 33px;
    height: 33px;
    line-height: 33px;
    font-size: 15px;
    font-weight: bold;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: sans-serif;
}
.va-m{
    line-height: 35px;
    height: 35px;
    vertical-align: middle;
}
.font-red{
    color: #e3205e;
    font-weight: bold;
}
.total-right span{
    font-weight: normal;
}
.cart-textarea{
    border: 1px solid #eee;
    background-color: #fafbfb;
    color: #000;
    padding: 10px;
    font-size: 11px;
    line-height: 11px;
    width: 100%;
    height: 35px;

}
.pl30{
	padding:5px 0 0 15px;
}
.pay-card{
	padding-top:5px;
}

.width10{
    width:20%;
}
.width60{
    width:60%;
}
.width5{
    width:10%;
}
.pay-infor{
    /*Firefox*/
    width:-moz-calc(100% - 220px);
    /*chrome safari*/
    width:-webkit-calc(100% - 220px);
    /*Standard */
    width:calc(100% - 220px);
    padding:0 20px;
}

.radioInput{
	margin-top:12px;
	display:none;
}
.pay-img{
    width: 50px;
    height: 35px;
    overflow: hidden;
    margin-left: 15px;
}
.pay-item{
    width: 100%;
    display: table;
    padding:15px 0;
}
.pay-select{
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    padding-right: 15px;
}
.pt20{
    padding-top: 10px;
}
.ml40{
    margin-left:55px;
}
.ml30{
	margin-left:25px;
}
.fz26{
    font-size: 13px;
}
.fz18{
    font-size: 9px;
    color: #888;
}
.address{
    display: table;
    width: 100%;
    padding: 15px 0;
    color: #fff;
    background-color: #545454;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}
.address-add{
    font-size: 11px;
    font-weight: normal;
    margin-top: 12px;
}
.address-detail{
    table-layout:fixed;
    word-break : break-all;
    word-wrap : break-word ;
    line-height: 12px;
}
.address-ico{
    display: table-cell;
    padding-right: 15px;
    vertical-align: middle;
    font-size: 18px;
    font-family: sans-serif;
}
.iconew{
	padding-right: 0px;
}
.address-tel{
    display: block;
    text-align: right;
}
.address-infor{
    margin: 0 25px 0 20px;
}



/*layer*/
.pos-r{
    position: relative;
}
.pos-a{
    position: absolute;
}
.detail-page {
    position: relative;
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    filter: alpha(opacity = 60);
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    z-index: 9000;
}

.pro-erweima {
    position: absolute;
    width: 380px;
    height: 646px;
    top: 10%;
    left: 50%;
    margin: 0 0 0 -190px;
    z-index: 9001;
}

.layer-close {
    width: 20px;
    height:20px;
    position: absolute;
    right: 0;
    top: 0;
}

.hiddle {
    overflow: hidden;
}
/*add address*/
select, textarea, input[type="text"], input[type=search], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="tel"], input[type="color"], .input-group {
    /* width: 100%; */
    height: 20px;
    padding: 5px;
    margin-bottom: 5px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 7px;
    font-weight: normal;
    -webkit-appearance: button;
    -moz-appearance: button;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}
.mb20 {
    margin-bottom: 1em!important;
}
.mb22{
	margin-bottom:20px;
}
.pt10b5{padding: 10px 0 5px;}
.db {
    display: block;
    width: 100%;
}
.dib{
    display: inline-block;
}
.hiddle {
    display: none;
}
.phone-msg {
    color: #f36825;
    font-size: 1em;
}
select{
    -webkit-appearance: listbox;
}
.address-submit{
    position: absolute;
    top: 25px;
    right: 5px;
}
.cart-address input,.cart-address select,.cart-address textarea{
    border: 1px solid #eee;
    background-color: #fafbfb;
    font-size: 12px;
    color: #888;
    padding: 10px;
    height: 39px;
    vertical-align: middle;
}

.cart-address .address-submit{
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    height: auto;
    top: 11px;
    cursor: pointer;
}

.width60 .font-dark-bold{
    margin-bottom: 5px;
}
#showAllBtn{
    padding-top: 10px;
}
.cart-checkout-btn{
   -webkit-appearance: listitem;
   -moz-appearance:    button;
   appearance:         listitem;
}
.width75{
	width:75%;
}
.width80{
	width:80%;
}
.removeclickdiv{
	height:150px;
	width:100%;
	z-index:9999;
	position:absolute;
	top:0;
	left:0;
}
.fz22{
	font-size: 22px;
}
.fz48{
	font-size: 12px;
}
.mt20{
	margin-top:20px;
}
.color888{
	color: #888;
}
.fz1276{
	font-size:12.76px;
}
.height80{
	height:80px;
}
.ml25{
	margin-left:20px;
}
.mt10{
	margin-top:10px!important;
}
.talignr{
	text-align:right!important;
}
.mr5{
	margin-right:5px;
}
.mt5{
	margin-top:5px;
}
.mb5{
	margin-bottom:5px;
}
.height2em{
	height:2em;
}
.lineh2em{
	lineh2em;
}
.height30{
	height:30px;
}
.usecode{
	text-align: right;
	margin-top:5px;
	margin-right:20px;
	line-height:2em;
	border-left:1px solid rgb(240,238,234);
}
.height40{
	height:40px;
}
.mr20{
	margin-right:20px;
}
.mtf5{
	margin-top:-5px;
}
.color136{
	color:#888;
}
.height35{
	height:35px;
}
.imgCheck{
	margin-top:5px;
	vertical-align:middle;
}
.pl25{
	padding-left:25px;
}
.banktitle{
	height:50px;
	line-height:2.5em;
	padding-left:25px;
	background-color:rgb(245,245,245);
}
.bankchange{
	font-weight:bold;
	height:50px;
	line-height:2.5em;
	padding-left:25px;
	background-color:rgb(245,245,245);
	-moz-box-shadow:0px 1px 2px #999 inset;
	-webkit-box-shadow:0px 1px 2px #999 inset;
	box-shadow:0px 1px 2px #999 inset;
}
.bankchangebtn{
	display:inline-block;
	width:49%;
	height:25px;
	font-size:13px;
	text-align:center;
}
.triangle{
	width:0;
	height:0;
	border-left:14px solid transparent;
	border-right:14px solid transparent;
	border-bottom:14px solid rgb(243,243,243);
}
.borderRed{
	border-color:rgb(227,32,94);
}
.dbk{
	display:block;
}
.checkImg {display:inline-block;width:10px;height:10px;width:20px\9;height:40px\9;background:url("/../_resources/images/radio_unchecked.png") no-repeat;background-size:100% 100%;}
.checkImg.checked {background:url("/../_resources/images/radio_checked.png") no-repeat;background-size:100% 100%;}
/*支付页面的radio移到页面外部*/
.pricebtn{
	margin: 20px auto;
	height: 60px;
	width: 260px;
	border: 2px solid rgb(214,164,29);
	border-radius:5px;
	text-align: center;
	line-height: 60px;
	font-size: 20px;
	color: rgb(214,164,29);
}
.full{
    width:100%;
    height:auto;
}
.banner-max-height{
    max-height:445px;
    overflow: hidden;
}
.lined {
    border-bottom: 1px solid #e7e5e2;
}
.pt25b30lr40{
    padding: 12.5px 20px 15px;
}
.fz28{
    font-size: 14px;
}
.font-dark,.font-dark-bold{
    color: #505557;
}
.font-dark-bold,.font-white-bold,.font-red-bold,.font-orange-bold,.font-light-bold{
    font-weight: bold;
}
.widthhuanh{
    table-layout:fixed;
    word-break : break-all;
    word-wrap : break-word ;
}
.font-red-bold{
    color: #e3205e;
}
.ff-numb{
    font-family: helveticaneue;
}
.fz38{
    font-size: 19px;
}
.ico-danbao{
    margin: 2px 0 0 15px;

}
.greight{
    font-weight: normal;
}
.fz24{
    font-size: 12px;
    line-height: 14px;
}
.ptb30lr40{
    padding: 15px 20px;
}
.w100{
    width:40px;
}
.fz30{
    font-size: 15px;
}
.mr30{
    margin-right: 15px;
}
.button:active,
.button.selected{
    color:#da500e;
    border-color: #da500e;
}
.mb10{
    margin-bottom: 5px;
}
.font-light,.font-light-bold{
    color: #9a9a9a;
}
.num-em span{
    padding: 0 3px;
}
#afui .button-bar{
    display: block;
    width:70%;
    margin: 0 auto;
}
.button-bar .btn-round{
    padding: 6px 18px;
}
.button-bar .bg-white{
    border: 1px solid #f36825;
}
.button-bar .bg-orange{
    border: 1px solid #f36825;
}
.bg-orange:active{
    color:#fff;
    border: none;
}
.button {
    display: inline-block;
    padding: 6px 10px;
    margin-right: 10px;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #aaa5a0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    text-decoration: none;
    z-index: 2;
}
.order-title{
    height: 45px;
    line-height: 45px;
    vertical-align: middle;
}
.bg-grayed{
    background-color: #f4f0ec;
}
.bg-white{
    background-color: #fff;
}

.order-custmer-item{
    padding: 10px 0;
    border-bottom: 1px dashed #e7e6e4;
}
.order-custmer-item span{
    float: left;
    padding-right: 7.5px;
}
/*arrow strat*/
.arrow:after{
    font-family: 'chevron';
    font-weight: normal;
    content: "\f054";
    -webkit-font-smoothing: antialiased;
}
.arrow.adown:after{
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.arrow-right::after{
    position: absolute;
    right: 15px;
}
.arrow-orange::after{
    color: #df5513;
}
/*arrow end*/
.adb{
    display: block;
}
.ptb30{
    padding: 15px 0;
}
.flex4{
    -moz-box-flex:4;
    -webkit-box-flex:4;
    box-flex:4;
}
.flex10{
    -moz-box-flex:10;
    -webkit-box-flex:10;
    box-flex:10;
}
.w7huanh{
    display: block;
    width: 60%;
    table-layout:fixed;
    word-break : break-all;
    word-wrap : break-word ;
}
.mt15{
    margin-top: 7.5px;
}
.price-grey{
    color: #3d4245;
}
.pt15b25lr30{
    padding: 7.5px 15px 11.5px 15px;
}
.pt15{
    padding-top: 7.5px;
}
.mt40{
    margin-top: 20px;
}
.cart-total-right{
    display: block;
    text-align: right;
}
.p30{
    padding: 15px;
}
.p24{
	padding: 5px 15px;
}
.bg-orange{
    background-color: #f36825;
}
.font-white,.font-white-bold{
    color: #ffffff;
}
.pro-infor .widthhuanh{
    height: 16px;
    padding-bottom: 5px;
    overflow: hidden;
}
.xq-button .button:active,
.xq-button .button.selected{
    color:#e3205e;
    border-color: #e3205e;
}
.xq-buy-btn{
    display: block;
    background-color: #000;
    width: 150px;
    padding: 12px 0;
    margin: 0 auto;
}
.cart-title{
    font-size: 12px;
    height: 45px;
    line-height: 45px;
    vertical-align: middle;
}
.text-left li{
    display: block;
    text-align: left;
    border-top: 1px solid #f0eeea;
    padding: 15px 0;
}
.total-price{
    margin-bottom: 20px;
    padding-top: 20px;
    border-top: 1px solid #f0eeea;
}
.cart-checkout-btn{
    display: block;
    width: 100%;
    height: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    vertical-align: middle;
    text-align: center;
    background-color: #000;
}
.frioc{
	display:inline-block;
	font-family:sans-serif;
	font-size:14px;
	padding-right:0;
	margin-right:-12px;
	color:black;
}
.trold{
	margin-right:4px;
}
.line25emheigh45{
	line-height:2.6em;
	height:50px;
}
.mb0{
	margin-bottom:0px;
}
.bottomborder{
	border-bottom:1px solid #f0eeea;
}
.paddingbottom10{
	padding-bottom:10px;
}
.cart-checkout-btn-new{
	width:200px;
	margin:0 auto;
	text-align:center;
	height:40px;
	line-height:2em;
}
.addressBtn-new{
	margin-top:90px;
	margin-bottom:0px;
}
.imgUnCheck{
	display:inline-block;
	margin-top:5px;
	width:30px;
	height:30px;
	background:url(../../images/pay/6_03.jpg) no-repeat;
	background-size:30px 30px;
}
.imgChecked{
	display:inline-block;
	margin-top:5px;
	width:30px;
	height:30px;
	background:url(../../images/pay/5_03.jpg);
	background-size:30px 30px;
}
.pt5{
	padding-top: 5px;
}
.width100{
	width:30%;
}
.discountCode{
	height:30px!important;
	font-size:18px!important;
	width:200px;
	margin-top:0px;
}
.width70{
	width:70%;
}
.ml40{
	margin-left:40px;
}
.pt19{
	padding:19px 0;
	margin:0 0;
}
.pt24{
	padding-top:12px;
}
.newaddress{
	position:absolute;
	display:block;
	top:28px;
	right:0;
}
.width50{
	width:50%;
}
.width100px{
	width:100px;
}
.order-infor-new{
	padding-top:9px;
}
.ml60{
	margin-left:60px;
}
.ml80{
	margin-left:80px;
}
.ml15{
	margin-left:15px;
}
.width65{
	width:65%;
}
.ml5{
	margin-left:5px;
}
.cart-next-infor-new{
	width:70%;
	overflow:hidden;
}
.color888{
	color:#888;
}
.color36{
	color:#363636;
}
.pt12lr30{
	padding:12px 30px 12px 15px;
}
.pt12mr30{
	padding:12px 0px;
	margin:0px 15px;
}
.mt12{
	margin-top:12px;
}
.line1em{
	line-height:1em;
}
.fz11{
	font-size:11px;
}
.mt8{
	margin-top:8px;
}
.height50{
	height:45px;
}
.height55{
	height:50px;
}
.noline{
	border:0px!important;
}
.mr13{
	margin-right:13px;
}
.mt6{
	margin-bottom:6px;
}
.pt6{
	padding-bottom:6px;
}
.line25{
	line-height:2.5em;
}
.pb0{
	padding-bottom:0px!important;
}
.pb20{
	padding-bottom:20px;
}
.imgmax{
	max-width: 50%;
}
/*pay card*/
.paymentMethod li.pl30{
    padding:10px 0 0 30px;
}
.paymentMethod .paymentMethod-item{
    height: 50px;
}
.paymentMethod .paymentMethod-item:last-of-type{
    border-bottom: none;
}
.paymentMethod .size50{
    width: 25px;
    height: 25px;
}
.paymentMethod-item-img{
    width: 26px;
    height: 26px;
    padding-left: 4px;
    margin-right: 13px;
}
.paymentMethod-item-img img{
    width: 26px;
    height: 26px;
}
.paymentMethod-item-info .fz18{
    line-height: 9px;
    padding-top: 3px;
}
.pay-card{
    padding-top:2px;
}
.width10{
    width:20%;
}
.width60{
    width:70%;
}
.width5{
    width:10%;
}

.width60 div{
    margin-bottom: 10px;
}

.checkImg {display:inline-block;width:20px;height:20px;width:40px\9;height:40px\9;background:url("/../_resources/images/radio_unchecked.png") no-repeat;background-size:100% 100%;}
.checkImg.checked {background:url("/../_resources/images/radio_checked.png") no-repeat;background-size:100% 100%;}
.addToCartAndBuyBtns .button {padding:6px 0;width:98%;text-align:center;}



.cartProduct.box {-webkit-box-align: start;}

.abs-centered {position:static;-webkit-transform:none;transform:none;}
.shopDescription {padding-left: 4%;}
.shopDetail > div {display:inline-block;vertical-align:top;}
.addressLocation {font-size:10px;color:#bbc89a;margin-bottom:15px;text-align:left;}
.addressLocation > span {vertical-align:middle;}
.addressLocation span:first-child {display:inline-block;width:8px;height:10px;background:url("/../_resources/images/location.png") no-repeat;background-size:100% 100%;margin-right:5px;}
.shop-name.shopName {padding:0 0 10px 0;text-align:left;}
.shop-name.shopName > span {font-size:16px;padding-bottom:10px;text-align:left;}
.spreadActions {font-size:0;}
.spreadActions > li {display:inline-block;padding:5px;text-align:center;font-size:12px;color:#fff;background:#78734e;filter:alpha(opacity=50);-moz-opacity:0.5;opacity:0.5;margin-right:10px;-webkit-border-radius: 5px; -moz-border-radius: 5px;border-radius: 5px;}
.spreadActions > li.announcementSpread {margin-right:0;}
.spreadActions > li > span {display:inline-block;vertical-align:middle;}
.weixinIcon {width:14px;height:12px;background:url("/../_resources/images/shop/weixinIcon.png") no-repeat;background-size:100% 100%;margin-right:2px;}
.shareIcon {width:13px;height:12px;background:url("/../_resources/images/shop/shareIcon.png") no-repeat;background-size:100% 100%;margin-right:2px;}
.announcementIcon {width:13px;height:12px;background:url("/../_resources/images/shop/announcementIcon.png") no-repeat;background-size:100% 100%;margin-right:2px;}
.securedTransactions {display:block;font-size:0;padding-top:15px;}
.securedTransactions > span {display:inline-block;width:18px;height:18px;margin-right:4px;}
.securedTransactions .securedTransaction01 {background:url("/../_resources/images/shop/securedTransactions01.png") no-repeat;background-size:100% 100%;}
.securedTransactions .securedTransaction02 {background:url("/../_resources/images/shop/securedTransactions02.png") no-repeat;background-size:100% 100%;}
.securedTransactions .securedTransaction03 {background:url("/../_resources/images/shop/securedTransactions03.png") no-repeat;background-size:100% 100%;}
.allCategory {font-size:0;padding:0 2%;}
.homeCategory {display:inline-block;width:90%;padding-left:5%;vertical-align:middle;}
.homeCategory > li {float:left;width:33.3%;}
.homeCategory > li > a {display:inline-block;padding:20px 0;border-bottom:3px solid #fff;}
.homeCategory > li.selected > a {border-bottom:3px solid #ff6e52;color:#000;}
.categoryIcon {display:inline-block;width:5%;vertical-align:middle;}
.categoryIcon > span {display:inline-block;width:26px;height:24px;background:url("/../_resources/images/shop/category.png") no-repeat;background-size:100% 100%;}
#allGoods{
    width: 100%;
    position: relative;
    background-color: #f6f0eb;
}
/*.goodsList {
    max-width: 640px;
    width:expression(this.width>640?”640”:width);
    margin: 0 auto;

}*/
.goodsList .pro-infor{
    padding: 0;
}
.shopDetail {position: absolute;top: 25%;width:100%;}
.allCatecories {background:#eceae4;}
.allCatecories li {font-size:17px;color:#212121;background:#f7f5f3;}
.allCatecories li a {display:block;border-bottom:1px solid #d5d4d8;margin-left:5%;padding:15px 10px;}
.allCategoriesLabel {font-size:12px;color:#676767;padding:20px 3% 10px 3%;background:#e4e2df;border-top:1px solid #d5d4d8;border-bottom:1px solid #d5d4d8;margin-left:0;padding-left:5%;}
.categoryName {display: inline-block;vertical-align: middle;width: 95%;padding:20px 0;}
.allCategoriesDelete {float:right;display:inline-block;width:12px;height:12px;background:url("/../_resources/images/shop/delete.png") no-repeat;background-size:100% 100%;}
.shopAnnouncement {font-size:13px;color:#828282;line-height:20px;padding:30px 8%;}

.nextCartTextarea {padding:30px 15px 26px 15px;}
.nextCartTextarea textarea {margin-bottom:0;}

.searchResult {margin-top:72px;}
.searchResult .gridSection {display:inline-block;width:92%;padding:30px 4% 0 4%;}
.gridSection .col2.content {float:left;width:48%;padding:0 2% 10px 0;}
.hideCategory .categoryIcon {display:none;}
.hideCategory .homeCategory {width:95%;}
.homeCategory li a:hover, .homeCategory li a:active {color:#000;filter: alpha(opacity=100);-moz-opacity: 1;opacity: 1;}

.checkboxImg {display:inline-block;width:20px;height:20px;background:url("/../_resources/images/radio_unchecked.png") no-repeat;background-size:100% 100%;}
.checkboxImg.checked {background:url("/../_resources/images/radio_checked.png") no-repeat;background-size:100% 100%;}
/*鏀粯椤甸潰鐨剅adio绉诲埌椤甸潰澶栭儴*/
.radioInput {position:absolute;right:99999px;}

.totalCost li {font-size:0;width:100%;}
.totalCost li span {display:inline-block;width:50%;}
.textRight {text-align:right;}

.noSearchResult {text-align:center;}
.searchIcon {width:99px;height:99px;background:#d7d8da url("/../_resources/images/noResultIcon.png") no-repeat;background-size:100% 100%;margin:0 auto;}
.noSearchResult .sResult {font-size:21px;padding:30px 0 15px 0;}
.noSearchResult .resultDesc {font-size:12px;color:#9a9a9a;}

.payMethods {height:180px;position:relative;-webkit-overflow-scrolling : touch;overflow:hidden;}
.payMethods .pro-list {width:100%;float:none;}
.payMethods > div {width:100%;}
.payMethods .pro-infor {line-height:35px;padding-left:15px;}
.payMethods .pro-infor:nth-child(odd) {background:#f5f5f5;}

.inlineb{
	display:inline-block;
}
.height45{
	height:45px;
}

/* 想去修改地址页面样式修改 */
.state-modify{
    display: none;
}
.cart-address{
    background-color: #f4f0ec;
}
.cart-address .address-formArea{
    margin-top: 2px;
    padding: 18px 12px 20px;
    background-color: #fff;
    box-shadow: 0 0 2px #e2dbd3;
}

.cart-address input,.cart-address select,.cart-address textarea{
    border: 1px solid #d2cec8;
    font-size: 14px;
    height: 40px;
    color: #444;
    border-radius: 0;
    display: block;
    padding: 0 15px;
    background-color: #ffffff;
    box-shadow: 0 0 3px #e2dbd3 inset;
    -webkit-box-sizing:border-box;
}
.cart-address select{
    line-height: 22px;
    padding: 10px;
}
.cart-address textarea{
    overflow: auto;
    resize:none;
    line-height: 40px;
}
.addressBtn{
    background-color:#000;
    font-size:18px;
    line-height:40px;
    width:58.2%;
    height:40px;
    margin:40px auto 0;
    text-align:center;
    border-radius:3px;
    color:#fff;
}
.mt2020{
	margin-top:10px!important;
}
.arrowicon{
	background:url(../../../_resources/images/arrow2.png) no-repeat 45px 0px;
	background-size:12px 12px;
}
.arrowiconnew{
	background:url(../../../_resources/images/arrow2.png) no-repeat 40px 0px;
	background-size:12px 12px;
}
.width5050{
	width:65px;
}
.pr15{
	padding-right:15px;
}
.addressbox{
    background: #fff;
	padding:13px 15px;
	border:4px solid transparent;
	-moz-border-image:url(../../../_resources/images/border_03.jpg) 80 0 round;
	-webkit-border-image:url(../../../_resources/images/border_03.jpg) 80 0 round;
	-o-border-image:url(../../../_resources/images/border_03.jpg) 80 0 round;
	border-image:url(../../../_resources/images/border_03.jpg) 80 0 round;
	-ms-border-image:url(../../../_resources/images/border_03.jpg) 80 0 round;
}
.line2em{
	line-height:2em;
}
.mrf10{
	margin-right:-13px;
}
.pr30{
	padding-right:30px!important;
}
.pr3{
	padding-right:3px!important;
}
.height12{
	height:12px;
}
.height30{
	height:30px;
}
.width15{
	width:15%;
}
.color000{
	color:#000;
}
.order-pro-title{
	display:inline-block;
	height:28px;
	overflow:hidden;
	text-overflow:ellipsis;

}
.no-seleted{
    border: 1px dotted #dedede;
    color: #888;
}
.pro-sku-val .no-seleted:visited,.pro-sku-val .no-seleted:hover,.pro-sku-val .no-seleted:active{
    color: #888;
    border: 1px dotted #dedede;
}
