<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>商品信息</title>
</head>

<body>
     <h2 style="text-align: center;" th:text="${product.name}">商品信息</h2>
	<div>
	<table>
		<tr>
			<td>
			<img th:each="descImg:${product.imgs}" vd:src="${descImg.img}" />
			</td>
		</tr>
	</table>
    </div>
</body>   
</html>