/* ------------------------------------------------------------------------------
 *
 *  # Form Validation
 *
 *  jQuery plugin for simple clientside form validation
 *
 *  Version: 1.0
 *  Latest update: May 25, 2015
 *
 * ---------------------------------------------------------------------------- */


// Core
// ------------------------------

// Error
.validation-error-label,
.validation-valid-label,
.validation-success-label{
	margin-top: @padding-base-vertical;
	margin-bottom: @padding-base-vertical;
	display: block;
	color: @brand-danger;
	position: relative;
	padding-left: (@icon-font-size + 10);
}

// Success
.validation-valid-label {
	color: @brand-success;
}

.validation-success-label{
	color: @brand-success;
}
// Labels
// ------------------------------

// Icon container
.validation-error-label,
.validation-valid-label,
.validation-success-label{
	&:before {
		font-family: 'icomoon';
		position: absolute;
		top: ((@line-height-computed - @icon-font-size) / 2);
		left: 0;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-size: @icon-font-size;
	}

	// Hide if empty
	&:empty {
		display: none;
	}
}

// Error icon
.validation-error-label:before {
	content: '\ed63';
}

// Valid icon
.validation-valid-label:before {
	content: '';
}

.validation-success-label:before {
	content: '\ee73';
}