.ext_arrow_up {background: url('extIcons/arrow/arrow_up.png') no-repeat center center;}
.ext_arrow_down {background: url('extIcons/arrow/arrow_down.png') no-repeat center center;}
.ext_house {background: url('extIcons/house.png') no-repeat center center;}
.ext_computer {background: url('extIcons/computer.png') no-repeat center center;}
.ext_phone {background: url('extIcons/phone.png') no-repeat center center;}
.ext_box {background: url('extIcons/box.png') no-repeat center center;}
.ext_money_yen {background: url('extIcons/money_yen.png') no-repeat center center;}
.ext_picture_add {background: url('extIcons/photoAndPic/picture_add.png') no-repeat center center;}
.ext_picture {background: url('extIcons/photoAndPic/picture.png') no-repeat center center;}
.ext_table_multiple {background: url('extIcons/table/table_multiple.png') no-repeat center center;}
.ext_money {background: url('extIcons/money.png') no-repeat center center;}
.ext_cog {background: url('extIcons/cog.png') no-repeat center center;}
.ext_css {background: url('extIcons/css/css.png') no-repeat center center;}
.ext_comments {background: url('extIcons/comments.png') no-repeat center center;}
.ext_sync {background: url('extIcons/sync.png') no-repeat center center;}
.ext_basket {background: url('extIcons/carAndCartAndBasket/basket.png') no-repeat center center;}
.ext_page_excel {background: url('extIcons/page/page_excel.png') no-repeat center center;}
.ext_arrow_undo {background: url('extIcons/arrow/arrow_undo.png') no-repeat center center;}
.ext_user {background: url('extIcons/user/user.png') no-repeat center center;}
.ext_alipay {background: url('extIcons/payment/alipay.png') no-repeat center center;}
.ext_bullet_wrench {background: url('extIcons/bullet_wrench.png') no-repeat center center;}
.ext_cancel {background: url('extIcons/cancel.png') no-repeat center center;}
.ext_plugin {background: url('extIcons/plugin.png') no-repeat center center;}
.ext_folder_wrench {background: url('extIcons/folder/folder_wrench.png') no-repeat center center;}
.ext_door_out {background: url('extIcons/door_out.png') no-repeat center center;}
.ext_text_list_numbers {background: url('extIcons/text_list_numbers.png') no-repeat center center;}
.ext_bricks {background: url('extIcons/bricks.png') no-repeat center center;}
.ext_note_edit{background: url('extIcons/notes/note_edit.png') no-repeat center center;}
.ext_refund{background: url('extIcons/book_previous.png') no-repeat center center;}
.ext_distribution{background: url('extIcons/ext_distribution.png') no-repeat center center;}
.ext_commission_rate{background: url('extIcons/coins.png') no-repeat center center;}
.ext_finished{background: url('extIcons/finished.png') no-repeat center center;}
.ext_ok{background: url('extIcons/ok.png') no-repeat center center;}
.ext_copy{background: url('extIcons/ext_copy.png') no-repeat center center;}
.ext_oparetor{background: url('extIcons/ext_oparetor.png') no-repeat center center;}
