<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout/mainPage">
<head>
    <title>商品信息</title>
</head>

<body layout:fragment="content">
     <h2 style="text-align: center;" th:text="${product.name}">商品信息</h2>
	<div>
	<table>
		<tr>
			<td>
			<img th:each="descImg:${product.imgs}" vd:src="${descImg.img}" />
			</td>
		</tr>
	</table>
    </div>
</body>   
</html>