@charset "utf-8";
body{
	background-color: #FFEABB;
}
/**
 * 遮罩
 */
.body{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
}
.go_back{
	position: absolute;
	top:0;
	left: 0;
}
.shade_bg {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	background: rgba(0, 0, 0, .6);
	z-index: 500;
	display: none;
}
.bottom_img{
	position: fixed;
	bottom:0;
	width: 100%;
	height: 1.37rem;
	z-index: 1000;
	display: none;
}

/**
 * 弹出层
 */
.box1 {
	position: fixed;
	top: 4.3rem;
	left: 50%;
	width: 4.9rem;
	margin-left: -2.45rem;
	text-align: center;
	z-index: 600;
	display: none;
}

.box1 img {
	width: 1.86rem;
	height: 1.87rem;
	margin-bottom: .1rem;
}

.box1 p {
	height: .75rem;
	font-size: .54rem;
	font-weight: 600;
	color: #FFF0CF;
	line-height: .75rem;
}

.box2 {
	top: 3.8rem
}

.box2 p {
	font-size: 1.6rem;
	height: 2rem;
	line-height: 1.5rem;
}

.box3 {
	top: 1rem;
	display: none;
}

.box3 h4 {
	font-size: .28rem;
	color: #FFF0CF;
	display: none;
}
/**
 * 活动规则
 */
.rule_kuang{
	position: fixed;
	top:8%;
	left: 50%;
	z-index: 700;
	width:6.86rem;
	height:11rem;
	margin-left: -3.43rem;
	background:rgba(254,251,248,1);
	border-radius:9px;
	display: none;
}
.rule_kuang .rule_title{
	width: 100%;
	height: 1.31rem;
	line-height: 1.31rem;
	text-align: center;
	font-size:.42rem;
	font-weight:600;
	color:rgba(255,247,221,1);
	text-shadow:0px 4px 10px rgba(231,50,54,1);
	background: url(../../image/packet/huodongguizetaitou@2x.png) no-repeat center top;
	background-size: 100%;
}
.main_kuang{
	padding: 0 .45rem .3rem;
	height: 8.6rem;
	overflow-y: auto;
}
.main_kuang h3{
	width:2rem;
	height:.54rem;
	line-height: .54rem;
	background:rgba(252,238,238,1);
	text-align: center;
	border-radius:.26rem;
	font-size: .28rem;
	font-weight:600;
	color:rgba(246,71,69,1);
	margin: .3rem 0;
}
.main_kuang p{
	color: #282828;
	font-size: .28rem;
	font-weight: 400;
	line-height:.4rem;
}
.main_kuang p span{
	color: #F54745;
}
.main_kuang p em{
	display: inline-block;
	width: .25rem;
}
.main_kuang p i{
	display: inline-block;
	width: .8rem;
}
.main_kuang .dividing{
	margin-bottom: .15rem;
}

.luck_kuang{
	display: none;
}

.kuang_btn{
	display: block;
	position: absolute;
	bottom:0;
	left: 50%;
	width:6.04rem;
	height: 1.1rem;
	line-height: 1.1rem;
	border-top:.02rem solid rgba(219,202,185,1);
	margin-left: -3.02rem;
	text-align: center;
	font-size:.32rem;
	font-weight:600;
	color:#AD7324;
}
/**
 * 红包雨
 */
.packet_box {
	position: fixed;
	top: 0;
	left: 10%;
	bottom: 0;
	width: 80%;
	height: 100%;
	z-index: 600;
	display: none;
}
.getPoint{
	position: fixed;
	top:.72rem;
	left: .46rem;
	display: none;
}
.getPoint img{
	width: .44rem;
	height: .54rem;
}
.getPoint p{
	font-size: .24rem;
	color: #FFF0CF;
	font-weight: 600;
	text-align: center;
}
.couten {
	width: 100%;
	height: 100%;
	overflow: hidden;
	overflow-y: hidden;
	margin: 0 auto;
}

.couten li {
	position: absolute;
	animation: all 3s linear;
	top: -100px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.couten li a {
	display: block;
	z-index: 300;
}

.couten li .point {
	position: absolute;
	right: -1.5rem;
	top: -1.5rem;
	color: #FFF0CF;
	font-size: 1rem;
	z-index: 800;
	display: none;
}

.ok_box {
	position: fixed;
	top: 3.3rem;
	left: 50%;
	width: 4.88rem;
	height: 5.12rem;
	margin-left: -2.46rem;
	background: url(../../image/packet/pack.png) no-repeat;
	background-size: 100% 100%;
	z-index: 700;
	display: none;
}

.ok_box .text {
	position: absolute;
	top: .4rem;
	left: 1rem;
	width: 3rem;
	text-align: center;
}

.ok_box .text h3 {
	font-size: .26rem;
	color: #E80F2A;
	font-weight: 600;
	letter-spacing: 2px;
}

.ok_box .text p {
	color: #E80F2A;
	font-size: .26rem;
	font-weight: 600;
}

.ok_box .text p span {
	font-size: 1.2rem;
	margin: 0 .1rem;
}

.isOK {
	position: absolute;
	bottom: 1rem;
	left: 50%;
	margin-left: -1.48rem;
	width: 2.96rem;
	height: .78rem;
	line-height: .78rem;
	background: rgba(253, 212, 116, 1);
	box-shadow: 0rem .02rem .1rem 0rem rgba(210, 42, 6, 1);
	border-radius: .39rem;
	text-align: center;
	font-weight: 600;
	color: rgba(119, 79, 25, 1);
	font-size: .32rem;
}


/**
 * 主体内容
 */
.center {
	position: absolute;
	top: 0;
	z-index: 300;
	width: 100%;	
}
.top_box {
	width: 100%;
	height: 8.82rem;
	background: url(../../image/packet/hongbao@2x.png) no-repeat;
	background-size: 100%;
	position: relative;
}
/**
 * 用户信息
 */
.user_info{
	padding: .25rem .3rem;
	display: flex;
	align-content: center;
}
.user_info img{
	width: .74rem;
	height: .74rem;
	border-radius: 50%;
	background: #fff;
}
.user_info .info{
	margin-left: .6rem;
	font-size: .26rem;
	font-weight:400;
	color: #fff;
}
.user_info .info ul{
	width: 4.4rem;
	height: .6rem;
}
.user_info .info ul li{
	float: left;
	height: .6rem;
	line-height: .56rem;
}
.user_info .info ul li a{
	color: #fff;
	display: block;
	width: 100%;
}
.point{
	display: flex;
	width: 2.5rem;
}
.point span{
	width: 1.1rem;
	overflow: hidden;
}
.user_info .info ul .lucky{
	float: right;
	width: 1.45rem;
}
/**
 * 活动时间
 */
.active_time{
	position: absolute;
	bottom: 2.15rem;
	width: 100%;
	text-align: center;
	color: #9E6828;
	font-size: .36rem;
}
/**
 * 分享
 */
.share{
	position: absolute;
	top:7.6rem;
	color: #9E6828;
	font-size: .32rem;
	width: 100%;
	height:.86rem;
	text-align: center;
}
.share div{
	width:4.44rem;
	height:.86rem;
	line-height: .86rem;
	background:url(../../image/packet/fenxianganniu@2x.png) no-repeat;
	background-size: 100%;
	margin: 0 auto;
}
.share .on{
	background:url(../../image/packet/fenxianganniubo@2x.png) no-repeat;
	background-size: 100%;
}
/**
 * 按钮
 */
.btn_box{
	width: 100%;
	height: 9.17rem;
	padding-top: .3rem;
	position: relative;
	z-index: 500;
}
.btn_box ul{
	display: flex;
	justify-content: center;
}
.btn_box ul li{
	width:3.46rem;
	height:.95rem;
	background-repeat: no-repeat;
	background-size: 100%;
}
.btn_box ul li a{
	display: block;
	width: 100%;
	height: 100%;
	transition: all 0.3s linear 0s;
}
.packet_btn{
	background: url(../../image/packet/hongbaoyu@2x.png);
}
.packet_btn.active{
	background: url(../../image/packet/hongbaoyu_hover@2x.png);
	background-size: 100%;
}
.lottery_btn{
	margin-left: .1rem;
	background: url(../../image/packet/choujiang@2x.png);
}
.lottery_btn.active{
	background: url(../../image/packet/choujiang_hover@2x.png);
	background-size: 100%;
}
/**
 * 红包雨主体内容
 */
.packet_bg{
	background: url(../../image/packet/hongbao2@2x.png) no-repeat;
	background-size: 100% 100%;
}
.packet_center{
	position: absolute;
	bottom: -.1rem;
	width: 100%;
	text-align: center;
	border:1px solld red;
}
.packet_center h3{
	font-size: .26rem;
	color: #E55E33;
	font-weight: 600;
	letter-spacing:1px;
	margin-bottom: .2rem;
}
.packet_center .timer_box{
	color: #97621B;
	font-size: .26rem;
	font-weight: 400;
	margin-right: -.1rem;
}
.packet_center .timer_box span{
	display: inline-block;
	width:.5rem;
	height:.7rem;
	background:rgba(60,60,60,1);
	border-radius:.04rem;
	font-size: .48rem;
	color: #FFF0CF;
	margin-right: .1rem;
	margin-bottom: .7rem;
}
.wait_hint{
	width:3.8rem;
	height:.54rem;
	line-height: .54rem;
	background:rgba(253,212,116,1);
	border-radius:.42rem;
	border:.02rem solid rgba(225,158,67,1);
	font-size:.26rem;
	font-weight:600;
	color:rgba(151,98,27,1);
	letter-spacing:1px;
	margin: 0 auto;
	display: none;
}
.go_btn{
	display: block;
	width:5.6rem;
	height:.98rem;
	line-height: .98rem;
	background:rgba(249,205,96,1);
	border-radius:.42rem;
	border:.02rem solid rgba(225,158,67,1);
	margin: 0 auto;
}
.go_btn div{
	width:5.6rem;
	height:.84rem;
	line-height: .84rem;
	background:linear-gradient(180deg,rgba(254,239,187,1) 0%,rgba(248,191,57,1) 100%);
	border-radius:.42rem;
	border:.02rem solid rgba(225,158,67,1);
	font-size:.48rem;
	font-weight:600;
	color:rgba(115,77,25,1);
}
.go_btn div span{
	font-size: .3rem;
	margin-left: .2rem;
	position: relative;
	top:-.1rem;
}
.packet_order{
	width: 100%;
	height: 2.37rem;
	background: url(../../image/packet/packet.png) no-repeat;
	background-size: 100%;
	padding-top: .8rem;
}
.packet_order .order_box2{
	width:3.8rem;
	margin: 0 auto;
	
}
.packet_order .order_box2 ul li{
	width:3.8rem;
	height:.42rem;
	border-radius:.04rem;
	opacity:0.4;
	border:1px solid rgba(181,131,65,1);
	font-size:.26rem;
	font-weight:600;
	color:rgba(151,98,27,1);
	line-height:.37rem;
	letter-spacing:1px;
	margin-top: .1rem;
	padding-left: .2rem;
	box-sizing: border-box;
}
.order_box2 ul li span{
	margin-left: .45rem;
}
.packet_rule{
	width: 100%;
	height: 1.67rem;
	background: url(../../image/packet/hongbao3@2x.png) no-repeat;
	background-size: 100%;
	margin-top: -.3rem;
	padding: 1.7rem .11rem 0;
}
.rule_border{
	width:100%;
	height:8.98rem;
	background:rgba(255,240,207,1);
	border-radius:.08rem;
	border:1px solid rgba(225,158,67,1);
	padding: .1rem 0;
}
.rule_border h3{
	width: 100%;
	text-align: center;
	font-size:.26rem;
	font-weight:600;
	color:rgba(233,59,30,1);
	line-height:.37rem;
	letter-spacing:1px;
}
.rule_border p{
	font-size:.26rem;
	font-weight:400;
	color:rgba(109,71,20,1);
	line-height:.37rem;
	letter-spacing:1px;
	margin: .15rem .3rem;
}
.rule_border p span{
	color: #E93B1E;
	font-size: .3rem;
	margin-left: .3rem;
}
.rule_border .other_box{
	height:1.27rem;
	background:rgba(255,234,187,1);
	border-radius:.08rem;
	border:1px solid rgba(225,158,67,1);
	margin: .3rem .15rem;
	font-size:.26rem;
	font-weight:600;
	color:rgba(164,115,50,1);
	line-height:.42rem;
	letter-spacing:1px;
	padding: .2rem .3rem;
}
.rule_border .other_box span{
	color: #E93B1E;
	margin-left: .2rem;
	font-size: .32rem;
	font-weight: 600;
	position: relative;
	top:.05rem
}
/**
 * 抽奖
 */
.lucky_bg{
	background: url(../../image/packet/choujiang2@2x.png) no-repeat;
	background-size: 100% 100%;
	position: relative;
}
.lucky_box{
	display: none;
	position: relative;
}
.hint_packet{
	position: absolute;
	top:2.8rem;
	left:50%;
	width:4.56rem;
	height:.6rem;
	line-height: .6rem;
	margin-left: -2.28rem;
	font-size: .24rem;
	color: #FFFFFF;
	text-align: center;
	background:rgba(40,40,40,1);
	border-radius:.08rem;
	display: none;
}
#deng{
	padding: .5rem .55rem;
}
.shanDeng,
.shanDeng2 {
	width: 6.49rem;
	height: 6.52rem;
	background-size: 100%;
	background-repeat: no-repeat;
	margin: .5rem auto 0 auto;
}

.shanDeng {
	background-image: url(../../image/packet/lianpaideng@2x.png);
}

.shanDeng2 {
	background-image: url(../../image/packet/lianpaideng2@2x.png);
}

#btn .cjBtnDom,#btn .cjBtn,.shanDeng td{
	width: 1.8rem;
	height: 1.8rem;
	/* border:1px solid red; */
	background-repeat: no-repeat;
	background-size: 100%;
	position: relative;
}
.shanDeng td img{
	width: 1.24rem;
	height: 1.16rem;
	padding-top: .08rem;
	margin-bottom: .05rem;
}
.shanDeng td img.one{
	width: .7rem;
	height: .7rem;
	position: absolute;
	top:0;
	right: .05rem;
}
.shanDeng td em{
	position: absolute;
	top: 0;
	right:-.02rem;
	width: 1.8rem;
	height: 1.8rem;
	line-height: 1.8rem;
	text-align: center;
	font-size: .48rem;
	color: #FFE29F;
	font-weight: 600;
}
.shanDeng td .luck_pack{
	width: .72rem;
	height: .88rem;
	margin-top: .2rem;
	margin-bottom: .15rem;
}
.shanDeng td  p{
	font-size: .24rem;
	font-weight:400;
	color:rgba(80,80,80,1);
}
#btn.cjBtn{
	top: .05rem;
	background-image: url(../../image/packet/morenzhuangtai@2x.png);
}
#btn.cjBtn div{
	font-size: .42rem;
	font-weight: 600;
	color:#AD7324;
	width: 1rem;
	margin: -.25rem auto 0;
	line-height: .42rem;
}
#btn.cjBtn p{
	font-size: .22rem;
	font-weight: 600;
	color:#AD7324;
}

#btn.cjBtnDom {
	background-image: url(../../image/packet/lijichoujiang@2x.png);
}

.shanDeng td {
	text-align: center;
	width: 1.8rem;
	padding: 0 .1rem;
	box-sizing: border-box;	
}
.shanDeng td .bg_color{
	background: #fff;
	border-radius: .08rem;
	border:.08rem solid transparent;	
}
.shanDeng .active .bg_color{
	border-radius: .08rem;
	border:.08rem solid rgba(255,113,76,1);
}
.lucky_hint_box{
	position: absolute;
	top:-2rem;
	left: 50%;
	z-index: 800;
	width: 6.25rem;
	margin-left: -3.125rem;
	display: none;
}
.lucky_hint_box .lucky_hint{
	width: 6.25rem;
	height: 6.61rem;
	background: url(../../image/packet/zhongjiangkuang@2x.png) no-repeat;
	background-size: 100%;
	padding: 2.05rem 1rem 0;
	text-align: center;
}
.lucky_hint h3{
	font-size:.32rem;
	font-weight:600;
	color:rgba(158,104,40,1);
	line-height:.45rem;
}
.lucky_hint p{
	font-size:.26rem;
	font-weight:600;
	color:rgba(158,104,40,1);
	line-height:.37rem;
	letter-spacing:2px;
}
.lucky_hint .lucky_img{
	width: 2.56rem;
	height: 2.38rem;
	margin-top: .2rem;
}
.lucky_hint .packet_img{
	width: 1.4rem;
	height: 1.74rem;
	margin: .5rem auto .2rem;
	position: relative;
}
.lucky_hint .lucky_name{
	font-size: .28rem;
	font-weight: 400;
	color: #282828;
	margin-top: .15rem;
}

.lucky_hint_box .hint_btn{
	display: block;
	width:4.32rem;
	height:.74rem;
	line-height: .74rem;
	font-size: .32rem;
	margin: 0 auto;
	color: #9E6828;
	font-weight: 600;
	text-align: center;
	background:linear-gradient(180deg,rgba(254,239,187,1) 0%,rgba(248,191,57,1) 100%);
	box-shadow:0rem .02rem .06rem 0rem rgba(80,70,69,1);
	border-radius:.32rem;
	border:1px solid rgba(225,158,67,1);
}

.hint{
	position: absolute;
	bottom:-.15rem;
	left:50%;
	width:3.8rem;
	height:.54rem;
	margin-left: -1.9rem;
	line-height: .54rem;
	background:rgba(253,212,116,1);
	border-radius:.42rem;
	border:.02rem solid rgba(225,158,67,1);
	font-size: .26rem;
	font-weight:600;
	text-align: center;
	color: #97621B;
	display: none;
}
/**
 * 抽奖名单
 */
.placeholder_bg{
	width:100%;
	height: .2rem;
}
.luck_order{
	width: 100%;
	height: 2.37rem;
	background: url(../../image/packet/lottey.png) no-repeat;
	background-size: 100%;
	padding-top: .8rem;
	display: none;
}
.order_box{
	position: absolute;
	left: 50%;
	width: 3rem;
	height: 1.35rem;
	margin-left: -1.5rem;
	overflow: hidden;
}

.order_box p{
	height:.33rem;
	font-size:.24rem;
	font-weight:400;
	color:rgba(151,98,27,1);
	line-height:.33rem;
	/* margin-top: .08rem; */
	overflow: hidden;
}
.order_box p span{
	float: right;
}
/**
 * 时间轴
 */
.time_box{
	width: 100%;
	padding:.2rem;
}
.timer{
	width: 5.25rem;
	margin: 0 auto;
	position: relative;
}
.timer span{
	font-size: .26rem;
	font-weight: 600;
	color: #D98D3C;
}
.timer .last{
	float: right;
}
.timer .middle{
	position: absolute;
	left: 46%;
}
.time_line{
	width: 5.25rem;
	height: .5rem;
	background: url(../../image/packet/jindutiao@2x.png) no-repeat;
	background-size: 100%;
	margin: 0 auto;
}
.now_line{
	width: .46rem;
	height: .34rem;
	background: url(../../image/packet/zhubi@2x.png) no-repeat;
	background-size: 100%;
}
.timing{
	width: 100%;
	/* height: 100%; */
	display: flex;
	align-items: center;
}
.timing .start{
	width: .44rem;
	height: .32rem;
	background: url(../../image/packet/zhubi2@2x.png) no-repeat;
	background-size: 100%;
}
.timing .line_bg{
	height: .15rem;
	background: #FE8967;
}
/**
 * 填补背景图之间的间隙
 */
.placeholder_style{
	margin-left: -.05rem;
}
.rule_box{
	width: 100%;
	height: 1.67rem;
	background: url(../../image/packet/choujiang3@2x.png) no-repeat;
	background-size: 100%;
	margin-top: -.3rem;
	padding: 1.7rem .11rem 0;
	display: none;
}
.rule_text{
	width:100%;
	height:2.70rem;
	background:rgba(255,240,207,1);
	border-radius:.08rem;
	border:1px solid rgba(225,158,67,1);
	padding: .18rem .2rem .2rem;
}
.rule_text h3{
	font-size:.26rem;
	font-weight:600;
	color:rgba(233,59,30,1);
	letter-spacing:1px;
	margin-bottom: .15;
}
.rule_text ul li{
	font-size:.26rem;
	font-weight:400;
	color:rgba(109,71,20,1);
	line-height:.37rem;
	letter-spacing:1px;
	margin-top: .12rem;
}
.rule_text ul li p{
	margin-left: 1.1rem;
}
.rule_btn{
	width:5.6rem;
	height:.84rem;
	line-height: .84rem;
	background:linear-gradient(180deg,rgba(254,239,187,1) 0%,rgba(236,173,26,1) 100%);
	border-radius:.42rem;
	border:.02rem solid rgba(225,158,67,1);
	margin: .55rem auto 0;
	text-align: center;
	font-size: .36rem;
	color: #6D4714;
	font-weight: 400;
}
