@charset "utf-8";
/* CSS Document */

*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
body,dl,dd,ul,ol,figure,h1,h2,h3,h4,h5,h6,p,pre,blockquote,form,fieldset,legend,input,button,select,textarea{margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help;}
pre,code,kbd,samp{font-size:100%;font-family:monospace,sans-serif;_font-family:'Courier New',monospace,sans-serif;}
pre{white-space:pre;white-space:pre-wrap;white-space:pre-line;word-wrap:break-word;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
small{font-size:75%;}
sub,sup{position:relative;vertical-align:baseline;font-size:75%;line-height:0;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
.fl{float:left;}
.fr{float:right;}
.clearfix:before,.clearfix:after{display:block;visibility:hidden;height:0;content:"\0020";}
.clearfix{zoom:1;}
.clearfix:after{clear:both;}
* html .clearfix{zoom:1;}
*:first-child+html .clearfix{zoom:1;}
audio[controls],canvas,video{display:inline-block;*display:inline;*zoom:1;}
html{overflow-x: hidden; overflow-y:scroll; font-size:100%; cursor:default; -webkit-tap-highlight-color:transparent; -ms-text-size-adjust:100%; -webkit-text-size-adjust:100%;}
body{ color:#323232;background: #f5f5f5; position: static;}
body,button,input,select,textarea{font-family: PingFangSC-Regula,"微软雅黑",Helvetica,Arial,sans-serif; line-height: 1.5;}
img,fieldset{border:0 none;}
img{vertical-align:top;-ms-interpolation-mode:bicubic; width: 100%; max-width: 100%; height: auto;}
object{ max-width: 100%;}
ul,li{ list-style-type: none;}
a,a:active,a:hover{outline:0;}
a:focus{outline:0;}
a,a:link{color:#333;text-decoration:none;}
a:hover{text-decoration:none;}
a:visited{color:#333;text-decoration:none;}
.hidden{ display: none;}
form{overflow:visible;}
fieldset{line-height:1;}
legend{*margin-left:-7px;}
button,input,select,textarea{vertical-align:baseline;*vertical-align:middle;-webkit-appearance:none; border-radius: 0;}
button,input{line-height:normal;*overflow:visible;}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:none;overflow:visible;width:auto;*width:1;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;}
input[type="checkbox"]{vertical-align:bottom;*vertical-align:baseline;}
input[type="radio"]{vertical-align:text-bottom;}
input{_vertical-align:text-bottom;}
input[type="search"]{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-appearance:textfield;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;}
textarea{overflow:auto;vertical-align:top;-webkit-appearance: none;}
input:focus,textarea:focus,select:focus{outline-width:0;}
select{background-color:transparent;}
table{border-collapse:collapse;border-spacing:0;}
th,td{padding:0;vertical-align:middle;}
h1,h2,h3,h4,h5,h6,label{font-size: 100%; font-weight: normal;}
*:link,*:visited,*:hover,*:active,*:focus{-webkit-transition:color .25s linear,background-color .25s linear,border-color .25s linear;-moz-transition:color .25s linear,background-color .25s linear,border-color .25s linear;}
em,i{ font-style: normal;}

/**
 * 上下滑到
 */
#wrapper{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}


