*{margin: 0;padding: 0}
ul li{list-style: none;}
.bj{
    width: 7.5rem;
    height: 13.34rem;
    background: url('/pintuan/img/bei.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
}
.hd{
  width:7.5rem;
    height:0.88rem;
    background:rgba(255,255,255,1);
    display: flex; 
    align-items: center;
    justify-content: space-between;
}
.hd img {
   width:0.19rem;
   height:0.33rem;
   margin-left: 0.3rem;      
}
.hd span{
   width:1.44rem;
    height:0.5rem;
    font-size:0.36rem;
    font-weight:600;
    color:rgba(0,0,0,1);
    line-height:0.5rem;
    margin-right: 3rem;
}
.show li{
    width: 7.5rem;
    height: 2rem;
    font-family: 'PingFangSC-Regular';
}
.cy{
   width: 7rem;
   height: 2.5rem;
   margin-top: 0.35rem;
   display: flex;
   justify-content: space-between;
   background: #fff; 
   margin-left: 0.25rem;
   border-radius: 0.1rem;

}
.cy img,.cr,.cc,.cb{
   margin-top: 0.25rem;
}
.cy img{
   width: 2rem;
   height: 2rem;
   margin-left:0.35rem; 
}
.cr{
   width: 4.4rem;
   height: 2rem;
   margin-left:0.33rem 
}
.cr p{
   width: 4.4rem;
   height: 0.7rem;
   font-size:0.28rem;
   color:rgba(44,44,44,1);
}
.cc{
   display: flex;
   justify-content: space-between;
   width: 4.4rem;
   height: 0.37rem;
   margin-top:0.17rem;
}  
.cb{
   width: 4.4rem;
   height: 0.48rem;
   display: flex;
   justify-content: flex-start;
   box-sizing: border-box;
   margin-top:0.1em;
}
.cb p:nth-child(1){
   width: 0.8rem;
   height: 0.37rem;
   border-radius:0.04rem;
   border:0.01rem solid rgba(234,74,30,1);
   line-height: 0.37rem;
   font-size:0.24rem;
   font-weight:600;
   color:rgba(234,74,30,1);
   box-sizing: border-box;
   padding-left: 0.02rem;
   margin-top: 0.2rem;
   margin-right: 0.1rem;
}
.cb p:nth-child(2){
   width: 1rem;
   height: 0.38rem;
   font-size:0.38rem;
   color:rgba(234,74,30,1);
   margin-top: 0.1rem;
   font-weight:400;
   margin-right: 1rem;
}
.cb p:nth-child(2) i{
   font-style: normal;
}
.cb p:nth-child(3){
   width: 0.77rem;
   padding-top: 0.25rem;
   padding-left: 0.26rem;
   font-size:0.24rem;
   color:rgba(146,150,156,0.6);
   text-decoration: line-through;
   margin-right:0.3rem;
}
.yq{
   width: 7rem;
   height: 5.2rem;
   background:rgba(255,255,255,1);
   border-radius:0.1rem;
   margin-left: 0.25rem;
   margin-top:0.8rem;
}
.yq p{
   width: 5rem;
   height:1rem;
   font-size:0.32rem;
   font-weight:600;
   color:rgba(43,48,56,1);
   line-height:0.45rem;
   margin-left: 1.3rem;
   line-height: 1rem;
}
.yq p i{
   font-style: normal;
   color:rgba(233,59,30,1);
}
.yq p span{
   width: 1.38rem;
   height: 1.08rem;
   background:rgba(234,74,30,1);
   border-radius:0.04rem;
   font-size:0.24rem;
   font-weight:600;
   color:rgba(255,255,255,1);
   line-height: 0.36rem;
}
.yq .sul {
   width: 5.39rem;
   height: 2.25rem;
   margin-top: 0.42rem;
   margin-left: 0.9rem;
   display: flex;
   flex-wrap: wrap;
   box-sizing: border-box;
   position: relative;
}
.yq .bul{
   width: 5.39rem;
   height: 2.25rem;
   display: flex;
   flex-wrap: wrap;
   box-sizing: border-box;
   position: absolute;  
}
.yq .wimg{
    width: 0.99rem;
    height: 1.08rem;
    z-index: 99;
    position: absolute;
    top:0.08rem;
    left:0;
}
.yq .nimg{
    border-radius: 50%;
   width: 0.95rem;
   height: 0.95rem;
   margin-right: 0.12rem;
}
.yq .nximg{
   width: 0.95rem;
   height: 0.95rem;
   margin-right: 0.12rem;
}
.yq input{
   width: 6.43rem;
   height: 0.94rem;
   background:rgba(233,59,30,1);
   border-radius:0.04rem;
   color:#fff;
   font-size: 0.38rem;
   line-height:0.53rem;
   border-radius:0.1rem;
   margin-left: 0.25rem; 
}
.sharepage {
    width: 7.5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
  }
  header {
    height: 0.88rem;
    background: #fff;
    font-size: 0.36rem;
    font-weight: 600;
    display: flex;
  }
  header img{
      width: 0.19rem;
      height: 0.33rem;
      margin-top: 0.25rem;
      margin-left: 0.25rem;
  }
  header p{
      line-height: 0.88rem;
      margin-left: 2.75rem;
  }
  section {
    flex: 1;
    height: 93vh;
    background: rgba(0,0,0,.5);
   font-size: 0.24rem;
   position: relative;
  }
  section img{
      width: 1.12rem;
      height: 1.12rem;
  }
  .share-c{
      width: 7.5rem;
      height: 3.45rem;
      display: flex;
      box-sizing: border-box;
      justify-content: space-around;
      background:rgb(236, 235, 235);
      position: absolute;
      bottom: 0;
      padding-top: 0.65rem;
  }
  .share-c1 p{
      width: 1.12rem;
      box-sizing: border-box;
      padding-left: 0.25rem;
      margin-top: 0.25rem;
  }
  .share-c2 p{
      width: 1.12rem;
      box-sizing: border-box;
      padding-left: 0.1rem;
      margin-top: 0.25rem;
  }
  footer {
    height: 7vh;
    background-color:#fff;
    font-size: 0.32rem;
    line-height: 1rem;
    box-sizing: border-box;
    padding-left:3.3rem; 
  }
  .poster{
    width: 7.5rem;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1200;
    background: rgba(0,0,0,.5)
}
.posterbox{
    width: 6.4rem;
    height: 11.6rem;
    background: #fff;
    position: absolute;
    top:7vh;
    left: 0.5rem;
}
.postbt{
    width: 6.4rem;
    height: 5.37rem;
    position: relative;
}
.postbt img:nth-child(1){
    width: 0.24rem;
    height: 0.24rem;
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
}
.postbt img:nth-child(2){
    width: 6.4rem;
    height: 5.37rem;
}
.postbc{
    width: 6.4rem;
    height: 0.6rem;
    background: rgba(233,59,30,1);
    display: flex;
    justify-content: center;
}
.postbc img{
    width: 0.44rem;
    height: 0.4rem;
    margin-top: 0.1rem;
}
.postbc p{
    width: 1.08rem;
    height: 0.6rem;
    font-size: 0.36rem;
    font-weight: 600;
    color: #fff;
    line-height: 0.6rem;
    margin-left: 0.1rem;
}
.postbcb{
    width: 6.4rem;
    height: 2.6rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}
.postbcb p:nth-child(1){
    margin-top: 0.1rem;
    font-size: 0.36rem;
    font-weight: 600;
    color:rgba(34,34,34,1);
}
.postbcb p:nth-child(2){
    font-size:0.48rem;
    color:rgba(233,59,30,1);
}
.postbcb p:nth-child(2) i{
    font-style: normal;
    font-size: 0.28rem;
}
.postbcb p:nth-child(3){
    margin-top: 0.1rem;
    color:rgba(146,150,156,1);
    font-size: 0.28rem;
    text-decoration: line-through;
}
.postbcb p:nth-child(4){
    font-size:0.24rem;
    color:rgba(120,120,120,1);
    background: rgb(250, 243, 243);
    margin-top: 0.5rem;
}
.postbcb p:nth-child(4) i{
    font-style: normal;
    color:rgba(233,59,30,1);
}
.postbb{
    width: 6.4rem;
    height: 2.9rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    margin-top:0.2rem;
}
.postbb img{
    
    width: 2.05rem;
    height: 2.05rem;
}
.postbb p{
    margin-top: 0.1rem;
    font-size:0.2rem;
    color:rgba(120,120,120,1);
}
.press{
    width: 7.5rem;
    height: 3.91rem;
     background: rgba(250,250,250,.8);
     position: absolute;
     bottom: 0;
     left: 0;
     z-index: 1300;
}
.pressb{
    display: flex;
    justify-content: space-around;
    margin-top:0.61rem; 
}
.pressb img{
    width: 1.12rem;
    height: 1.12rem;
}
.pressb p{
    font-size: 0.24rem;
    color:rgba(43,48,56,1);
}
.pressbt,.pressbc,.pressbb{
    width: 1.44rem;
    height: 1.62rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.pressbot{
    width: 7.5rem;
    height: 0.98rem;
    background: #fff;
    color: rgba(43,48,56,1);
    font-size:0.32rem;
    position: absolute;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    padding-left: 3.3rem;
}
.pressbot p{
    height: 0.98rem;
    line-height: 0.98rem;
}
