*{margin: 0;padding: 0}
ul li{list-style: none;}
.bj{
    width: 7.5rem;
    height: 100vh;
    background: url('/pintuan/img/bei.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
}
.hd{
  width:7.5rem;
    height:0.88rem;
    background:rgba(255,255,255,1);
    display: flex; 
    align-items: center;
    justify-content: space-between;
}
.hd img {
   width:0.19rem;
   height:0.33rem;
   margin-left: 0.3rem;      
}
.hd span{
   width:1.44rem;
    height:0.5rem;
    font-size:0.36rem;
    font-weight:600;
    color:rgba(0,0,0,1);
    line-height:0.5rem;
    margin-right: 3rem;
}
.show li{
    width: 7.5rem;
    height: 2rem;
    font-family: 'PingFangSC-Regular';
}
.cy{
   width: 7rem;
   height: 2.5rem;
   margin-top: 0.35rem;
   display: flex;
   justify-content: space-between;
   background: #fff; 
   margin-left: 0.25rem;
   border-radius: 0.1rem;

}
.cy img,.cr,.cc,.cb{
   margin-top: 0.25rem;
}
.cy img{
   width: 2rem;
   height: 2rem;
   margin-left:0.35rem; 
}
.cr{
   width: 4.4rem;
   height: 2rem;
   margin-left:0.33rem 
}
.cr p{
   width: 4.4rem;
   height: 0.7rem;
   font-size:0.28rem;
   color:rgba(44,44,44,1);
}
.cc{
   display: flex;
   justify-content: space-between;
   width: 4.4rem;
   height: 0.37rem;
   margin-top:0.17rem;
}  
.cb{
   width: 4.4rem;
   height: 0.48rem;
   display: flex;
   justify-content: flex-start;
   box-sizing: border-box;
   margin-top:0.1em;
}
.cb p:nth-child(1){
   width: 0.8rem;
   height: 0.37rem;
   border-radius:0.04rem;
   border:0.01rem solid rgba(234,74,30,1);
   line-height: 0.37rem;
   font-size:0.24rem;
   font-weight:600;
   color:rgba(234,74,30,1);
   box-sizing: border-box;
   padding-left: 0.02rem;
   margin-top: 0.2rem;
   margin-right: 0.1rem;
}
.cb p:nth-child(2){
   width: 1rem;
   height: 0.38rem;
   font-size:0.38rem;
   color:rgba(234,74,30,1);
   margin-top: 0.1rem;
   font-weight:400;
   margin-right: 1rem;
}
.cb p:nth-child(2) i{
   font-style: normal;
}
.cb p:nth-child(3){
   width: 0.77rem;
   padding-top: 0.25rem;
   padding-left: 0.26rem;
   font-size:0.24rem;
   color:rgba(146,150,156,0.6);
   text-decoration: line-through;
   margin-right:0.3rem;
}
.yq{
   width: 7rem;
   height: 5.2rem;
   background:rgba(255,255,255,1);
   border-radius:0.1rem;
   margin-left: 0.25rem;
   margin-top:0.8rem;
}
.success{
    width: 7rem;
    position: relative;
}
.success img{
    width: 4rem;
    height: 1rem;
    position: absolute;
    top: 0.2rem;
    left: 1.8rem;
}
.success p{
    font-size: 0.48rem;
    color: #fff;
    position: absolute;
    top: 0.2rem;
    left: 2.8rem;
}
.void{
    width: 7rem;
    height: 1.2rem;
}
.yq .sul {
   width: 5.39rem;
   height: 1.2rem;
   margin-top: 0.42rem;
   margin-left: 0.9rem;
   display: flex;
   flex-wrap: wrap;
   box-sizing: border-box;
   position: relative;
}
.yq .bul{
   width: 5.39rem;
   height: 2.25rem;
   display: flex;
   flex-wrap: wrap;
   box-sizing: border-box;
   position: absolute;  
}
.yq .wimg{
    width: 0.99rem;
    height: 1.08rem;
    z-index: 99;
    position: absolute;
    top:0.08rem;
    left:0;
}
.yq .nimg{
   width: 0.95rem;
   height: 0.95rem;
    border-radius: 50%;
   margin-right: 0.12rem;
}
.yq .nximg{
   width: 0.95rem;
   height: 0.95rem;
   margin-right: 0.12rem;
}
.msg{
    width: 7rem;
    font-size:0.32rem;
    color:rgba(49,49,49,1);
    text-align: center;
}
.yq input{
   width: 6.43rem;
   height: 0.94rem;
   background:rgba(233,59,30,1);
   border-radius:0.04rem;
   color:#fff;
   font-size: 0.38rem;
   line-height:0.53rem;
   border-radius:0.1rem;
   margin-left: 0.25rem; 
}
