*{margin: 0;padding: 0;}
ul li{list-style: none;}
i{font-style: normal}
body{padding-bottom:20px;height: 100%;background: #ccc}
.header{
    position: relative;
    width:100%;
    height: 45px;
}
.content{
        width:100%;
    height: 100%;
}
.footer{
    position:fixed;
    width:100%;
    left:0px;
    z-index:105;
    bottom:0px;
}
.swiper-container {
    width: 7.5rem;
    height: 7.5rem;
}  
.imgwidth{
    width: 7.5rem;
    height: 7.5rem;
}
.detl{
    width: 7.5rem;
    position: relative;
    flex: 1;
}
.hd{
    width:7.5rem;
      height:0.7rem;
      background:rgba(255,255,255,1);
      display: flex; 
      align-items: center;
      justify-content: space-between;
  }
  .hd img {
     width:0.19rem;
     height:0.33rem;
     margin-left: 0.3rem;      
  }
  .hd span{
     width:1.44rem;
      height:0.5rem;
      font-size:0.36rem;
      font-weight:600;
      color:rgba(0,0,0,1);
      line-height:0.5rem;
      margin-right: 3rem;
  }
.commodity{
    width: 7.5rem;
    height: 2.67rem;
    box-sizing: border-box;
    position: relative;
}
.com-box{
    height: 2.67rem;
}
.com-box h1{
    width:5.88rem;
    height:0.36rem;
    font-size:0.42rem;
    color:rgba(43,48,56,1);
    line-height:0.36rem;
    margin-left: 0.4rem;
}
.prace{
    display: flex;
    margin-top: 0.2rem;
    margin-left: 0.4rem;
}
.prace p:nth-child(1){
    width:0.3rem;
    height:0.3rem;
    background:rgba(254,107,66,1);
    border-radius:0.06rem;
    font-size:0.22rem;
    line-height:0.3rem;
    text-align: center;
    color: #fff;
}
.prace p:nth-child(2){
    height:0.4rem;
    width: 0.2rem;
    font-size:0.28rem;
    color:rgba(253,40,5,1);
    line-height:0.4rem;
}
.prace p:nth-child(3){
    height: 0.4rem;
    font-size:0.28rem;
    color:rgba(253,40,5,1);
    line-height:0.4rem;
}
.prace p:nth-child(4){
    height:0.4rem;
    width: 0.2rem;
    font-size:0.28rem;
    color:rgba(253,40,5,1);
    line-height:0.4rem;
}
.prace p:nth-child(5){
    height: 0.4rem;
    font-size:0.28rem;
    color:rgba(253,40,5,1);
    line-height:0.4rem;
}
.prace p:nth-child(6){
    height:0.4rem;
    font-size:0.28rem;
    color:rgba(253,40,5,1);
    line-height:0.4rem;
}
.com-bt{
    width:7.16rem;
    height:1.04rem;
    background:linear-gradient(90deg,rgba(233,59,30,1) 0%,rgba(255,110,82,1) 100%);
    border-radius:0.04rem 0rem 0rem 0.04rem;
    display: flex;
    box-sizing: border-box;
    position: relative;
    position: absolute;
    right: 0;
}
.comone{
    height:1.04rem;
    color:rgba(255,255,255,1);
    text-align: center;
    display: flex;
    margin-left: 0.2rem;
}
.comone p:nth-child(1){
    height: 1.04rem;
    width: 0.2rem;
    color:rgba(255,255,255,1);
    line-height: 1.04rem;
    font-size: 0.24rem;
}
.comone p:nth-child(2){
    height: 1.04rem;
    line-height: 1.04rem;
    font-size: 0.36rem;
    font-weight:600;
}
.com-btc{
    width: 1.5rem;
    height: 1.04rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 0.2rem;
}
.comtow{
    width:1.12rem;
    height:0.33rem;
    font-size:0.24rem;
    color:rgba(255,255,255,1);
    line-height:0.33rem;
    display: flex;
    text-decoration: line-through;
}
.com-btc h6{
    width: 1rem;
    height:0.4rem;
    background:rgba(255,255,255,1);
    border-radius:0.04rem;
    font-size:0.2rem;
    font-weight:600;
    color:rgba(250,109,67,1);
    line-height:0.4rem;
    text-align: center;
}
.com-btb{
    width:2.7rem;
    height:0.44rem;
    background:rgba(255,255,255,1);
    box-shadow:0rem 0.02rem 0.04rem 0rem rgba(215,89,15,1);
    border-radius:0.06rem 0rem 0rem 0.06rem;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 0.2rem;
    right: 0;
}
.com-btb p{
    height: 0.44rem;
    font-size:0.23rem;
    color:rgba(250,64,9,1);
    line-height:0.44rem;
}
.empty{
    width: 7.5rem;
    height: 0.13rem;
    background:rgba(243,243,243,1);
}
.rule{
    width:7.5rem;
    height:2rem;
    background:rgba(255,255,255,1);
    box-sizing: border-box;
}
.ruletop{
    width: 7.5rem;
    height: 0.7rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.ruletop p:nth-child(1){
    font-size:0.36rem;
    color:rgba(0,0,0,1);
    line-height:0.7rem;
    margin-left: 0.45rem;
}
.ruletop p:nth-child(2){
    font-size:0.28rem;
    color:rgba(0,0,0,1);
    line-height:0.7rem;
    margin-right: 0.25rem;
}
.decorate{
    width:6.8rem;
    height:0.02rem;
    border:0.01rem solid rgba(239,239,239,1);
    margin-left: 0.45rem;
}
i{
    font-style: normal;
    color:  rgba(120,120,120,1);
}
.rulebottom{
    width: 7.5rem;
    height: 1.3rem;
    display: flex;
    justify-content: space-around;
}
.rulebottom p{
    font-size:0.26rem;
    color:rgba(0,0,0,1);
    line-height:1.3rem;
}
.rules{
    height: 1.3rem;
}
.rules h6:nth-child(1){
    height: 0.65rem;
    font-size:0.26rem;
    color:rgba(0,0,0,1);
    line-height: 0.65rem;
}
.rules h6:nth-child(2){
    font-size:0.22rem;
    color:rgba(120,120,120,1);
}
.voidbox{
    width: 7.5rem;
    height: 2rem;
}
footer{
    width: 7.5rem;
    height: 1.1rem;
    background: #fff;
    box-sizing: border-box;
    border-top: 0.01rem rgb(230,230,230) solid;
    display: flex;
    align-items: center;
}
.foot-l{
    width: 1.06rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.foot-l img{
    width: 0.36rem;
    height: 0.34rem;
}
.foot-l p{
    font-size:0.26rem;
    color:rgba(0,0,0,1);
}
.foot-c{
    width: 1.4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.foot-ct{
    display: flex;
    justify-content: center;
    font-size:0.26rem;
    color:rgba(253,40,5,1);
}
.foot-c h6{
    font-size:0.26rem;
    color:rgba(0,0,0,1);
    line-height:0.37rem;
}
.foot-r{
    width:4.85rem;
    height:0.94rem;
    display: flex;
    justify-content: space-between;
}
.foot-rcc{
    width: 2.42rem;
    height: 0.94rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background:rgba(43,48,56,1);
}
.foot-rrr{
    width: 2.43rem;
    height: 0.94rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background:rgba(233,59,30,1);
}
.foot-rt{
    display: flex;
    font-size:0.26rem;
    color:rgba(255,255,255,1);
}
.foot-r h6{
    font-size:0.26rem;
    color:rgba(255,255,255,1);
}



