*{margin: 0;padding: 0;}
ul li{list-style: none;}
a{text-decoration: none;color: #000}
body{background: #F5F5F5}
.hd{
    width:7.5rem;
      height:0.88rem;
      background:rgba(255,255,255,1);
      display: flex; 
      align-items: center;
      justify-content: space-between;
  }
  .hd img {
     width:0.19rem;
     height:0.33rem;
     margin-left: 0.3rem;      
  }
  .hd span{
     width:1.44rem;
      height:0.5rem;
      font-size:0.36rem;
      font-weight:600;
      color:rgba(0,0,0,1);
      line-height:0.5rem;
      margin-right: 3rem;
  }
  .kaituan{
      width:7.5rem;
      height:0.88rem;
      background:rgba(255,255,255,1);
      font-size:0.36rem;
      font-family:PingFangSC-Regular;
      font-weight:400;
       display: flex; 
      align-items: center;
      justify-content: space-around;
  }
  .kaituan a:nth-child(2){
      color:rgba(236,85,44,1);   
      border-bottom: 0.04rem rgba(236,85,44,1) solid;  
  }
  .mg {
      width:0.8rem;
      height: 0.04rem;
      position: absolute;
      top:1.7rem; 
      left: 5.27rem;
      z-index: 1; 
  }
  .mg1{
      width: 7.5rem;
      height: 0.04rem;
      position: absolute;
      top:1.70rem;
  }
 .show li{
      width: 7.5rem;
      height: 2rem;
      font-family: 'PingFangSC-Regular';
 }
 .cy{
     width: 7.5rem;
     height: 2rem;
     margin-top: 0.35rem;
     display: flex;
     justify-content: flex-start;     
 }
 .cy img{
     width: 2rem;
     height: 2rem;
     margin-left: 0.2rem;
     margin-right: 0.2rem;
 }
 .cr{
     width: 4.8rem;
     height: 2rem;
 }
 .cr p{
     width: 4.4rem;
     font-size:0.28rem;
     color:rgba(44,44,44,1);
 }
 .cc{
     display: flex;
     justify-content: space-between;
     width: 4.4rem;
     height: 0.37rem;
     margin-top:0.17rem;
 }
 .cc p:nth-child(1){
     width: 1.3rem;
     height: 0.37rem;
     border-radius:0.04rem;
     border:0.01rem solid rgba(234,74,30,1);
     line-height: 0.37rem;
     font-size:0.24rem;
     font-weight:600;
     color:rgba(234,74,30,1);
     box-sizing: border-box;
     padding-left: 0.02rem;
 }
 
 .cb{
     width: 4.6rem;
     height: 0.48rem;
     display: flex;
     justify-content: flex-start;
     box-sizing: border-box;
     margin-top:0.2em;
 }
 .cb p:nth-child(1){
     width: 1rem;
     height: 0.48rem;
     font-size:0.28rem;
     color:rgba(234,74,30,1);
     margin-top: 0.2rem;
     margin-right:0.15rem; 
     line-height: 0.48rem
 }
 .cb p:nth-child(1) i{
     font-style: normal;
 }
 .cb p:nth-child(2){
     width: 0.77rem;
     height: 0.48rem;
     padding-top: 0.25rem;
     /* padding-left: 0.26rem; */
     font-size:0.24rem;
     color:rgba(146,150,156,1);
     text-decoration: line-through;
     margin-right:0.15rem;
 }
 .cb p:nth-child(3){
     width: 5.3rem;
      height:0.37rem;
      font-size:0.24rem;
      color:rgba(44,44,44,1);
      line-height: 0.37rem;
      background: rgb(252,250,248);
      border-radius:0.04rem;
      margin-top: 0.2rem;
 }
 .cb P:nth-child(3) i{
     font-size: 0.24rem;
     font-style: normal;
     color:rgba(234,74,30,1);
     font-weight: bold;
 }