//@font-face{font-family:'FontAwesome';src:url('fonts/fontawesome-webfont.eot?v=4.3.0');src:url('fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'),url('fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'),url('fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'),url('fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'),url('fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');font-weight:normal;font-style:normal}
ul,li { list-style: none; margin: 0; padding: 0;}
.clearfix:after { content:"."; height:0; width:0; font-size:0; clear:both; display:block; visibility:hidden;}
.clearfix { zoom:1;}
.fl { float:left;}
.fr { float:right;}
.size34 { width:34px; height:34px;}
.navbar-default .navWapper li,
.navbar-default .navWapper li.active { border-bottom:solid 2px #f8f8f8; transition: all .15s ease-in-out;}
.navbar-default .navWapper li a,
.navbar-default .navWapper li.active a { font-weight:bold; font-family:"Helvetica Neue",STHeiti,"Microsoft YaHei",Verdana,Arial,Tahoma,sans-serif; font-size:14px; color:#333; transition: all .15s ease-in-out;}
.navbar-default .navWapper li.active { border-bottom:solid 2px #f60;}
.navbar-default .navWapper li.active a { color:#f60;}
.navbar-default .navWapper li:hover,
.navbar-default .navWapper li.active:hover { border-bottom:solid 2px #f60;}
.navbar-default .navWapper li:hover a,
.navbar-default .navWapper li.active:hover a { color:#f60;}
.navbar-default .navbar-nav > li > a.dropdown-toggle { padding-top:7px; padding-bottom:7px;}
.design-module { float: left; height: 100%; overflow-y: auto; width: 162px; border-right: 1px solid #eee;}
.design-module li { float:left; width:60px; height:60px; margin:5px; padding:5px; color:#60A6E4; border:1px dotted #89C5EC; text-align: center; cursor: pointer; border-radius: 5px; -webkit-user-select: none; white-space: nowrap; background-color:#fff; z-index:8;}
.design-module li:hover { cursor: move;}
.design-module li:hover .item-icon { color: #488fce;}
.item-icon { display: block; margin:0 auto; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; transform: translate(0, 0); font-size:26px;}
.item-banner:before { content: "\f02e";}
.item-search:before { content: "\f002";}
.item-goods_tag:before { content: "\f0ae";}
.item-slide:before { content: "\f1c5";}
.item-text:before { content: "\f031";}
.item-video:before { content: "\f008";}
.item-notice:before { content: "\f0a1";}
.item-white:before { content: "\f096";}
.item-nav:before { content: "\f0c9";}
.item-goods:before { content: "\f087";}
.item-cubes:before { content: "\f1b3";}
.item-image:before { content: "\f03e";}
.item-title:before { content: "\f032";}
.item-voice:before { content: "\f028";}
.item-phone:before { content: "\f095";}
.item-component:before { content: "\f12e";}
.content-wrapper .panel { border:0; padding:20px;}
.design-wraper .phone-panel { float: left; height: 100%; overflow-y: auto; margin: 0 20px; width: 336px; -webkit-user-select:none;}
.design-preview .wp-config h1 { margin: 0; padding: 18px 60px 0; height: 55px; line-height: 36px; font-size: 16px; color: #fff; font-weight: 700; text-align: center; background: url(../img/titlebar.png) no-repeat; background-size: 320px 55px;}
.phone-model .phone-headset {
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -25px;
  border-radius: 5px;
  width: 50px;
  height: 6px;
  background: #DAD8D8;
}
.phone-model {
  position: relative;
  width: 336px;
  border: 1px solid #e5e5e5;
  margin-bottom: 51px;
  border-radius: 30px;
  padding: 50px 0 60px;
}
.design-preview .wp-comp {
  position: relative;
  width: 320px;
  cursor: pointer;
}
.phone-model .phone-screen {
  position: relative;
  width: 322px;
  margin: 0 auto;
  min-height: 200px;
  border: 1px solid #F5F5F5;
  background-color: #f8f8f8;
}
.phone-model .phone-home {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  border: 1px solid #e5e5e5;
  border-radius: 100%;
}
.design-preview .comp-place {
  cursor: move;
  margin: 5px 0;
  border: 1px dashed #cd6e00;
  height: 60px;
}



.ml5{
  margin-left:5px !important;
}
.ml10 {
  margin-left:10px !important;
}
.mr20 {
  margin-right:20px !important;
}
.mt5 {
  margin-top:5px !important;
}
.mt10 {
  margin-top:10px !important;
}
.mt20 {
  margin-top:20px !important;
}
.ml20 {
  margin-left: 20px !important;
}
.container {
  width:auto;
  height:100%;
  overflow-y:scroll;
  padding:20px 20px 10px
}
.shop-dashboard-container .pic-announce {
  text-align:center;
  position:fixed;
  width:440px;
  margin-left:-220px;
  left:50%;
  margin-top:150px;
  z-index:100
}
.shop-dashboard-container .pic-announce button {
  float:right;
  border:none;
  background-color:transparent;
  font-size:20px;
  color:#ccc
}
.shop-dashboard-container .pic-announce>a>img {
  display:inline-block;
  width:100%;
  height:260px
}
.shop-dashboard-container .pic-announce .no-show {
  font-size:15px;
  margin-top:10px;
  display:inline-block
}
.shop-dashboard-container .word-announce {
  width:380px;
  height:120px;
  border:1px solid #ccc;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  position:absolute;
  top:44px;
  background-color:#fff;
  right:177px;
  z-index:1000
}
.shop-dashboard-container .word-announce button {
  border:none;
  background-color:transparent;
  position:absolute;
  right:5px
}
.shop-dashboard-container .word-announce button i {
  color:#ccc;
  font-size:16px
}
.shop-dashboard-container .word-announce .word-title {
  font-weight:400;
  text-align:center;
  font-size:16px;
  width:250px;
  margin:15px auto 5px;
  overflow:hidden;
  white-space:nowrap
}
.shop-dashboard-container .word-announce .word-content {
  height:50px;
  width:350px;
  margin:0 auto;
  overflow:hidden;
  word-wrap:break-word;
  line-height:24px
}
.shop-dashboard-container .word-announce .word-content p {
  margin:0;
  padding:0
}
.shop-dashboard-container .word-announce .word-open {
  position:absolute;
  right:10px;
  bottom:10px
}
.shop-dashboard-container .shop-info {
  position:relative;
  padding:0 0 0 90px;
  height:80px;
  margin-bottom:15px
}
.shop-dashboard-container .shop-info .shop-logo {
  position:absolute;
  left:0
}
.shop-dashboard-container .shop-info .shop-logo img {
  width:80px;
  height:80px
}
.shop-dashboard-container .shop-info .shop-intro h2 {
  font-size:16px;
  height:32px;
  line-height:30px;
  font-weight:700;
  margin:0
}
.snatch-region .snatch-member .snatch-delivery table th,.snatch-region .snatch-system .snatch-info table th {
  font-weight:400;
  text-align:right;
  color:#666
}
.overview ul li .overview-name,.overview ul li .overview-num {
  margin-top:10px;
  display:block
}
.shop-dashboard-container .shop-info .shop-intro>p {
  margin-bottom:0;
  line-height:24px;
  font-size:12px
}
.shop-dashboard-container .shop-info .shop-intro>p .fa {
  color:#f60;
  font-size:18px
}
.shop-dashboard-container .shop-info .shop-intro>p span {
  position:relative;
  padding-left:25px;
  margin-right:18px;
  line-height:18px;
  display:inline-block
}
.shop-dashboard-container .shop-info .shop-intro>p span.expire-rrdshang,.shop-dashboard-container .shop-info .shop-intro>p span.not-rrdshang {
  color:#7f8c8d;
  margin-right:10px
}
.shop-dashboard-container .shop-info .shop-intro>p span:after {
  content:'';
  border:1px solid #4b0;
  position:absolute;
  width:18px;
  height:18px;
  display:block;
  left:0;
  top:0;
  border-radius:100%
}
.shop-dashboard-container .shop-info .shop-intro>p span:before {
  position:absolute;
  top:6px;
  left:5px;
  content:"";
  width:10px;
  height:6px;
  border-left:2px solid #4b0;
  border-bottom:2px solid #4b0;
  transform:rotateZ(-45);
  -ms-transform:rotateZ(-45deg);
  -moz-transform:rotateZ(-45deg);
  -webkit-transform:rotateZ(-45deg);
  -o-transform:rotateZ(-45deg)
}
.shop-dashboard-container .shop-info .shop-intro>p span.not-rrdshang:after {
  border:1px solid #7f8c8d
}
.shop-dashboard-container .shop-info .shop-intro>p span.not-rrdshang:before {
  border-left:2px solid #7f8c8d;
  border-bottom:2px solid #7f8c8d
}
.shop-dashboard-container .shop-info .shop-intro>p span.expire-rrdshang:after {
  border:1px solid #F60
}
.shop-dashboard-container .shop-info .shop-intro>p span.expire-rrdshang:before {
  border-left:2px solid #F60;
  border-bottom:2px solid #F60
}
.shop-dashboard-container .shop-info .shop-intro>p .apply-btn {
  margin-left:5px
}
.shop-dashboard-container .shop-info .shop-intro>p .apply-btn .fa {
  color:#07d;
  font-size:inherit
}
.shop-dashboard-container .shop-info .shop-shortcut {
  position:absolute;
  right:0;
  bottom:10px
}
.shop-dashboard-container .order-chart {
  height:300px
}
.shop-dashboard-container .shop-code-btn {
  position:relative
}
.shop-dashboard-container .shop-code-btn .dropdown-menu {
  display:block;
  right:0;
  left:auto;
  padding:10px;
  font-size:12px
}
.overview {
  border:1px dotted #eee;
  background:#f9f9f9;
  margin-bottom:15px;
  padding:10px
}
.overview ul {
  width:100%;
  display:table
}
.overview ul li {
  height:60px;
  display:table-cell;
  text-align:center;
  border-right:1px dotted #eee
}
.overview ul li:last-child {
  border:none
}
.overview ul li .overview-num {
  font-size:18px;
  -webkit-font-smoothing:auto;
  cursor:default
}
.widget-mod.bordered {
  border:1px solid #eee
}
.widget-mod.bordered .widget-head {
  background-color:#f9f9f9
}
.widget-mod .widget-head {
  position:relative;
  padding:10px 10px 5px;
  margin-bottom:5px;
  line-height:20px;
  border-bottom:1px solid #eee
}
.widget-mod .widget-head .widget-title {
  display:inline-block;
  margin:0 15px 0 0;
  font-size:14px;
  line-height:20px
}
.widget-mod .widget-head .widget-title i {
  margin-right:5px;
  color:#F60
}
.widget-mod .widget-head .widget-nav {
  display:inline-block
}
.widget-mod .widget-head .widget-nav li {
  display:inline-block;
  margin-right:5px
}
.widget-mod .widget-head .widget-help {
  position:absolute;
  right:10px;
  top:11px
}
.widget-mod .widget-head .widget-help i {
  font-size:18px;
  color:#bbb
}
.widget-mod .widget-body {
  padding:0px
}
.peerpay-info .widget-head {
  margin-bottom:0;
  border-bottom:0;
  background-color:#f9f9f9
}
.table-hover>tbody>tr:hover>td,.table-hover>tbody>tr:hover>th,.table>thead {
  background-color:#f9f9f9
}

.inner-header {
  margin-bottom: 15px;
  height: 45px;
  border-bottom: 1px solid #eee;
  position:relative;
}
.inner-header .inner-title {
  display: inline-block;
  font-weight: 400;
  line-height: 40px;
  font-size: 14px;
  margin: 0 15px 0 0;
}
.inner-header .inner-title i {
  margin-right:5px;
  color:#f60
}
.inner-header .page-nav {
  display:inline-block
}
.inner-header .page-nav li {
  display:inline-block;
  margin-right:5px
}
.search-inline {
  position:absolute;
  top:0;
  right:0
}
.search-inline:before {
  display:none
}
.form-inline .form-group {
  margin:0
}
.toolbargroup{
  margin-bottom: 15px;
}
span.delimiter {
  color:#f5f5f5;
  padding:0 2px
}
.goods-image {
  width:60px;
  height:60px;
  vertical-align:middle;
  border:1px solid #F4F2F2;
  padding:1px;
  background-color:#fff
}
.sm-goods-image {
  width:40px;
  height:40px;
  vertical-align:middle;
  border:1px solid #F4F2F2;
  padding:1px;
  background-color:#fff
}
button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}
.modal-header {
  min-height: 16.43px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-dialog .modal-header {
  padding: 10px 15px;
}
.modal-dialog .modal-header .modal-title {
  margin: 0;
  font-size: 14px;
}
.modal-dialog .modal-footer {
  padding: 10px 15px;
  border-radius: 0 0 6px 6px;
  background-color: #f9f9f9;
}
.desc-pop-imgs {
  width: 615px;
  overflow: hidden;
  float: left;
}
.desc-pop-imgs-box {
  width: 370px;
  margin-bottom: -10px;
}
.desc-pop-imgs .desc-pop-add {
  margin-right: 10px;
  float: left;
  width: 64px;
  height: 64px;
  background: url('../img/sprite.png');
  cursor: pointer;
}
a, a:focus, a:hover {
  color: #07d;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
}
.popover{
  font-size: 12px;
}
.popover-head {
  font-size:14px;
  margin:-10px -10px 8px;
  text-align:center;
  font-weight:600;
  padding:8px 0;
  background:#f7f7f7;
  border-radius:5px 5px 0 0;
  border-bottom:1px solid #ebebeb
}
.popover-content {
  padding: 10px 14px;
}
.popover-content ul{
  margin: 5px 0 !important;
}
 .popover-content ul li label{
  padding-left: 25px;
}
.popover-content:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.popover-footer {
  margin:10px -10px -10px;
  padding:10px 0;
  text-align:center;
  background:#f7f7f7;
  border-radius:0 0 5px 5px;
  border-top:1px solid #ebebeb
}
.title {
  padding:10px 30px 10px 10px;
  background-color:#eee
}


/*wm 2016-06-07 新加*/
.checkbox input[type=checkbox], .radio input[type=radio] {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  margin: 5px;
  padding-left: 25px;
  cursor: pointer;
  line-height: 1.4;
  text-overflow: ellipsis;
  white-space: normal;
}
.checkbox input[type=checkbox]:before {
  left: 0;
  width: 16px;
  height: 16px;
  margin-top: -9px;
  background-color: #FFF;
  border: 1px solid #bdc3c7;
  box-sizing: border-box;
  border-radius: 3px;
}
.checkbox input[type=checkbox]:before, .radio input[type=radio]:after, .radio input[type=radio]:before {
  display: block;
  position: absolute;
  content: "";
  top: 50%;
}
.areas-body .area-item:hover .citys {
  display: block;
}
.areas-body .area-item .citys {
  background-color: #FFFEC6;
  position: absolute;
  float: right;
  border: 1px solid #f7e4a5;
  padding: 4px 0;
  top: 30px;
  left: 0;
  z-index: 8;
  width: 220px;
  white-space: nowrap;
  display: none;
}
.areas-body .area-item {
  height: 30px;
  line-height: 30px;
  width: 142px;
  float: left;
  position: relative;
  bottom: -1px;
}
.checkbox, .radio {
  padding: 0;
  margin: 0;
  min-height: 0!important;
}
.areas-body .area-item:hover>.checkbox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #FFFEC6;
  border: 0 solid #f7e4a5;
  border-width: 1px 1px 0;
}
.checkbox label, .radio label {
  padding: 0 20px 0 20px;
  white-space: nowrap;
}
.areas-body .area-item .checkbox label {
  padding: 0 10px 0 20px;
}
.checkbox input[type=checkbox], .radio input[type=radio] {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  margin: 5px;
  padding-left: 25px;
  cursor: pointer;
  line-height: 1.4;
  text-overflow: ellipsis;
  white-space: normal;
}
.checkbox input[type=checkbox]:after {
  position: absolute;
  top: 50%;
  left: 3px;
  content: "";
  width: 0;
  height: 0;
  transition: height 20ms,width 30ms 20ms;
  transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform: rotateZ(-45);
  -ms-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -webkit-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
}
.modal-body {
  padding: 15px;
}
.areas-body .area-item .citys .checkbox {
  float: left;
  min-width: 108px;
}
.checkbox input[type=checkbox]:checked:after {
  top: 50%;
  left: 3px;
  width: 10px;
  height: 6px;
  border-left: 2px solid #4b0;
  border-bottom: 2px solid #4b0;
}
.checkbox input[type=checkbox]:hover:before {
  border-color: #999;
}
.checkbox input[type=checkbox]:before {
  left: 0;
  width: 16px;
  height: 16px;
  margin-top: -9px;
  background-color: #FFF;
  border: 1px solid #bdc3c7;
  box-sizing: border-box;
  border-radius: 3px;
}
.checkbox input[type=checkbox]:checked:hover:after {
  border-color: #4b0;
}
.checkbox input[type=checkbox]:checked:after {
  top: 50%;
  left: 3px;
  width: 10px;
  height: 6px;
  border-left: 2px solid #4b0;
  border-bottom: 2px solid #4b0;
}
input[type=checkbox]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.fa-plus:before {
  content: "\f067";
}
.fa-download:before {
  content: "\f019";
}
.fixed-table-loading { display: none;}
.nowrap { white-space: nowrap;}
.text-center { text-align: center;}
.text-right { text-align: right;}
.orange { color:#f37800;}
.pb10 { padding-bottom:10px;}
.mb0 {
  margin-bottom: 0;
}
.form-horizontal .form-group {
  margin-right: -15px;
  margin-left: -15px;
}
.form-horizontal .control-label {
  padding-top: 7px;
  margin-bottom: 0;
  text-align: right;
}
.page-title {
  font-size: 14px;
}
.col-sm-3 {
  width: 25%;
  float: left;
}
.col-sm-9 {
  width: 75%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.file-select-button {
  position: relative;
}
.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}
.file-select-button a {
  color: #07d;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  padding:0;
}
.inner-header {
  margin-bottom: 15px;
  padding-top:20px;
  height: 58px;
  border-bottom: 1px solid #eee;
}
.inner-header {
  position: relative;
}
.inner-header .page-title {
  display: inline-block;
  font-weight: 400;
  line-height: 32px;
  font-size: 14px;
  margin: 0 15px 0 0;
  padding:0 0 0 15px;
  font-family: "microsoft yahei";
}
.inner-header .page-title i {
  margin-right: 5px;
  color: #f60;
}
.bg-white { background-color:white;}
.pt20 { padding-top:20px; }
.pr20 { padding-right:20px; }
.pb20 { padding-bottom:20px; }
.pl20 { padding-left:20px;}
.ump-wraper .phone-model {
  float: left;
}
.ump-wraper .promote-card {
  height: 140px;
  background: #55bd47;
  padding: 10px;
  position: relative;
  text-align: center;
  color: #fff;
  font-family: "microsoft yahei";
}
.ump-wraper .promote-card .logo {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #fff;
}
.ump-wraper .promote-card .logo img {
  width: 100%;
  height: 100%;
}
.ump-wraper .promote-card .companyName {
  position: absolute;
  top: 20px;
  left: 60px;
  font-size: 16px;
}
.ump-wraper .promote-card .promote-tit {
  font-size: 16px;
  margin-top: 5px;
}
.ump-wraper .promote-card .promote-condition {
  margin-top: 10px;
  color: rgba(255,255,255,.8);
  font-size: 14px;
}
.ump-wraper .promote-card .promote-date {
  margin-top: 5px;
  color: rgba(255,255,255,.6);
  font-size: 12px;
}
.ump-wraper .phone-model .wp-config {
  min-height: 468px;
}
.ump-wraper .dot {
  background: url(../img/coupon_bg.png) 0 100%/6.5% 60% repeat-x #55bd47;
  height: 10px;
}
.ump-wraper .promote-desc {
  background: #fff;
  border-bottom: 1px #ddd solid;
  padding: 10px;
  color: #666;
  font-size: 1.2rem;
}
.ump-wraper .promote-desc p {
  margin: 0;
}
.app-sidebar {
  position: relative;
  margin-left: 360px;
  margin-right: 10px;
  font-family: "microsoft yahei";
}
.app-sidebar .arrow, .app-sidebar .arrow:after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 10px 8px 0;
  border-color: transparent #d1d1d1 transparent transparent;
  position: absolute;
  left: -10px;
  top: 19px;
}
.app-sidebar .arrow:after {
  content: "";
  border-right-color: #fbfbfb;
  left: 1px;
  top: -8px;
}
.app-sidebar .app-sidebar-inner {
  overflow: hidden;
  padding: 12px 10px;
  min-height: 54px;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
}
.widget-mod {
  margin-bottom: 20px;
}
.radio.inline {
  display: inline-block;
  margin: 0 8px 0 0;
}
.radio label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: 400;
  cursor: pointer;
}
.radio label {
  padding: 0 20px 0 0;
  white-space: nowrap;
}
.radio input[type=radio]:before {
  left: -2px;
  width: 18px;
  height: 18px;
  margin-top: -9px;
  background-color: #FFF;
  border-radius: 10px;
  border: 1px solid #bdc3c7;
  box-sizing: border-box;
}
.radio input[type=radio]:disabled:before {
  border-color: #eee;
}
.radio input[type=radio]:after {
  left: 10px;
  width: 0;
  height: 0;
  margin-top: 1px;
  background-color: #4b0;
  border-radius: 5px;
  transition: all .1s;
}
.radio input[type=radio]:checked:after {
  top: 50%;
  left: 2px;
  width: 10px;
  height: 10px;
  margin-top: -5px;
}
.form-actions {
  padding: 10px;
  margin-top: 20px;
  background-color: #f9f9f9;
  border-top: 1px solid rgba(153,153,153,.2);
}
.selffetch-area {
  padding: 15px;
  background: #f9f9f9;
  border: 1px solid #e9e9e9;
  margin-bottom: 20px;
}
.selffetch-area>h3 {
  font-size: 14px;
  font-weight: 700;
  margin: 0 0 6px;
}
.selffetch-area>p {
  margin: 0;
  color: #8d8d8d;
}
.well-lg {
  padding: 24px;
  border-radius: 6px;
}
.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
.form-horizontal .form-group {
  margin-right: -15px;
  margin-left: -15px;
}
.form-horizontal .control-label {
  padding-top: 7px;
  margin-bottom: 0;
  text-align: right;
}
.table-bordered {
  border: 1px solid #ddd;
}
.table-condensed>thead>tr>th,
.table-condensed>thead>tr>td {
  padding: 5px;
}
.w90 { width: 90px; }
.list-filter-form {
  border: 1px solid #f2f2f2;
  margin-bottom: 15px;
  padding: 15px 15px 0;
}
.list-filter-form .form-group {
  width: 25%;
  padding-right: 15px;
  float: left;
}
.list-filter-form .form-group .control-label {
  width: 90px;
  padding-top: 5px;
  text-align: left;
  float: left;
}
.list-filter-form .form-group .controls {
  margin-left: 90px;
}
.list-filter-form .form-group .controls .form-control {
  padding: 4px 6px;
  font-size: 12px;
  border-radius: 2px;
  box-shadow: none;
  line-height: 1.5;
  display: block;
  width: 100%;
  color: #555;
  background-color: #fff;
  background-image: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-horizontal fieldset.contain {
  padding: 0 16px 0 24px;
  border: 1px solid silver;
  border-radius: 2px;
  margin: 16px auto;
  width: 95%;
  -webkit-box-shadow: -3px 5px 5px #eee;
  -moz-box-shadow: -3px 5px 5px #eee;
  box-shadow: -3px 5px 5px #eee;
}
.form-horizontal fieldset.contain {
  width: 86%;
}
.form-horizontal fieldset.contain legend {
  width: auto;
  border-bottom: 0;
  font-size: 16px;
  padding: 8px;
}
.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}
.font14 { font-size:14px; }
.commission-map .user {
  float: left;
  padding: 10px;
  border: 1px solid #ccc;
}
.commission-map .user.buyer {
  margin-top: 16px;
}
.commission-map .direction {
  float: left;
  position: relative;
  padding: 0 10px;
  text-align: center;
}
.commission-map .direction span {
  position: absolute;
  left: -4px;
  top: 16px;
  text-align: center;
  width: 100%;
}
.fa-long-arrow-right { background: url(../img/jiantou.jpg) 0 0 no-repeat; width:58px; height:7px; display: block;}
.commission-map .user {
  float: left;
  padding: 10px;
  border: 1px solid #ccc;
}
.commission-map .user .input-group {
  width: 100px;
}
.commission-map .direction i {
  font-size: 60px;
  line-height: 72px;
  color: #a3a3a3;
  margin-top:50px;
}
.menu-list, .menu-list>.left-menu>.menu-head {
  position: relative;
}
.menu-list {
  width: 100%;
  border: 1px solid #eee;
}
.menu-list>.left-menu {
  float: left;
  width: 168px;
  padding-bottom: 90px;
  z-index: 2;
}
.menu-list>.left-menu>.menu-head h3 {
  line-height: 14px;
  margin: 0;
  padding: 15px 10px;
  font-size: 14px;
  font-weight: 300;
  border-bottom: 1px solid #eee;
}
.menu-list>.left-menu>.menu-head>.more {
  position: absolute;
  top: 50%;
  right: 10px;
  height: 24px;
  margin-top: -12px;
}
.menu-list>.right-main {
  margin: 0 0 0 20px;
  background-color: #fff;
  overflow: hidden;
}
.menu-list>.right-main, ul.list-tree>li {
  position: relative;
  border-left: 1px solid #eee;
}
.ng-hide { display: none; }
.menu-list>.left-menu>ul.item-list>li:last-child, .menu-list>.left-menu>ul.item-list>li:last-child>a {
  border-bottom-width: 0;
}
.menu-list>.left-menu>ul.item-list>li {
  position: relative;
  height: 48px;
}
.menu-list>.left-menu>ul.item-list>li>a {
  display: block;
  position: relative;
  padding: 15px 10px;
  color: #333;
  cursor: pointer;
}
.menu-list>.right-main {
  margin: 0 0 0 20px;
  background-color: #fff;
  overflow: hidden;
}
.menu-list>.right-main, ul.list-tree>li {
  position: relative;
  border-left: 1px solid #eee;
}
.menu-list>.right-main .role-header {
  margin-bottom: 15px;
  padding: 7px 10px;
  border-bottom: 1px solid #eee;
}
.list-tr {
  position: relative;
  margin-left: 20px;
  padding: 10px 0;
  line-height: 2;
}
ul.list-tree>li {
  padding: 6px 0;
}
.menu-list>.right-main, ul.list-tree>li {
  position: relative;
  border-left: 1px solid #eee;
}
ul.list-tree>li>.level-2 {
  margin-left: 50px;
  clear: both;
}
ul.list-tree>li>.level-3 {
  margin-left: 100px;
}
ul.list-tree>li>.level-4 {
  margin-left: 150px;
}
.menu-list>.left-menu>ul.item-list>li.active, .menu-list>.left-menu>ul.item-list>li>a:hover {
  background-color: #f0f0f0;
}
.menu-list>.left-menu>ul.item-list>li>a {
  display: block;
  position: relative;
  padding: 15px 10px;
  color: #333;
  cursor: pointer;
}
.menu-list>.left-menu>ul.item-list>li {
  position: relative;
  height: 48px;
}









.datatable-header-custome{
  border-bottom-width: 0px !important;
  padding-top: 0px !important;
}

.col-icon-font{
  font-size: 3px !important;
  color: #07d !important;
}

a, a:focus, a:hover {
  color: #07d;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
}

.dropzone .dz-preview .dz-image img{
  width: 150px;
  height: 150px;
}


.goods-image {
  width: 60px;
  height: 60px;
  vertical-align: middle;
  border: 1px solid #F4F2F2;
  padding: 1px;
  background-color: #fff;
}

 .select2-results .select2-results__options .addcate {
  color: #f64f50;
  display: list-item;
  cursor: pointer;
}

.select2-container .select2-results__options li {
  margin: 0;
  height: 40px;
  line-height: 40px;
  text-align: center;
  word-wrap: break-word;
  -webkit-touch-callout: none;
}

.select2-results .select2-results__options .addcate-editbox {
  cursor: pointer;
  margin: 0;
  padding: 2px 10px 4px 10px;
  border-radius: 2px;
  background-color: #fbfbfb;
  color: #FFF;
}

.select2-results .select2-results__options .addcate-editbox input {
  display: inline-block;
  width: 93px;
  height: 30px;
  border: 1px solid #ddd;
  color: #000;
  background-color: #fbfbfb;
  vertical-align: baseline;
  margin-right: 5px;
}

.select2-results .select2-results__options .addcate-editbox button {
  margin: 0 3px;
  background-color: #2196F3;
  border-color: #2196F3;
  border-radius: 4px;
  vertical-align:middle;
  color: #fff;
  height:35px;
  width:60px;
}

.select2-results .select2-results__options .addcate-editbox button.nobtn {
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}