

.clearfix {
  zoom: 1;
}

.content .forgot-part{
  display: none;
}

.tip-info {
  font-family: '黑体', '宋体';
  font-size: 14px;

  padding-top: 28px;

  text-align: center;

  color: #555;
}

.tip-info .tip-doing {
  text-decoration: none;
}
