<!DOCTYPE html>
<html>
<head>
    <!-- <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/> -->
</head>
<body>
    <div th:fragment="footer">
        &copy; 2015 Footer
    </div>
</body>
</html>

