<!DOCTYPE html>
<html data-layout-decorator="/layout/mainPage">
<head>
    <meta charset="utf-8" />
    <title>收货地址</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="stylesheet" type="text/css" href="../css/b2b.css" data-th-href="@{/_resources/css/b2b.css?t=201510281041}" />
    <style>
        #province, #city, #district {
            flex: 1;
            height: 52px;
            padding: 0;
            margin: 0;
            border: none;
            outline: none;
            text-align: center;
        }
        .selectZone {
            opacity: 0.5;
            /*font-size: 18px;*/
            color: #ABB19F;
            text-align: center;
        }
    </style>
    <script data-th-inline="javascript">
        /*<![CDATA[*/
        window.isFromApp = [[${applicationEnv.get('isFromApp')}]]
        if(window.isFromApp) {
            prompt('NOHEAD');
        }

        /*]]>*/
    </script>
</head>
<body>

<div data-layout-fragment="content" >
    <div class="wraper" id="address-list">
        <header class="app-header flex-space-between" id="to-per-center">
            <a onclick="back(this)" class="head-go-back"></a>
            <span class="head-title">收货地址</span>
            <a href="#"></a>
        </header>
        <div class="col-wrap-container">
            <div class="me-address-info" data-th-each="address, iterStat : ${addresses}">
                <div class="me-address-des">
                    <i data-th-text="${address.consignee}">董松洁的店</i>
                    <em data-th-text="${address.details}">湖北省武汉市以下省略以下省略以下省略湖北省武汉市以下省略以下省略以下省略</em>
                </div>
                <a data-th-href="'#edit/' + ${address.id}" class="me-address-bg"  data-th-attr="address-id=${address.id}"></a>
                <div data-th-checked="${address.isDefault}" data-th-text="${address.phone}" style="display:none"></div>
            </div>
            <a href="#new" class="me-new-address">
                新增地址
            </a>
        </div>
    </div>

    <div class="wraper" id="address-details" style="display: none">
        
    </div>
    <div class="mask">
        
    </div>
</div>
<!-- <a data-th-if="applicationEnv.get('isFromWechat') == true and user.shopId == null}"  -->
<div data-layout-fragment="postScript">
    <script type="text/javascript" data-th-src="@{/_resources/js/appframework.js}"></script>
    <script type="text/javascript" data-th-src="@{/_resources/js/vd_base.js?t=20150616}"></script>
    <script type="text/javascript" data-th-src="@{/_resources/js/page/imgsize.js?t=201603301701}"></script>
    <script type="text/javascript" data-th-src="@{/_resources/js/jquery-1.11.1.min.js}" ></script>
    <script type="text/javascript" data-th-src="@{/_resources/dist/scripts/plugins.js?t=20160120}"></script>
    <script type="text/javascript" data-th-src="@{/_resources/js/page/userOrder.js?t=20160405}"></script>
    <!-- <script src="http://cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script> -->
    <script data-th-inline="javascript">
        /*<![CDATA[*/
        var temple ={
            details : [
                    '<header class="app-header flex-space-between">',
                    '<a onclick="back(this)" class="head-go-back"></a>',
                    '<span class="head-title">修改地址</span>',
                    '<a id="head-save" class="head-save">保存</a>',
                    '</header>',

                    '<div class="new-address-container">',
                    '<div class="new-address-item">',
                    '<i>收货人</i>',
                    '<input type="text" placeholder="名字" id="consignee" class="new-address-consignee" value="{{consignee}}">',
                    '</div>',

                    '<div class="new-address-item">',
                    '<i>手机号码</i>',
                    '<input type="text" placeholder="11位手机号码" id="phone" class="new-address-consignee" value="{{phone}}">',
                    '</div>',

                    '<div class="new-address-item">',
                    '<i>选择地区</i>',
                    '<select class="selectZone flex-center" id="province" name="province">',
                    '<option value="0">--省份--</option>',
                    '</select>',
                    '<select class="selectZone flex-center" id="city" name="city">',
                    '<option value="0">--城市--</option>',
                    '</select>',
                    '<select class="selectZone flex-center" id="district" name="district">',
                    '<option value="0">--地区--</option>',
                    '</select>',



                    '</div>',
                    '<div class="new-address-textarea">',
                    '<i>详细地址</i>',
                    '<textarea type="text" placeholder="街道门牌信息" id="street" class="new-address-consignee" >{{street}}</textarea>',
                    '</div>',
                    '<div class="new-address-item">',
                    '<i>邮政编码</i>',
                    '<input type="text" placeholder="邮政编码" id="certificateId" class="new-address-consignee" value="{{zipcode}}">',
                    '</div>',
                    '</div>',].join(''),
        }
        function back(target) {
            if(location.hash === '' && window.isFromApp) {
                prompt('NEEDHEAD');
            }
            history.back();
        }
        function saving () {
            if( utils.checkData() ) {
                $.ajax({
                    url: 'http://' + window.location.host + '/v2/address/save',
                    method: 'POST',
                    data: {
                        consignee: document.getElementById('consignee').value,
                        phone: document.getElementById('phone').value,
                        zoneId: document.getElementById('district').value,
                        street: document.getElementById('street').value,
                        certificateId: document.getElementById('certificateId').value,
                        isDefault: 0
                    },
                    success: function (data) {
                        console.log(data);
                        back();
                        // history.go(0);
                        // location = './myAddress';
                    },
                    error: function (err) {
                        console.log('error ' )
                    }
                })
            }
        }
        function update () {
            if( utils.checkData() ) {
                $.ajax({
                    url: 'http://' + window.location.host + '/v2/address/' + location.hash.split('#edit/')[1] +'/update',
                    method: 'POST',
                    data: {
                        consignee: document.getElementById('consignee').value,
                        phone: document.getElementById('phone').value,
                        zoneId: document.getElementById('district').value,
                        street: document.getElementById('street').value,
                        certificateId: document.getElementById('certificateId').value,
                        isDefault: 0
                    },
                    success: function (data) {
                        back();
                        // history.go(0);
                        console.log(data);
                        // location = './myAddress';
                    },
                    error: function (err) {
                        console.log('error ' )
                    }
                })
            }
        }

        var showView ={
            showEmptyDetails: function () {
                $("#address-list").hide();
                document.getElementById('address-details').innerHTML = temple.details.split(/\{\{[^\}\}]*\}\}/).join('');
                document.getElementById('head-save').onclick = saving;
                utils.initZones()
                $("#address-details").show();
            },
            showEditDetails: function () {
                $.ajax({
                    url: 'http://' + window.location.host + '/v2/address/' + location.hash.split('#edit/')[1],
                    method: 'POST',
                    success: function(data) {
                        console.log(data);
                        renderingData(data);
                    },
                    error: function (err) {
                        console.log('error ' )
                    }
                });
                function renderingData (data) {
                    if(data.errorCode === 200 && data.data) {
                        var tmp = temple.details;
                        for(var key in data.data) {
                            if(tmp.match('{{' + key + '}}')) {
                                console.log(key);
                                if(data.data[key]) {
                                    tmp = tmp.replace('{{' + key + '}}', data.data[key]);
                                } else tmp = tmp.replace('{{' + key + '}}', '');
                            }
                        }

                        $("#address-list").hide();
                        document.getElementById('address-details').innerHTML = tmp;
                        var zones = data.data.zones;
                        $('#province').html('<option value="' + zones[1].id + '">' + zones[1].name + '</option>')
                        $('#city').html('<option value="' + zones[2].id + '">' + zones[2].name + '</option>')
                        $('#district').html('<option value="' + zones[3].id + '">' + zones[3].name + '</option>')
                        utils.initEditZones(zones[1].id, zones[2].id, zones[3].id);
                        document.getElementById('head-save').onclick = update;

                        $("#address-details").show();
                    } else console.log('数据格式错误');
                }
            },
            showAddrList: function () {
                $("#address-details").hide();
                $("#address-list").show();
                $.ajax({
                    url: 'http://' + window.location.host + '/v2/address/list' ,
                    method: 'POST',
                    success: function(data) {
                        if(data.errorCode === 200 && data.data) {
                            var frag = '';
                            var list = [
                                '<div class="me-address-info">',
                                '<div class="me-address-des">',
                                '<i>{{consignee}}</i>',
                                '<em>{{details}}</em>',
                                '</div>',
                                '<a class="me-address-bg" address-id="{{id}}" href="#edit/{{id}}"></a>',
                                '<div style="display:none">{{phone}}</div>',
                                '</div>'
                            ].join('');
                            data.data.forEach(function(value){
                                frag = frag + list.replace(/{{[^}}]*}}/g, function(str){
                                    var key = str.split('{{')[1].split('}}')[0];
                                    if(value[key]) {
                                        return value[key]
                                    } else return ''
                                })
                            });
                            frag = frag + '<a href="#new" class="me-new-address">新增地址</a>';
                            document.getElementsByClassName('col-wrap-container')[0].innerHTML = frag;
                        }

                        console.log(data);
                        // renderingData(data);
                    },
                    error: function (err) {
                        console.log('error ' )
                    }
                });

            }
        };
        var utils = (function ($) {
            document.addEventListener('DOMContentLoaded', function () {
                var referrer = document.referrer;
                window.onhashchange = hashChanged;
                hashChanged();
            });
            function hashChanged (event) {
                var viewPath = ( location.hash.match(/#\w*/) && location.hash.match(/#\w*/)[0] ) || '';
                console.log(viewPath);
                switch (viewPath) {
                    case '#new': {
                        showView.showEmptyDetails();
                        break;
                    }
                    case '#edit': {
                        showView.showEditDetails();
                        break;
                    }
                    case '': {
                        showView.showAddrList();
                        break;
                    }
                }
            }
            function buildChildrenZone (zoneId, insertDom, firstOption, callback) {
                $.ajax({
                    url: 'http://' + window.location.host + '/v2/zone/' + zoneId + '/children' ,
                        method: 'POST',
                        success: function(data) {
                            if(data.data && data.errorCode) {
                                var frag = '<option value="' + 0 + '">' + firstOption + '</option>';
                                data.data.forEach(function(value) {
                                    frag = frag + '<option value="' + value.id + '">' + value.name + '</option>';
                                });
                                insertDom.innerHTML = frag;
                                if(callback) {
                                    callback();
                                }
                            } else console.log(data.error);
                        },
                        error: function (err) {
                            console.log('error ' )
                        }
                })
            }
            function initZones () {
                buildChildrenZone(1, document.getElementById('province'), '选择省份');
                $('#province').on('change', function () {
                    buildChildrenZone(this.value, document.getElementById('city'), '选择市');
                });
                $('#city').on('change', function () {
                    buildChildrenZone(this.value, document.getElementById('district'), '选择县区');
                });
            }
            function initEditZones (provinceId, cityId, districtId) {
                buildChildrenZone(1, document.getElementById('province'), '选择省份', function(){
                    document.getElementById('province').value = provinceId;
                    $('#province').on('change', function () {
                        buildChildrenZone(this.value, document.getElementById('city'), '选择市');
                    });
                });
                buildChildrenZone(provinceId, document.getElementById('city'), '选择市', function(){
                    document.getElementById('city').value = cityId;
                    $('#city').on('change', function () {
                        buildChildrenZone(this.value, document.getElementById('district'), '选择县区');
                    });
                });
                buildChildrenZone(cityId, document.getElementById('district'), '选择县区', function(){
                    document.getElementById('district').value = districtId;
                });
            }
            function checkData (){
                var regu =/^[1][3-8][0-9]{9}$/;
                var regIdCard=/^(^[1-9]\d{7}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}$)|(^[1-9]\d{5}[1-9]\d{3}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])((\d{4})|\d{3}[Xx])$)$/;
                var re = new RegExp(regu);
                var rc = new RegExp(regIdCard);

                if ($('#consignee').val() == '') {
                    utils.popInfoTip('收货人姓名不能为空', 800);
                    return false;
                }
                if (!re.test($("#phone").val())) {
                    utils.popInfoTip('请输入正确的手机号码!', 800);
                    return false;
                }
                if ($('#phone').val() == '') {
                    utils.popInfoTip('手机号码不能为空', 800);
                    return false;
                }
                if ($('#province').val() == '0') {
                    utils.popInfoTip('省份不能为空', 800);
                    return false;
                }
                if ($('#city').find('option').length > 1 && $('#city').val() == '0') {
                    utils.popInfoTip('市不能为空', 800);
                    return false;
                }
                if ($('#district').find('option').length > 1 && $('#district').val() == '0') {
                    utils.popInfoTip('地区不能为空', 800);
                    return false;
                }
                if ($('#street').val() == '') {
                    utils.popInfoTip('街道地址不能为空', 800);
                    return false;
                }
                return true
            }
            function popInfoTip (title, t) {
                var options = {
                    'animation': true,
                    'container': 'body',
                    'template':'<div class="popover" role="tooltip"><div class="popover-content"></div></div>',
                    'content': function () {
                        return '<div class="self-pop-wrap" style="width:' + innerWidth +'px;height:' + innerHeight + 'px">' +
                        '<div class="self-pop-info">' + (title ? title : '') +'</div></div>'
                    },
                    'html': true,
                    'viewport': {selector: 'body',padding:0}
                }
                $('body').popover(options);
                $('body').popover('show');
                setTimeout(function () {
                    $('body').popover('destroy')
                }, t);
            }
            return {
                buildChildrenZone: buildChildrenZone,
                initZones: initZones,
                initEditZones: initEditZones,
                checkData: checkData,
                popInfoTip: popInfoTip
            }
        })(jQuery)
        
        /*]]>*/
    </script>
</div>
</body>
</html>