<head>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <style type="text/css">
        img{
            max-width: 100% !important;
            width: 100%!important;
            height: auto;
        }
    </style>
</head>
