<div class="catalog">
	<div class="cataLists clearfix">
		<a href="javascript:;" class="cataItem active">女装(<span>324</span>)</a>	
		<a href="javascript:;" class="cataItem">女装(<span>324</span>)</a>
		<a href="javascript:;" class="cataItem">女装(<span>324</span>)</a>
		<a href="javascript:;" class="cataItem">女装(<span>324</span>)</a>
		<a href="javascript:;" class="cataItem">女装(<span>324</span>)</a>
		<span class="kkkd addCatalog">&#xe610;</span>
	</div>

    <div class="proList column5">
    	<div class="thead clearfix">
    		<div class="thead-info f-fl">
    			<span class="cataName">女装</span>
    			共有<span class="cataNum">324</span>件商品
    		</div>
    		<div class="thead-op f-fr">
    			<a href="#" class="u-btn u-btn-gray">添加商品</a>
    			<a href="#" class="u-btn u-btn-gray">修改类别名称</a>
    			<a href="#" class="u-btn u-btn-gray">删除类别</a>
    		</div>
    	</div>
        <table class="list" width="100%">
            <tbody>
                <tr>
                    <td class="col1">
                        <input type="checkbox" class="icheck i-input" name="c1"  />
                        <a href="#" target="_blank"><img src="http://placehold.it/75x75" alt="" class="pro-img" /></a>
                        <p class="pro-text">肩部有蕾丝刺绣，非常精美。亲肤感极为舒适。上身也非常显档次。 这款真的非常精美，值得拥有。白色略透噢</p>
                    </td>
                    <td class="col2">
                        <p class="gray pro-title">销量</p>
                        <span>5185988</span>
                    </td>
                    <td class="col3">
                        <p class="gray pro-title">库存</p>
                        <span>5185988</span>
                    </td>
                    <td class="col4">
                        <p class="gray pro-title">单价</p>
                        <span>598.0</span>
                    </td>
                    <td class="col5">
                        <a href="javascript:;">移出</a> 
                    </td>
                </tr>
                <tr>
                    <td class="col1">
                        <input type="checkbox" class="icheck i-input" name="c1"  />
                        <a href="#" target="_blank"><img src="http://placehold.it/75x75" alt="" class="pro-img" /></a>
                        <p class="pro-text">肩部有蕾丝刺绣，非常精美。亲肤感极为舒适。上身也非常显档次。 这款真的非常精美，值得拥有。白色略透噢</p>
                    </td>
                    <td class="col2">
                        <p class="gray pro-title">销量</p>
                        <span>5185988</span>
                    </td>
                    <td class="col3">
                        <p class="gray pro-title">库存</p>
                        <span>5185988</span>
                    </td>
                    <td class="col4">
                        <p class="gray pro-title">单价</p>
                        <span>598.0</span>
                    </td>
                    <td class="col5">
                        <a href="javascript:;">移出</a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">
                        <div class="tfoot">
                            <label><input type="checkbox" class="icheck i-input checkAll" group="c1" />全选</label>
                            <a href="#" class="u-btn u-btn-gray">批量移出</a>
                            <div class="pagination" targetType="navTab" totalCount="200" numPerPage="20" pageNumShown="10"
currentPage="1"></div>
                        </div>
                    </td>
                </tr>
            </tfoot>
            
        </table>
    </div>
</div>