<div id="describeAdd" class="describeAdd prodetailbox" >
    <h5>段落设置</h5>
    <!--<form method="post" action="" class="pageForm required-validate" onsubmit="return validateCallback(this)">-->
        <ul class="pageFormContent">
            <li><label class="textlabel" for="paraName">段落名称：</label>
                <input id="describeName" type="text" name="paraName" class="required setinput textInput valid" placeholder="请输入商品名称"  id="email_2969">
                <!--<label class="alt" for="paraName" style="width: 145px; top: 5px; left: 130px; opacity: 1;">请输入商品名称</label>-->
            </li>
            <li><label class="textlabel" for="paraInfor">段落描述：</label>
                <textarea id="describeText" name="paraInfor" class="required textInput" name="announcement" size="300"></textarea>
                <!--<label class="alt" for="paraInfor" style="width: 145px; top: 5px; left: 130px; opacity: 1;">请输入您的电话</label>-->
            </li>
            <li>
                <label class="textlabel" for="paraImg">段落图片：</label>
                <input id="uploadify2" type="file" name="file[0]"
                       uploaderOption="{
                                    swf:'resources/uploadify/scripts/uploadify.swf',
                                    uploader:'/v2/_f/u',
                                    formData:{belong:'PRODUCT'},
                                    <!--scriptData='{belong:PRODUCT}',-->
                                    buttonText:'+',
                                    height:'80px',
                                    width:'80px',
                                    fileSizeLimit:'20MB',
                                    fileTypeDesc:'*.jpg;*.jpeg;*.gif;*.png;',
                                    fileTypeExts:'*.jpg;*.jpeg;*.gif;*.png;',
                                    auto:true,
                                    multi:true,
                                    <!--fileQueue:true,-->
                                    'onUploadSuccess' :function(file, data, response){
                                        alert(data);
                                    }
                                }"
                        />
            </li>
            <li>
                <label class="textlabel" for="paraPublish">发布设置：</label>
                <span><input type="radio" checked="checked"  name="paraPlace" class="input-radio"><label class="mr20">描述内容在图片前显示</label></span>
                <span><input type="radio" name="paraPlace" class="input-radio"><label>描述内容在图片后显示</label></span>
            </li>
        </ul>
        <div class="formBar clearfix">
            <div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div>
            <div class="button"><div class="buttonContent"><button type="Button" class="close">取消</button></div></div>
        </div>
    <!--</form>-->
</div>