<div id="describeList" class="describeList prodetailbox" >
    <h5>段落描述列表</h5>
    
    <div class="tab-area">
        <div class="tab-list">
             <table class="list" >
                <tbody>
                    <!--
                    <tr class="bdb">
                        <td class="col1">
                            <input type="checkbox" class="icheck i-input" name="productId" value="1" />
                            <a href="#" target="_blank"><img src="http://placehold.it/75x75" alt="" class="pro-img64" />
                            </a>
                            <p class="pro-text">不规则条纹设计，非常个性化的衬衫</p>
                        </td>
                        <td class="col2">
                            不规则条纹设计，非常个性化的衬衫，版型宽松，休闲自然，很值得拥有肩部有蕾丝刺绣，非常精美。亲肤感极为舒适。上身也非常显档次。 这款真的非常精美，值得拥有。白色略透噢
                        </td>
                    </tr>
                -->
                </tbody>
            </table>
        </div>
    </div>
    <div class="formBar clearfix">
        <div class="buttonActive"><div class="buttonContent"><button id="buttonSave" type="submit">保存</button></div></div>
        <div class="button"><div class="buttonContent"><button type="Button" class="close">取消</button></div></div>
    </div>
</div>
<script type="text/template" class="tpl-fragment">
    <tr class="bdb" data-showModel="{{=it.showModel}}" data-id="{{=it.id}}">
        <td class="col1">
            <input type="checkbox" class="icheck i-input" name="productId" value="{{=it.id}}" />
            {{? it.imgs.length }}
                <img src="{{=it.src}}" keys="{{=it.keys}}" srcs="{{=it.imgs}}" class="pro-img64" />
            {{??}}
                <img src="resources/images/dot.png" keys="" srcs="" class="pro-img64" />
            {{?}}
            <p class="pro-text">{{=it.name}}</p>
        </td>
        <td class="col2 pro-desc">
            {{=it.description}}
        </td>
    </tr>
</script>
<script src="./resources/js/descList.js" type="text/javascript"></script>