<div class="kdmove">
	<h5>
		淘宝搬家
	</h5>
	<div class="statusbox">
		<div class="kdmove_line_bg"></div>
		<div class="kdmove_line_now"></div>
		<div class="kdmove_step fr kdmove_step_3">3</div>
		<div class="kdmove_step fl status kdmove_step_1">1</div>
		<div class="kdmove_step kdmove_step_2">2</div>
	</div>
	<ul class="kdmove_title">
		<li class="fr">开始搬家</li>
		<li class="fl">生成序列号</li>
		<li>确认店铺</li>
	</ul>
	<div class="horizon"></div>
	<div class="status1">
		<div class="status_header">
			<label>搬家验证码</label>
			<input class="setinput" readonly="true" name="identifying" type="text" size="30" />
			<button type="button" class="copycode" data-clipboard-text="">复制验证码</button>
		</div>
		<p>
			请登录淘宝的卖家中心，将验证码加入任意一个商品的标题中，也可以发布一个新的商品，在商品标题中填写该验证码
			<br />
			<br />
			如下图
			<br />
			<em>&#xe612;</em>
			<br />
			<img src="resources/images/kdmove1.jpg" alt="淘宝搬家第一步" title="淘宝搬家第一步" />
			<button type="button" class="nextstep tonextstep">下一步</button>
		</p>
	</div>
	<div class="status2 none">
		<div class="status_header">
			<label>输入已添加验证码的商品ID</label>
			<input class="setinput inputid" name="identifying" placeholder="请输入" type="text" size="30" />
		</div>
		<p>
			打开你输入验证码后的宝贝链接，在地址栏中复制宝贝的ID信息，输入后进行验证
			<br />
			如下图
			<br />
			<em>&#xe612;</em>
			<br />
			<img src="resources/images/kdmove2.jpg" alt="淘宝搬家第二步" title="淘宝搬家第二步" />
			<button type="button" class="nextstep testcode">验证</button>
		</p>
	</div>
	<div class="status3 none">
		<p class="step31">
			<img src="resources/images/kdmove3.png" alt="淘宝搬家第三步" title="淘宝搬家第三步" />
			<br />
			正在搬家中~预计24小时内完成
			<br />
			注：已搬家的商品编辑或删除后，再次搬家不可恢复
		</p>
		<p class="step32">
			<img src="resources/images/kdmove3.png" alt="淘宝搬家第三步" title="淘宝搬家第三步" />
			<br />
			你已经进行过搬家，点击开始搬家将您店铺新商品搬过来
			<br />
			<button type="button" class="nextstep moveagain">开始搬家</button>
		</p>
	</div>

</div>
<script type="text/javascript">
	var KD = KD || {};
	KD.kdmove = {
		init: function(){
            //            关闭页面，删除打标
            $(window).unload(function(){
                $("#kdmovefirst").remove();
            });
				$("body").on("click",".tonextstep",function(){
					$(".status1").addClass("none");
					$(".status2").removeClass("none");
					$(".kdmove_step_2").addClass("status");
					$(".kdmove_line_now").css("width","50%");
				});
				$("body").on("click",".testcode",function(){
					if(!$(".inputid").val()){
						alertMsg.error("请填写ID", {
						okCall: function(){}
						});
						return false;
					};
					$.ajax({
						url: host + '/shop/step2check',
						type: 'POST',
						dataType: 'JSON',
						data:{
							rnd : $('.status1 [name="identifying"]').val(),
							itemId : $(".inputid").val()
						},
						success: function(data){
							if (data.data.statusCode==404) {
								alertMsg.error("验证码已失效，请返回后重新获取！", {
									okCall: function(){
										$('.headerNav a[rel="taobaoMove"]').click;
									}
								});
								return false;
							}else{
								if(data.data.statusCode==200){
									$(".status1").addClass("none");
									$(".status2").addClass("none");
									$(".status3").removeClass("none");
									$(".kdmove_step_3").addClass("status");
									$(".kdmove_line_now").css("width","94%");
									$(".step31").show();
									$(".step32").hide();
								}else{
									if(data.data.statusCode==601){
										alertMsg.error("网络代理异常，请稍后再试！", {
											okCall: function(){
											}
										});
										return false;
									}else{
										alertMsg.error("未找到您的店铺，请确定ID是否正确输入！", {
											okCall: function(){
											}
										});
										return false;
									}
								}
							}
						},
						error: function(){
							console.log(data.msg);
						}
					});
				});
				function isIE() { //ie?  
					if (!!window.ActiveXObject || "ActiveXObject" in window) {
						return true;
					} else{
						return false;
					}
				}
				function setCopyEvent(){
					if(!isIE()){
						ZeroClipboard.config( { moviePath: 'resources/js/third/ZeroClipboard.swf' } );
						var client = new ZeroClipboard($(".copycode"));
						client.on( 'mouseover', function ( client, args ) {
							var tempText = $("[name='identifying']").val();
							$(".copycode").attr("data-clipboard-text",tempText);
							client.setText(tempText);
						});
						client.on('complete',function(client, args){
							alert("复制成功: "+args.text);
						});
					}else{
						$(".copycode").on("click",function(){
							window.clipboardData.setData ("Text", $("[name='identifying']").val());
							alert (window.clipboardData.getData ("Text"));
						})
					}

				};
				setCopyEvent();
				var rNum = Math.random()*100000;

				function getMoveStatus(){
					$.ajax({
						type: 'POST',
						url: host + '/shop/movestart',
						success: function(data) {
							if(data.errorCode === 200){
								if(data.data.rnd){
									$('.status1 [name="identifying"]').val(data.data.rnd);
								};
								if(data.data.shopUrl && $("#kdmovefirst").length!=0){//搬家中
									$(".status2").addClass("none");
									$(".status1").addClass("none");
									$(".status3").removeClass("none");
									$(".kdmove_step_2").addClass("status");
									$(".kdmove_step_3").addClass("status");
									$(".kdmove_line_now").css("width","94%");
									$(".step31").show();
									$(".step32").hide();
									return false;
								}
								if(data.data.shopUrl){//再次搬家
									$(".status2").addClass("none");
									$(".status1").addClass("none");
									$(".status3").removeClass("none");
									$(".kdmove_step_2").addClass("status");
									$(".kdmove_step_3").addClass("status");
									$(".kdmove_line_now").css("width","94%");
									$(".step31").hide();
									$(".step32").show();
									$(".moveagain").on("click",function(){
										$.ajax({
											url: host + '/shop/step5?shopUrl='+data.data.shopUrl,
//											url: 'http://10.8.1.117:8888/shop/step5='+data.data.shopUrl,
											type: 'POST',
											success: function(data){
												if(data.data.shopUrl){
													$(".step31").show();
													$(".step32").hide();
												};
											},
											error: function(data){
												console.log(data.msg);
											}
										});
									});
								}
                                $("document").append("<input id='kdmovefirst' type='hidden'/>");
                            }
						},
						error: function(data) {
							console.log(data.msg);
						}
					})
				};
				getMoveStatus();
			}
		};
	KD.kdmove.init();
</script>