<div class="pro">
    <div class="searchBar">
        <div class="droplist">
            <select class="combox" name="productStatus">
                <option value="onsale">在售商品</option>
                <option value="draft">草稿箱</option>
                <option value="delay">计划发布</option>
                <option value="offsale">已下架</option>
            </select>
        </div>
        <div class="searchWrap f-fr u-input glyphicon">
            <i>&#xe60f;</i>
            <input type="text" placeholder="搜索商品" class="searchTxt"  />
        </div>
    </div>
    <div class="proList column5">
        <div class="thead">
            <span class="col1">商品</span>
            <span class="col2"><em class="j-order-sales asc j-order" data-dir="desc">&#xe613;</em><i>销量</i></span>
            <span class="col3"><em class="j-order-amount asc j-order" data-dir="desc">&#xe613;</em><i>库存</i></span>
            <span class="col4"><em class="j-order-price asc j-order" data-dir="desc">&#xe612;</em><i>价格</i></span>
            <span class="col5">操作</span>
        </div>
        <form id="pagerForm" method="post" onsubmit = "KD.myproduct.submitForm();return false;">
            <input type="hidden" name="pageNum" value="1" />
            <input type="hidden" name="pageSize" value="8" />
            <input type="hidden" name="orderField" value="" />
            <input type="hidden" name="direction" value="" />
            <input type="hidden" name="status"  value="onsale" />
        </form>
        <table class="list" width="100%">
            <tbody>
                
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">
                        <div class="tfoot">
                            <label>
                                <input type="checkbox" class="icheck i-input checkAll" group="productId" />全选</label>
                            <a href="javascript:" class="u-btn u-btn-gray j-downs">批量下架</a>
                            <a href="javascript:" class="u-btn u-btn-gray j-ups none">批量上架</a>
                            <a href="javascript:" class="u-btn u-btn-gray j-setTrans none">设置邮费</a>
                            <div class="pagination" targetType="navTab" totalCount="200" numPerPage="20" pageNumShown="10" currentPage="1"></div>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
        <div class="j-pop setTrans">
            <h3>批量邮费设置</h3>
            <div class="setTrans-main">
                <span class="span1">邮费金额</span>
                <input type="text" class="u-input" placeholder="输入邮费“0”为包邮" /><span class="span2">元</span>
            </div>
            <div class="toolBar">
                <ul>
                    <li><a class="button" href="javascript:;"><span>确定</span></a>
                    </li>
                    <li><a class="button j-pop-close" href="javascript:;"><span>取消</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script type="text/template" class="tpl-proList">
    {{ if(it.data.list){var listS =  it.data.list;}else if( it.data[0] && it.data[0].list ){ var listS = it.data[0].list } else{var listS =  it.data;} }}
    {{? it.type !='delay'}}
        {{~listS:item:index}}
        <tr>
            <td class="col1">
                <input type="checkbox" class="icheck i-input" name="productId" value="{{=item.id}}" />
                <a href="prodetail.html"  data-kdproid="{{=item.id}}" target="dialog" Max="true" mask="true" minable="false" mixable="true" width="100%" height="100%" resizable="false" drawable="false" fresh="true">
                    <img src="{{=item.imgUrl}}" alt="" class="pro-img" />
                </a>
                <p class="pro-text">
                    <a href="prodetail.html"  data-kdproid="{{=item.id}}" title=" " target="dialog" Max="true" mask="true" minable="false" mixable="true" width="100%" height="100%" resizable="false" drawable="false" fresh="true">{{=item.name}}
                        </a>
                </p>
            </td>
            <td class="col2">
                <p class="gray pro-title">销量</p>
                <span>{{=item.sales}}</span>
            </td>
            <td class="col3">
                <p class="gray pro-title">库存</p>
                <span>{{=item.amount}}</span>
            </td>
            <td class="col4">
                <p class="gray pro-title">单价</p>
                <span>{{=item.price}}</span>
            </td>
            <td class="col5">
                {{? item.status == 'ONSALE'}}
                <a class="j-down" href="{{=host}}/product/instock/{{=item.id}}" target="ajaxTodo" title="确定要下架该商品吗?"  data-id="{{=item.id}}" callback="KD.myproduct.down">下架</a>
                {{?? item.status == 'INSTOCK'}}
                    <a class="j-up" href="{{=host}}/product/onsale/{{=item.id}}" target="ajaxTodo" title="确定要上架该商品吗?"  data-id="{{=item.id}}" callback="KD.myproduct.up">上架</a>
                {{?}}
                <a href="javascript:void(0);" data-href="product.html?id={{=item.id}}" target="navTab" rel="addProduct" fresh="true">编辑</a>
            </td>
        </tr>
        {{~}}
    {{??}}
        {{~it.data.list:item:index}}
        <tr>
            <td class="col1">
                <input type="checkbox" class="icheck i-input" name="productId" value="{{=item.list[0].id}}" />
                <a href="prodetail.html"  data-kdproid="{{=item.list[0].id}}" target="dialog" Max="true" mask="true" minable="false" mixable="true" width="100%" height="100%" resizable="false" drawable="false" fresh="true">
                    <img src="{{=item.list[0].imgUrl}}" alt="" class="pro-img" />
                </a>
                <p class="pro-text">
                    <a href="prodetail.html"  data-kdproid="{{=item.list[0].id}}" title=" " target="dialog" Max="true" mask="true" minable="false" mixable="true" width="100%" height="100%" resizable="false" drawable="false" fresh="true">{{=item.list[0].name}}
                        </a>
                </p>
            </td>
            <td class="col2">
                <p class="gray pro-title">发布时间</p>
                <span>
                   {{= moment(item.list[0].forsaleAt).format('MM月DD日 HH:mm')  }} </span>
            </td>
            <td class="col3">
                <p class="gray pro-title">库存</p>
                <span>{{=item.list[0].amount}}</span>
            </td>
            <td class="col4">
                <p class="gray pro-title">单价</p>
                <span>{{=item.list[0].price}}</span>
            </td>
            <td class="col5">
                <a href="javascript:void(0);" data-href="product.html?id={{=item.list[0].id}}" target="navTab" rel="addProduct" fresh="true">编辑</a>
            </td>
        </tr>
        {{~}}
    {{?}}
</script>
<script src="resources/js/myproduct.js" type="text/javascript"></script>

