<div class="orderDetail">
	<div class="breadcrumb">
		当前位置：<a href="orderlist.html" target="navTab" rel="page" fresh="true">订单列表</a> > 订单详情
	</div>
	<!-- 收货人信息 -->
	<div class="recieverInfo g-pannel g-pannel-square">
		<div class="order-title">
			收货人信息
		</div>	
		<div class="reciever clearfix">
			<em class="kkkd f-fl">&#xe601;</em>
			<div class="reciever-main f-fl">
				<h3>
					<span class="name">王小远</span>
					<span class="tel">18324488888</span>
				</h3>
				<p><span>微信号:</span>small_koko</p>
				<p><span>地&emsp;址:</span>浙江省  杭州市  西湖区  天目山路145号玉泉大厦8楼</p>
			</div>
		</div>
	</div>
	<!-- 留言信息 -->
	<div class="msgInfo g-pannel g-pannel-square">
		<div class="order-title">
			留言信息
		</div>
		<p>发货前请认真检查是否存在质量问题，免得后续麻烦，谢谢。</p>
	</div>
	<!-- 商品信息 -->
	<div class="proInfo g-pannel g-pannel-square">
		<div class="order-title">
			商品信息
		</div>
		<table class="list column6">
            <tbody>
                <tr>
                    <td class="col1">
                        <img src="http://placehold.it/75x75" alt="" class="pro-img" />
                            <p class="pro-text">小清新中长款牛仔外套韩版</p>
                    </td>
                    <td class="col2">
                        <p class="gray pro-title">单价</p>
                        <span>￥8658678.0</span>
                    </td>
                    <td class="col3">
                        <p class="gray pro-title">型号</p>
                        <span>M 黑色普通款</span>
                    </td>
                    <td class="col4">
                        <p class="gray pro-title">数量</p>
                        <span>x2</span>
                    </td>
                    <td class="col5" rowspan="2">
                        <p class="gray pro-title">应付款</p>
                        <span>￥158598988.0</span>
                        <p class="gray pro-title">（含运费:￥10）</p>
                    </td>
                    <td class="col6" rowspan="2">
                        <a href="javascript:;" class="u-btn u-btn-gray">发货</a>
                    </td>
                </tr>
                <tr>
                    <td class="col1">
                       <img src="http://placehold.it/75x75" alt="" class="pro-img" />
                            <p class="pro-text">小清新中长款牛仔外套韩版</p>
                    </td>
                    <td class="col2">
                        <p class="gray pro-title">单价</p>
                        <span>￥8658678.0</span>
                    </td>
                    <td class="col3">
                        <p class="gray pro-title">型号</p>
                        <span>M 黑色普通款</span>
                    </td>
                    <td class="col4">
                        <p class="gray pro-title">数量</p>
                        <span>x2</span>
                    </td>
                </tr>
            </tbody>
        </table>
	</div>
	<!-- 订单信息 -->
	<div class="orderInfo g-pannel g-pannel-square">
		<div class="order-title">
			订单信息
		</div>
		<p class="addTime"><span>下单时间:</span>2015-03-16  18:58</p>
		<p><span>付款时间:</span>2015-03-16  19:18</p>
		<p><span>订单编码:</span>XQ9859859891888</p>
		<p class="trans"><span>物流公司:</span>顺丰速递</p>
		<p><span>物流编码:</span>SF9898851891891888</p>
	</div>
</div>