<div class="orderlist">
	<div class="searchBar clearfix g-pannel">
		<div class="stateList f-fl">
            <a href="javascript:;" class="active">全部订单</a>
            <a href="javascript:;">待发货</a>
            <a href="javascript:;">未付款</a>
            <a href="javascript:;">已完成</a>
            <a href="javascript:;">已关闭</a> 
        </div>
        <div class="searchWrap f-fr u-input u-input-search glyphicon">
            <i>&#xe60f;</i>
            <input type="text" placeholder="搜索商品" />
        </div>
	</div>

    <div class="proList  g-pannel g-pannel-square">
        <div class="thead clearfix">
            <div class="addTime f-fl">下单时间：<span>2015-03-12  15:45</span></div>
            <div class="orderNo f-fl">订单号：<span>XQ893374284700012</span></div>
            <div class="reciever f-fl">收货人：<span>哈迪小斯</span></div>
        </div>
        <table class="list column6">
            <tbody>
                <tr>
                    <td class="col1">
                        <a target="navTab" rel="page" fresh="true" href="orderdetail.html"><img src="http://placehold.it/75x75" alt="" class="pro-img" />
                            <p class="pro-text">小清新中长款牛仔外套韩版</p>
                        </a>
                    </td>
                    <td class="col2">
                        <p class="gray pro-title">单价</p>
                        <span>￥8658678.0</span>
                    </td>
                    <td class="col3">
                        <p class="gray pro-title">型号</p>
                        <span>M 黑色普通款</span>
                    </td>
                    <td class="col4">
                        <p class="gray pro-title">数量</p>
                        <span>x2</span>
                    </td>
                    <td class="col5">
                        <p class="gray pro-title">应付款</p>
                        <span>￥158598988.0</span>
                        <p class="gray pro-title">（含运费:￥10）</p>
                    </td>
                    <td class="col6">
                        <a href="javascript:;" class="u-btn u-btn-gray">改价</a>
                        <a href="javascript:;" class="u-btn u-btn-gray">取消订单</a>
                    </td>
                </tr>
                <tr>
                    <td class="col1">
                        <a target="navTab" rel="page" fresh="true" href="orderdetail.html"><img src="http://placehold.it/75x75" alt="" class="pro-img" />
                            <p class="pro-text">小清新中长款牛仔外套韩版</p>
                        </a>
                    </td>
                    <td class="col2">
                        <p class="gray pro-title">单价</p>
                        <span>￥8658678.0</span>
                    </td>
                    <td class="col3">
                        <p class="gray pro-title">型号</p>
                        <span>M 黑色普通款</span>
                    </td>
                    <td class="col4">
                        <p class="gray pro-title">数量</p>
                        <span>x2</span>
                    </td>
                    <td class="col5">
                        <p class="gray pro-title">应付款</p>
                        <span>￥158598988.0</span>
                        <p class="gray pro-title">（含运费:￥10）</p>
                    </td>
                    <td class="col6">
                        <a href="javascript:;" class="u-btn u-btn-gray">改价</a>
                        <a href="javascript:;" class="u-btn u-btn-gray">取消订单</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="proList  g-pannel g-pannel-square">
        <div class="thead clearfix">
            <div class="addTime f-fl">下单时间：<span>2015-03-12  15:45</span></div>
            <div class="orderNo f-fl">订单号：<span>XQ893374284700012</span></div>
            <div class="reciever f-fl">收货人：<span>哈迪小斯</span></div>
        </div>
        <table class="list column6">
            <tbody>
                <tr>
                    <td class="col1">
                        <a target="navTab" rel="page" fresh="true" href="orderdetail.html"><img src="http://placehold.it/75x75" alt="" class="pro-img" />
                            <p class="pro-text">小清新中长款牛仔外套韩版</p>
                        </a>
                    </td>
                    <td class="col2">
                        <p class="gray pro-title">单价</p>
                        <span>￥8658678.0</span>
                    </td>
                    <td class="col3">
                        <p class="gray pro-title">型号</p>
                        <span>M 黑色普通款</span>
                    </td>
                    <td class="col4">
                        <p class="gray pro-title">数量</p>
                        <span>x2</span>
                    </td>
                    <td class="col5" rowspan="2">
                        <p class="gray pro-title">应付款</p>
                        <span>￥158598988.0</span>
                        <p class="gray pro-title">（含运费:￥10）</p>
                    </td>
                    <td class="col6" rowspan="2">
                        <a href="javascript:;" class="u-btn u-btn-gray active">发货</a>
                    </td>
                </tr>
                <tr>
                    <td class="col1">
                        <a target="navTab" rel="page" fresh="true" href="orderdetail.html"><img src="http://placehold.it/75x75" alt="" class="pro-img" />
                            <p class="pro-text">小清新中长款牛仔外套韩版</p>
                        </a>
                    </td>
                    <td class="col2">
                        <p class="gray pro-title">单价</p>
                        <span>￥8658678.0</span>
                    </td>
                    <td class="col3">
                        <p class="gray pro-title">型号</p>
                        <span>M 黑色普通款</span>
                    </td>
                    <td class="col4">
                        <p class="gray pro-title">数量</p>
                        <span>x2</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="proList  g-pannel g-pannel-square">
        <div class="thead clearfix">
            <div class="addTime f-fl">下单时间：<span>2015-03-12  15:45</span></div>
            <div class="orderNo f-fl">订单号：<span>XQ893374284700012</span></div>
            <div class="reciever f-fl">收货人：<span>哈迪小斯</span></div>
        </div>
        <table class="list column6">
            <tbody>
                <tr>
                    <td class="col1">
                        <a target="navTab" rel="page" fresh="true" href="orderdetail.html"><img src="http://placehold.it/75x75" alt="" class="pro-img" />
                            <p class="pro-text">小清新中长款牛仔外套韩版</p>
                        </a>
                    </td>
                    <td class="col2">
                        <p class="gray pro-title">单价</p>
                        <span>￥8658678.0</span>
                    </td>
                    <td class="col3">
                        <p class="gray pro-title">型号</p>
                        <span>M 黑色普通款</span>
                    </td>
                    <td class="col4">
                        <p class="gray pro-title">数量</p>
                        <span>x2</span>
                    </td>
                    <td class="col5" rowspan="2">
                        <p class="gray pro-title">应付款</p>
                        <span>￥158598988.0</span>
                        <p class="gray pro-title">（含运费:￥10）</p>
                    </td>
                    <td class="col6" rowspan="2">
                        <a href="javascript:;" class="u-btn u-btn-gray disabeld">已完成</a>
                    </td>
                </tr>
                <tr>
                    <td class="col1">
                        <a target="navTab" rel="page" fresh="true" href="orderdetail.html"><img src="http://placehold.it/75x75" alt="" class="pro-img" />
                            <p class="pro-text">小清新中长款牛仔外套韩版</p>
                        </a>
                    </td>
                    <td class="col2">
                        <p class="gray pro-title">单价</p>
                        <span>￥8658678.0</span>
                    </td>
                    <td class="col3">
                        <p class="gray pro-title">型号</p>
                        <span>M 黑色普通款</span>
                    </td>
                    <td class="col4">
                        <p class="gray pro-title">数量</p>
                        <span>x2</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>