商品详情-->
<div id="prodetailbox" class="prodetailbox">
	<button class="close" value="关闭">关闭</button>
	<h5>商品详情</h5>
	<div class="imgbox">
		<div class="proimglist">
			<ul>
			</ul>
		</div>
		<div class="proimgitem">
		</div>
	</div>
	<div class="proinfo">
		<h1> </h1>
		<h2>￥<span> </span></h2>
		<p>扫描二维码预览商品</p>
		<div class="procode">
		</div>
		<p>分享商品</p>

		<!-- JiaThis Button BEGIN -->
		<div class="jiathis_style_32x32">
			<a class="jiathis_button_qzone"></a>
			<a class="jiathis_button_tqq"></a>
			<a class="jiathis_button_tsina"></a>
			<a class="jiathis_button_douban"></a>
			<a class="jiathis_button_email"></a>
			<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
		</div>
		<script type="text/javascript">
			$('body script[src^="http://tajs.qq.com"]').nextUntil('iframe[src^="http://v3.jiathis.com"]').remove();
			$('body script[src^="http://tajs.qq.com"]').remove();
			$('iframe[src^="http://v3.jiathis.com"]').remove();
		</script>
		<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
		<!-- JiaThis Button END -->
	</div>
</div>
<script type="text/javascript" src="resources/js/prodetail.js"></script> 