<div class="product bgbdra">
    <h3 class="h3-title bdb">发布商品</h3>
    <form method="post" class="pageForm required-validate" id="productAdd" onsubmit="return validateCallback(this)">
        <ul class="pageFormContent">
            <li class="upload-add productImgs">
                <label id="textlabel" class="textlabel" for="imgs">商品图片：</label>
                <div class="imgBox"></div>
                <!-- <input id="uploadify" type="file" name="file[0]" /> -->
                <div class="uploadBox">
                    <div id="uploadify">+</div>
                </div>
                <div class="btn-wraper">
                    <input type="button" value="选择文件..." id="browse" />
                </div>
                <ul id="file-list">

                </ul>
            </li>
            <li>
                <label class="textlabel" for="name">商品名称：</label>
                <input type="text" id="proName" name="name" class="required setinput textInput valid" maxlength="60" placeholder="请输入商品名称">
            </li>
            <li>
                <label class="textlabel" for="description">商品描述：</label>
                <textarea name="description" id="description" class="required textInput" name="announcement" size="300"></textarea>
            </li>
            <li>
                <div class="fl-l">
                    <label class="textlabel" for="proPrice">价格：</label>
                    <input id="proPrice" type="text" name="proPrice" class="required number setinput textInput valid">
                    <span class="pro-unit">元</span>
                </div>
                <div class="fl-l">
                    <label class="textlabel" for="proNumb">商品库存：</label>
                    <input type="text" name="proNumb" id="proNumb" class="required digits setinput textInput valid">
                    <span class="pro-unit">件</span>
                </div>
            </li>
            <li>
                <input id="danbaoRecommend" type="hidden" name="recommend" value="" />
                <label class="textlabel" for="proRecommend">推荐商品：</label>
                <div name="proRecommend" class="recommend">
                    <div class="danbanbtn checkbtn need"></div>
                </div>
            </li>
            <li>
                <label class="textlabel" for="date10">发布设置：</label>
                <span><input type="radio" checked="checked" name="status" value="ONSALE" class="radio-status input-radio"><label>立即发布</label></span>
                <span>
                            <input id="timePublish" type="radio" name="status" value="FORSALE" class="radio-status textInput input-radio valid">
                            <label>计划发布</label>
                            <div id="data-choose" style="display: none;" >
                                <input type="text" name="forsaleDate" class="date textInput readonly valid radio-data" datefmt="yyyy-MM-dd HH:mm:ss" readonly="true">
                            </div>
                        </span>
                <span><input type="radio" name="status" value="DRAFT" class="radio-status input-radio"><label>保存到草稿箱</label></span>
            </li>
            <li>
                <label class="textlabel" for="proModel">商品型号：</label>
                <div class="fl-l wth-720">
                   <ul class="sku-infor">
                        <!-- <li class="sku-item"><span>价格: <em class="sku-item-price"></em></span><span>库存: <em class="sku-item-amount"></em></span></li>
                        <li class="sku-item"><span>颜色: </span><span class="spec-name">白色</span><span class="spec-name">黑色</span></li>
                        <li class="sku-item"><span>尺码: </span><span class="spec-name">L</span><span class="spec-name">ML</span></li> -->
                    </ul>
                    <a id="skudd" class="classify u-btn pro-btn pro-blue J-addSku">编辑型号</a>
                </div>
            </li>
            <li class="fn-hide">
                <label class="edit-type" for="editType">编辑方式：</label>
                <div class="clearfix edit-type-infor">
                    <ul class="edit-type-list fl-l">
                        <li class="edit-type-item fl-l fn-hide">
                            <input id="editWeb" class="fl-l input-edit" checked="checked" name="editType" type="radio" />
                            <label class=" fl-l" for="editType">仅在网页上编辑</label>
                        </li>
                        <li class="edit-type-item fl-l">
                            <input id="editApp" class=" fl-l input-edit" checked="checked" name="editType" type="radio" />
                            <label class=" fl-l" for="editType">APP与网页都可编辑</label>
                        </li>
                    </ul>
                    <span class="type-text fl-l">（注：选择某种方式并编辑后，再次切换则之前的内容将删除）</span>
                </div>
            </li>
            <li class="edit-choose">
                <label class="textlabel" for="proInfor">段落描述：</label>
                <div class="pageContent pageEditor">
                    <textarea class="editor" name="description" rows="18" cols="100" upLinkUrl="upload.php" upLinkExt="zip,rar,txt" upImgUrl="upload.php" upImgExt="jpg,jpeg,gif,png" upFlashUrl="upload.php" upFlashExt="swf" upMediaUrl="upload.php" upMediaExt="avi">
                    </textarea>
                </div>
                <div class="pageContent sortDrag descList" selector=".moveico">
                    <!-- 注释的这一段为展示模版
                    <div class="bdb clearfix pro-desibe" data-showmodel="0" data-id="27t8v">
                        <div class="fl-l fontico moveico">&#xe615;</div>
                        <div class="fl-l pro-img"><img src="http://xaya.qiniudn.com/Fp8CLOU_T67ur_xAF5DXjt4Lpb_D?imageView2/2/w/480/q/100" keys="qn|xaya|Fp8CLOU_T67ur_xAF5DXjt4Lpb_D" srcs="http://xaya.qiniudn.com/Fp8CLOU_T67ur_xAF5DXjt4Lpb_D?imageView2/2/w/480/q/100"></div>
                        <div class="fl-l pro-name"><span>dsadsa111</span></div>
                        <div class="fl-l bdl pro-text"><span>dsadsadsa2222</span></div>
                        <div class="fl-l bdl pro-btns" width="10%">
                            <a class="edit">
                                编辑
                            </a>
                            <div title="确定要删除吗？" class="detele">删除</div>
                        </div>
                    </div>
                    -->
                </div>
                <div class="newClassify ml80">
                    <a id="describe-list" rel="describe-list" class="classify pro-btn u-btn pro-blue " href="describeList.html" target="dialog" Max="true" mask="true" minable="false" mixable="true" width="688px" height="100%" resizable="false" drawable="false" fresh="true">
                        选择段落描述
                    </a>
                    <!--<a id="describe-list" class="classify pro-btn u-btn pro-blue " >段落描述列表</a>-->
                    <!--<a id="new-describe" class="classify u-btn pro-btn pro-blue">新建段落描述</a>-->
                    <!--<a id="new-describe" rel="new-describe" class="classify u-btn pro-btn pro-blue " href="describeAdd.html" target="dialog" Max="true" mask="true" minable="false" mixable="true" width="480px" height="100%" resizable="false" drawable="false" fresh="true">
                        新建段落描述
                    </a>-->
                    <a id="new-describe" class="classify u-btn pro-btn pro-blue ">
                        新建段落描述
                    </a>
                </div>
            </li>
        </ul>
        <a id="J-comfirm" href="javascript:;" class="release-btn">发布</a>
        <!--<div id="background" class="background" style="display: none;"></div>-->
    </form>
</div>
<div id="skuEdit" class="describeAdds prodetailbox sku-edit">
    <h5>编辑类型</h5>
    <ul class="skuEdit clearfix">
        <li class="active"><span>1</span>创建类型</li>
        <li><span>2</span>添加型号</li>
        <li><span>3</span>编辑型号</li>
    </ul>
    <form method="post" action="" class="pageForm required-validate" onsubmit="return validateCallback(this)">
        <ul class="pageFormContent sku-form">
            <li class="pageFormContent-item clearfix">
                <label class="sku-form-item" for="commonType">常用类型</label>
                <div id="commonTypeList" class="sku-form-common">
                    <span class="sku-checkbox">
                            <input type="checkbox" class="icheck i-input" name="commonType"  />
                            型号
                        </span>
                    <span class="sku-checkbox">
                            <input type="checkbox" class="icheck i-input" name="commonType"  />
                              配置
                        </span>
                    <span class="sku-checkbox">
                            <input type="checkbox" class="icheck i-input" name="commonType"  />
                              图案
                        </span>
                    <span class="sku-checkbox">
                            <input type="checkbox" class="icheck i-input" name="commonType"  />
                              颜色
                        </span>
                    <span class="sku-checkbox">
                            <input type="checkbox" class="icheck i-input" name="commonType"  />
                            含量
                        </span>
                    <span class="sku-checkbox">
                            <input type="checkbox" class="icheck i-input" name="commonType"  />
                              规格
                        </span>
                    <span class="sku-checkbox">
                            <input type="checkbox" class="icheck i-input" name="commonType"  />
                              尺码
                        </span>
                    <span class="sku-checkbox">
                            <input type="checkbox" class="icheck i-input" name="commonType"  />
                              尺寸
                        </span>
                    <span class="sku-checkbox">
                            <input type="checkbox" class="icheck i-input" name="commonType"  />
                            材质
                        </span>
                    <span class="sku-checkbox">
                            <input type="checkbox" class="icheck i-input" name="commonType"  />
                              形状
                        </span>
                    <span class="sku-checkbox">
                            <input type="checkbox" class="icheck i-input" name="commonType"  />
                              工艺
                        </span>
                    <span class="sku-checkbox">
                            <input type="checkbox" class="icheck i-input" name="commonType"  />
                              重量
                        </span>
                    <span class="sku-checkbox">
                            <input type="checkbox" class="icheck i-input" name="commonType"  />
                              套餐
                        </span>
                </div>
                <!--<label class="alt" for="paraName" style="width: 145px; top: 5px; left: 130px; opacity: 1;">请输入商品名称</label>-->
            </li>
            <li class="pageFormContent-item clearfix">
                <label class="sku-form-item fl-l" for="diyType">自定义类型</label>
                <div class="sku-form-type sku-form-common fl-l">
                    <ul class="sku-checkboxs fn-hide clearfix">
                        <li class="sku-checkbox-item">
                            <div class="sku-checkbox fl-l">
                                <input type="checkbox" class="icheck i-input" name="commonType" />
                                <span class="type-item"></span>
                            </div>
                            <span class="comfirm-type sku-name-detele sku-name-btn fontico fl-l">&#xe602;</span>
                        </li>
                    </ul>
                    <span id="type-btn" class="classify u-btn pro-btn pro-blue ">
                            添加类型
                        </span>
                    <div class="diy-type sku-form-common fn-hide">
                        <input id="diyType" type="text" name="specKey" placeholder="输入类型名称" class="required textInput">
                        <span id="deteleTypeItem" class="sku-name-detele sku-name-btn fontico">&#xe602;</span>
                        <span class="sku-name-comfirm sku-name-btn fontico">&#xe618;</span>
                    </div>
                </div>
            </li>
        </ul>
        <div class="formBar clearfix">
            <div class="buttonActive">
                <div class="buttonContent" id="typeNext"><a id="#typeNext" class="J-sku-next release-btn">下一步</a></div>
            </div>
            <div class="button">
                <div class="buttonContent"><a class="sku-add-close">取消</a></div>
            </div>
        </div>
    </form>
</div>
<div id="skuNext" class="describeAdds prodetailbox sku-next">
    <h5>编辑类型</h5>
    <ul class="skuEdit clearfix">
        <li><span>1</span>创建类型</li>
        <li class="active"><span>2</span>添加型号</li>
        <li><span>3</span>编辑型号</li>
    </ul>
    <form method="post" action="" class="pageForm required-validate skunext" onsubmit="return validateCallback(this)">
        <ul class="pageFormContent sku-form J-sku-spec" data-spec="">
        </ul>
        <div class="formBar clearfix">
            <div class="buttonActive">
                <div class="buttonContent"><a id="skuddPrev" class="J-addSku release-btn">上一步</a></div>
            </div>
            <div class="buttonActive">
                <div class="buttonContent"><a id="skuSuccess" class="J-sku-success release-btn">下一步</a></div>
            </div>
            <div class="button">
                <div class="buttonContent"><a class="sku-add-close">取消</a></div>
            </div>
        </div>
    </form>
</div>
<div id="skuLast" class="describeAdds prodetailbox sku-next">
    <h5>编辑类型</h5>
    <ul class="skuEdit clearfix">
        <li><span>1</span>创建类型</li>
        <li><span>2</span>添加型号</li>
        <li class="active"><span>3</span>编辑型号</li>
    </ul>
    <form method="post" action="" class="pageForm required-validate skusuccess" onsubmit="return validateCallback(this)">
        <div class="pro-table">
        </div>
        <!-- <table class="pro-table pro-sku"  align="center" valign="middle">
             <tr id="proTable" class="bdb">
                <td>库存</td>
                <td>价格</td>
                 <td class="w40">
                    操作
                 </td>
            </tr>
            <tr class="bdb sku-new">
                <td><div class="bdr"><input type="text" value=""/></div></td>
                <td><div class="bdr"><input type="text" value=""/></div></td>
                <td class="w40">
                    <a title="删除" href="javascript:;" class="fontico sku-delete detele-parent">删除</a>
                </td>
            </tr>
        </table>-->
        <div class="formBar clearfix">
            <div class="buttonActive">
                <div id="typeEnd" class="buttonContent"><a  class="J-sku-next release-btn">上一步</a></div>
            </div>
            <div class="buttonActive">
                <div class="buttonContent"><a id="J-sku-success" class="J-sku-success release-btn">完成</a></div>
            </div>
            <div class="button">
                <div class="buttonContent"><a class="sku-add-close">取消</a></div>
            </div>
        </div>
    </form>
</div>
<div class="bgb"></div>
<div id="describeAdd" class="describeAdd prodetailbox fn-hide">
    <h5>段落设置</h5>
    <!--<form method="post" action="" class="pageForm required-validate" onsubmit="return validateCallback(this)">-->
    <ul class="pageFormContent">
        <li>
            <label class="textlabel" for="paraName">段落名称：</label>
            <input id="describeName" type="text" name="paraName" class="required setinput textInput valid" placeholder="请输入商品名称" id="email_2969">
            <!--<label class="alt" for="paraName" style="width: 145px; top: 5px; left: 130px; opacity: 1;">请输入商品名称</label>-->
        </li>
        <li>
            <label class="textlabel" for="paraInfor">段落描述：</label>
            <textarea id="describeText" name="paraInfor" class="required textInput" name="announcement" size="300"></textarea>
            <!--<label class="alt" for="paraInfor" style="width: 145px; top: 5px; left: 130px; opacity: 1;">请输入您的电话</label>-->
        </li>
        <li class="upload-add">
            <label class="textlabel" for="paraImg">段落图片：</label>
            <div class="imgBox">
            </div>
            <div class="uploadBox">
                <div id="uploadify2">+</div>
            </div>
        </li>
        <li>
            <label class="textlabel" for="paraPublish">发布设置：</label>
            <span><input type="radio" checked="checked" value="1"  name="paraPlace" class="input-radio"><label class="mr20">描述内容在图片前显示</label></span>
            <span><input type="radio" name="paraPlace" value="0" class="input-radio"><label>描述内容在图片后显示</label></span>
        </li>
    </ul>
    <div class="formBar clearfix">
        <div class="buttonActive">
            <div class="buttonContent">
                <button type="submit">保存</button>
            </div>
        </div>
        <div class="button">
            <div class="buttonContent">
                <button type="Button" class="formBar-detele">取消</button>
            </div>
        </div>
    </div>
    <!--</form>-->
</div>
<script type="text/template" class="tpl-diy">
    <li class="sku-checkbox-item">
        <div class="sku-checkbox fl-l">
            <input type="checkbox" class="icheck i-input" name="commonType" />
            <span class="type-item">{{=it.name}}</span>
        </div>
        <span class="comfirm-type sku-name-detele sku-name-btn fontico fl-l">&#xe602;</span>
    </li>
</script>
<script type="text/template" class="tpl-desc">
    <div class="bdb clearfix pro-desibe" data-showModel="{{=it.showModel}}" data-id="{{=it.id ? it.id : ''}}">
        <div class="fl-l fontico moveico">&#xe615;</div>
        <div class="fl-l pro-img">
            {{? it.imgs.length }}
            <img src="{{=it.src}}" keys="{{=it.keys}}" srcs="{{=it.imgs}}" /> {{??}}
            <img src="resources/images/dot.png" keys="" srcs="" /> {{?}}
        </div>
        <div class="fl-l pro-name"><span>{{=it.name}}</span></div>
        <div class="fl-l bdl pro-text"><span>{{=it.description}}</span></div>
        <div class="fl-l bdl pro-btns" width="10%">
            <a class="edit">
                编辑
            </a>
            <div title="确定要删除吗？" class="detele">删除</div>
        </div>
    </div>
</script>
<script type="text/template" class="tpl-spec">
    {{~it.keyArr:item:index}}
    <li class="pageFormContent-item J-specKey clearfix">
        <label class="sku-form-item sku-speckey fl-l" for="diyType">{{=item}}</label>
        <div class="fl-l sku-spec-name">
            <ul class="sku-form-sku sku-form-sku{{=index}} clearfix">
                {{?it.typeList[item]}}
                {{~it.typeList[item]:skuItem:j}}
                <li class="sku-form-skus-item form-skus-item">
                    <input class="" name="specName" value="{{=skuItem}}" type="text" maxlength="40">
                    <span class="J-specName-detele sku-name-detele sku-name-btn fontico">&#xe619;</span>
                </li>
                {{~}}
                {{??}}
                <li class="sku-form-skus-item form-skus-item{{=index}}">
                    <input class="" name="specName" value="" type="text">
                    <span class="J-specName-detele sku-name-detele sku-name-btn fontico">&#xe619;</span>
                </li>
                {{?}}
            </ul>
            <a class="add-sku-btn add-spec-name" href="javascript:;">
                <span class="fontico add-sku-ico">&#xe617;</span>
                <span class="add-sku-btn-text">添加类型</span>
            </a>
            <span class="sku-detele fontico detele-parent">&#xe608;</span>
        </div>
    </li>
    {{~}}
</script>

<script type="text/template" class="tpl-spec-item">
    {{~it:item:index}}
    <li class="sku-form-skus-item form-skus-item{{=index}}">
        <input class="" name="specName" value="{{=item}}" type="text">
        <span class="J-specName-detele sku-name-detele sku-name-btn fontico">&#xe619;</span>
    </li>
    {{~}}
</script>
<script type="text/template" class="tpl-table">
    <table>
        <thead>
        <tr>
            {{~it.mappings:map:index}}
            <th class="w20" data-mapping="skuMappings[{{=index}}]">
                <div data-name="spec{{=index}}">{{=map}}</div>
            </th>
            {{~}}
            <th>
                <div>库存</div>
            </th>
            <th>
                <div>价格</div>
            </th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {{~it.skus:sku:index}}
        <tr data-skus="skus[{{=index}}]">
            {{~sku.sku:v:i}}
            <td class="w20">
                <div data-name="spec{{=i}}">{{=v}}</div>
            </td>
            {{~}}
            <td>
                <div>
                    <input type="text" value="{{=sku.amount || ''}}" class="input-numb sku-amount" data-name="amount">
                </div>
            </td>
            <td>
                <div>
                    <input type="text" value="{{=sku.price || ''}}" class="input-numb sku-price" data-name="price">
                </div>
            </td>
            <td><span class="tr-detele">删除</span></td>
        </tr>
        {{~}}
        </tbody>
    </table>
</script>
<script type="text/template" class="tpl-skuUI">
    <li class="sku-item"><span>价格: <em class="sku-item-price">{{=it.price}}</em></span><span>库存: <em class="sku-item-amount">{{=it.amount}}</em></span></li>
    {{~it.mappings:map:index}}
    <li class="sku-item trueItem">
        <span>{{=map}}: </span>
        {{~it.types[index]:type:i}}
        <span class="spec-name">{{=type}}</span>
        {{~}}
    </li>
    {{~}}
</script>
<script src="resources/js/product.js"></script>
<script type="text/javascript">
    uploadf( {id:"uploadify"},function(data){
        var d = $.parseJSON(data);
        if (d.data.length) {
            KD.product.addProductImg(d.data[0].url, d.data[0].key);
        } else {
            alert('上传失败!');
        }
    });
    uploadf( {id:"uploadify2"},function(data){
        var d = $.parseJSON(data);
        if (d.data.length) {
            KD.product.addImg(d.data[0].url, d.data[0].key);
        } else {
            alert('上传失败!');
        }
    });
   function uploadf(options,cb){
            var uploader = new plupload.Uploader({
                runtimes : 'html5,flash,html4',
                file_data_name : "file[0]",
                browse_button : options.id, // you can pass in id...
                url : host + '/_f/u',
                flash_swf_url : './resources/plupload/Moxie.swf',
                headers:{Accept : "application/json; charset=utf-8"},
                filters : {
                    max_file_size : '10mb',
                    mime_types: [
                        {title : "Image files", extensions : "jpg,gif,png"}
                    ]
                },
                multipart_params:{
                    belong: 'PRODUCT'
                },

            init: {
                PostInit: function() {
                },

                FilesAdded: function(up, files) {
                    uploader.start();
                },

                UploadProgress: function(up, file) {
                    
                },

                Error: function(up, err) {
                    alert('上传出错!');
                    // document.body.innerHTML += "\nError #" + err.code + ": " + err.message;
                },
                FileUploaded : function(uploader,file,responseObject){
                     cb(responseObject.response);   
                }
            }
        });
        uploader.init();
   }
</script>