
<div class="tabs setting">
	<div class="tabsHeader">
		<div class="tabsHeaderContent">
			<ul>
				<li class="selected"><a href="javascript:void(0);">店铺设置</a></li>
				<!-- <li><a href="javasctipt:;">邮费设置</a></li> -->
				<!--
				<li><a href="javasctipt:;">佣金设置</a></li>
				<li><a href="javasctipt:;">段落描述</a></li>
				-->
			</ul>
		</div>
	</div>
	<div class="tabsContent">
		<div class="divbox">
			<form id="J_shopSet" method="post" class="pageForm required-validate" novalidate="novalidate">
				<ul class="pageFormContent shopsettingbox">
					<li>
						<label for="name">店铺名称：</label>
						<input class="required setinput shopname" name="name" maxlength="20" minlength="2" type="text"/>
					</li>
					<li>
						<label for="wechat">微信号：</label>
						<input class="required setinput shopwechat" name="wechat" type="text"/>
					</li>
					<li>
						<label for="description" class="textlabel">店铺说明：</label>
						<textarea class="required shopdesc" name="description" size="300" /></textarea>
					</li>
					<li class="addselect">
						<label>店铺地址：</label>
					</li>
					<li>
						<label for="bulletin" class="textlabel">店铺公告：</label>
						<textarea class="required" name="bulletin" size="300" /></textarea>
					</li>
					<li>
						<label>店招图片：</label>
						<ul class="shopbanner">
							<li>
								<img src="" alt="" title=""/>
							</li>
						</ul>
						<!-- <input id="imgUpload" type="file" name="file[0]"/> -->
						<div class="imgUploadBox">
							<div id="imgUpload">上传图片</div>
						</div>
                        <input class="bannerurl" type="hidden" name="banner" />
					</li>
					<li>
						<label>担保交易：</label>
						<input type="checkbox" class="icheck i-input danbaocheck" checked="true"  />
						<input type="hidden" class="icheck i-input danbaocheck" name="danbao" checked="true"  />
						<a id="J_DanBao" href="javascript:void(0);" class="danbao">我已阅读担保交易协议</a>
						<div class="danbaobtn checkbtn"></div>
					</li>
				</ul>
				<div class="formBar">
					<ul>
						<li>
							<div class="buttonActive"><div class="buttonContent"><button id="J_setSubmit"  type="submit">保存</button></div></div>
						</li>
						<li>
							<div class="button"><div class="buttonContent"><button type="Button" class="btn-cancelForm">取消</button></div></div>
						</li>
					</ul>
				</div>
			</form>
		</div>

		<div class="divbox">
			<form method="post" action="javascript:;" class="pageForm required-validate" onsubmit="return KD.setting.updatePos(this);" novalidate="novalidate">
				<ul class="pageFormContent">
					<li>
						<label for="totalpost">统一运费：</label>
						<input class="required setinput totalpost" name="totalpost" type="text" size="30" />
						<span class="yuan">元</span>
					</li>
					<li>
						<label for="freepost">包邮金额：</label>
						<input class="required setinput freepost" name="freepost" type="text" size="30" />
						<span class="yuan">元</span>
					</li>
					<div class="horizon"></div>
					<li class="h5li">
						<h5 class="addcustompost">
							<span>
								<em>&#xe603;</em>
								<a href="javascript:;">增加新的邮费和区域</a>
							</span>
						</h5>
					</li>
				</ul>
				<div class="formBar">
					<ul>
						<li>
							<div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div>
						</li>
						<li>
							<div class="button"><div class="buttonContent"><button type="Button" class="close">取消</button></div></div>
						</li>
					</ul>
				</div>
			</form>
		</div>

		<!--
		<div class="divbox commission">
			<form method="post" action="#" class="pageForm required-validate" onsubmit="return validateCallback(this);" novalidate="novalidate">
				<ul class="pageFormContent">
					<li class="h5li">
						<h5>分佣设置</h5>
					</li>
					<li>
						<label>佣金比例：</label>
						<input class="required setinput" name="totalpost" type="text" size="30" /><span class="yuan">%</span>
					</li>
					<li>
						<label>是否开启分佣</label>
						<div class="danbaobtn checkbtn block"></div>
					</li>
					<div class="horizon"></div>
					<li class="h5li">
						<h5>销售平台</h5>
					</li>
				</ul>
				<div class="formBar">
					<ul>
						<li>
							<div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div>
						</li>
						<li>
							<div class="button"><div class="buttonContent"><button type="Button" class="close">取消</button></div></div>
						</li>
					</ul>
				</div>
			</form>
		</div>

		<div class="divbox">段落描述</div>
		-->
	</div>
	<div class="tabsFooter">
		<div class="tabsFooterContent"></div>
	</div>
</div>

<div class="j-pop dialogbox-text">
	<span class="dialog-close">&#xe619;</span>
   <iframe width="100%" height="100%" frameborder="no" border="0" src="http://51shop.mobi:9088/static/about/danbao.html"></iframe>
</div>
<!-- dialogbox-text end -->

<script type="text/javascript">
		//绑定事件
		$('.setting .pageFormContent li input').on('ifChecked', function(){
			$(".setting .pageFormContent li .danbaobtn").show();
			$(".danbaocheck").val(true);
		});
		$('.setting .pageFormContent li input').on('ifUnchecked', function(){
			$(".setting .pageFormContent li .danbaobtn").hide();
			$(".danbaocheck").val(false);
		});
		var KD = KD || {};
		KD.setting = KD.setting || {};
		//店铺设置
		KD.setting.loadInfo = function() {
			var shopId = $(".loginInfo-name").attr("data-id");
			$.ajax({
				type : 'POST',
				url : host + '/shop/'+ shopId,
				error : function(data){
					console.log(data.msg);
				},
				success : function(data){
					console.log(data)
					if(data.error === 'Success'){
						$('.shopname').val(data.data.name);
						$('.shopwechat').val(data.data.wechat);
						$('.shopdesc').val(data.data.description);
						$('[name="bulletin"]').val(data.data.bulletin);
						$('.shopsettingbox ul.shopbanner img').attr('src',data.data.bannerUrl);
						$('.bannerurl').val(data.data.banner);
						if(!data.data.danbao){
							$(".iCheck-helper").click();
							$(".danbaocheck").val(false);
							$(".danbaobtn").removeClass("need").addClass("notneed");
						}else{
							$(".danbaocheck").val(true);
						}
						var address = [];
						if(data.data.provinceId){
							address.push(data.data.provinceId) || '';
						}
						if(data.data.cityId){
							address.push(data.data.cityId) || '';
						}
						
						//如果是新账号，账号
						if((!data.data.provinceId)&&(!data.data.cityId)){
							address[0] = '1';
						}
						var clickobj = KD.zone.getList($('select[ref="combox_city_1"]'),address);
						var newSelect = '<select class="combox" name="provinceId" ref="combox_city_1" refUrl="'+ host +'/zone/{value}/children">'+
											'<option value="'+address[0]+'"></option>'+
											'<option value="1">所有省份</option>'+
											KDZoneList+
										'</select>'+
										'<select class="combox" name="cityId" id="combox_city_1">'+
											'<option value="1">所有城市</option>'+
										'</select>';
						$(".addselect").append(newSelect);
						$("select.combox",'.setting').combox();
						$('select[ref="combox_city_1"]').change();
						var id = $('.addselect .combox:first').find('select[name="provinceId"]').parent('.select').attr('id');
						$('#op_'+id+' li:first').hide();
						function setcallback(id){
							if(!id){
								return false;
							}
							$('#combox_combox_city_1 a').attr("value",id);
							var nameTemp = $('#combox_combox_city_1 select option[value="'+id+'"]').html();
							$('#combox_combox_city_1 a').html(nameTemp);
						}
						var setCity = setTimeout(function(){setcallback(address[1]);},300);

					}else{
						console.log(data);
					}
				}
			});
		};
		//邮费设置
		KD.setting.loadPostage = function() {
			var shopId = $(".loginInfo-name").attr("data-id");
			$.ajax({
				type : 'POST',
				url : host + '/shop/getPostageSet',
				error : function(data){
					console.log(data.msg);
				},
				success : function(data){
					if(data.error === 'Success'){
						$(".totalpost").val(data.data.postage);
						var pirce = data.data.freeShippingPrice || '';
						$(".freepost").val(pirce);
						if( data.data.customizedPostage ){
							var customPosLength = data.data.customizedPostage.length;
	 						for(var i = 0;i < customPosLength;i++){
								$(".addcustompost span").click();
								var l = i;
								var areasLength = data.data.customizedPostage[i].areas.length;
								for(var l2 = 0;l2<areasLength;l2++){
									var areasId = data.data.customizedPostage[l].areas[l2].id;
									var areasName = data.data.customizedPostage[l].areas[l2].name;
									var positem = '<li><span class="freeaddress" val="'+areasId+'">'+areasName+'</span>'+
													'<em class="removemap">&#xe602;</em></li>';
									$(".setting li.postlist:last ul").append(positem);
								}
								$(".custompost:last .cuspos").val(data.data.customizedPostage[i].poatage);
							};
						}
					}else{
						console.log(data);
					}
				}
			});
		};
		KD.setting.loadInfo();
		KD.setting.loadPostage();
		KD.setting.updatePos = function(){
			var str = '';
			var len1 = $(".custompost").length;
			$(".custompost").each(function(l){
				var thePoatage = $(this).find('[name="totalpost"]').val();
				if(!thePoatage){
					return false;
				}
				var len2 = $(this).find('.postlist ul li').length;
				$(this).find('.postlist ul li').each(function(i){
					var id = $(this).find("span").attr("val");
					var name = $(this).find("span").html();
					if(!id || !name){
						return false;
					}
					str += 'customizedPostage['+l+'].areas['+i+'].id='+id+'&customizedPostage['+l+'].areas['+i+'].name='+name+'&';
				})
				str += 'customizedPostage['+l+'].poatage='+thePoatage+'&';
				if(l==(len1-1)){
					str += 'postageStatus=1&';
				}
			});
			str += 'postage='+$(".totalpost").val()+'&freeShippingPrice='+$(".freepost ").val();
			dataStr = str;
 			$.ajax({
				type: 'POST',
				url: host + '/shop/updatePostageSet',
				data: dataStr,
				dataType: 'JSON',
				success: function(data){
					console.log(data.moreInfo);
				},
				error: function(data){
					console.log(data.moreInfo);
				}
			}) 
		}
		KD.setting.upLoad1 = function(){
			//图片上传
			//
			uploadf({id:"imgUpload"},function(data){
				var dataObj=$.parseJSON(data);
                if(dataObj.errorCode === 200){
                	$('.bannerurl').val(dataObj.data[0].id);
                	$('.shopsettingbox ul.shopbanner img').attr('src',dataObj.data[0].url);
            	}else{
            		alert('上传出错');
            	}
			});
			
		  //   $('#imgUpload').uploadify({
		  //       'swf'      : 'resources/uploadify/scripts/uploadify.swf',
		  //       'uploader' : host + '/_f/u',
		  //       'formData':{belong:'PRODUCT'},
		  //       'multi': true,
				// 'fileSizeLimit':'20MB',
    //             'fileTypeDesc':'*.jpg;*.jpeg;*.gif;*.png;',
    //             'fileTypeExts':'*.jpg;*.jpeg;*.gif;*.png;',
		  //       'auto': 'true',
		  //       "width":'80',
		  //       "fileObjName":"file[0]",
		  //       'buttonText': '上传图片',
		  //       'onUploadSuccess' : function(file, data, response) {
				// 	var dataObj=$.parseJSON(data);
    //                 if(dataObj.errorCode === 200){
    //                 	$('.bannerurl').val(dataObj.data[0].id);
    //                 	$('.shopsettingbox ul.shopbanner img').attr('src',dataObj.data[0].url);
    //             	}else{
    //             		console.log(dataObj.msg);
    //             	}
		  //       },
		  //       'onUploadError' : function(file, errorCode, errorMsg, errorString) {
		  //          alert('上传出错');
		  //       }
		  //   });		   
		}
		KD.setting.upLoad1();
		//担保交易弹窗
		KD.setting.dialogBoxText = function(){
			$('#J_DanBao').showPop({
	            target: $('.dialogbox-text'),
	            close: $('.dialog-close'),
	            modal: true
	        });
		}
		KD.setting.dialogBoxText();
		//关闭按钮
		KD.setting.formCancel = function(){
			$('.buttonContent .btn-cancelForm').on('click',function(e){
				e.preventDefault();
				$('.siderLink a[rel="setting"]').click();
			})
		}
		KD.setting.formCancel();

		function uploadf(options,cb){
            var uploader = new plupload.Uploader({
                runtimes : 'html5,flash,html4',
                file_data_name : "file[0]",
                browse_button : options.id, // you can pass in id...
                url : host + '/_f/u',
                flash_swf_url : './resources/plupload/Moxie.swf',
                headers:{Accept : "application/json; charset=utf-8"},
                filters : {
                    max_file_size : '10mb',
                    mime_types: [
                        {title : "Image files", extensions : "jpg,gif,png"}
                    ]
                },
                multipart_params:{
                    belong: 'PRODUCT'
                },

            init: {
                PostInit: function() {
                },

                FilesAdded: function(up, files) {
                    uploader.start();
                },

                UploadProgress: function(up, file) {
                    
                },

                Error: function(up, err) {
                    alert('上传出错');
                },
                FileUploaded : function(uploader,file,responseObject){
                     cb(responseObject.response);   
                }
            }
        });
        uploader.init();
   }
</script>