<html layout:decorator="/layout/mainPage">
<head>
	<meta charset="utf-8" />
    <title>XQuark后台管理系统</title>
	<link rel="stylesheet" type="text/css" th:href="@{/_resources/css/login.css}"/>
<!-- 
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
 -->
	<script type="text/javascript" th:src="@{/_resources/js/logincloud.js}"></script>

<script language="javascript">
	$(function(){
    $('.loginbox').css({'position':'absolute','left':($(window).width()-692)/2});
	$(window).resize(function(){  
    $('.loginbox').css({'position':'absolute','left':($(window).width()-692)/2});
    })  
});  
</script> 
</head>

<body  layout:fragment="content" >
	<form id="f" class="form-narrow form-horizontal" action="/j_spring_security_check" method="post" th:action="@{/j_spring_security_check}">
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		<div id="mainBody">
		  <div id="cloud1" class="cloud"></div>
		  <div id="cloud2" class="cloud"></div>
		</div> 
	    
	    <div class="loginbody">
	        <div class="loginbox">  
		         <th:block th:if="${param.error != null}">
		           <span class="loginefail"> 登录失败,请重新登录!</span>
		         </th:block>
			    <ul>
				    <li>
				    	<input type="text" class="loginuser" id="inputEmail" placeholder="Mobile" name="j_username"/>
				    </li>
				    <li>
				    	<input type="password" class="loginpwd" id="inputPassword" placeholder="请输入密码" name="j_password" />
				    </li>
				    <li class="yzm">
					    <span>
					          <input name="" type="text" value="验证码" onclick="JavaScript:this.value=''"/>
					    </span>
					    <cite>HX45G</cite> 
				    </li>
				    <li>
				       <input type="submit" class="loginbtn" value="登录"/>
				       <label>
				       		<input name="_spring_security_remember_me" type="checkbox" value="" checked="checked" />记住密码
				       </label>
				       <label>
				       		<a href="#">忘记密码？</a>
				       </label>
				    </li>
			    </ul> 
	    	</div>    
	    </div>
	</form>    
    <div layout:fragment="postScript">
		<script type="text/javascript" charset="utf-8" th:src="@{/_resources/js/md5.js}"></script>
		<script type="text/javascript" charset="utf-8">
			$('#f').submit(function(){
				$('#inputPassword').val(CryptoJS.MD5($('#inputPassword').val()));
				return true;
			});
		</script>
	</div>
</body>
</html>
