@import "util";  

//变量
@colorOrange:#f64f50;
@colorGray:#bababf;
@colorGray2:#7c7c7f;
@colorBlack:#2d3242;
@timer : 0.6s; 
@borderColor:#edeff0; 

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0;padding:0;}
h1,h2,h3,h4,h5,h6,strong {font-weight:normal;font-size:100%;}
input, select,textarea {vertical-align:middle;font-family:Arial,Tahoma,Verdana;font-size:12px;}
textarea{resize:none;overflow: auto;}
button {background:none;border:none;}
img{border:none;vertical-align:top;}
ol,ul,li {list-style:none;}
table {border-collapse:collapse;border-spacing:0;}
table,td {border:none}
i, em{font-style:normal;}
:focus {outline: 0;}
ins {text-decoration: none;}
caption, th, td {font-weight: normal;}
blockquote:before, blockquote:after,
q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
/* html5 */
article, aside, details, figcaption, figure, footer, header,  hgroup, menu, nav, section { display: block; }

/* base   
---------------------------------------------------------------*/
body {font: 12px/1.5  Tahoma,Verdana, "\5FAE\8F6F\96C5\9ED1"; color:@colorBlack; background: #fff;}
body { -webkit-font-smoothing: subpixel-antialiased; }
a {color: #000;text-decoration: none; cursor:pointer;}
a:hover {color:#000;text-decoration: underline;}
.clear {clear: both;height: 0;font-size: 0px;overflow: hidden;}
.clearfix:after{clear:both;content:".";display:block;height:0;visibility:hidden;}
.clearfix {*zoom:1;}
.gray{color:#bfbfc3;}

@font-face {
  font-family: 'kkkd';
  src: url('//at.alicdn.com/t/font_1429156266_7216613.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1429156266_7216613.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1429156266_7216613.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1429156266_7216613.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1429156266_7216613.svg#kkkd') format('svg'); /* iOS 4.1- */
}

.kkkd{
	font-family: "kkkd";
}
.f-fl{
	float: left;
}
.f-fr{
	float: right;
}
.u-btn{
	margin: 0;
	font-size: 12px;
	border:2px solid #a2acb9;
	color:#a2acb9;
	display: inline-block;
	line-height: 26px;
	padding: 0 15px;
	transition:@timer;
	border-radius:24px;
	&:hover,&:active,&.active{
		color:@colorOrange;
		border-color:@colorOrange;
		text-decoration: none;
	}
	&.u-btn-gray{
		border-color: #e3e4e8;
		color:@colorBlack;
		&:hover{
			border-color: #a4a9ae;
			text-decoration: none;
		}
	}
}

.u-input{
	border:2px solid #e3e4e8;
	.borderRadius(6px);
	height: 36px;
	overflow: hidden;
	input{
		background-clip:padding-box;
		background-color: #fff;
		border: none;
		padding: 0;
		margin: 0;
		width: 100%;
		height: 36px;
		line-height: 36px;
		text-indent: 10px;
		font-size: 12px;
	}
	//有符号的输入框
	&.glyphicon{
		position: relative;
		i{
			font-family: "kkkd";
			position: absolute;
			left: 10px;
			color:#91939a;
			font-size: 18px;
			height: 18px;
			line-height: 18px;
			top:50%;
			margin-top: -9px;
		}
		input{
			text-indent: 30px;
		}
	}
	&.u-input-search{
		border: none;
		height: 58px/2;
		input{
			.borderRadius(15px);
			height: 58px/2;
			line-height: 58px/2;
			background-color: #f6f7f8;
		}
	}
}

::selection{color:#fff;background-color: @colorOrange;}

.g-pannel{
	background-color: #fff;
	.borderRadius(4px);
	.boxShadow(1px,2px,#d7dadf,0);
	border-bottom: 2px solid #d7dadf;
	&.g-pannel-square{
		.borderRadius(0);
	}
	&.g-pannel-red{
		border-bottom-color: @colorOrange;
	}
}