.catalog{
	.cataLists{
		height: 40px;
		.cataItem{
			float: left;
			margin-right: 15px;
			height: 40px;
			line-height: 40px;
			padding: 0 24px;
			.borderRadius(3px);
			background-color: #fff;
			color:@colorGray2;
			transition:@timer;
			&:hover,&.active{
				text-decoration: none;
				background-color: #f64f50;
				color:#fff;
			}
		}
		.addCatalog{
			float: left;
			color:#e3e4e8;
			font-size: 50px;
			height: 40px;
			line-height: 40px;
			cursor: pointer;
			&:hover{
				color:#9ea2b3;
				transition:@timer;
			}
		}
	}
	.proList{
		margin-top: 13px;
	}
	.thead{
		//虚拟表头
        height: 60px;
        background-color: #fff;
        font-size: 12px;
        color: #fff;
        border-radius: 6px 6px 0 0;
        border-bottom: 2px solid #93999e;
        color:@colorBlack;
        position: relative;
        .thead-info {
        	padding-left: 27px;
        	line-height: 60px;
        }
        .thead-op{
        	margin-top: 15px;
        	a{
        		float: left;
        		margin-right: 15px;
        	}
        }
        .cataName{
        	padding-right: 13px;
        }
        .cataNum{
        	color:#f64f50;
			padding: 0 5px;
        }
	}
}