.describeList{
  height: auto;
  table.list .col1{
    width: 38%;
  }
  table.list .col2{
    padding: 0 20px;
    text-align: left;
    line-height: 18px;
  }
  table.list .pro-text{
    width: 94px;
    max-width: 94px;
    margin: 5px 0 0 10px;
  }
  .bdb {
    border-bottom: 1px solid #f0f2f5;
  }
  h5{
    text-align: center;
    border-bottom: 1px solid #edeff0;
    padding-bottom: 10px;
    margin: 23px auto 0;
  }
  .list .trbg{
    background-color: #fff;
  }
  .pro-img64{
    display: inline-block;
    width: 64px;
    height: 64px;
    vertical-align: middle;
  }

  .formBar {
    height: 100px;
    width: 336px;
    margin: 5px auto 10px;
    border: none;
  }
  .formBar ul {
    width: 310px;
    overflow: hidden;
    margin: 12px auto;
  }
  .formBar ul li {
    margin: 0 8px;
  }
  .buttonActive{
    margin-right: 30px;
  }
  .button, .buttonActive, .buttonDisabled {
    float: left;
    display: block;
    overflow: hidden;
    padding-left: 5px;
  }
  .formBar .buttonActive .buttonContent button {
    background-color: #f64f50;
  }
  .formBar .buttonContent button {
    width: 133px;
    color: #fff;
    font-size: 12px;
    line-height: 40px;
    text-align: center;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    background-color: #7c7c7f;
    cursor: pointer;
  }
  .formBar .buttonContent button{
    height: auto;
    margin: 0;
  }
  .tab-area{
    height: 375px;
    overflow-y:auto; 
  }
}

#describeList.describeList{
  overflow: hidden;
}

