.describeAdd{
  h5 {
    text-align: center;
    border-bottom: 1px solid #edeff0;
    padding-bottom: 10px;
    margin: 23px auto 0;
  }
  td .bdl{
    padding: 12px;
  }
  .bdn{
    border: none;
  }
  .bdl{
    border-left: 1px solid #edeff0;
  }
  .bdb{
    border-bottom: 1px solid #f0f2f5;
    padding-bottom: 20px;
  }
  .mr20{
    margin-right: 20px;
  }
  .pro-table .textInput{
    float: none;
    background-color: #fbfbfb;
    border: 0;
    background-image: none;
  }
  .uploadify-button{
    background-color: #fbfbfb;
    border: 3px solid #f5f5f6;
    color: #a4a9ae;
    width: 80px;
    height: 80px;
    overflow: hidden;
  }
  .prodetailbox{
    width: 680px;
    min-height: 600px;
    overflow: scroll-y;
  }
  .skus-delete{
    color: #f64f50;
  }
  .add-sku-btn{
    color: #3f76b4;
  }
  .uploadify-button-text{
    position: absolute;
    color: #a4a9ae;
    font-size: 100px;
    margin: -15px 0 0 -29px;
  }
  .pageFormContent{
    border-top: 0px;
  }
  .uploadify,.uploadify-queue{
    margin-bottom: 0;
  }
  .pageFormContent li label {
    min-width: 70px;
    text-align: left;
    font-size: 12px;
    color: #91939a;
    line-height: 48px;
    left: 0!important;
  }
  .pageFormContent li input.setinput {
    height: 40px;
    width: 220px;
    text-indent: 1em;
    background-color: #fafbfc;
    border: 2px solid #e3e4e8;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
  }
  .pageFormContent li textarea {
    width: 85%;
    text-indent: 1em;
    background-color: #fafbfc;
    border: 2px solid #e3e4e8;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 10px 2px;
    resize: none;
  }
  .pageFormContent li {
    float: none;
    min-height: 40px;
    margin: 20px 23px 0;
    overflow: hidden;
    position: relative;
  }
  .input-radio{
    display: inline-block;
    float: left;
    margin-top: 17px;
  }
  .pro-unit{
    display: inline-block;
    float: left;
    line-height: 48px;
    padding: 0 48px 0 10px;
  }
  .pro-table{
    float: right;
    width: 89%;
    background-color: #fbfbfb;
    border: 1px solid #e3e4e8;
    border-width: 2px 0;

  }
  .text-r{
    text-align: right;
    color: #f64f50;
  }
  .pro-table{
    color: #bababf;
    td{
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }
  .pro-btn{
    height: 28px;
    line-height: 28px;
    margin: 22px 20px 26px 0;
  }
  .pro-blue{
    border: 2px solid #3f76b4;
    color: #3f76b4;
    font-size: 12px;
  }
  .add-btn{
    font-size: 12px;
    color: #3f76b4;
    text-decoration: underline;
  }
  .pro-img img{
    display: block;
    width: 66px;
    height: 66px;overflow: hidden;
  }
  .edit,.detele{
    color: #3f76b4;
    font-size: 12px;
    padding-top: 12px;
  }
  .release-btn{
    display: block;
    margin: 0 auto;
    background-color: #f64f50;
    width: 133px;
    color: #fff;
    font-size: 12px;
    line-height: 40px;
    text-align: center;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    cursor: pointer;
  }
  .pl14{
    padding-left: 14px;
  }
  .pr14{
    padding-right: 14px;
  }
  .my-uploadify-button {
    background:none;
    border: none;
    text-shadow: none;
    border-radius:0;
  }

  .uploadify:hover .my-uploadify-button {
    background:none;
    border: none;
  }

  .fileQueue {
    width: 400px;
    height: 150px;
    overflow: auto;
    border: 1px solid #E5E5E5;
    margin-bottom: 10px;
  }
  .ml80{
    margin-left: 80px;
  }
  .sku-delete{
    display: block;
  }
  .pro-img64{
    display: inline-block;
    width: 64px;
    height: 64px;
  }
  .formBar {
    height: 100px;
    width: 350px;
    margin: 5px auto 10px;
    border: none;
  }
  .formBar ul {
    width: 310px;
    overflow: hidden;
    margin: 12px auto;
  }
  .formBar ul li {
    margin: 0 8px;
  }
  .buttonActive{
    margin-right: 20px;
  }
  .button, .buttonActive, .buttonDisabled {
    float: left;
    display: block;
    overflow: hidden;
    padding-left: 5px;
  }
  .formBar .buttonActive .buttonContent button {
    background-color: #f64f50;
  }
  .formBar .buttonContent button {
    width: 133px!important;
    height: auto;
    margin: 0;
    color: #fff;
    font-size: 12px;
    line-height: 40px;
    text-align: center;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    background-color: #7c7c7f;
    cursor: pointer;
  }
}