@sprit : "../images/icon-input.png?v=3";

.i-input,.icheckbox,.iradiobox{
	background-image: url(@sprit);
	background-repeat: no-repeat;
}
.icheckbox {
    display: inline-block;
    *display: inline;
    *zoom:1;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    background-position:  0 -19px;
	width: 18px;
	height: 18px;
    border: none;
    cursor: pointer;
    &.checked{
    	background-position: 0 0;
    }
    &.hover{
    	background-color: none;
    }
    &.disabled{
    	background-position: 0 -39px;
    }
}
.iradiobox {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    background-position:  -26px -20px;
	width: 19px;
	height: 19px;
    border: none;
    cursor: pointer;
    &.checked{
    	background-position: -26px 0;
    }
    &.hover{
    	background-color: none;
    }
    &.disabled{
    	background-position: -26px -42px;
    }
}