#header {
    height: 50px;
    background-color: @colorBlack; 
}
#header {
    overflow: hidden;
}
#header h1 {
    font-size: 125px;
    line-height: 55px;
    color: #f64f50;
    font-weight: normal;
    padding-left: 22px;
    float: left;
}
//header
.headerNav {
    float: right;
    padding-top: 10px;
    background: none!important;
    .u-btn {
        margin-right: 16px;
    }
    .loginInfo {
        padding-right: 31px;
        .loginInfo-name {
            color: #fff;
            padding-right: 12px;
        }
        a {
            color: #a2acb9;
            &:hover {
                color: #fff;
            }
        }
    }
}