body {
    overflow: auto;
    background-color: #f6f7f8;
}
#layout {
    width: 1100px;
    margin: 20px auto;
}
#leftside, #container {
    // position: static;
    top: 0;
}
#leftside {
    left: 0;
}
#container {
    width: 1720px/2;
    left: 240px;
}
#sidebar {
    width: 200px;
    position: static;
    float: left;
}
.accordion {
    border: none;
    background: none;
    .accordionContent{
        background: none;
        border: none;
    }
}
.tabsPageHeader{
    display: none!important;
}
.tabsPage .tabsPageContent{
    border: none;
    background: none;
}
.dialogBackground,.alertBackground{
    background-color: #000;
    *display: none !important;
}
.alert{
    width: 645px/2;
    background-color: #fff;
    border-radius: 4px;
    .boxShadow(1px,2px,#d7dadf,0);
    .alertContent{
        border: none;
        background: none;
        .alertInner{
            background: none;
            border: none;
            color:#2c3343;
            font-size: 14px;
            h1{
                color:#7d7d7f;
                border: none;
            }
            .msg{
                font-size: 14px;
            }
        }
    }
    .toolBar{
        height: auto;
        padding-bottom: 10px;
        ul{
            float: none;
            text-align: center;
            li{
                float: none;
                display: inline-block;
                *display: inline;
                *zoom:1;
                .button{
                    width: 270px/2;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    font-size: 14px;
                    border-radius: 4px;
                    margin-left: 0;
                    padding: 0;
                    margin: 0;
                    background: #7c7b80;
                    margin-left: 5px;
                    &:hover{
                        background-color: #f54f4f;
                    }
                    span{
                        background: none;
                        padding: 0;
                        display: block;
                        width: 100%;
                        line-height: 40px;
                        color:#fff;
                        height: 100%;
                    }
                }
            }
        }
    }
    .alertFooter{
        display: none;
    }
}



.combox{
    background: none;
    border:2px solid #e3e4e8;
    border-radius: 6px;
    background: #fff;
    div{
        background: none;
    }
    .select{
        position: relative;
        a{
            background: none;
            height: 36px;
            line-height: 36px;
            display: block;
            font-size: 12px;
            padding:0 42px;
            float: none;
            color:@colorBlack;
        }
        i{
            position: absolute;
            right: 9px;
            top: 50%;
            margin-top: -6px;
            font-size: 12px;
            height: 12px;
            color:#7a7f83;
        }
    }
}

.comboxop{
    border: none;
    border:2px solid #e3e4e8;
    border-radius:6px;
    border-top:none;
    padding: 0;
    .selected{
        background-color: #e3e4e8;
    }
    a{
        width:auto;
        display: block;
        text-align: center;
        height: 36px;
        line-height: 36px;
        padding: 0 42px;
        color:@colorBlack;
        &:hover{
            text-decoration: none;
            background-color: #e3e4e8;
        }
    }
}



//table
table.list{
    border: none;
    .trbg,tr.hover{
        //覆盖偶数行, hover背景色
        background-color: #fafbfc;
    }
    .selected{
       // background:#e9ecef;
    }
    td{
        height: 98px;
        vertical-align: middle;
        border: none;
        color:@colorBlack;
        position: relative;
        text-align: center;
        .line{
            //单元格有边框，元素js初始化增加
            height: 66px;
            top:50%;
            margin-top: -33px;
            width:0;
            border-right:1px solid @borderColor;
            position: absolute;
            right: 0;
        }
    }
    .icheckbox{
        //复选框边距
        margin: 0 14px;
    }
    .pro-img{
        //第一格图片
        width: 75px;
        height: 75px;
        margin: 0 15px 0 0;
        vertical-align: middle;
        border:1px solid #f1f2f3;
    }
    .pro-text{
        //第一格文本
        max-width:440px/2;
        line-height: 18px;
        text-align: left;
        display: inline-block;
        *display: inline;
        *zoom:1;
        vertical-align: middle;
        color:@colorBlack;
    }
    .pro-text a{
        line-height: 18px;
        word-wrap: break-word;
    }
    .pro-title{
        //单元格灰色文字
        font-size: 12px;
        line-height: 18px;
    }
    tbody{
        font-size: 12px;
        line-height: 18px;
        color:@colorBlack;
        .icheckbox{
            //复选框边距
            *position: relative;
            *top: 12px;
        }
    }
    tfoot{
        td{
            text-align: left;
            height: 64px;
            padding: 0;
            position: relative;
        }
        .tfoot{
            //加元素来形成圆角（表格元素圆角有问题）
            height: 60px;
            line-height: 60px;
            border-top:2px solid #ebeced;
            border-bottom:2px solid #d7dadf;
            background-color: #fff;
            background-clip:padding-box;
            overflow: hidden;
            border-radius: 0 0 6px 6px;
            .u-btn{
                //覆盖框架样式
                height: 27px;
                line-height: 27px;
                margin: 0 -5px 0 20px;
                &:hover,&:active{
                    //覆盖框架样式
                    line-height: 27px;
                }
            }
            label.hover{
                //覆盖框架样式
                background: none;
                cursor: pointer;
            }
            .pagination{
                //重写分页样式
                float: none;
                position: absolute;
                right: 0;
                top: 0;
                background: none;
                ul{
                    li{
                        display: inline-block;
                        *display: inline;
                        *zoom:1;
                        height: 60px;
                        line-height: 60px;
                        &.jumpto,&.hover{
                            background: none;
                        }
                        &.jumpto{
                            *position: relative;
                            *top: -5px;
                        }
                        span,a{
                            display: block;
                            background: none;
                            line-height: 60px!important;

                        }
                        .textInput,.goto{
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
    }
}


//5列表格的布局
.column5{
    .col1{
        width: 760px/2;
        text-align: left;
        a:hover{
            text-decoration: none;
        }
    }
    .col2{
        width: 240px/2;
    }
    .col3{
        width: 240px/2;
    }
    .col4{
        width: 240px/2;
    }
    .col5{
        width: 240px/2;
        a{
            display: block;
            text-align: center;
            color:#3f76b4;
            line-height: 20px;
            &:hover{
                text-decoration: underline;
                font-weight: bold;
            }
        }
    }
}
//6列表格的布局
.column6{
    width: 1682px/2;
    margin-left: 19px;
    .line{
        display: none;
    }
    tr.trbg{
        //覆盖框架样式
        background: #fff;
    }
    .col1{
        width: 580px/2;
        text-align: left;
        a:hover{
            text-decoration: none;
        }
        .pro-text{
            max-width: 175px;
        }
    }
    .col2,.col3,.col4,.col5,.col6{
        width: 220px/2;
    }
    .col1,.col2,.col3,.col4,.col5,.col6{
         border-bottom:1px solid @borderColor;
    }
    .col1,.col2,.col3,.col4,.col5{
        border-right:1px solid @borderColor;
    }
    .col6{
        a.u-btn-gray{
            width: 152px/2;
            text-align: center;
            height: 54px/2;
            line-height: 54px/2;
            padding: 0;
            margin: 5px auto;
            color:@colorGray2;
            border-color: #e3e4e8;
            &:hover,&.active{
                color:@colorBlack;
                border-color: @colorBlack;
            }
            &.disabeld{
                color:#e3e4e8;
                border-color: #e3e4e8;
                &:hover{
                    color:#e3e4e8;
                    border-color: #e3e4e8;
                    cursor: text;
                }
            }
        }
    }
}
//弹层
.j-pop{
    z-index: 1011;
    display: none;
}
.j-lead{
    z-index: 1011;
    display: none;
}