#leftside {
    .userInfo {
        padding-top: 48px;
        .avatar {
            padding: 4px;
            background-color: #fff;
            width: 90px;
            height: 90px;
            margin: 0 auto;
            border-radius: 50%;
            .boxShadow(0, 0, 10px, #e3e3e3, 0px);
            img {
                border-radius: 50%;
                width: 90px;
                height: 90px;
            }
        }
        .nick {
            font-size: 14px;
            font-family: 'Microsoft YaHei';
            color: @colorBlack;
            text-align: center;
            line-height: 21px;
            min-height: 42px;
            padding: 5px 10px 35px;
        }
    }
    .siderLink {
        padding-bottom: 160px;
        a {
            display: block;
            line-height: 44px;
            color: @colorBlack;
            font-size: 14px;
            text-align: center;
            transition: @timer;
            &:hover, &:active,&.active {
                text-decoration: none;
                color: #fff;
                background-color: #f64f50;
            }
            i{display: inline-block;width:2em;}
            span {
                font-family: "kkkd";
                padding-right: 13px;
                font-size: 20px;
            }
        }
    }
}