 @oragin : #f64f50;

 body,p,input, dl,dt,dd {
     margin: 0;
     padding: 0;
 }
 html,body {
     height: 100%;
     overflow: hidden;
 }
 img {
     vertical-align: top;
     border: none;
 }
 ::selection {
     color: #fff;
     background-color: @oragin;
 }
 
 .fl {
     float: left;
 }
 
 .fr {
     float: right;
 }
 
 .clearfix {
     zoom: 1;
 }
 
 .clearfix:after {
     display: block;
     content: "";
     clear: both;
 }
 
 .layer_img,
 .layer_bg,
 .layer_main {
     position: absolute;
     left: 0;
     right: 0;
     top: 0;
     bottom: 0;
 }
 
 .layer_img {
     z-index: 1;
     background: url('../images/login_bg.jpg') no-repeat center center;
     background-size: 100%;
 }
 
 .layer_bg {
     z-index: 2;
     background: #10181f;
     opacity: .95;
     filter: alpha(opacity=95);
 }
 
 .layer_main {
     z-index: 3;
 }
 
 .layer_main .content {
     width: 580px;
     height: 560px;
     position: absolute;
     left: 50%;
     top: 50%;
     margin-left: -290px;
     margin-top: -280px;
 }
 
 .layer_main .content h1 {
     font-size: 40px;
     line-height: 155px;
     font-family: "SansGBW3260508";
     text-align: center;
     color: @oragin;
 }
 
 .layer_main .content .state {
     font-family: "SansGBW3260508";
     font-size: 14px;
     line-height: 16px;
     padding-left: 10px;
     color: #7c7c7f;
     text-align: center;
     margin-top: -30px;
 }
 
 .layer_main .content .loginPart {
     margin-top: 56px;
     height: 45px;
 }
 
 .layer_main .content .ipt {
     font-size: 14px;
     width: 218px;
     height: 16px;
     line-height: 16px;
     padding: 12px 10px;
     color: @oragin;
     margin: 0 7px 0 1px;
     background: none;
     outline: none;
     border: 2px solid #40465b;
     border-radius: 5px;
 }
 
 .layer_main .content .ipt:focus {
     transition: 0.6s;
     border-color: @oragin;
 }
 
 .layer_main .content .login_btn {
     width: 80px;
     height: 44px;
     line-height: 44px;
     text-align: center;
     color: #fff;
     background-color: @oragin;
     border-radius: 5px;
     text-decoration: none;
     opacity: .95;
     filter: alpha(opacity=95);
 }
 
 .layer_main .content .login_btn:hover {
     transition: 0.6s;
     text-decoration: none;
     opacity: 1;
     filter: alpha(opacity=100);
 }
 
 .layer_main .content .codePart {
     margin-top: 50px;
     position: relative;
 }
 
 .layer_main .content .codeCaller {
     width: 145px;
     text-decoration: underline;
     color: @oragin;
     line-height: 35px;
     margin: 0 auto;
     font-family: "黑体", "宋体";
     display: block;
 }
 
 .layer_main .content .codeBox {
     position: absolute;
     left: 50%;
     margin-left: -138px;
     top: 44px;
     width: 275px;
     height: 145px;
     background-color: #fff;
     border-radius: 4px;
     padding-top: 25px;
     display: none;
 }
 
 .layer_main .content .codeBox em {
     position: absolute;
     width: 0;
     height: 0;
     border-left: 9px solid transparent;
     border-right: 9px solid transparent;
     border-bottom: 9px solid #fff;
     left: 50%;
     margin-left: -9px;
     top: -9px;
     overflow: hidden;
 }
 
 .codeImg img,
 .codeImg dt {
     width: 104px;
     height: 104px;
 }
 
 .codeImg {
     margin: 0 -2px 0 24px;
 }
 
 .codeImg dd {
     line-height: 40px;
     text-align: center;
     font-family: "Arial";
     font-size: 12px;
     color: #7c7c7f;
 }