.pro {
    .searchBar {
        height: 42px;
        .searchWrap {
            width: 436px/2;
            input{
                text-indent: 0;
                padding: 0 5px 0 30px;
                width: 183px;
            }
            i{
                cursor: pointer;
            }
        }
    }
    .proList {
        margin-top: 16px;
        .thead {
            //虚拟表头
            height: 40px;
            background: #a4aeb9;
            font-size: 12px;
            color: #fff;
            border-radius: 6px 6px 0 0;
            border-bottom: 2px solid #93999e;
            em {
                font-family: "kkkd";
                padding-right: 4px;
                cursor: pointer;
            }
            span {
                float: left;
                text-align: center;
                line-height: 40px;
            }
        }
    }
    .setTrans {
        width: 292px;
        background-color: #fff;
        .borderRadius(6px);
        padding: 0 16px;
        position: fixed;
        h3 {
            height: 118px/2;
            line-height: 116px/2;
            text-align: center;
            font-size: 12px;
            color: @colorGray2;
        }
        .setTrans-main {
            height: 40px;
            text-align: center;
            span {
                float: left;
                line-height: 40px;
                font-size: 12px;
                &.span1 {
                    padding: 0 16px 0 14px;
                }
                &.span2 {
                    padding-left: 13px;
                }
            }
            .u-input {
                float: left;
                background-color: #fff;
                border: 2px solid #a4a9ae;
                width: 314px/2;
                text-indent: 5px;
                font-size: 12px;
            }
        }
        .toolBar {
            height: auto;
            padding: 24px 0;
            ul {
                float: none;
                text-align: center;
                li {
                    float: none;
                    display: inline-block;
                    *display: inline;
                    *zoom: 1;
                    .button {
                        width: 270px/2;
                        height: 40px;
                        line-height: 40px;
                        text-align: center;
                        font-size: 14px;
                        border-radius: 4px;
                        margin-left: 0;
                        padding: 0;
                        margin: 0;
                        background: #7c7b80;
                        margin-left: 5px;
                        &:hover {
                            background-color: #f54f4f;
                        }
                        span {
                            background: none;
                            padding: 0;
                            display: block;
                            width: 100%;
                            line-height: 40px;
                            color: #fff;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}