.orderDetail{
	.breadcrumb{
		height: 45px;
		line-height: 45px;
		font-size: 12px;
		color:@colorGray2;
		a{
			color:@colorGray2;
			&:hover{
				text-decoration: none;
			}
		}
	}
	.g-pannel{
		margin-bottom: 10px;
	}
	.order-title{
		height: 124px/2;
		line-height: 72px;
		text-indent: 20px;
	}
	.recieverInfo{
		.reciever{
			.kkkd{
				color:#f0f2f5;
				font-size: 100px;
				height: 72px;
				line-height: 72px;
				padding-left: 10px;
			}
			.reciever-main{
				height: 144px/2;
				width: 1480px/2;
				margin-left: 10px;
				padding-bottom: 18px;
				h3{
					margin-bottom: 6px;
				}
				h3 span{
					font-size: 14px;
					line-height: 62px/2;
					display: inline-block;
					font-weight: bold;
				}
				p{
					line-height: 18px;
					span{
						color:@colorGray2;
						padding-right: 8px;
					}
				}
			}
		}
	}
	.msgInfo{
		p{
			line-height: 22px;
			padding: 0 18px 20px;
		}
	}
	.proInfo{
		.order-title{
			line-height: 68px;
			border-bottom: 1px solid @borderColor;
		}
		tr.hover{
			background: none!important;
		}
	}
	.orderInfo{
		padding-bottom: 17px;
		p{
			padding-left: 48px/2;
			font-size: 12px;
			line-height: 18px;
			span{
				color:@colorGray2;
				padding-right: 8px;
			}
			&.addTime{
				margin-top: 8px;
			}
			&.trans{
				margin-top: 18px;
			}
		}
	}
}