.orderlist{
	.searchBar{
		background-color: #fff;
		height: 57px/2;
		padding: 7px 6px 7px 20px;
		margin-bottom: 20px;
		.stateList{
			a{
				float: left;
				line-height: 57px/2;
				padding: 0 16px;
				transition:@timer;
				color:@colorGray2;
				font-size: 12px;
				.borderRadius(15px);
				margin-right: 45px;
				&:hover,&.active{
					text-decoration: none;
					background-color: @colorOrange;
					color:#fff;
				}
			}
		}
	}
	.thead{
		height: 40px;
		border-bottom: 1px solid @borderColor;
		text-indent: 16px;
		.addTime,.orderNo,.reciever{
			line-height: 40px;
			font-size: 12px;
			color:#bababf;
			span{
				color:@colorBlack;
			}
		}
		.addTime{
			width: 416px/2;
		}
		.orderNo{
			width: 468px/2;
		}
	}
	.proList{
		margin-top: 18px/2;
		&:hover{
			border-bottom-color: @colorOrange;
		}
	}
}