@colorOrange:#f64f50;
.bgbdra{
  background-color: #fff;
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 
  border-radius: 5px;
  margin-bottom: 20px;
}
#uploadify2{
  float: left;
}

a:hover{
  text-decoration: none;
}
.fl-l{
  display: inline-block;
  float: left;
}
.describeAdds .sku-form-sku .sku-form-skus-item.fn-hide{
  display: none;
}
.clearfix ,.pageFormContent li,.pageFormContent-item {
  *zoom: 1
}

.clearfix:before, .clearfix:after,.pageFormContent li:before, .clearfix:after,.pageFormContent li:after {
  content: "";
  display: table
}

.clearfix:after {
  clear: both
}
.fn-hide{
  display: none;
}
.fontico{
  font-family: "kkkd";
  font-size: 20px;
  color: #f64f50;
  text-align: center;
}
.w40{
  width: 40px;
}
.product{
  font-size: 12px;
  color: #91939a;
  padding: 28px 22px;
  #uploadify{
    float: left;
  }
  .h3-title{
    text-align: center;
  }
  .pro-blue{
    border: 2px solid #3f76b4;
    color: #3f76b4;
    font-size: 12px;
  }
  td .bdl{
    padding: 12px;
  }
  .bdn{
    border: none;
  }
  .bdl{
    border-left: 1px solid #edeff0;
  }
  .bdb{
    border-bottom: 1px solid #f0f2f5;
    padding: 20px 0;
  }

.pro-img{
  margin-left: 10px;
}
.pro-name{
  width: 110px;
}
  .pro-name,.pro-text{
    height: 66px;
    line-height: 66px;
    vertical-align: middle;
    padding: 0 10px;
    overflow-y: auto;
  }
  .pro-name span,.pro-text span{
    display: block;
    height: auto;
    line-height: 18px;
    word-break:break-all;
  }
  .pro-text{
    width: 350px;
  }
  .pro-btns{
    padding-left: 20px;
  }
  .pro-table .textInput{
    float: none;
    background-color: #fbfbfb;
    border: 0;
    background-image: none;
  }
  .uploadify-button{
    background-color: #fbfbfb;
    border: 3px solid #f5f5f6;
    color: #a4a9ae;
    width: 80px;
    height: 80px;
    overflow: hidden;
  }
  .prodetailbox{
    width: 688px;
    max-height: 690px;
    overflow: scroll;
  }
  .fl-l{
    display: inline-block;
    float: left;
  }
.skus-delete{
  color: #f64f50;
}
  .add-sku-btn{
    display: block;
    color: #3f76b4;
    text-decoration: underline;
    padding-top: 18px;
  }
  .uploadify-button-text{
    position: absolute;
    color: #a4a9ae;
    font-size: 100px;
    margin: -15px 0 0 -29px;
    left: 50%;
  }
  .pageEditor{
    display: none;
  }
  .pageFormContent li {
      float: none;
      min-height: 40px;
      margin-bottom: 10px ;
      overflow: hidden;
      position: relative;
    .fn-hide{
      display: none;
    }
    label {
      min-width: 70px;
      text-align: left;
      font-size: 12px;
      color: #91939a;
      line-height: 48px;
      left: 0!important;
    }
    input.setinput,#data-choose input {
      height: 40px;
      line-height:40px;
      width: 220px;
      text-indent: 1em;
      background-color: #fafbfc;
      border: 2px solid #e3e4e8;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
    }
     textarea {
      height: 80px;
      width: 650px;
      text-indent: 1em;
      background-color: #fafbfc;
      border: 2px solid #e3e4e8;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      padding: 10px 2px;
      resize: none;
    }
    .sku-item{
      min-height: 38px;
      line-height: 38px;
      margin-bottom: 0;
    }
    .sku-item span{
      margin-right: 10px;
      white-space: nowrap;
    }
    .spec-name{
      border: 1px solid #bababf;
      -webkit-border-radius: 5px; 
      -moz-border-radius: 5px; 
      border-radius: 5px;
      font-size: 12px;
      color: #2d3242;
      padding: 6px 12px;
      cursor: pointer;
    }
    .sku-item .spec-name:hover, .sku-item .spec-active{
      background-color: #f64f50;
      color: #fff;
      border: 1px solid #f64f50;
    }
  }

  .input-radio{
    display: inline-block;
    float: left;
    margin-top: 17px;
  }
  .pro-unit{
    display: inline-block;
    float: left;
    line-height: 48px;
    padding: 0 48px 0 10px;
  }
  .pro-table{
    float: right;
    width: 89%;
    background-color: #fbfbfb;
    border: 1px solid #e3e4e8;
    border-width: 2px 0;
  }
  .text-r{
    text-align: right;
    color: #f64f50;
  }
  .pro-table{
    color: #bababf;
    td{
      padding-top: 12px;
      padding-bottom: 12px;
      padding-right: 12px;
      div{
        text-align: center;
      }
    }

  }
  .pro-btn{
    height: 28px;
    line-height: 28px;
    margin-top: 10px;
  }

  .add-btn{
    font-size: 12px;
    color: #3f76b4;
    text-decoration: underline;
  }
  .pro-img img{
    display: block;
    width: 66px;
    height: 66px;overflow: hidden;
  }
  .edit,.detele{
    color: #3f76b4;
    font-size: 12px;
    padding-top: 12px;
    cursor: pointer;
  }

  .pl14{
    padding-left: 14px;
  }
  .pr14{
    padding-right: 14px;
  }
  .my-uploadify-button {
    background:none;
    border: none;
    text-shadow: none;
    border-radius:0;
  }

  .uploadify:hover .my-uploadify-button {
    background:none;
    border: none;
  }

  .fileQueue {
    width: 400px;
    height: 150px;
    overflow: auto;
    border: 1px solid #E5E5E5;
    margin-bottom: 10px;
  }
  .ml80{
    margin-left: 80px;
  }
  .sku-delete{
    display: block;
  }
  #data-choose input{
    width: 160px;
    margin-right: 20px;
  }
  .add-sku-ico{
    color: #628fc1;
    margin-top: 5px;
  }
  .moveico{
    display: block;
    color: #7c7c7f;
    margin: 26px 0 0 15px;
  }
  .dialog .prodetailbox{
    height: auto;
  }
  span.error{
    right: 0;
  }
}
//data
#calendar{
  border: 1px solid #d6d6d6;
  box-shadow: #DEDEDE 1px 1px 1px;
  background-color: #fff;
  padding: 10px;
  .head{
    background-color: #fff;
    border: 0;
  }
  .body{
    border: 0;
  }
  .days dd{
    box-sizing: border-box;
  }
  .days dd.slt{
    color: #fff;
    background-color: #f64f50;
    border: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  .foot{
    border-width: 1px 0 0 0;
    border-color: #dedede;
    background-color: #fff;
    padding-top: 5px;
  }
  .time .up,.time .down{
    border: 1px solid #DEDEDE;
  }
  .time td{
    border: 1px solid #dedede;
  }
  .clearBut,.okBut{
    background-color: #fff;
    border: 1px solid #DEDEDE;
    color: #000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  .days dd.other{
    color: #f64f50;
  }
  .head select{
    border: 1px solid #DEDEDE;
  }
}
//推荐滑动按钮
.pageFormContent{
  .danbanbtn{
    float: left;
    margin: 8px 4px;
    width: 60px;
    height: 30px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-image: url('../images/danbao.png');
    background-position: 0 0;
    cursor: pointer;
  }
  .danbanbtn.notneed {
  background-position: -60px 0;
    animation: notneeddanbao .5s;
    -moz-animation: notneeddanbao .5s;
    -webkit-animation: notneeddanbao .5s;
    -o-animation: notneeddanbao .5s;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
  }
  .danbanbtn.need {
    animation: needdanbao .5s;
    -moz-animation: needdanbao .5s;
    -webkit-animation: needdanbao .5s;
    -o-animation: needdanbao .5s;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
  }

}

.bgb{
  display: none;
  background-color: #000;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  filter: alpha(opacity=40);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1010;
}
//sku
.page .sku-edit h5{
  color: #7c7c7f;
  font-size: 12px;
  border-bottom: none;
}
.skuEdit li{
  display: inline-block;
  float: left;
  padding-left: 96px;
}
.describeAdd .pageFormContent li .sku-form-item,.describeAdds .pageFormContent li .sku-form-item{
  line-height: 48px;
}
.skuEdit{
  margin: 0 22px;
  color: #bababf;
  padding: 12px 0 18px 0;
  border-bottom: 1px solid #edeff0;
}
.skuEdit .active{
  color: #f64f50;
}
.describeAdd .sku-form-common .pro-btn,.describeAdds .sku-form-common .pro-btn{
  margin: 0;
}
.sku-form-common{
  line-height: 48px;
}
.sku-form-common .textInput{
  height: 40px;
  width: 100px;
  text-indent: 1em;
  background-color: #fafbfc;
  border: 2px solid #e3e4e8;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
span#type-btn{
  float: left;
  margin-top: 10px;
}
.sku-form-common .sku-checkbox{
  padding-right: 20px;
  white-space: nowrap;
}
.sku-checkbox-item{
  display: inline-block;
  float: left;
  .sku-name-detele{
    padding: 0 20px 0 6px;
  }
}
.diy-type .sku-name-detele{
  padding: 0 4px 0 14px;
}
.sku-form-type{
  width: 552px;
}
.describeAdds {
  .pageFormContent label{
    width: 12%;
  }
  .pageFormContent{
    width: 94%;
    margin: 0 auto;
  }
  .pro-blue{
    border: 2px solid #3f76b4;
    color: #3f76b4;
    font-size: 12px;
  }
  .formBar{
    width: 296px;
    margin: 58px auto 20px;
    border: none;
  }
  .pageFormContent-item .diy-type{
    line-height: 48px;
  }
  .pageFormContent-item{
    margin-bottom: 20px;
  }
  .sku-form-common{
    float: left;
    width: 83%;
    line-height: 28px;

  }

  .skusuccess {
    .bdr{
      line-height: 18px;
      border-right: 1px solid #edeff0;
    }
    .pro-table {
      display: block; 
      margin: 0 auto;
      width: 94%;
      height: 300px;
      padding: 0 20px;
      overflow: scroll;
      float: none;
      background-color: #fbfbfb;
      color: #2d3242;
      table{
        width:100%;
      }
    }
    .sku-delete{
      color: #3f76b4;
      font-size: 12px;
    }
    .pro-table{
      .w20{
        width: 30%;
      }
      td{
        //      width: 24%;
        text-align: center;
        div{
          border-right: 1px solid #e5e5e5;
          padding-right: 12px;
          line-height: 18px;
        }
        input{
          border: 0;
          background: #fbfbfb;
          text-align: center;
        }
      }
      th{
        div{
          border-right: 1px solid #e5e5e5;
          padding-right: 12px;
        }
      }
      td.w40{
        width: 10%;
      }
      td,th{
         text-align: center;
         padding: 12px 0 12px 12px;
         border-bottom: 1px solid #e5e5e5;
         //      border-width: 0 1px 1px 0;
         line-height: 18px;
       }
      .tr-detele{
          cursor: pointer;
          color: #3f76b4;
        }
    }
  }


  .sku-form-sku .sku-form-skus-item {
    display: inline-block;
    float: left;
    border: 2px solid #e3e4e8;
    margin: 0 10px 10px 0;
    color: #555;
    font-size: 12px;
    padding: 8px;
    min-height: inherit;
    line-height: normal;
  }
  .sku-form-skus-item input{
    display: inline-block;
    float: left;
    border: 0;
    width: 50px;
    background-color: #fbfbfb;
  }
  .sku-form-skus-item .sku-name-detele{
    display: inline-block;
    float: left;cursor: pointer;
  }
  .sku-form-sku .sku-form-skus-item .fontico{
    font-size: 12px;
    text-align: right;
    padding-right: 0;
    color: #555;
  }
  .pageFormContent .sku-checkbox-item {
    margin: 0;
  }
  .skunext .formBar,.skusuccess .formBar{
     width: 440px;
    margin-top: 20px;
   }
  .skunext .sku-form-type span{
      position: relative;
  }
  .skunext .pageFormContent .pageFormContent-item{
    position: relative;
    padding: 20px 23px;
    margin-bottom: 10px;
    background-color: #fbfbfb;
    border: 1px solid #e3e4e8;
    border-width: 2px 0;
    label{
      line-height: 32px;
      min-width: inherit;
    }
    .add-sku-btn{
      display: block;
      clear: both;
      padding-top: 18px;
    }
    .add-sku-btn-text{
      text-decoration: underline;
    }
  }
  .add-sku-btn .add-sku-ico{
    color: #3f76b4;
    font-size: 16px;
  }
}
  .sku-add-close{
    display: block;
    width: 133px;
    color: #fff;
    font-size: 12px;
    line-height: 40px;
    text-align: center;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    background-color: #7c7c7f;
    cursor: pointer;
  }
  .sku-name-detele{
    padding-right: 22px;
  }
  .sku-name-comfirm{
    color: #56c52f;
  }
  div.diy-type{
    line-height: 48px;
  }
  .sku-detele{
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -10px;
    font-size: 25px;
    cursor: pointer;
  }
.sku-form-common .sku-checkboxs{
  margin-bottom: 10px;
}
.sku-next{
  height: 600px;
  margin-top: -300px;
}
.sku-next .pageFormContent{
  max-height: 384px;
  overflow: scroll;
}
#skuNext .pageFormContent{
  height: 290px;
}
.alert .alertContent{
  z-index: 9999;
}
.release-btn{
  display: block;
  margin: 0 auto;
  background-color: #f64f50;
  width: 133px;
  color: #fff;
  font-size: 12px;
  line-height: 40px;
  text-align: center;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  cursor: pointer;
}
.sku-spec-name{
  width: 86%;
}
.type-text{
  color: #f64f50;
  font-size: 12px;
}
.edit-type-item input,.type-text{
  margin-top: 17px;
}
.edit-type-item input{
  margin-left: 1px;
}
.edit-type-infor{
  float: right;
  width: 89%;
}

#describeAdd .imgBox{
  float: left;
  span{
    width: 86px;
    height: 86px;
    margin-right: 4px;
    position: relative;
    float: left;
    img{
      width: 86px;
      height: 86px;
      display: block;
    }
    i{
      font-family: "kkkd";
      position: absolute;
      right: 0px;
      top: 3px;
      font-size: 20px;
      cursor: pointer;
      color:@colorOrange;
    }
  }
}

.upload-add {
  &.productImgs .imgBox img{
    width: 86px;
    height: 86px;
  }
  .imgBox {
    float: left;
    span {
      display: inline-block;
      float: left;
      position: relative;
      margin-right: 4px;
    }
    img {
      display: block;
      width: 80px;
      height: 80px;
      overflow: hidden;
    }
    
    i {
      font-family: "kkkd";
      position: absolute;
      right: 0px;
      top: 3px;
      font-size: 20px;
      cursor: pointer;
      color: @colorOrange;
      padding:3px 0;
    }

    .uploadify {
      margin-left: 80px;
      width: 87px;
      height: 87px;
      object {
        left: 0;
      }
      .uploadify-button {
        position: absolute;
        top: 0;
      }
      .uploadify-button-text {
        display: block;
        text-align: center;
        position: static;
        margin: 0;
        font-size: 80px;
        line-height: 80px;
      }
    }
  }
}
  .uploadify-queue{
    margin-left: 80px;
  }
#dialogMask{
  width:100%; 
  height:100%; 
  opacity:0.4; 
  filter:alpha(opacity=40); 
  background:#000; 
  position:fixed; 
  top:0; 
  left:0; 
  z-index:990;
}
.buttonActive,.sku-add-close{
  *width: 143px;
}

 .uploadBox{
  float: left;
  width: 86px;
  height: 86px;
  overflow: hidden;
  position: relative;
 }
  #uploadify,#uploadify2{
    text-align: center;
    font-size: 80px;
    line-height: 80px;
    background-color: #fbfbfb;
    border: 3px solid #f5f5f6;
    color: #a4a9ae;
    width: 80px;
    height: 80px;
    overflow: hidden;
    cursor: pointer;
  }

.wth-720{
  width: 720px;
}