.setting {
    .uploadify-queue-item {
        margin: 20px 0 0 70px;
    }
    .tabsHeader {
        .tabsHeaderContent {
            ul {
                display: block;
                height: 40px;
                background-color: #fff;
                .borderRadius(3px);
                box-shadow: 0px 2px 2px #D7DADF;
                li {
                    display: inline-block;
                    *display: inline;
                    *zoom: 1;
                    margin: 5px 18px;
                    font-size: 12px;
                    color: #fff;
                    width: 80px;
                    height: 30px;
                    .borderRadius(15px);
                    background-color: #fff;
                    text-align: center;
                    line-height: 30px;
                    &.selected {
                        background-color: #f64f50;
                        a {
                            color: #fff;
                        }
                    }
                    a {
                        text-decoration: none;
                        color: #7c7c7f;
                        line-height: 30px;
                    }
                }
            }
        }
    }
    .tabsContent {
        .divbox {
            width: 100%;
            margin-top: 20px;
            background-color: #fff;
            .borderRadius(3px);
        }
    }
    .pageFormContent {
        li {
            float: none;
            min-height: 40px;
            margin: 30px 23px;
            overflow: hidden;
            position: relative;
            label {
                min-width: 70px;
                text-align: right;
                font-size: 12px;
                color: #91939a;
                line-height: 48px;
            }
            input {
                &.setinput {
                    height: 40px;
                    width: 220px;
                    padding: 0 1em;
                    background-color: #FAFBFC;
                    border: 2px solid #E3E4E8;
                    .borderRadius(3px);
                    line-height: 44px;
                }
            }
            textarea {
                height: 80px;
                width: 680px;
                padding: 1em;
                background-color: #FAFBFC;
                border: 2px solid #E3E4E8;
                .borderRadius(3px);
                resize: none;
            }
            .textlabel {
                line-height: 98px;
            }
            .combox {
                margin: 5px 10px 5px 0;
            }
        }
    }
    .formBar {
        height: 64px;
        background-color: #2d3242;
        overflow: hidden;
        ul {
            width: 310px;
            overflow: hidden;
            margin: 12px auto;
            li {
                margin: 0 8px;
                *float: left;
            }
        }
        .buttonContent {
            button {
                width: 133px;
                color: #fff;
                font-size: 12px;
                line-height: 40px;
                text-align: center;
                .borderRadius(3px);
                background-color: #7c7c7f;
                cursor: pointer;
            }
        }
        .buttonActive {
            .buttonContent {
                button {
                    background-color: #f64f50;
                }
            }
        }
    }
    .pageFormContent {
        li {
            .uploadify-button {
                background-color: #fff;
                .uploadify-button-text {
                    line-height: 30px;
                }
            }
            .shopbanner {
                margin: 0;
                padding: 0;
                float: left;
                li {
                    margin: 0;
                    padding: 0;
                    .borderRadius(3px);
                    border: 2px solid #E3E4E8;
                    img {}
                }
            }
            .imgUploadBox{
                margin: 6px 0 0 17px;
                width: 84px;
                height: 34px;
                overflow: hidden;
                float: left;
                border-radius: 30px;
                position: relative;
            }
            #imgUpload {
                height: 30px;
                line-height: 30px;
                border-radius: 30px;
                width: 80px;
                border: 2px solid #808080;
                color: #000;
                text-align: center;
                cursor: pointer;
            }
            #imgUpload-queue {
                float: left;
                margin: -10px 10px;
            }
            ul {
                .imglist {
                    float: left;
                }
            }
            .icheckbox {
                float: left;
                margin-top: 15px;
            }
            .danbao {
                float: left;
                margin: 17px 2px;
                display: inline-block;
                *display: inline;
                *zoom: 1;
                text-decoration: underline;
                color: #3f76b4;
            }
            .danbaobtn {
                float: left;
                margin: 8px 4px;
                width: 60px;
                height: 30px;
                .borderRadius(3px);
                background-image: url('../images/danbao2.png');
                background-position: 0 0;
                cursor: pointer;
                &.need {
                    animation: needdanbao 0.5s;
                    -moz-animation: needdanbao 0.5s;
                    /* Firefox */
                    
                    -webkit-animation: needdanbao 0.5s;
                    /* Safari and Chrome */
                    
                    -o-animation: needdanbao 0.5s;
                    /* Opera */
                    
                    -moz-animation-fill-mode: forwards;
                    -webkit-animation-fill-mode: forwards;
                    -o-animation-fill-mode: forwards;
                    -ms-animation-fill-mode: forwards;
                }
                &.notneed {
                    animation: notneeddanbao 0.5s;
                    -moz-animation: notneeddanbao 0.5s;
                    /* Firefox */
                    
                    -webkit-animation: notneeddanbao 0.5s;
                    /* Safari and Chrome */
                    
                    -o-animation: notneeddanbao 0.5s;
                    /* Opera */
                    
                    -moz-animation-fill-mode: forwards;
                    -webkit-animation-fill-mode: forwards;
                    -o-animation-fill-mode: forwards;
                    -ms-animation-fill-mode: forwards;
                }
            }
            .yuan {
                display: inline-block;
                line-height: 48px;
                margin-left: 8px;
            }
            em {
                &.removemap {
                    font-family: "kkkd";
                    padding-right: 4px;
                    cursor: pointer;
                    position: absolute;
                    cursor: pointer;
                    top: -9px;
                    right: -2px;
                    font-size: 21px;
                    color: #f64f50;
                    background-color: #fff;
                }
            }
            &.postlist {
                ul {
                    overflow: hidden;
                    padding-top: 5px;
                    width: 86%;
                    li {
                        margin: 5px 0;
                        float: left;
                        position: relative;
                        overflow: visible;
                    }
                }
            }
            .freeaddress {
                float: left;
                margin: 0 10px 0 0;
                display: inline-block;
                padding: 5px;
                height: 30px;
                min-width: 70px;
                border: 1px solid #f64f50;
                background-color: #FFF6F6;
                color: #000;
                line-height: 30px;
                text-align: center;
                .borderRadius(3px);
            }
            .addfreemap {
                height: 38px;
                width: 75px;
                margin-top: 5px;
                text-align: center;
                line-height: 36px;
                color: #fff;
                cursor: pointer;
                background-color: #f64f50;
                .borderRadius(3px);
            }
            &.h5li {
                margin: 0;
            }
        }
        hr {
            margin: auto 37px;
        }
        h5 {
            margin: 31px 37px 0 37px;
            font-size: 12px;
            a {
                color: #3f76b4;
                text-decoration: underline;
            }
            em {
                font-family: "kkkd";
                padding-right: 4px;
                cursor: pointer;
                font-size: 19px;
                color: #3f76b4;
            }
            span {
                display: inline-block;
                *display: inline;
                *zoom: 1;
                margin-bottom: 70px;
            }
        }
        &.custompost {
            margin: 0;
        }
    }
}
/*     淘宝搬家    */

.kdmove {
    background-color: #fff;
    overflow: hidden;
    min-height: 787px;
    h5 {
        margin: 26px 22px;
    }
    .statusbox {
        text-align: center;
        width: 444px;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
    }
    .kdmove_line_bg {
        width: 96%;
        height: 16px;
        background-color: #f6f7f8;
        position: absolute;
        top: 14px;
        left: 3px;
        z-index: 0;
    }
    .kdmove_line_now {
        width: 0%;
        height: 16px;
        background-color: #f64f50;
        position: absolute;
        top: 16px;
        left: 3px;
        z-index: 1;
    }
    .kdmove_step {
        display: inline-block;
        height: 44px;
        width: 44px;
        color: #bbbbc0;
        font-size: 30px;
        text-align: center;
        line-height: 44px;
        background-color: #f6f7f8;
        .borderRadius(22px);
        font-family: "FZFYSJW", "微软雅黑", "Microsoft YaHei", Tahoma, Verdana;
        position: relative;
        z-index: 2;
        behavior: url('../js/plugins/PIE.htc');
    }
    .status {
        background-color: #f64f50;
        color: #fff;
    }
    .fl {
        float: left;
    }
    .fr {
        float: right;
    }
    .kdmove_title {
        width: 58%;
        margin: 11px auto;
        text-align: center;
        li {
            color: #bababf;
            display: inline-block;
            width: 100px;
        }
    }
    .setinput {
        height: 33px;
        width: 220px;
        margin: 0px 7px;
        padding: 0 1em;
        background-color: #FAFBFC;
        border: 2px solid #E3E4E8;
        .borderRadius(3px);
        line-height: 15px;
        line-height: 30px\9;
        *line-height: 30px;
    }
    .copycode {
        height: 38px;
        width: 85px;
        margin-top: 5px;
        text-align: center;
        line-height: 36px;
        color: #fff;
        cursor: pointer;
        background-color: #f64f50;
        .borderRadius(3px);
        *vertical-align: middle;
        *margin-top: 0;
    }
    .status_header {
        width: 420px;
        margin: 0 auto;
    }
    .status1,
    .status2,
    .status3 {
        p {
            margin-top: 25px;
            text-align: center;
            line-height: 18px;
        }
    }
    .status1,
    .status2 {
        p {
            em {
                font-family: "kkkd";
                padding-right: 4px;
                color: #f64f50;
            }
        }
    }
    .status3 {
        p {
            img {
                margin: 68px auto 34px auto;
            }
        }
    }
    .nextstep {
        height: 38px;
        width: 400px;
        display: block;
        margin: 36px auto;
        text-align: center;
        line-height: 36px;
        color: #fff;
        cursor: pointer;
        background-color: #f64f50;
        .borderRadius(3px);
    }
}

.horizon {
    height: 2px;
    margin: 50px 22px 30px 22px;
    border: 2px solid #bababf;
    border-width: 1px 0 0 0;
}

.block {
    display: inline-block;
}

.none {
    display: none;
}

.dialogbox-text {
    width: 600px;
    height: 400px;
    background-color: #fff;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    padding: 35px 13px 15px;
    position: fixed;
    overflow: hidden;
    .dialog-close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-family: "kkkd";
        font-size: 20px;
        cursor: pointer;
    }
    .dialog-close:hover {
        opacity: 0.8;
        filter: alpha(opacity=80);
    }
}

@keyframes notneeddanbao {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -60px 0;
    }
}

@-moz-keyframes notneeddanbao {
    /* Firefox */
    
    from {
        background-position: 0 0;
    }
    to {
        background-position: -60px 0;
    }
}

@-webkit-keyframes notneeddanbao {
    /* Safari and Chrome */
    
    from {
        background-position: 0 0;
    }
    to {
        background-position: -60px 0;
    }
}

@-o-keyframes notneeddanbao {
    /* Opera */
    
    from {
        background-position: 0 0;
    }
    to {
        background-position: -60px 0;
    }
}

@keyframes needdanbao {
    from {
        background-position: -60px 0;
    }
    to {
        background-position: 0 0;
    }
}

@-moz-keyframes needdanbao {
    /* Firefox */
    
    from {
        background-position: -60px 0;
    }
    to {
        background-position: 0 0;
    }
}

@-webkit-keyframes needdanbao {
    /* Safari and Chrome */
    
    from {
        background-position: -60px 0;
    }
    to {
        background-position: 0 0;
    }
}

@-o-keyframes needdanbao {
    /* Opera */
    
    from {
        background-position: -60px 0;
    }
    to {
        background-position: 0 0;
    }
}