.borderRadius(@radius)
{
	border-radius: @radius;
	-webkit-border-radius: @radius;
  	-moz-border-radius: @radius;
  	-o-border-radius:@radius;
}
.boxSizing(@state)
{
	-webkit-box-sizing: @state;
  	-moz-box-sizing: @state;
  	box-sizing: @state;
}
.boxShadow(@h-shadow,@v-shadow,@blur:0px,@color:#000,@spread:0px,@inset:outset) when (@inset=outset)
{
	box-shadow:@h-shadow @v-shadow @blur @spread @color;
	-moz-box-shadow:@h-shadow @v-shadow @blur @spread @color;
	-webkit-box-shadow:@h-shadow @v-shadow @blur @spread @color;
}
.boxShadow(@h-shadow,@v-shadow,@blur:0px,@color:#000,@spread:0px,@inset:outset) when (@inset=inset)
{
	box-shadow:@h-shadow @v-shadow @blur @spread @color inset;
	-moz-box-shadow:@h-shadow @v-shadow @blur @spread @color inset;
	-webkit-box-shadow:@h-shadow @v-shadow @blur @spread @color inset;
}
.textShadow(@h-shadow,@v-shadow,@blur:0px,@color:#000)
{
	text-shadow:@h-shadow @v-shadow @blur @color;
}
.gradient(@type,@start,@end)when (@type=top){
	background: -ms-linear-gradient(@type, @start, @end);  
	background: -moz-linear-gradient(@type, @start, @end); 
	background: -webkit-gradient(linear,@type,from(@start),to(@end));
	background: -webkit-linear-gradient(@type, @start, @end);
	background: -o-linear-gradient(@type, @start, @end);
	
}
.gradient(@type,@start,@end)when (@type=left){
	background: -ms-linear-gradient(@type, @start, @end); 
	background: -moz-linear-gradient(@type, @start, @end); 
	background: -webkit-gradient(linear,@type,from(@start),to(@end));
	background: -webkit-linear-gradient(@type, @start, @end);
	background: -o-linear-gradient(@type, @start, @end);
}
.T-original(@pos){
    transform-origin: @pos;
    -webkit-transform-origin: @pos;
    -moz-transform-origin: @pos;
}
.translate(@X,@Y)
{
	transform:translate(@X,@Y);
	-ms-transform:translate(@X,@Y); /* IE 9 */
	-moz-transform:translate(@X,@Y); /* Firefox */
	-webkit-transform:translate(@X,@Y); /* Safari and Chrome */
	-o-transform:translate(@X,@Y); /* Opera */
}
.rotate(@deg)
{
	transform:rotate(@deg);
	-ms-transform:rotate(@deg); /* IE 9 */
	-moz-transform:rotate(@deg); /* Firefox */
	-webkit-transform:rotate(@deg); /* Safari and Chrome */
	-o-transform:rotate(@deg); /* Opera */
}
.scale(@X,@Y)
{
	transform: scale(@X,@Y);
	-ms-transform: scale(@X,@Y);	/* IE 9 */
	-webkit-transform: scale(@X,@Y);	/* Safari 和 Chrome */
	-o-transform: scale(@X,@Y);	/* Opera */
	-moz-transform: scale(@X,@Y);	/* Firefox */
}
.skew(@degX,@degY) 
{
	transform: skew(@degX,@degY);
	-ms-transform: skew(@degX,@degY);	/* IE 9 */
	-webkit-transform: skew(@degX,@degY);	/* Safari and Chrome */
	-o-transform: skew(@degX,@degY);	/* Opera */
	-moz-transform: skew(@degX,@degY);	/* Firefox */
}
.rotate3DX(@deg)
{
	transform: rotateX(@deg);
	-webkit-transform: rotateX(@deg);	/* Safari 和 Chrome */
	-moz-transform: rotateX(@deg);	/* Firefox */
}
.rotate3DY(@deg)
{
	transform: rotateY(@deg);
	-webkit-transform: rotateY(@deg);	/* Safari 和 Chrome */
	-moz-transform: rotateY(@deg);	/* Firefox */
}
.rotate3DZ(@deg)
{
	transform: rotateZ(@deg);
	-webkit-transform: rotateZ(@deg);	/* Safari 和 Chrome */
	-moz-transform: rotateZ(@deg);	/* Firefox */
}
.opacity(@percentage)
{
	filter: alpha(opacity=@percentage);
	-moz-opacity: @percentage/100;
	opacity: @percentage/100;
}
.dB{
	display: box;
	display: -webkit-box;
	display: -moz-box;
}
.boxPack(@pos)
{
    -moz-box-pack: @pos;
    -webkit-box-pack: @pos;
    box-pack: @pos;
}
.boxAlign(@pos)
{
    -moz-box-align: @pos;
    -webkit-box-align: @pos;
    box-align: @pos;
}