.coupon-intro-canvas{
	width:285px;
	height:320px;
	overflow: hidden;
	position: relative;
	margin: 0px auto;
	font-family: bold;
}
.coupon-canvas{
	background:  url(/bos/_resources/images/promotion_coupon.png) no-repeat;
	width:283px;
	height:175px;
	position: absolute;
	margin-top:15px;
	color:white;
	font-size: 20px;
}
.coupon-rule {
	position: absolute;
	top: 10px;
	right: 15px;
	text-align: right;
	font-size: 16px
}

.coupon-price .coupon-money{
	position: absolute;
	font-size: 46px;
	font-family: bold;
	top: 0px;
	left: 25px;
	padding: 0 0 0 18px;
}

.coupon-price .coupon-sign {
	font-size: 32px;
	display: block;
	position: absolute;
	top: 10px;
	left: 12px;
}

.coupon-rule {
	padding: 0;
	margin: 0;
	width:280px;
	white-space: nowrap;
	word-wrap: normal;
	overflow: hidden;
	text-overflow:ellipsis;
	text-align: right;
}
.coupon-bottom {
	position: absolute;
	bottom: 30px;
	left: 15px;
	font-size: 14px;
}
.coupon-bottom p {
	line-height:8px;
}
.coupon-sn{
	width:260px;
	white-space: nowrap;
	word-wrap: normal;
	overflow: hidden;
	text-overflow:ellipsis
}

.coupon-amount{
	position: absolute;
	bottom: -6px;
	font-size: 15px;
	color: black;
	width:100%;
}
.coupon-amount p{
	text-align: center;
}

.coupon-amount em{
	font-size: 24px;
}

