﻿*{font-size:9pt;border:0;margin:0;padding:0;}
body{font-family:'微软雅黑'; margin:0 auto;min-width:980px;
	background-color:#df7611;
	 background-image:url(/bos/_resources/images/login/light.png);
	 background-repeat:no-repeat;
	 background-position:center top;
	 overflow:hidden;
}
ul{display:block;margin:0;padding:0;list-style:none;}
li{display:block;margin:0;padding:0;list-style: none;}
img{border:0;}
dl,dt,dd,span{margin:0;padding:0;display:block;}
a,a:focus{text-decoration:none;color:#000;outline:none;blr:expression(this.onFocus=this.blur());}
a:hover{color:#EB5409;text-decoration:none;}
table{border-collapse:collapse;border-spacing: 0;}
cite{font-style:normal;}
h2{font-weight:normal;}

/*cloud*/

#mainBody {width:100%;height:100%;position:absolute;z-index:-1;}
.cloud {position:absolute;top:0px;left:0px;width:100%;height:100%;background:url(/bos/_resources/images/login/cloud.png) no-repeat;z-index:1;opacity:0.5;}
#cloud2 {z-index:2;}


/*login*/
.logintop{height:47px; position:absolute; top:0; background:url(/bos/_resources/images/login/loginbg1.png) repeat-x;z-index:100; width:100%;}
.logintop span{color:#fff; line-height:47px; background:url(/bos/_resources/images/login/loginsj.png) no-repeat 21px 18px; text-indent:44px; color:#fff; float:left;}
.logintop ul{float:right; padding-right:30px;}
.logintop ul li{float:left; margin-left:20px; line-height:47px;}
.logintop ul li a{color:#fff;}
.logintop ul li a:hover{color:#fff;}
.loginbody{background:url(/bos/_resources/images/login/loginbg3.png) no-repeat center center; width:100%; height:585px; overflow:hidden; position:absolute; top:47px;}
.systemlogo{background:url(/bos/_resources/images/login/logo.jpg) no-repeat center;width:100%; height:71px; margin-top:75px;}
.loginbox{width:692px; height:336px; background:url(/bos/_resources/images/login/logininfo.png) no-repeat; margin-top:210px; }
.loginbox ul{margin-top:88px; margin-left:285px;}
.loginbox ul li{margin-bottom:16px;}
.loginbox ul li label{color:#4b4343; padding-left:25px;}
.loginbox ul li label a{color:#4b4343;}
.loginbox ul li label a:hover{color:#f0580c;}
.loginbox ul li label input{margin-right:5px;}
.loginbox{width:692px; height:373px;margin-top:210px;}
.loginuser{width:344px; height:48px; background:url(/bos/_resources/images/login/loginuser.png) no-repeat; border:none; line-height:48px; padding-left:44px; font-size:14px; font-weight:bold;}
.loginpwd{width:344px; height:48px; background:url(/bos/_resources/images/login/loginpassword.png) no-repeat; border:none;line-height:48px; padding-left:44px; font-size:14px; color:#de9852;}
.loginbtn{width:111px;height:35px; background:url(/bos/_resources/images/login/buttonbg.png) repeat-x; font-size:14px; font-weight:bold; color:#fff;cursor:pointer; line-height:35px;}
.loginbm{height:50px; line-height:50px; text-align:center; background:url(/bos/_resources/images/login/loginbg2.png) repeat-x;position:absolute; bottom:0; width:100%; color:#fff8f5;}
.loginbm a{font-weight:bold;color:#fff8f5;}
.loginbm a:hover{color:#fff;}
.loginefail{
	position:absolute;
	left:480px;
	top:40px;
	line-height: 35px;
	color: red;
	font:italic bold 18px/26px arial,sans-serif;
}

.yzm{width:341px; height:46px; background:url(/bos/_resources/images/login/yzmbg.png) no-repeat; padding-bottom:5px;}
.yzm span{display:block; float:left;width:227px; height:46px;}
.yzm span input{background:none; border:none; width:225px; height:46px; line-height:46px;padding-left:44px;font-size:14px; color:#fff;}
.yzm cite{float:right; width:114px; height:46px; line-height:46px; font-size:18px; color:#fff; text-align:center;}

.loginbody1{background:url(/bos/_resources/images/login/loginbg4.png) no-repeat center center; width:100%; height:585px; overflow:hidden; position:absolute; top:250px;}
.systemlogo{width:100%; height:71px; margin-top:120px; text-align:center;}
.loginbox0{width:810px;margin-top:0px;height:252px;}
.loginlist{width:810px; overflow:hidden;}
.loginlist{margin-top:110px;}
.loginlist li{float:left; margin-left:3px; margin-right:3px;}
.loginlist li a{ display:block;width:196px; height:252px; background:url(/bos/_resources/images/login/lbg.png) no-repeat; text-align:center; padding-top:25px; cursor:pointer;}
.loginlist li a:hover{background:url(/bos/_resources/images/login/lbg1.png) no-repeat;}
.loginlist li a p{font-size:16px; color:#fff; padding-top:10px;}

