html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}


.as_page #afui {
	position: inherit;
}
.as_page #afui .header {
	position: fixed;
}
.as_page #afui #content {
	margin-top: 44px;
}

.logo {
	background: url('../../_resources/images/logo.jpg') no-repeat;
}