.menu-text {
    float: none;
    padding-left: 1px;
    font-size: 13px;
}

.topbar-collapse {
    float:right;
}

.ex_tabs_close {
    position:absolute;
    width: 12px;
    height:12px;
    top: 2px !important;
    right: 1px;
    left:auto;
    padding: 0;
    z-index: 100;
    cursor: pointer;
    overflow: hidden;
    display: inline;
    background: url('/bos/_resources/images/icons/tab_closed.png') no-repeat center center;
}

.menu-toggler>.menu-text{
	border-top-color: #be2f64;
	color: #963;
	box-shadow: 0 0 0 1px rgba(0,0,0,0);
}

.menu-toggler {
	background: #be2f64;
	background-image: linear-gradient(to bottom,#d2346e 0,#aa2a59 100%)!important;
	background-repeat: repeat-x!important;
}

.tabs-icon {
    top: auto;
    margin-top: auto;
}

.ex_tabs_home{
	background:url('/bos/_resources/images/icons/tab_home.png') no-repeat center center;
	top: 50%;
    margin-top: -8px
}
.ex_tabs_shop{
	background:url('/bos/_resources/images/icons/tab_shop.png') no-repeat center center;
}
.ex_tabs_product{
	background:url('/bos/_resources/images/icons/tab_product.png') no-repeat center center;
}
.ex_tabs_order{
	background:url('/bos/_resources/images/icons/tab_order.png') no-repeat center center;
}
.ex_tabs_orderRefund{
	background:url('/bos/_resources/images/icons/tab_orderRefund.png') no-repeat center center;
}
.ex_tabs_commission{
	background:url('/bos/_resources/images/icons/tab_commission.png') no-repeat center center;
}
.ex_tabs_withdraw{
	background:url('/bos/_resources/images/icons/tab_withdraw.png') no-repeat center center;
}
.ex_tabs_msg{
	background:url('/bos/_resources/images/icons/tab_msg.png') no-repeat center center;
}
.ex_tabs_sync{
	background:url('/bos/_resources/images/icons/tab_sync.png') no-repeat center center;
}
.ex_tabs_feedback{
	background:url('/bos/_resources/images/icons/tab_feedback.png') no-repeat center center;
}
.ex_tabs_activityOrder{
	background:url('/bos/_resources/images/icons/tab_activityOrder.png') no-repeat center center;
}
.ex_tabs_helper{
	background:url('/bos/_resources/images/icons/tab_helper.png') no-repeat center center;
}
.ex_tabs_couponManager{
	background:url('/bos/_resources/images/icons/tab_couponManager.png') no-repeat center center;
}
.ex_tabs_userCoupon{
	background:url('/bos/_resources/images/icons/tab_userCoupon.png') no-repeat center center;
}
.ex_tabs_activity{
	background:url('/bos/_resources/images/icons/tab_activity.png') no-repeat center center;
}
.ex_tabs_imgUpload{
	background:url('/bos/_resources/images/icons/tab_imgUpload.png') no-repeat center center;
}
.ex_tabs_imgTool{
	background:url('/bos/_resources/images/icons/tab_imgTool.png') no-repeat center center;
}
.ex_tabs_dataFix{
	background:url('/bos/_resources/images/icons/tab_dataFix.png') no-repeat center center;
}
.ex_tabs_newMoveProduct{
	background:url('/bos/_resources/images/icons/tab_newMoveProduct.png') no-repeat center center;
}
.ex_tabs_autowithdraw{
	background:url('/bos/_resources/images/icons/tab_autowithdraw.png') no-repeat center center;
}
.ex_tabs_dropdown_arrow{
	background:url('/bos/_resources/images/icons/tab_dropdown_arrow.png') no-repeat center center;
}
.ex_tabs_idTool{
  background:url('/bos/_resources/images/icons/tab_id_tool.png') no-repeat center center;
}
.ex_tabs_pushSmsMessage{
  background:url('/bos/_resources/images/icons/tab_pushSmsMessage.png') no-repeat center center;
}

