.loading-indicator {
	height: 80px;
	width: 80px;
	background: url( '/_resources/images/showloading/loading.png' );
	background-repeat: no-repeat;
	background-position: center center;
}

.loading-indicator-bars {
	height: 80px;
	width: 80px;
	background: url( '/_resources/images/showloading/loading-bars.gif' );
	background-repeat: no-repeat;
	background-position: center top;
}

.loading-indicator-pricing-bars {
	height: 80px;
	width: 80px;
	background: url( '/_resources/images/showloading/loading-bars.gif' );
	background-repeat: no-repeat;
	background-position: center center;
}

.loading-indicator-overlay {
	background-color: #CCCCCC;
	opacity: 0.4;
	filter: alpha(opacity = 40);
}