﻿<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout/mainPage">
	<head>
		<meta charset="utf-8" />
		<title>XQuark后台管理系统</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- basic styles -->
		<link rel="stylesheet" type="text/css" th:href="@{/_resources/css/bootstrap.min.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/_resources/css/font-awesome.min.css}" />

		<!--[if IE 7]>
		  <link rel="stylesheet" type="text/css" th:href="@{/_resources/css/font-awesome-ie7.min.css}" />
		<![endif]-->

		<!-- page specific plugin styles -->

		<!-- fonts -->

		<link rel="stylesheet" href="http://fonts.useso.com/css?family=Open+Sans:400,300}" />

		<!-- ace styles -->
		<link rel="stylesheet" type="text/css" th:href="@{/_resources/css/ace.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/_resources/css/xquark.css}" />
		<!--<link rel="stylesheet" type="text/css" th:href="@{/_resources/css/ace-rtl.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/_resources/css/ace-skins.min.css}" />-->

		<!--[if lte IE 8]>
		  <link rel="stylesheet" type="text/css" th:href="@{/_resources/css/ace-ie.min.css}" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->

		<script type="text/javascript" th:src="@{/_resources/js/ace-extra.min.js}"></script>
        <script type="text/javascript" th:src="@{/_resources/js/bootstrap-addtabs.js}"></script>
        <script type="text/javascript" th:src="@{/_resources/js/bootstrap.min.js}"></script>
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

		<!--[if lt IE 9]>
		<script type="text/javascript" th:src="@{/_resources/js/html5shiv.js}"></script>
		<script type="text/javascript" th:src="@{/_resources/js/respond.min.js}"></script>
		<![endif]-->
	</head>

	<body layout:fragment="content">
		<div class="navbar navbar-default" id="navbar">
			<script type="text/javascript">
				try{ace.settings.check('navbar' , 'fixed')}catch(e){}
			</script>

			<div class="navbar-container" id="navbar-container">
				<div class="navbar-header pull-left">
					<a href="#" class="navbar-brand">
						<small>
							<i class="icon-leaf"></i>
							XQuark后台管理系统
						</small>
					</a><!-- /.brand -->
				</div><!-- /.navbar-header -->

				<div class="navbar-header pull-right" role="navigation">
					<ul class="nav ace-nav">
						<li class="grey">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<i class="icon-tasks"></i>
								<span class="badge badge-grey">4</span>
							</a>

							<ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
								<li class="dropdown-header">
									<i class="icon-ok"></i>
									还有4个任务完成
								</li>

								<li>
									<a href="#">
										<div class="clearfix">
											<span class="pull-left">软件更新</span>
											<span class="pull-right">65%</span>
										</div>

										<div class="progress progress-mini ">
											<div style="width:65%" class="progress-bar "></div>
										</div>
									</a>
								</li>

								<li>
									<a href="#">
										<div class="clearfix">
											<span class="pull-left">硬件更新</span>
											<span class="pull-right">35%</span>
										</div>

										<div class="progress progress-mini ">
											<div style="width:35%" class="progress-bar progress-bar-danger"></div>
										</div>
									</a>
								</li>

								<li>
									<a href="#">
										<div class="clearfix">
											<span class="pull-left">单元测试</span>
											<span class="pull-right">15%</span>
										</div>

										<div class="progress progress-mini ">
											<div style="width:15%" class="progress-bar progress-bar-warning"></div>
										</div>
									</a>
								</li>

								<li>
									<a href="#">
										<div class="clearfix">
											<span class="pull-left">错误修复</span>
											<span class="pull-right">90%</span>
										</div>

										<div class="progress progress-mini progress-striped active">
											<div style="width:90%" class="progress-bar progress-bar-success"></div>
										</div>
									</a>
								</li>

								<li>
									<a href="#">
										查看任务详情
										<i class="icon-arrow-right"></i>
									</a>
								</li>
							</ul>
						</li>

						<li class="purple">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<i class="icon-bell-alt icon-animated-bell"></i>
								<span class="badge badge-important">8</span>
							</a>

							<ul class="pull-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
								<li class="dropdown-header">
									<i class="icon-warning-sign"></i>
									8条通知
								</li>

								<li>
									<a href="#">
										<div class="clearfix">
											<span class="pull-left">
												<i class="btn btn-xs no-hover btn-pink icon-comment"></i>
												新闻评论
											</span>
											<span class="pull-right badge badge-info">+12</span>
										</div>
									</a>
								</li>

								<li>
									<a href="#">
										<i class="btn btn-xs btn-primary icon-user"></i>
										切换为编辑登录..
									</a>
								</li>

								<li>
									<a href="#">
										<div class="clearfix">
											<span class="pull-left">
												<i class="btn btn-xs no-hover btn-success icon-shopping-cart"></i>
												新订单
											</span>
											<span class="pull-right badge badge-success">+8</span>
										</div>
									</a>
								</li>

								<li>
									<a href="#">
										<div class="clearfix">
											<span class="pull-left">
												<i class="btn btn-xs no-hover btn-info icon-twitter"></i>
												粉丝
											</span>
											<span class="pull-right badge badge-info">+11</span>
										</div>
									</a>
								</li>

								<li>
									<a href="#">
										查看所有通知
										<i class="icon-arrow-right"></i>
									</a>
								</li>
							</ul>
						</li>

						<li class="green">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<i class="icon-envelope icon-animated-vertical"></i>
								<span class="badge badge-success">5</span>
							</a>

							<ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
								<li class="dropdown-header">
									<i class="icon-envelope-alt"></i>
									5条消息
								</li>

								<li>
									<a href="#">
										<span class="msg-body">
											<span class="msg-title">
												<span class="blue">Alex:</span>
												不知道写啥 ...
											</span>

											<span class="msg-time">
												<i class="icon-time"></i>
												<span>1分钟以前</span>
											</span>
										</span>
									</a>
								</li>

								<li>
									<a href="#">
										<span class="msg-body">
											<span class="msg-title">
												<span class="blue">Susan:</span>
												不知道翻译...
											</span>

											<span class="msg-time">
												<i class="icon-time"></i>
												<span>20分钟以前</span>
											</span>
										</span>
									</a>
								</li>

								<li>
									<a href="#">
										<span class="msg-body">
											<span class="msg-title">
												<span class="blue">Bob:</span>
												到底是不是英文 ...
											</span>

											<span class="msg-time">
												<i class="icon-time"></i>
												<span>下午3:15</span>
											</span>
										</span>
									</a>
								</li>

								<li>
									<a href="inbox.html">
										查看所有消息
										<i class="icon-arrow-right"></i>
									</a>
								</li>
							</ul>
						</li>

						<li class="light-blue">
							<a data-toggle="dropdown" href="#" class="dropdown-toggle">
								<span class="user-info">
									<small>欢迎光临,</small>
									[<strong><span sec:authentication="name">Bob</span></strong>]
								</span>

								<i class="icon-caret-down"></i>
							</a>

							<ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
								<li>
									<a href="#">
										<i class="icon-cog"></i>
										设置
									</a>
								</li>

								<li>
									<a href="#">
										<i class="icon-user"></i>
										个人资料
									</a>
								</li>

								<li class="divider"></li>

								<li>
									<a href="javascript:jsLogout()">
										<i class="icon-off"></i>
										退出
									</a>
								</li>
							</ul>
						</li>
					</ul><!-- /.ace-nav -->
				</div><!-- /.navbar-header -->
			</div><!-- /.container -->
		</div>

		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>

				<div class="sidebar" id="sidebar">
					<script type="text/javascript">
						try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
					</script>

					<div class="sidebar-shortcuts" id="sidebar-shortcuts">
						<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
							<button class="btn btn-success">
								<i class="icon-signal"></i>
							</button>

							<button class="btn btn-info">
								<i class="icon-pencil"></i>
							</button>

							<button class="btn btn-warning">
								<i class="icon-group"></i>
							</button>

							<button class="btn btn-danger">
								<i class="icon-cogs"></i>
							</button>
						</div>

						<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
							<span class="btn btn-success"></span>

							<span class="btn btn-info"></span>

							<span class="btn btn-warning"></span>

							<span class="btn btn-danger"></span>
						</div>
					</div><!-- #sidebar-shortcuts -->

					<ul class="nav nav-list">
                        <li class="active">
							<a href="#" class="dropdown-toggle">
								<i class="icon-desktop"></i>
								<span class="menu-text"> 运营后台管理 </span>
								<b class="arrow icon-angle-down"></b>
							</a>
							<ul class="submenu">
								<li menuTab="shop" title="商铺管理" url="shop" tabIcon="ex_tabs_shop">
									<a href="#">
										<i class="icon-double-angle-right"></i>
										商铺管理
									</a>
								</li>

								<li menuTab="product" title="商品管理" url="product" tabIcon="ex_tabs_product">
									<a href="#" >
										<i class="icon-double-angle-right"></i>
										商品管理
									</a>
								</li>

								<li menuTab="order" title="订单管理" url="order" tabIcon="ex_tabs_order">
									<a href="#" >
										<i class="icon-double-angle-right"></i>
										订单管理
									</a>
								</li>

								<li menuTab="orderRefund" title="订单退款管理" url="orderRefund" tabIcon="ex_tabs_orderRefund">
								    <a href="#" >
										<i class="icon-double-angle-right"></i>
										订单退款管理
									</a>
								</li>

								<li menuTab="commission" title="佣金管理" url="commission" tabIcon="ex_tabs_commission">
								    <a href="#" >
										<i class="icon-double-angle-right"></i>
										佣金管理
									</a>
								</li>
								
								<li menuTab="withdraw" title="提现管理" url="withdraw" tabIcon="ex_tabs_withdraw">
									<a href="#" >
										<i class="icon-double-angle-right"></i>
										提现管理
									</a>
								</li>
								
								<li  menuTab="msg" title="消息管理" url="msg" tabIcon="ex_tabs_msg">
									<a href="#">
										<i class="icon-double-angle-right"></i>
										消息管理
										<span class="badge badge-primary ">5</span>
									</a>
								</li>
								
								<li menuTab="sync" title="同步管理" url="sync" tabIcon="ex_tabs_sync">
								    <a href="#" >
										<i class="icon-double-angle-right"></i>
										同步管理
									</a>
								</li>
								
								<li menuTab="feedback" title="意见反馈" url="feedback" tabIcon="ex_tabs_feedback">
								    <a href="#" >
										<i class="icon-double-angle-right"></i>
										意见反馈
									</a>
								</li>
								
								<li menuTab="activityOrder" title="活动订单管理" url="activityOrder" tabIcon="ex_tabs_activityOrder">
								    <a href="#" >
										<i class="icon-double-angle-right"></i>
										活动订单管理
									</a>
								</li>
								
								<li menuTab="helper" title="小助手管理" url="helper" tabIcon="ex_tabs_helper">
								    <a href="#" >
										<i class="icon-double-angle-right"></i>
										小助手管理
										
									</a>
								</li>
								
								<li>
									<a href="#" class="dropdown-toggle">
										<i class="icon-double-angle-right"></i>
										优惠管理
										<b class="arrow icon-angle-down"></b>
									</a>

									<ul class="submenu">
										<li menuTab="couponManager" title="优惠劵管理" url="couponManager" tabIcon="ex_tabs_couponManager">
										    <a href="#" >
												<i class="icon-leaf"></i>
												优惠劵管理
											</a>
										</li>
										<li menuTab="userCoupon" title="优惠劵查询" url="userCoupon" tabIcon="ex_tabs_userCoupon">
										    <a href="#" >
												<i class="icon-leaf"></i>
												优惠劵查询
											</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#" class="dropdown-toggle">
										<i class="icon-double-angle-right"></i>
										活动类别
										<b class="arrow icon-angle-down"></b>
									</a>

									<ul class="submenu">
										<li menuTab="activity" title="活动管理" url="activity" tabIcon="ex_tabs_activity">
											<a href="#" >
												<i class="icon-leaf"></i>
												活动管理
											</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						 <li>
							<a href="#" class="dropdown-toggle">
								<i class="icon-cogs"></i>
								<span class="menu-text">系统工具</span>

								<b class="arrow icon-angle-down"></b>
							</a>

							<ul class="submenu">
								<li menuTab="imgUpload" title="图片上传" url="imgUpload" tabIcon="ex_tabs_imgUpload">
									<a href="#" >
										<i class="icon-double-angle-right"></i>
										图片上传
									</a>
								</li>
								
								<li menuTab="imgTool" title="图片工具" url="tool/imgTool" tabIcon="ex_tabs_imgTool">
									<a href="#" >
										<i class="icon-double-angle-right"></i>
										图片工具
									</a>
								</li>

                                <li menuTab="idTool" title="ID工具" url="tool/idTool" tabIcon="ex_tabs_idTool">
                                    <a href="#" >
                                        <i class="icon-double-angle-right"></i>
                                        ID工具
                                    </a>
                                </li>

                                <li menuTab="pushSmsMessage" title="推送短信" url="pushSmsMessage" tabIcon="ex_tabs_pushSmsMessage">
                                    <a href="#" >
                                        <i class="icon-double-angle-right"></i>
                                        推送短信
                                    </a>
                                </li>
								
								<li menuTab="dataFix" title="异常数据修复" url="dataFix" tabIcon="ex_tabs_dataFix">
									<a href="#" >
										<i class="icon-double-angle-right"></i>
										异常数据修复
									</a>
								</li>
								
								<li  menuTab="newMoveProduct" title="新手工搬家" url="newMoveProduct" tabIcon="ex_tabs_newMoveProduct">
									<a href="#">
										<i class="icon-double-angle-right"></i>
										新手工搬家
									</a>
								</li>>
							</ul>
						 </li>
                        <li data-th-if="${accessMode != null and accessMode == 'Developer'}">
							<a href="#" class="dropdown-toggle">
								<i class="icon-list"></i>
								<span class="menu-text"> 开发者使用</span>
                                 	<span class="badge badge-transparent tooltip-error" title="2&nbsp;Important&nbsp;Events">
										<i class="icon-warning-sign red bigger-130"></i>
									</span>
								<b class="arrow icon-angle-down"></b>
							</a>

							<ul class="submenu">
								<li menuTab="autowithdraw" title="自动提现任务" url="autowithdraw" tabIcon="ex_tabs_autowithdraw">
									<a href="#" >
										<i class="icon-double-angle-right"></i>
										自动提现任务
									</a>
								</li>
							</ul>
						</li>
					</ul><!-- /.nav-list -->

					<div class="sidebar-collapse" id="sidebar-collapse">
						<i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
					</div>

					<script type="text/javascript">
						try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
					</script>
				</div>	
				<div class="main-content">
					 <div class="page-content">
	                    <div class="row">
	                        <div class="col-md-12" style="padding-left:5px;">
		                         <div id="tabs" class="tabbable">
			                         <!-- Nav tabs -->
		                            <ul class="nav nav-tabs" role="tablist">
		                                <li role="presentation" class="active">		                             
			                                <a href="#" aria-controls="home" role="tab" data-toggle="tab">
				                                <span class="tabs-title tabs-with-icon">首页</span>
				                                <span class="tabs-icon ex_tabs_home"></span>				                                
				                            </a>
			                            </li>			                            
		                            </ul>
		                            <!-- Tab panes -->
		                            <div class="tab-content">
		                                <div role="tabpanel" class="tab-pane active" id="home">
			                                <!--<iframe src="http://51shop.mobi:9088/static/index.html" allowTransparency="true"-->
											           <!--style="border: 0; width: 100%;height:780px;" frameBorder="0"></iframe>-->

											XQuark后台管理系统
		                                </div>
		                            </div>
		                        </div>
	                        </div>
	                    </div>
                	</div>
				 </div>

			</div>
		</div>

		<form id="frmLogout" action="/logout" method="post" th:action="@{/logout}">
		</form>
		<script type="text/javascript" th:src="@{/_resources/js/ace-elements.min.js}"></script>
        
        <script type="text/javascript" th:src="@{/_resources/js/ace.min.js}"></script>
        
        <script type="text/javascript" th:src="@{/_resources/js/typeahead-bs2.min.js}"></script>
        
        <!--[if lte IE 8]>
		<script type="text/javascript" th:src="@{/_resources/js/excanvas.min.js}"></script>
		<![endif]-->
        <script type="text/javascript">
		/*<![CDATA[*/		 
		 $('#tabs').addtabs();

		function jsLogout(){
			$('#frmLogout').submit();
		}
		/*]]>*/
	 </script>
</body>
</html>

