<p>
    /** 文件 **/
    private File file;
</p>

<p>
    /** 文件名 **/
    private String fileFileName;
</p>

<p>
    /** 文件类型 **/
    private String fileContentType;
</p>

<p>
    /** 文件保存路径 **/
    private String folder;
</p>
/**
* 上传文件
*
* @return
*/
public String upload() {
// System.out.println(TransUtil.getSha1(file));

String realPath = ServletActionContext.getServletContext().getRealPath(
folder);// 获取文件保存物理路径
if (file != null) {
final String saveName = TransUtil.renameFileName(realPath,
fileFileName.replaceAll(" ", "_"));
final File saveFile = new File(new File(realPath), saveName);
if (!saveFile.getParentFile().exists()) {
saveFile.getParentFile().mkdirs();
}

try {
// System.out.println("有没有经过这里?");
FileUtils.copyFile(file, saveFile);

HttpServletResponse response = ServletActionContext
.getResponse();
response.setCharacterEncoding("UTF-8");
response.getWriter().write(folder + "/" + saveName);// 返回文件地址
// System.out.println(TransUtil.getSha1(saveFile));
} catch (IOException e) {
e.printStackTrace();
System.out.println("上传文件失败");
}

}

return null;
}