

#mask{
    display:block;
    width:100%;
    height:100%;
    background:#000;
    z-index: 999999;
    position:fixed;
    top:0;
    left:0;
}



.afPopup {
    display: block;
    width: 280px;
    float:left;
    border: solid 1px #fff;
    -webkit-border-radius: 10px;
    border-radius:10px;
    padding: 10px;
    opacity: 1;
    -webkit-transform: scale(1);
    -webkit-transition: all  0.20s  ease-in-out;
    transform:scale(1);
    transition: all 0.20s  ease-in-out;
    position: absolute;
    z-index: 1000000;
    top: 50%;
    left: 50%;
    margin: 0px auto;
    background: rgba(255,255,255,1);
    color:#505557;
    font-size:14px;
   
}
.afPopup >* {
    color:inherit;
}

.afPopup.hidden {
    opacity: 0;
    -webkit-transform: scale(0);
    top: 50%;
    left: 50%;
    margin: 0px auto;
}

.afPopup>HEADER{
    font-weight:bold;
    font-size:14px;
    margin:0;
    padding:5px;
    text-align:center;
}

.afPopup>DIV{
    font-size:14px;
    margin:8px;
}

.afPopup>FOOTER{
    width:100%;
    text-align:center;
    display:block !important;
    display:none !important;
}

.afPopup>FOOTER>A#cancel{
    float:left;
    margin-left:5px;
}

.afPopup>FOOTER>A#action{
    float:right;
    margin-right:5px;
}

.afPopup>FOOTER>A.center{
    float:none!important;
    width:80%;
    margin:8px;
}