@charset "utf-8";
/* Reset */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
h1, h2, h3, h4, h5, h6 { font-size:100%; }
ul, ol, li { list-style:none; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }
body{font-family: "Microsoft YaHei", "寰蒋闆呴粦", Helvetica, "榛戜綋", Arial, Tahoma;}

.header{width:100%;height:80px;background:#ec4040;line-height:80px;text-align: center;font-size:26px;color:#fff;position:relative;}
.header .a{position:absolute;left:0;margin-left:35px;}
.header .a1{font-size:21px;color:#fff;position: absolute;right: 0;margin-right:26px;}

#section{max-width: 100%;background:url(../images/agent_bg.jpg);height:104px;font-size:23px;color:#fff;line-height:104px;padding-left:37px;}
.wrap{width:78%;height:10px;margin:0 auto;}
.wrap p{font-size:25px;color:#ec4040;height:83px;line-height:83px;}
.wrap .input{width:96%;height:78px;margin-bottom:11px;border-radius:0.3em;border:solid 2px #ccc;font-size:25px;padding-left:18px;}
.wrap .input1{width:100%;height:78px;border-radius:0.3em;border:0px;font-size:29px;color:#fff;background:#ec4040; -webkit-appearance: none;}
.wrap span{color:#6f6f6f;}
.wrap .span{color:#2874e3;}
.test p{color: #2d2c2c;font-size:22px;}
.test1{font-size:21px;color:#575757;padding:20px 0;line-height:38px;}

#list1 img{height:110px;margin-right:10px;}
#list2 img{height:110px;margin-right:10px;}
#list3 img{height:110px;margin-right:10px;}
#btn1{background:url(../../images/sq.png) no-repeat;width:110px;height:110px;outline:none;}
#btn2{background:url(../../images/sq.png) no-repeat;width:110px;height:110px;outline:none;}
#btn3{background:url(../../images/sq.png) no-repeat;width:110px;height:110px;outline:none;}

.mask{width:100%;height:100%;position:fixed;top:0;background:rgba(0,0,0,0.5);display:none;}
.mask .test_p{width:80%;margin:0 auto;padding:40px;background:#fff;font-size:23px;border-radius:0.5em;height:900px;overflow:auto;margin-top:10px;position:relative;}
.mask .test_p p{text-indent:2em;text-align:justify;line-height:40px;}
.mask .close{background: url(../images/close.png) no-repeat;
  width: 100px;
  height: 100px;
  position: absolute;
  right: -63px;
  top: 12px;}

/* input */
input[type=checkbox],
input[type=radio]{
  -webkit-appearance: none;
  appearance: none;
  width: 32px;
  height: 32px;
  margin: 0;
  cursor: pointer;
  vertical-align: bottom;
  background: #fff;
  border: 1px solid #ec4040;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  margin-right: 10px;
  top: -24px;
}

input[type=checkbox]:active,
input[type=radio]:active {
  border-color: #c6c6c6;
  background: #ebebeb;
}

input[type=checkbox]:hover {
  border-color: #c6c6c6;
  -webkit-box-shadow: inset 0 2px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 2px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 2px 2px rgba(0,0,0,0.1);
}

input[type=checkbox]:checked,
input[type=radio]:checked {
  background: #fff;
}

input[type=checkbox]:checked::after {
  content: url(../../images/yes.png);
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  width:30px;
  height:30px;
}

input[type=checkbox]:focus {
  outline: none;
}

.wrap select {
  width: 100%;
  height: 78px;
  margin-bottom: 11px;
  border-radius: 0.3em;
  border: solid 2px #ccc;
  font-size: 25px;
  padding-left: 18px;
  /*color:#ccc;*/
  background: #fff;
}
