/*html {
  font-size: 100%;
}*/
body {
  font-family: ff-tisa-web-pro-1,ff-tisa-web-pro-2,"Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3";
  word-wrap: break-word;
  word-break: break-all;
  -webkit-tap-highlight-color: transparent;
}
a {
  -webkit-tap-highlight-color: transparent;
}
blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6,hr, input, legend, li, ol, p, pre, td, textarea, th, ul{
  margin: 0;
  padding: 0;
}
.flex-space-between {
  display: flex;
  flex-flow:row nowrap;
  justify-content: space-between;
  align-items: center;
}
.flex-space-around {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}
.flex-center {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.wraper {
  width:100%;
  overflow-y: scroll;
  background: #F2F2F2;
}
.main {
  position:relative;
  width:100%;
  padding-bottom: 49px;
  background: #fff;
}
.home-wraper {
  width : 100%;
}
.shop-main {
  position : relative;
  width : 100%;
}
/*shop header*/
.shop-bg {
  position : relative;
  width : 100%;
  height :151px;
  background : url('../images/b2b/shopBg.jpg') no-repeat;
  background-size: 100% 128px;
  /*opacity: 0.5;*/
}
.shop-info {
  position : relative;
  top :80px;
  margin-left :16px;
  height :64px;
}
.shop-avatar {
  position: relative;
  float:left;
  margin-right:10px;
  width :60px;
  height :60px;
  border: 2px solid #FFFFFF;
}
.shop-title {
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0px;
  text-shadow: 0px 1px 0px rgba(0,0,0,0.50);
}
.shop-desc {
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0px;
  text-shadow: 0px 1px 0px rgba(0,0,0,0.50);
}
/*****shop header************/

/*********commodity list******************/
.brand-commodity-show {
  width: 100%;
  height: 160px;
}
.brand-show-pic {
  width: 100%;
  height: 160px;
}
.main-single-row {
  position:relative;
  width:100%;
  margin-bottom:49px;
  list-style-type:none;
}
.main-single-row li {
  position:relative;
  height:120px;
  padding:20px 0;
  margin: 0 16px;
}
.top-line {
  border-top: 1px solid #ccc;
}
.home-commodity-pic {
  margin-right: 8px;
  float:left;
  width: 120px;
  height: 120px;
}
.commodity-name {
  height: 42px;
  overflow: hidden;
  font-size: 15px;
  line-height: 21px;
  color: #474942;
}
.commodity-desc {
  height: 36px;
  overflow: hidden;
  margin-top:1px;
  font-size: 13px;
  line-height: 18px;
  color: #ABB19F;
}
.now-price {
  margin-top: 16px;
  font-size: 18px;
  line-height: 25px;
  color: #FF902C;
}
.original-price {
  font-size: 13px;
  line-height: 18px;
  color: #ABB19F;
  text-decoration: line-through;
}
.purchase-button {
  position: absolute;
  bottom: 20px;
  right: 16px;
  width: 92px;
  height: 34px;
  border-radius: 17px;
  font-size: 16px;
  line-height: 34px;
  text-align:center;
  color:#fff;
  background: orange;
}
/**********commodity list************************/

/**********************navbar*******************************/
.wei-chat-navbar {
  position: fixed;
  bottom:0;
  z-index: 999;
  display: flex;
  flex-flow:row nowrap;
  width: 100%;
  height:49px;
  background: #fff;
  border-top: 1px solid #ccc;
}

.nav-li {
  position: relative;
  flex:1;
  height:49px;
  padding-top: 7px;
  text-decoration: none;
}
.nav-index, .nav-sale, .nav-more, .nav-car, .nav-center {
  height:17px;
  line-height: 17px;
  margin:0 auto;
  padding-top:25px;
  font-size: 8px;
  text-align: center;
}
.nav-cart-added {
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;

  right: 19px;
  top: 2px;
  line-height: 14px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  background: #FF7A00;
  border-radius: 7px;
  font-style: normal;
}
.nav-index-light {
  background: url('../images/b2b/icon_home_act.png') center 0 no-repeat;
  background-size: 25px 25px;
  color: #00A340;
}
.nav-index-dark {
  background: url('../images/b2b/icon_home_nml.png') center 0 no-repeat;
  background-size: 25px 25px;
  color: #ABB19F;
}
.nav-sale-light {
  background: url('../images/b2b/icon_sale_act.png') center 0 no-repeat;
  background-size: 25px 25px;
  color: #00A340;
}
.nav-sale-dark {
  background: url('../images/b2b/icon_sale_nml.png') center 0 no-repeat;
  background-size: 25px 25px;
  color: #ABB19F;
}
.nav-more-light {
  background: url('../images/b2b/icon_explore_act.png') center 0 no-repeat;
  background-size: 25px 25px;
  color: #00A340;
}
.nav-more-dark {
  background: url('../images/b2b/icon_explore_nml.png') center 0 no-repeat;
  background-size: 25px 25px;
  color: #ABB19F;
}
.nav-car-light {
  background: url('../images/b2b/icon_gwc_act.png') center 0 no-repeat;
  background-size: 25px 25px;
  color: #00A340;
}
.nav-car-dark {
  background: url('../images/b2b/icon_gwc_nml.png') center 0 no-repeat;
  background-size: 25px 25px;
  color: #ABB19F;
}
.nav-my-light {
  background: url('../images/b2b/icon_my_act.png') center 0 no-repeat;
  background-size: 25px 25px;
  color: #00A340;
}
.nav-my-dark {
  background: url('../images/b2b/icon_my_nml.png') center 0 no-repeat;
  background-size: 25px 25px;
  color: #ABB19F;
}
/************navbar**********************/
/************find more header**********************/
.catagory-menu {
  position:fixed;
  top: 0;
  z-index: 999;
  display: flex;
  flex-flow: row nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  width:100%;
  border-bottom: 2px solid #e0e0e0;
  height:44px;
  /*background: #00A340;*/
  background: #f7f7f8;
}
.catagory-menu::-webkit-scrollbar {
  display: none;
}
.catagory-item {
  box-sizing: border-box;
  height:44px;
  flex-shrink: 0;
  flex-grow: 0;
  line-height: 44px;
  margin-right: 15px;
  line-height: 44px;
  font-size: 13px;
  color: #000;
  text-decoration:none;
}
.catagory-item:first-child {
  margin-left: 16px;
}
.catagory-item:last-child {
  padding-right: 16px;
}
.catagory-item-active {
  border-bottom: 2px #ff3232 solid;
}
.more-search-bar {
  position: fixed;
  top: 46px;
  z-index: 999;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  /*box-sizing: border-box;*/
  width: 100%;
  height: 40px;
  margin-bottom: 2px;
  outline: none;
  border:none;
  border-bottom: 2px solid #e0e0e0;
  background: #f7f7f8;
}
.more-search-btn {
  flex: 1;
  box-sizing: border-box;
  font-size: 13px;
  line-height: 1.6;
  color: #ff3232;
  padding-right: 16px;
  text-align: right;
}
.more-search-bg {
  width: 70%;
  height: 40px;
  padding-left: 44px;
  outline: none;
  border: none;
  background: url('../images/b2b/search.png') left 15px center no-repeat;
}
.row-wrap-container {
  position:relative;
  width:100%;
  display: flex;;
  flex-flow:row wrap;
}
.list-decorator {
}
.wrap-list {
  position:relative;
  width:50%;
  padding:8px 0;
  background: #FFFFFF;
}
.wrap-list:nth-child(odd) {
  box-shadow: inset -1px -1px 0px 0px #D5D7CE;
  /*border-right: 1px solid #D5D7CE;*/
}
.wrap-list:nth-child(even) {
  box-shadow: inset 0px -1px 0px 0px #D5D7CE;
}
.commodity-wrap {
  position:relative;
  width:160px;
  margin:0 auto;
}
.more-commodity-pic {
  width:160px;
  height:160px;
}
.more-commodity-des {
  overflow: hidden;
  width:160px;
  height:72px;
  margin-top:8px;
  font-size: 13px;
  color: #474942;
  line-height: 18px;
}
.more-commodity-price {
  width:160px;
  height:25px;
  margin-top:3px;
  line-height: 25px;
  font-size: 18px;
  line-height: 25px;
  color: #FF902C;
}
.add-cat-icon {
  position: absolute;
  right:0;
  bottom:0;
  width:26px;
  height:26px;
  background: url('../images/b2b/icon_carta_nml.png') no-repeat;
  background-size: 26px 26px;
}

/************sale*****************/
.col-wrap-container {
  position:relative;
  width:100%;
}
.bg-container {
  padding-top: 8px;
  background: #D5D7CE;
}
.carousel-wrap {
  position: relative;
  width:100%;
  height:160px;
}
.sale-sub-title {
  position: relative;
  height:32px;
  line-height: 32px;
  font-size: 13px;
  color: #474942;
  text-align: center;
  background: #fff;
}
.sale-panic-items {
  position:relative;
  margin-bottom:4px;
  padding-bottom:13px;
  border-bottom: 1px solid #F2F2F2;
  background: #fff;
}
.sale-commodity-pic {
  display: block;
  margin-bottom:8px;
  width:100%;
  height:160px;
}
.sale-commodity-des {
  margin:0 16px;
  height:42px;
  font-size: 15px;
  line-height: 21px;
  color: #474942;
  overflow:hidden;
}
.sale-now-price {
  height:25px;
  line-height: 25px;
  margin-left:16px;
  font-size: 18px;
  color: #FF7A00;
  overflow: hidden;
}
.sale-original-price {
  height:15px;
  line-height: 15px;
  margin-left:16px ;
  margin-top:3px;
  font-family: Roboto-Regular;
  font-size: 11px;
  color: #ACB19F;
  letter-spacing: 0px;
  text-decoration: line-through;
}
.saled-customer {
  margin-right:50%;
  float:right;
}
.sale-rest-time {
  position: absolute;;
  right:0;
  top:140px;
  width:113px;
  height:20px;
  padding-left:32px;
  background: url('../images/b2b/saleRestTime.png') no-repeat;
  background-size: 145px 20px;
  font-size: 12px;
  line-height: 20px;
  color: #FFFFFF;
}
.sale-panic-btn {
  position: absolute;
  bottom:13px;
  right:16px;
  width:92px;
  height:34px;
  line-height: 34px;
  background: #FF7A00;
  border-radius: 17px;
  font-size: 13px;
  color: #FFFFFF;
  text-align: center;
}
.sale-panic-btn-begin {
  position: absolute;
  bottom:13px;
  right:16px;
  width:92px;
  height:34px;
  line-height: 34px;
  border-radius: 17px;
  background: #FFFFFF;
  border: 1px solid #ABB19F;
  font-size: 13px;
  color: #ABB19F;
  text-align: center;
}
.sale-panic-btn-end {
  position: absolute;
  bottom:13px;
  right:16px;
  width:92px;
  height:34px;
  line-height: 34px;
  background: #ABB19F;
  border-radius: 17px;
  border: 1px solid #ABB19F;
  font-size: 13px;
  color: #FFFFFF;
  text-align: center;
}

/*********caroudel*******/
.carousel-nav-wrap {
  position:absolute;
  bottom:8px;
  width:100%;
  height:8px;
  background: rgba(255,255,255,0);
}
.carousel-nav {
  width:77px;
  height:8px;
  margin:0 auto;
}
.carousel-nav-icon {
  float:left;
  margin-left:9px;
  z-index: 999;
  width:8px;
  height:8px;
  border-radius: 4px;
}
.carousel-icon-dark {
  background: rgba(255,255,255,0.40);
}
.carousel-icon-light{
  background: #FFFFFF;
}
/*****************/
/******************************************************/

/**********personal center*************/
.mine-bg {
  position:relative;
  width:100%;
  height:128px;
  padding-top:20px;
  background: #00A340;
}
.mine-head-icon {
  display: block;
  width:60px;
  height:60px;
  margin:0 auto;
  border-radius: 2px;
  border: 2px solid #FFFFFF;;
}
.row-flex {
  display: flex;
  flex-flow:row nowrap;
}
.nav-item {
  flex:1;
  height:52px;
  padding-top:8px;
  margin-bottom:16px;
  text-decoration: none;
}
.nav-item i {
  display: block;
  width:30px;
  height:30px;
  margin: 0 auto;
}
.center-pending-pay {
  background: url('../images/b2b/pending_pay.png') no-repeat;
  background-size: 30px 30px;
}
.center-pending-shipped {
  background: url('../images/b2b/pending_shipped.png') no-repeat;
  background-size: 30px 30px;
}
.center-pending-receipt {
  background: url('../images/b2b/pending_receipt.png') no-repeat;
  background-size: 30px 30px;
}
.nav-item p {
  font-size: 12px;
  color: #474942;
  line-height: 17px;
  text-align: center;
  text-decoration: none;
}
.mine-list_1 {
  height:56px;
  margin-left:16px;
  padding-right:16px;
  line-height: 56px;
  border-bottom: #d5d8cf solid 1px;
}
.mine-list_2 {
  height:56px;
  margin-left:16px;
  padding-right:16px;
  margin-bottom:16px;
  line-height: 56px;
}

.mine-text-left {
  font-size: 16px;
  color: #474942;
}
.mine-text-right {
  font-size: 18px;
  color: #ABB19F;
}
.mine-text-right i {
  margin-left: 11px;
  font-style: normal;
}

/********cart************/
.cart-title {
  height:32px;
  line-height: 32px;
}
.cart-title i {
  font-size: 13px;
  font-style: normal;
  color: #474942;
}
.order-wraper {
  position: relative;
  padding-left: 40px;
  padding-right: 16px;
  border-bottom: #d5d7ce solid 1px ;
}
.order-selected {
  background:url('../images/b2b/Select.png') 12px center no-repeat;
}
.order-selected_no {
  background:url('../images/b2b/Select_none.png') 12px center no-repeat;
}
.order-list {
  display: flex;
  flex-flow:row nowrap;
  height:120px;
  padding-top: 16px;
}
.order-pic {
  width: 88px;
  height: 88px;
  margin-right:8px;
}
.order-details {
  flex:1;
}
.order-des {
  height:36px;
  line-height: 18px;
  font-size: 13px;
  color: #474942;
  overflow: hidden;
}
.order-price {
  height:18px;
  margin-top: 4px;
  line-height: 18px;
  font-size: 13px;
  color: #ACB19F;
}
.order-price em{
  display: block;
  font-style: normal;
  font-family: Roboto-Regular;
}
.order-price em:before {
  content: '规格：';
}
.order-price i {
  display: block;
  font-style: normal;
  font-family: Roboto-Bold;
  font-weight: 900;
  color: #FF902B;
}
.order-price i:before {
  content: '￥';
  color: #FF902B;
}
.order-handle {
  height: 25px;
  margin-top: 8px;
}
.order-handle em {
  position: relative;
  width: 96px;
  height: 25px;
  display: block;
  font-style: normal;
  font-size: 13px;
  line-height: 25px;
  text-align: center;
  color: #474942;
  background: url('../images/b2b/stepper_bg.png') no-repeat;
}
.order-handle em:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 32px;
  height: 25px;
  background: url('../images/b2b/Stepper_minus.png') no-repeat;
}
.order-handle em:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 32px;
  height: 25px;
  background: url('../images/b2b/stepper_plus.png') no-repeat;
}
.order-handle i {
  display: block;
  width: 25px;
  height: 25px;
  background: url('../images/b2b/car_del.png');
  border: 1px solid #D5D7CE;
  border-radius: 2px;
}
.order-settlement {
  position: fixed;
  bottom:0;
  z-index: 999;
  display: flex;
  flex-flow:row nowrap;
  width: 100%;
  height:49px;
  background: #fff;
}
.order-cost {
  flex: 1;
  height: 49px;
  padding: 0 16px;
}
.order-count {
  height: 49px;
  line-height: 49px;
  font-size: 13px;
  color: #474942;
}
.order-all-expenses {
  height: 49px;
  font-family: Roboto-Regular;
  font-size: 13px;
  line-height: 18px;
  color: #FF902B;
}
.order-all-expenses em {
  display: block;
  margin-top: 4px;
  font-style: normal;
}

.order-all-expenses em:before {
  content: '运费';
  margin-top: 4px;
  color: #474942;
}
.order-all-expenses em::first-letter {
  color: #474942;
  letter-spacing: 13px;
}
.order-all-expenses i{
  display: block;
  margin-top: 4px;
  font-style: normal;
}
.order-all-expenses i:before {
  content: '总金额';
  margin-top: 4px;
  color: #474942;
}
.order-settle-btn {
  width: 96px;
  height:49px;
  line-height: 49px;
  font-size: 16px;
  color: #FFFFFF;
  background: #D5D7CE;
  text-align: center;
}
.cart-added-num {
  position: relative;
  width: 14px;
  height: 14px;
  left: 13px;
  bottom: 13px;
  line-height: 14px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  vertical-align: middle;
  background: #FF7A00;
  border-radius: 7px;
  font-style: normal;
}
/*********APP more******************/

.app-header {
  position: relative;
  height: 44px;
  background: #fff;
}
.app-header a {
  display: block;
  width: 44px;
  height: 44px;
  text-decoration: none;
}
.app-header span {
  display: block;
  font-style: normal;
  text-align: center;
}
.head-go-back {
  background: url('../images/b2b/app_back.png') left 16px center no-repeat;
}
.head-title {
  font-size: 16px;
  line-height: 44px;
  text-align: center;
  color: #ABB19F;
}
.head-search {
  box-sizing: border-box;
  width: 176px;
  height: 30px;
  padding: 0 17px;
  border-radius: 17px;
  background: #F2F2F2;
}
.head-search input {
  width: 96px;
  height: 30px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 30px;
  color: #BCBCBC;
  outline: 0;
  border: 0;
  background: #F2F2F2;
}
.head-share {
  background: url('../images/b2b/head_share.png') right 16px center no-repeat;
}
.head-group {
  background: url('../images/b2b/me_group.png') right 16px center no-repeat;
}
.head-save {
  line-height: 44px;
  font-style: normal;
  opacity: 0.5;
  font-size: 16px;
  color: #00A340;
}



.more-cate-container {
  padding-top: 8px;
  background: #F2F2F2;
}
.app-more-cate {
  position: relative;
  background: #fff;
  margin-bottom: 8px;
  border-bottom: 1px solid #F2F2F2;
}
.more-cate-head {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 48px;
  line-height: 48px;
  margin: 0 16px;
}
.more-cate-head img {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 4px;
}
.more-cate-head span {
  margin-left: 8px;
  font-size: 13px;
  font-weight: bold;
  color: #474942;
  letter-spacing: -0.32px;
}
.more-cate-head i {
  display: block;
  flex: 1;
  font-style: normal;
  font-size: 11px;
  color: #ACB19F;
  letter-spacing: 0px;
  text-align: right;
}

.more-wraper-big {
  width: 100%;
  height: 160px;
}
.more-pic-big {
  width: 100%;
  height: 160px;
}
.more-pic-row {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 3px;
}
.more-wraper-small:nth-child(2) {
  margin: 0 3px;
}
.more-wraper-small {
  flex: 1;
}
.more-pic-small {
  width: 100%;
}
.more-cate-des {
  margin:0 16px;
  padding: 8px 0 16px;
  border-bottom: 1px #ABB19F dotted;
}
.more-cate-des p {
  margin-top: 4px;
  line-height: 18px;
  font-size: 13px;
  font-weight: 900;
  color: #474942;
  letter-spacing: -0.32px;
}
.more-cate-des i {
  display: block;
  line-height: 18px;
  font-style: normal;
  font-size: 13px;
  color: #474942;
}
.save-copy-share {
  height: 36px;
  margin: 0 16px;
  font-size: 8px;
  line-height: 36px;
  color: #474942;
}
.save-copy-share span {
  display: block;
  padding-left: 24px;
  background: url('../images/b2b/icon_save_nml.png') left center no-repeat;
  background-size: 21px 21px;
}
.save-copy-share em {
  display: block;
  font-style: normal;
  padding-left: 24px;
  background: url('../images/b2b/icon_copy_nml.png') left center no-repeat;
  background-size: 21px 21px;
}
.save-copy-share i {
  display: block;
  font-style: normal;
  padding-left: 24px;
  background: url('../images/b2b/icon_fxa_nml.png') left center no-repeat;
  background-size: 21px 21px;
}

/**************APP group purchase*****************/
.group-purchase-bg {
  background: #D5D7CE;
  overflow-y: scroll;
}
.group-sub-nav {
  display: flex;
  flex-flow: row nowrap;
  height: 44px;
  line-height: 44px;
  font-size: 13px;
  background: #00A340;
  text-align: center;
}
.group-nav-all {
  flex: 1;
  height: 44px;
  font-size: 13px;
  color: #FFFFFF;
  background: rgba(0,0,0,.1);
  text-decoration: none;
}
.group-nav-ing {
  flex: 1;
  height: 44px;
  font-size: 13px;
  color: #FBFDF6;
  text-decoration: none;
}
.group-nav-will {
  flex: 1;
  height: 44px;
  font-size: 13px;
  color: #FBFDF6;
  text-decoration: none;
}
.group-list-container {
  display: relative;
  padding-top: 8px;
  background: #F2F2F2;
}
.group-item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 116px;
  border-bottom: solid 1px #D5D7CE;
  box-shadow:0px 1px 0px 0px #D5D7CE;
  background: #fff;
}
.group-item-pic {
  width: 88px;
  height: 88px;
  margin: 0 8px;
}
.group-item-info {
  flex: 1;
  box-sizing: border-box;
  height: 116px;
  padding: 14px 50px 14px 0;
  background: url('../images/b2b/share.png') right top no-repeat;

}
.group-info-des {
  display: block;
  height: 36px;
  margin-bottom: 8px;
  overflow: hidden;
  line-height: 18px;
  font-size: 13px;
  color: #474942;
}
.group-join-number {
  height: 21px;
  line-height: 21px;
  margin-bottom: 8px;
  vertical-align: bottom;
}
.group-join-number em {
  font-style: normal;
  font-size: 8px;
  color: #474942;
}
.group-join-number i {
  font-style: normal;
  font-family: Roboto-Regular;
  font-size: 16px;
  color: #00A340;
}
.group-join-number span {
  font-family: Roboto-Regular;
  font-size: 16px;
  color: #ACB19F;
}
.group-join-statu {
  height: 15px;
  line-height: 15px;
}
.group-join-statu em {
  display: block;
  width: 36px;
  height: 15px;
  border-radius: 8px;
  font-style: normal;
  font-size: 8px;
  color: #FFFFFF;
}
.color-group-ing {
  background: #FF7A00;
}
.color-group-not {
  background: #ABB19F;
}
.group-join-statu i {
  font-style: normal;
  font-size: 11px;
  color: #ACB19F;
  letter-spacing: 0px;
}
.app-group-number {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.app-group-number span {
  display: block;
  width: 50px;
  height: 22px;
  margin-right: 8px;
  font-size: 12px;
  line-height: 22px;
  color: #FFFFFF;
  text-align: center;
  background: #FF902C;
}
.margin-bottom-4px {
  margin-bottom: 4px;
}

/**************vip*********************/
.vip-container {
  position:relative;
  width:100%;
  padding-bottom: 8px;
  background: #F2F2F2;
}
.platform-show {
  position: relative;
  width: 100%;
  padding-bottom: 13px;
  background: #F2F2F2;
}
.vip-show-pic {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 8px;
}
.vip-show-left {
  flex: 1;
  height: 205px;
  border-right: 1px #fff solid;
}
.vip-show-left img {
  display: block;
  width: 100%;
  height: 205px;
}
.vip-show-right {
  flex: 1;
  height: 205px;
}
.vip-show-right img {
  display: block;
  width: 100%;
  height: 102px;
  border-bottom: 1px #fff solid;
}
.wrap-list-top {
  border-top: 1px solid #D5D7CE;
}
.vip-more-list {
  height: 32px;
  padding-right: 31px;
  line-height: 32px;
  border-bottom: 1px solid #D5D7CE;
  font-size: 13px;
  color: #ABB19F;
  text-align: right;
  background: #fff  right 16px center no-repeat;
  background-image: url('../images/b2b/vip-more.png');
}
.vip-go-pay {
  height: 48px;
  line-height: 48px;
  font-size: 18px;
  color: #FFFFFF;
  text-align: center;
  background: #FF7A00;
}
/***********meAdress********************/
.me-address-info {
  display: flex;
  flex-flow: row;
  align-items: center;
  height: 90px;
  margin: 8px 0;
  padding: 0 16px;
  background: #fff;
}
.me-address-bg {
  display: block;
  width: 22px;
  height: 22px;
  margin-left: 17px;
  text-decoration: none;
  background: gold;
}
.me-address-des {
  flex: 1;
  height: 58px;
}
.me-address-des i {
  display: block;
  height: 18px;
  margin-bottom: 4px;
  line-height: 18px;
  font-style: normal;
  font-size: 13px;
  color: #474942;
}
.me-address-des em {
  display: block;
  height: 36px;
  line-height: 18px;
  font-style: normal;
  font-size: 13px;
  color: #ABB19F;
}
.me-new-address {
  display: block;
  height: 56px;
  line-height: 56px;
  text-align: center;
  text-decoration: none;
  background: #fff;
  font-size: 18px;
  color: #00A340;
}
.new-address-container {
  margin-top: 8px;
  padding-left: 16px;
  background: #fff;
}
.new-address-item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 56px;
  line-height: 56px;
  border-bottom: 1px solid #D5D8CF;
}
.new-address-item i {
  width: 80px;
  height: 56px;
  font-style: normal;
  font-size: 16px;
  color: #474942;
}
.new-address-item input {
  height: 52px;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;

}
.new-address-consignee {
  flex: 1;
  height: 56px;
  border: none;
  outline: none;
  opacity: 0.5;
  font-size: 14px;
  color: #ABB19F;
}
.new-address-textarea {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  height: 80px;
  padding-top: 16px;
  border-bottom: 1px solid #D5D8CF;
}
.new-address-textarea i {
  width: 80px;
  line-height: 22px;
  font-style: normal;
  font-size: 16px;
  color: #474942;
}
.new-address-textarea textarea {
  flex: 1;
  height: 60px;
  border: none;
  outline: none;
  opacity: 0.5;
  font-size: 14px;
  color: #ABB19F;
}
/******************商品详情*********************************/
.details-carousel-wrap {
  position: relative;
  width: 100%;
  height: 360px;
  overflow-y: hidden;
}
.details-carousel-pic {
  width: 100%;
  height: 360px;
}
.details-dec-wrap {
  margin-bottom: 8px;
  padding: 8px 16px;
  background: #fff;
}
.details-dec-wrap p {
  height: 42px;
  line-height: 21px;
  font-size: 15px;
  color: #474942;
}
.details-dec-wrap i {
  display: block;
  height: 25px;
  margin: 8px 0;
  font-style: normal;
  line-height: 25px;
  font-size: 18px;
  color: #FF7A00;
}
.det-origin-price {
  height: 16px;
  line-height: 16px;
}
.det-origin-price span {
  flex: 1;
  font-size: 11px;
  color: #ACB19F;
}
.det-origin-num span {
  text-decoration: line-through;
}
.det-origin-price span:nth-child(1) {
  text-align: left;
}
.det-origin-price span:nth-child(2) {
  text-align: center;
}
.det-origin-price span:nth-child(3) {
  text-align: right;
}
.det-to-see {
  height: 44px;
  margin: 8px 0;
  padding: 0 16px;
  line-height: 44px;
  font-size: 13px;
  color: #474942;
  background: #fff;
}
.det-to-see i {
  font-style: normal;
  color: #ABB19F;
  font-weight: 900;
  font-size: 33px;
}
.details-to-shop {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 56px;
  padding: 0 16px;
  margin: 8px 0;
  background: #fff;
}
.details-to-shop img {
  width: 44px;
  height: 44px;
}
.details-to-shop i {
  display: block;
  margin-left: 17px;
  font-style: normal;
  font-size: 12px;
  color: #474942;
  letter-spacing: 0px;
}
.details-info-lists {
  height: 44px;
  background: #fff;
  font-size: 13px;
  color: #474942;
}
.details-sub-li {
  box-sizing: border-box;
  flex: 1;
  height: 44px;
  line-height: 44px;
  text-align: center;
}
.details-li-choosed {
  font-size: 13px;
  color: #E8401F;
  font-weight: bold;
  letter-spacing: -0.08px;
/*  border-bottom: 2px solid #E8401F;*/
}

/******************/
.self-pop-wrap {
  position: fixed;
  left:0;
  top:0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.self-pop-info {
  height: 20px;
  padding: 0 20px;
  border-radius: 10px;
  line-height: 20px;
  font-size: 12px;
  color: #fff;
  background: rgba(0,0,0,.8);
}
