

.cart-mt5{
	margin-top:5px;
}

.cart-mt10{
	margin-top:10px;
}

.cart-mt15{
	margin-top:15px;
}

.cart-mt30{
	margin-top:30px;
}

.cart-mr5{
	margin-right:5px;
}

.cart-fl-l{
	float: left;
}

.cart-fl-r{
	float: right;
}

.cart-fl-t{
	float: top;
}

.cart-fl-b{
	float: bottom;
}

.cart-height10{
	height:10px;
}
.cart-width60{
	width:60%;
}

.cart-address-line{
	font-size: 14px;
	line-height: 30px;
	border-bottom: 1px dashed #e7e6e4;
}
.cart-address-narrow-line{
	font-size: 10px;
	line-height: 25px;
	border-bottom: 1px dashed #e7e6e4;
	color: #888;
}
.t-lf{
  text-align: left;
}
.cart-shop-title{
	height:40px;
	line-height:40px;
	text-align:left;
	vertical-align: middle;
	padding-left: 20px;
	font-size:14px;
}
.cart-shop-coupon-box{
	height:50px;
	line-height:50px;
	text-align:left;
	vertical-align: middle;
	padding-left: 20px;
	font-size:14px;
}
.cart-shop-price-box{
	height:120px;
	line-height:100px;
	text-align:left;
	padding-left: 20px;
	padding-right: 20px;
	font-size:14px;
	overflow:auto;
}
.cart-shop-price-result{
	font-size:14px;
	/*position: absolute;
	right: 310px;
	bottom: 4px;*/
}
.cart-item-img{
	display: block;
	width: 80px;
	height: 80px;
	overflow: hidden;
	margin-left:10px;
}
.cart-product-info{
	margin-left: 15px;
	margin-right: 15px;
 }
.cartProduct-info-type.autoWidth{
	width: -webkit-calc(100% - 100px);
	width: -moz-calc(100% - 100px);
	width: calc(100% - 100px);
}
.cart-product-info-type{
	padding-top: 8px;
	/*    width: -webkit-calc(100% - 100px);
        width: -moz-calc(100% - 100px);
        width: calc(100% - 100px);*/
}
.cart-product{
	padding-left: 4px;
}
.cart-shop-remarks{
	padding-top: 0.2em;
	width:100%;
	height:2.7em;
}
.cart-shop-remarks-content{
	width: 95%;
	font-size:14px;
	margin-left: 10px;
	height:2.5em;
	/*
	padding: 6px 5px 0 5px;
	resize: none;
	border: none;
	*/
}
.cart-inlineblock{
	display: inline-block;
	margin-left: 15%!important;
	font-size: 16px!important;
}

.cart-inlineblock-right{
  display: inline-block;
  margin-left: 60%!important;
  font-size: 16px!important;
}
/*****next******/