body {
    padding: 0px; margin: 0px;
    background-color: #E8E8E8;
}

.myCoupon-nav{
    position: relative;
    background-color: white;
    line-height:55px;
    border-bottom:1px solid #000;
}
.myCoupon-bar{
    height:45px;
    font-size:18px;
    margin: 0px auto;
    position: relative;
}

.bar-sp {
    position: absolute;
    top:-2px;
    left:75px;
}

.bar-ct{
    position: absolute;
    top:-2px;
    left:175px;
}

.myCoupon-title{
    position: relative;
    background-color: white;
    line-height:55px;
}


.ws{
    width: 302px;
}

.myCoupon-intro-canvas{
    height:45px;
    font-size:17px;
    margin: 0px auto;
}
.allCoupons{
    position: relative;

}
.myCouponList{
    overflow: hidden;
    position: relative;
    margin: 0px auto;
    font-family: bold;
}
.myCoupon-infor {
    display: block;
    margin-top: 10px;
}
.myCoupon-item{
    padding:6px 10px;
    position: relative;
    background:  url(/../_resources/images/coupon/my_coupon_bg.png) no-repeat;
}

.invalid-myCoupon-item{
    padding:6px 10px;
    position: relative;
    background:  url(/../_resources/images/coupon/invalid_my_coupon_bg.png) no-repeat;
}

.used-myCoupon-item{
    padding:6px 10px;
    position: relative;
    background:  url(/../_resources/images/coupon/used_my_coupon_bg.png) no-repeat;
}

.myCoupon-sp{
    position: absolute;
    top:7px;
    left:75px;
    font-size:15px;
}
.pw{
    width:100px;
}

.po{
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    text-overflow:ellipsis;
}
.myCoupon-vl {
    font-size:10px;
    margin-top:10px;
}
.fw{
    color:white;
}

.coupon-money{
    font-size: 32px;
    font-family: bold;
    margin-left:20px;
}

.coupon-sign {
    font-size: 20px;
    position: absolute;
    margin-top:4px;
}

.coupon-int{
    width:95px;
    position: absolute;
    text-align: center;
    font-size: 12px;
    left: 200px;
    top:45px;
}

.coupon-discount{
    width:95px;
    position: absolute;
    top: 3px;
    left: 200px;    
    text-align: center;
}