.cover-cart-no {
	width: 100%;
}
.cover-title {
	position: absolute;
	top: 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height:33px;
	margin:0;
	padding: 0 16px 0 0;
	border-bottom: #d5d7ce solid 1px;
	background: #fff;
}
.cover-selected {
	display: block;
	width: 40px;
	height: 33px;
	background: url(../images/b2b/Select.png) center center no-repeat;
	background-size: 16px 16px;
}
.cover-title a {
	display: block;
	margin: 0;
	line-height: 33px;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: #474942;
}
.cover-ul {
	position: relative;
	padding-top: 34px;
}
.cover-ul li {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	height: 140px;
	margin: 0;
	padding: 16px 16px 16px 0px;
	background: #fff;
}
.cover-list {
	display: flex;
	flex-flow: row nowrap;

}
.cover-check-bg {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	width: 40px;
	margin:0;
	padding:0;
}
.cover-check-bg div {
	width: 40px;
	height: 40px;
	margin:0;
	padding:0;
}
.cart-checkbox {
	display: block;
	width: 40px;
	height: 40px;
	margin: 0;
	padding: 0;
	background-image: url(../images/b2b/Select_none.png);
	background-size: 16px 16px;
	background-position: center center;
	background-repeat: no-repeat;
}
.cart-checkbox-checked {
	background-image: url(../images/b2b/Select.png);
}
.cart-checkbox-disabled {
	display: block;
	visibility: hidden;
}

.cover-des-wraper {
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
	width: 100%;
	height: 120px;
	margin: 0;
	padding: 0;
}
.cover-item-pic {
	display: inline-block;
	align-self: flex-start;
	width: 88px;
	height: 88px;
	margin: 0 8px 0 0;
	padding: 0;
}
.cover-pic-size {
	width: 88px;
	height: 88px;
	margin: 0;
	padding: 0;
	border: none;
}
.cover-des-cont {
	flex: 1;
	height: 120px;

}
.cover-des-cri {
	display: block;
	width: 100%;
	height: 36px;
	margin: 0;
	padding: 0;
}
.cover-des-link {
	display: block;
	width: 100%;
	height: 36px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	height: 36px;
    line-height: 18px;
    font-size: 13px;
    color: #474942;
    text-align: left;
    overflow: hidden;
    background: #fff;
    word-break: break-all;
}

.cover-price-modify {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	height: 18px;
    margin: 4px 0 0 0;
    line-height: 18px;
    font-size: 13px;
    color: #ACB19F;
}
.cover-price-left {
	flex: 1;
	text-align: left;
}
.cover-price-left span {
	margin: 0;
	padding: 0;
	line-height: 18px;
    font-size: 13px;
    font-weight: normal;
    color: #ACB19F;
}
.cover-price-left i {
	margin: 0;
	padding: 0;
	line-height: 18px;
	font-style: normal;
    font-size: 13px;
    font-weight: normal;
    color: #ACB19F;
	text-align: left;
}
.cover-price-right {
	flex: 1;
	text-align: right;
}
.cover-price-right span {
	font-style: normal;
    line-height: 18px;
    font-size: 13px;
    font-family: Roboto-Bold;
    font-weight: 900;
    color: #FF902B;
    text-align: right;
}

.cover-item-cont {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	height: 25px;
	margin-top: 8px;
}
.cover-inc-dec {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	width: 96px;
    height: 25px;
    background: url(../images/b2b/stepper_bg.png) no-repeat;
	background-size: 96px 25px;
}
.cover-num-dec {
	display: block;
	box-sizing: content-box;
	width: 32px;
	height: 25px;
	border: none;
	background: url(../images/b2b/Stepper_minus.png) no-repeat;
	background-size: 32px 25px;
}
.cover-amount {
	width: 32px;
	height: 25px;
	border: none;
	font-style: normal;
    font-family: PingFang-SC-Medium;
    font-size: 13px;
    line-height: 25px;
    text-align: center;
    color: #474942;
}
.cover-num-inc {
	display: block;
	box-sizing: content-box;
	width: 32px;
	height: 25px;
	border: none;
	background: url(../images/b2b/stepper_plus.png) no-repeat;
	background-size: 32px 25px;
}
.item-del-btn{
	display: block;
	box-sizing: content-box;
    width: 25px;
    height: 25px;
    border: 1px solid #D5D7CE;
    border-radius: 2px;
}
.item-del-btn i:before {
	width: 25px;
	height: 25px;
	font-size: 25px;
	color: #ABB19F;
}

.cover-all-empty {
	display: flex;
	box-sizing: content-box;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 40px;
	border-bottom: #d5d7ce solid 1px;
}
.cover-all-empty i {
	display: block;
	font-style: normal;
	line-height: 40px;
	margin-left: 15px;
}
.cover-all-selected {
	display: block;
	box-sizing: content-box;
	height: 40px;
	margin: 0;
	padding: 0;
}
.cover-all-selected span {
	display: inline-block;
	box-sizing: content-box;
	line-height: 40px;
	margin: 0;
	padding: 0;
	font-size: 12px;
}
.cover-pay-bar {
	width: 100%;
	height: 41px;
	line-height: 41px;
	text-align: center;
	margin: 0 0 48px 0;
	font-size: 15px;
	line-height: 24px;
	font-weight: bold;
	color: #505557;
}
.cover-pay-bar span {
	line-height: 41px;
}
.cover-cart-bottom {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	height: 49px;
	margin: 0;
	padding: 0;
	background: #fff;

}
.cover-quantity-num {
	display: block;
	box-sizing: border-box;
	flex: 1;
	height: 49px;
	padding-left: 16px;
    line-height: 49px;
    font-size: 13px;
    color: #474942;
    text-align: left;
}
.cover-total-price {
	flex: 1;
	height: 49px;
}
.cover-total-price i {
	display: inline;
	font-style: normal;
	line-height: 49px;
    font-size: 14px;
    color: #474942;
}
.cover-total-price span {
	display: inline;
	line-height: 49px;
    font-size: 14px;
    color: #FF902B;
}
.cover-total-price span:before {
	content: '￥';
}
.cover-pay-btn {
	display: block;
	width: 96px;
    height: 49px;
    line-height: 49px;
    font-size: 16px;
    color: #FFFFFF;
    /*background: #D5D7CE;*/
    background: #00A340;
    text-align: center;
}
.self-pop-wrap {
  position: fixed;
  left:0;
  top:0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.self-pop-info {
  height: 20px;
  padding: 0 20px;
  border-radius: 10px;
  line-height: 20px;
  font-size: 12px;
  color: #fff;
  background: rgba(0,0,0,.8);
}