.cover-main-bg {
	background-color: #e0e0e0;
}
.cover-carousel {
	position: relative;
	width: 100%;
	height: 360px;
	overflow: hidden;
	background: #fff;
	/*border-bottom: 1px solid #e0e0e0;*/
}
.cover-carousel img {
	max-height: 360px;
}
.details-limit-sale {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	height: 43px;
	margin: 8px 0;
	padding: 0 16px;
	background: #fff;
}
.details-limit-icon {
	display: block;
	padding-left: 20px;
	border-radius: 4px;

	color: #fff;
	font-style: normal;
    font-size: 13px;
    line-height: 20px;

	background-image: url(../images/b2b/limit_time.png);
	background-repeat: no-repeat;
	background-size: 12px 12px;
	background-position: left 5px center;
	background-color: #ff3232;
}
.details-limit-num {
	flex: 1;
	margin-left: 13px;
	font-size: 13px;
    line-height: 20px;
	color: #8f8f93;
}
.cover-goods-cont {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	height: 49px;
	padding: 0;
	margin: 0;
	border-top: 1px solid #E6022D;
	background-color: #fff;
}
.cover-to-action {
	display: flex;
	flex-flow: row nowrap;
	width: 32%;
}
.cover-to-action a {
	flex: 1;
	height: 49px;
	border-right: 1px solid #e0e0e0;
	background-size: 16px 16px;
	text-decoration: none;
  position: relative;
}
.cover-to-shop {
	background: url(../images/b2b/shop.png) center center no-repeat;
}
.cover-to-center {
	background: url(../images/b2b/me.png) center center no-repeat;
}
.cover-to-cart {
	background: url(../images/b2b/to_cart.png) center center no-repeat;
}


figure {
  margin: 0 0;
}

.shop-icon-name {
  position: absolute;
  bottom: 3px;
  width: 100%;
  text-align: center;
  color: #636363;
  font-size: 10px;
}

.footer_home-btn {
  background: url(/_resources/images/product_to_shop.png) center top 10px/24px no-repeat;
  border-right: solid 1px #B4BBBF;
}
.footer_star-btn {
  background: url(/_resources/images/collection_star.png) center top 10px/24px no-repeat;
}
.footer_star_active {
  background: url(/_resources/images/collection_star_active.png) center top 10px/24px no-repeat;
}

.cover-to-buy {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
}
.cover-into-cart {
	width: 50%;
	height: 49px;
	border: none;
	line-height: 49px;
	font-family: PingFangSC-Regular;
	font-size: 16px;
	color: #FFFFFF;
	text-align: center;
	background-color: #ff7a00;
}
.cover-into-buy-original {
  width: 50%;
	height: 49px;
	border: none;
	line-height: 49px;
	font-family: PingFangSC-Regular;
	font-size: 16px;
	color: #FFFFFF;
	text-align: center;
	background-color: #99CAAF;
}
.cover-to-paing {
	width: 100%;
	height: 49px;
	border: none;
	line-height: 49px;
	font-family: PingFangSC-Regular;
	font-size: 16px;
	color: #FFFFFF;
	text-align: center;
  background-image: linear-gradient(to bottom , #E6022D, #E8441E);
}
.cover-btn-buy {
  width: 100%;
    border-radius: 0rem;
    line-height: 1.6;
    font-size: 2.0rem;
    font-weight: 400;
    background-image: linear-gradient(to bottom , #E6022D, #E8441E);
    border: 1px solid #E6022D;
    cursor: pointer;
    color: #fff;
    white-space: nowrap;
    text-align: center;
}
.cover-btn-cart {
  width: 50%;
  float:left;
  border-radius: 0rem;
  line-height: 1.6;
  font-size: 2.0rem;
  font-weight: 400;
  background-color: #99CAAF;
  border: 1px solid #99CAAF;
  cursor: pointer;
  color:  #004527;
  white-space: nowrap;
  text-align: center;
}
.riseTool {
  position: fixed;
  box-sizing: border-box;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(100, 100, 100, 0.6);
  font-size: 16px;
  z-index: 800;
  border: none;
}

.riseTool article {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 50px 0 0 0;
  border-radius: 5px;
  color: white;
}

.riseTool .tips {
  margin: 0 auto;
  line-height: 36px;
}

.riseTool .tips strong {
  color: #ff5400;
  font-size: 21px;
}

.riseTool article button {
  margin: 20px auto;
  border: 1px solid white;
  border-radius: 2px;
  padding: 2px 7px;
  background: transparent;
  color: white;
}

.riseTool article img {
  position: absolute;
  width: 64px;
  top: 28px;
  right: 27px;
  border: 0px;
  color: white;
  background: transparent;
}




.cloes-tag {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  -webkit-transition: all 1s;
  -ms-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.cloes-tag:before,
.cloes-tag:after {
  content: '';
  position: absolute;
  background-color: #a9a9a9;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}
.cloes-tag:before {
  left: 45%;
  top: -10%;
  width: 10%;
  height: 120%;
}
.cloes-tag:after {
  top: 45%;
  left: -10%;
  width: 120%;
  height: 10%;
}

img{
  width: 20%;
  height: auto;
  cursor: pointer;
}

.window{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  visibility: hidden;
  opacity: 0;
  background-color: white;

  -webkit-transition: all 0.6s;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.6);
}

.window img{
  width: 100%;
}

.window-show{
  z-index: 999;
  overflow: auto;
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
}
