
.db{
    display: block;
    width: 210px;
    margin:5px auto;
}
.msc{
    display: inline;
    width: 130px;
}
.codeDiv{
    display: block;
    margin:-5px auto;
    width: 215px;
}

.logoDiv{
    display: block;
    margin:-10px auto;
    width: 215px;
}

.span_prompt{
    display: none;
    margin:-3px auto;
    width: 215px;
    font-family: bold;
    font-size:15px;
    color: #ff2b21;
}
.valCode_btn{
    background-color:rgb(210,80,15);
    font-size:11px;
    text-align:center;
    border-radius:5px;
    font-family: bold;
    color:white;
    height:40px;
    width:80px;
    border: 1px solid #d29653;
    display: inline;
}

.validate_btn{
    background-color:rgb(210,80,15);
    font-size:14px;
    line-height:44px;
    text-align:center;
    border-radius:5px;
    color:white;
    height:44px;
    margin:10px auto;
    width:210px;
    border: 1px solid #d29653;
}

.title{
    font-size:36px;
    line-height:80px;
    text-align:center;
    color:#f64f50;
    margin-top: -5px;
}
.subtitle{
    font-size:20px;
    line-height:44px;
    text-align:center;
    color:#f64f50;
    display: block;
}


