.cart-checkbox
{
    border-radius: 100%;
    display: inline-block;
    margin: 0 0 0;
    vertical-align: middle;
    line-height: 60px;
    background-position: -20px -20px;
    width: 20px;
    height: 20px;
    background-image: url("../images/cart@2x.png");
    background-repeat: no-repeat;
    background-size: 40px 40px;

}

.address-checkbox {
  border-radius: 100%;
  display: inline-block;
  margin: 0 0 0;
  vertical-align: middle;
  line-height: 60px;
  background-position: -20px -20px;
  width: 20px;
  height: 20px;
  background-image: url("../images/cart@2x.png");
  background-repeat: no-repeat;
  background-size: 40px 40px;
  position: absolute;
  left: -22px;
  top:4px;
}

.address-checkbox-checked {
  background-position: 0 -20px;
}

.cart-checkbox-checked {
    background-position: 0 -20px;
}



.cart-checkbox-disabled
{
    display:inline-block;
    background:url("../images/chekbox_disabled.png") no-repeat;
    width:24px;
    height:24px;
    margin-top:10px;
    margin-right:15px;
    cursor:pointer
}

.allSelect {
    color: #000;
    font-size: 20px;
    margin-left: 14px;
}

.shopSelect {
    color: #000;
    font-size: 20px;
    margin-left: 12px;
}

.shop-coupon-select {
    color: #000;
    font-size: 16px;
    margin-left: 15px;
    margin-right: 15px;
}

.shop-coupon-select-div {
    color: #000;
    font-size: 16px;
    margin-left: 15px;
    margin-right: 15px;
}

.shop-coupon-confirm-select {
    color: #000;
    font-size: 16px;
}

.cart-img160{
    display: block;
    width: 80px;
    height: 80px;
    overflow: hidden;
}
