body {
    padding: 0px; margin: 0px;
    background-color: white;
}

.coupon-section{
    position: relative;
    background-color: #E43007;
}
.coupon-intro-canvas{
    width:285px;
    height:320px;
    overflow: hidden;
    position: relative;
    margin: 0px auto;
    font-family: bold;
}
.coupon-canvas{
    background:  url(/../_resources/images/coupon/promotion_coupon.png) no-repeat;
    width:283px;
    height:175px;
    position: absolute;
    margin-top:15px;
    color:white;
    font-size: 20px;
}
.coupon-rule {
    position: absolute;
    top: 10px;
    right: 15px;
    text-align: right;
    font-size: 16px
}

.coupon-price .coupon-money{
    position: absolute;
    font-size: 46px;
    font-family: bold;
    top: 0px;
    left: 25px;
    padding: 0 0 0 18px;
}

.coupon-price .coupon-sign {
    font-size: 32px;
    display: block;
    position: absolute;
    top: 10px;
    left: 12px;
}

.coupon-rule {
    padding: 0;
    margin: 0;
    width:280px;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    text-overflow:ellipsis;
    text-align: right;
}
.coupon-bottom {
    position: absolute;
    bottom: 40px;
    left: 15px;
    font-size: 15px;
    line-height: 23px;
}

.coupon-sn{
    width:260px;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    text-overflow:ellipsis
}



.coupon-amount{
    position: absolute;
    bottom: 7px;
    font-size: 15px;
    color: black;
    width:100%;
}
.coupon-amount p{
    text-align: center;
}

.coupon-amount em{
    font-size: 24px;
}

.coupon-input{
    position: absolute;
    font-size: 24px;
    font-family: bold;
    width:100%;
    bottom: 15px;
    left:3px;
}

.coupon-input p{
    color: white;
    font-size: 16px;
    font-family: bold;
    margin-bottom:5px;
}

.acquire_btn{
    background-color:#F7ED00;
    font-size:16px;
    text-align:center;
    border-radius:5px;
    font-family: bold;
    color:red;
    height:40px;
    width:80px;
    border: 1px solid #D74641;
    display: inline;
    cursor : pointer;
}
.phone{
    display: inline;
    width: 190px;
    outline:none;
}
.coupon-input a{
    font-size:16px;
    color:#FFF15E;
    cursor : pointer;
}
.shop-zinex{
    position: relative;
    z-index: 501;
}
.shop-nav{
    width:320px;
    height:42px;
    overflow: hidden;
    position: relative;
    margin: 0px auto;
    font-family: bold;
    font-size:13px;
    color:#353538;
    left:2px;
}
.shop-nav span{
    width:100px;
    line-height:52px;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    text-overflow:ellipsis;
}

.shop-tab{
    position: absolute;
    right:10px;
    display: inline;
}

.shop-tab li{
    width:72px;
    height:25px;
    background-color:#E73107;
    border-radius: 18px;
    text-align:center;
    margin-top:10px;
}
.shop-tab a{
    line-height:26px;
    color:white;
    cursor : pointer;
    font-size:13px;
}

.shopGoodsList{
    width:350px;
    overflow: hidden;
    position: relative;
    margin: 0px auto;
    font-family: bold;
}
.coupon-pro-item{
    height:100%;
    padding:5px;
    position: relative;
    z-index: 505;
    cursor : pointer;
}
.shop-pro-infor{
    display: block;
    width: 348px;
    height:85px;
    background-color: #fff;
    -moz-border-radius: 5px;      /* Gecko browsers */
    -webkit-border-radius: 5px;   /* Webkit browsers */
    border-radius:5px;            /* W3C syntax */
    -moz-box-shadow: 2px 2px 4px #dedede;
    -webkit-box-shadow: 2px 2px 4px #dedede;
    box-shadow: 2px 2px 4px #dedede;
    margin-top:5px;
}
.shop-item-text {
    width:250px;
    color:#000;
    right:0px;
    position: absolute;
    top:9px;
    line-height:20px;
    font-size:14px;
    height: 100%;
}

.shop-item-btm {
    bottom: 25px;
    position: absolute;
    width:100%;
}

.shop-item-btm  .amount{
    position: absolute;
    right:30px;
    font-size:13px;
}

.no-coupon-section{
    position: relative;
    background-color: #E8E8E8;
}
.no-coupon-intro-canvas{
    width:285px;
    height:175px;
    overflow: hidden;
    position: relative;
    margin: 0px auto;
    font-family: bold;
}
.coupon-bg-img{
    position: absolute;
    right:0px;
    top:0px;
}
.no-coupon-info{
    position: absolute;
    top:50px;
    font-size:20px;
    left: 50px;
    line-height:40px;
}
