body {
	padding: 0px; margin: 0px;
	background-color: #f6f0eb;
}
.shop-intro-canvas{
	width:100%;
	height:146px;
	overflow: hidden;
	position: relative;
	z-index: 1;
}

.info-wrap{
	/*width:300px;
	margin: auto;*/
	margin: 17px 0px 0px 15px;
	position: absolute;
	z-index: 10;
}
.user-photo-canvas{
	float:left;
}
.user-photo img{
	display: block;
	width:100%;
	height:100%;
	/*border:2.5px solid #ffffff;
    border-radius: 40px;*/

}
.user-level{
	margin: 15px 0px 0px 10px;
}
.user-level span{
	display: inline-block;
	width:16px; height:16px;
	background-size: 16px 16px;
}
.shop-intro-bg{
	position: absolute;
	width: 100%;
	z-index: 1;
}
.secure{
	background: url(/../_resources/images/test/diamond.png) no-repeat;
}
.category-list{
   cursor : pointer;
}
.category-item-selected{
    border-bottom:2px solid #ff6e52 ;
}

.diamond{
	background: url(/../_resources/images/test/secure.png) no-repeat;
}
.crown{
	background: url(/../_resources/images/test/crown.png) no-repeat;
}
.intro{
	float:left;
	margin-left: 13px;
	margin-top: 8px;
}
.intro .shop-name{
	width:210px;
	font-size:17px;
	font-weight:bold;
	color:#bbc89a;
	padding: 0px;
	white-space: nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
.location-info{
	margin-top: 5px;
}
.location-icon{
	float:left;
	width:10px;
	height:11px;
	background: url(/../_resources/images/test/location2.png) no-repeat;
	background-position: -99px -1px;
	background-size: 110px 11px;
	margin: 6px 3px 0px 5px;
}
.location-address,.location-deliver{
	font-size:9px;
	color:#bbc89a;
	display:inline-block;
	height:11px;
	line-height: 11px;
}
.location-sep{
	display:inline-block;
	opacity: 0.7;
	height:9px;
	border-left:1px solid #bbc89a;
	vertical-align:top;
	margin-top: 7px;
}
.function-canvas{
	margin-top: 15px;
}
.function-canvas span{
	display:inline-block;
	width:60px; height:23px;
	border-radius: 4px;
	background-color: #000;
	opacity:0.5;
	margin-right: 3px;
	background-size: 44px 16px;
}
.btn-wechat{
	background: url(/../_resources/images/test/wechat.png) no-repeat 6px 4px;
}
.btn-share{
	background: url(/../_resources/images/test/share.png) no-repeat 6px 4px;
}
.btn-notice{
	background: url(/../_resources/images/test/notice.png) no-repeat 6px 4px;
}
.shop-notice{
	color:#505557;
	font-size:13px;
	padding: 15px 25px;
	background-color: #fff;
	position: relative;
	z-index: 15;
	word-break:break-word;
}
.shop-zinex{
	position: relative;
	z-index: 501;
}
.shop-tab{
	position: relative;
	width:100%;
	z-index: 1000;
}
.shop-tab-wrap{
	height:100%;
	width: 100%;
	background-color: #f5f5f5;
	position: relative;
	-webkit-box-shadow: 0px 1px 3px #dddddd;
}
.tab-wrap,.tab-category{
	display:block;
	height:100%;
	line-height: 40px;
	vertical-align:middle;
	text-align: center;
	z-index: 10;
}
.tab-wrap span{
	display: inline-block;
	color:#898683;
	font-size:15px;
	margin:0px 10px 0px 10px;
}
.tab-wrap .tab-sel{
	position: absolute;
	width:48px;
	border-top:2px solid #ff6e52;
	bottom:0px;
}
.tab-wrap span.sel{
	color:#2f353c;
	font-weight: bold;
	cursor : pointer;
}
#btn-category{
	display: block;
	width:40px; height:40px;
	position: absolute;
	left: 0px; top:0px;
	background: url(/../_resources/images/test/category.png) no-repeat 12px 13px;
	background-size: 15px 13px;
	background-color: #5a5a5a;
	/*-webkit-box-shadow: 0px 1px 3px #dddddd;*/
}
.tab-category{
	display: none;
}
.img-wrap{
	width:calc(100% - 44px);
	padding:5px 22px 5px 22px;
}
.img-big{
	width:100%;
	height:325px;
	background-color: #fff;
	margin-top: 20px;
	border-radius: 4px;
	box-shadow: 0px 2px 4px #dedede;
}
.img-big img{
	width:100%; height:265px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.img-big .product-describe{
	font-size:13px;
	color:#424242;
	height:13px; line-height: 13px;
	width:100%;
	margin-top: 13px;
	text-indent: 13px;
}
.img-big .product-price{
	font-size:14px;
	color:#424242;
	font-weight: bold;
	text-indent: 12px;
	margin-top: 5px;
}

/*wechat ID*/
.wechat-tip{
	width:100px; height:0px;
	margin-top: -4px;
	opacity:0;
}
.tip-bg{
	width:9px; height:4px;
	background: url(/../_resources/images/test/tip-bg.png) no-repeat;
	background-size:9px 4px;
	margin-left: 25px;
}
.wechat-id{
	display:inline-block;
	height:20px;
	background-color: #000;
	opacity:0.5;
	min-width:60px;
	border-radius:3px;
	font-size:9px;
	color:#fff;
	line-height:20px;
	vertical-align: top;
	padding: 0px 5px 0px 5px;
}
/*类目*/
#category{
	display:none;
	position: fixed;
	top:186px;
	min-height:100px;
	padding-bottom:10px;
	width:100%;
	background-color: #fff;
	z-index: 2;
}
.category-title{
	position:relative;
	height:44px;
	background-color: #eaeaea;
	border-bottom:1px solid #c8c7cc;
	border-top:1px solid #c8c7cc;
	color:#676767;
	font-size:12px;
	padding-left:12px;
	line-height:44px;
}
.btn-category-close{
	width:12px; height:12px;
	background:url(/../_resources/images/test/btn-close.png) no-repeat;
	background-size:12px 12px;
	margin: 15px 10px 0 0;
}
#category ul{
	padding-left: 12px;
	overflow: auto;
}
#category li,.category-home{
	height:42.5px;
	color:#212121;
	font-size:17px;
	border-bottom:1px solid #c8c7cc;
	line-height:42.5px;
}
.category-home{
	padding-left: 12px;
	color: #9a9a9a;
	cursor: pointer;
}
.info-section{
	position: relative;
	z-index: 1;
}

.shop_all_btn{
	display: block;
	margin: 10px auto ;
}

.loadEffect{
            width: 95px;
            height: 95px;
            position: relative;
            margin: 0 auto;
            margin-top:10px;
        }
        .loadEffect span{
            display: inline-block;
            width: 30px;
            height: 10px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            background: #FF8C00;
            position: absolute;
            -webkit-animation: load 1.04s ease infinite;
        }
        @-webkit-keyframes load{
            0%{
                opacity: 1;
            }
            100%{
                opacity: 0.2;
            }
        }
        .loadEffect span:nth-child(1){
            left: 0;
            top: 50%;
            margin-top:-5px;
            -webkit-animation-delay:0.13s;
        }
        .loadEffect span:nth-child(2){
            left: 10px;
            top: 20px;
            -webkit-transform: rotate(45deg);
            -webkit-animation-delay:0.26s;
        }
        .loadEffect span:nth-child(3){
            left: 50%;
            top: 10px;
            margin-left: -15px;
            -webkit-transform: rotate(90deg);
            -webkit-animation-delay:0.39s;
        }
        .loadEffect span:nth-child(4){
            top: 20px;
            right:10px;
            -webkit-transform: rotate(135deg);
            -webkit-animation-delay:0.52s;
        }
        .loadEffect span:nth-child(5){
            right: 0;
            top: 50%;
            margin-top:-5px;
            -webkit-transform: rotate(180deg);
            -webkit-animation-delay:0.65s;
        }
        .loadEffect span:nth-child(6){
            right: 10px;
            bottom:20px;
            -webkit-transform: rotate(225deg);
            -webkit-animation-delay:0.78s;
        }
        .loadEffect span:nth-child(7){
            bottom: 10px;
            left: 50%;
            margin-left: -15px;
            -webkit-transform: rotate(270deg);
            -webkit-animation-delay:0.91s;
        }
        .loadEffect span:nth-child(8){
            bottom: 20px;
            left: 10px;
            -webkit-transform: rotate(315deg);
            -webkit-animation-delay:1.04s;
        }
.shop-coupon{
	width:302px; height:76px;
	background:url(/../_resources/images/coupon/shop_coupon.png) no-repeat;
	margin: 15px auto;
	position: relative;
    color: white;
    font-size: 15px;
    font-family: bold;
    cursor : pointer;
	font-family: '黑体', '宋体';
}

.acquire-shop-coupon{
    width:302px; height:76px;
    background:url(/../_resources/images/coupon/acquire_shop_coupon.png) no-repeat;
    margin: 15px auto;
    position: relative;
    color: white;
    font-size: 15px;
    font-family: bold;
	font-family: '黑体', '宋体';
}
.coupon-price .coupon-money{
    position: absolute;
    font-size: 50px;
    top: 0px;
    left: 25px;
    padding: 0 0 0 10px;
}

.coupon-price .coupon-sign {
    font-size: 20px;
    font-family: bold;
    display: block;
    position: absolute;
    top: 10px;
    left: 12px;
}

.coupon-rule {
    position: absolute;
    top: 5px;
    right: 85px;
    text-align: right;
	 line-height: 23px;
}
.coupon-rule p {
    padding: 0;
    margin: 0;
    width:120px;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    text-overflow:ellipsis;
    text-align: right;
}
.shop-coupon-acquire {
    position: absolute;
    top: 10px;
    right: 20px;
    height: 60px;
    line-height: 60px;
	color: rgba(0, 0, 0, 0.78);
}
.coupon-time {
    position: absolute;
    bottom: 6px;
    left: 0px;
    font-size: 12px;
	width:228px;
    text-align: center;
}

.partner-head:before {
  border: 1px solid #fff;
  padding: 6px 8px;
  border-radius: 100%;
  color: #fff;
  font-size: 17px;
}

.partner-head:after {
  font-family: iconfont!important;
  font-size: 1.6rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mod-search-top {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  padding: .8rem;
  background-color: #5c5c5c;
}

.mod-search-top .search-inner {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 .8rem;
  border-radius: 3rem;
  line-height: 3rem;
  display: block;
  color: #fff;
  background-color: #cfcfcf;
}

.mod-search-top .navbar-link {
  height: 3rem;
  line-height: 3rem;
  padding: 0 0 0 .8rem;
  float: right !important;
  margin-right: 5px;
}

.pro-item-text .prod{
  height:30px;
  line-height: 14px;
  padding:0 5px 5px;
}
