body{
  /*background-color: #ececec;*/
  background-color: #F8F8F8;
  padding-bottom: 70px;
}

.ic-cl-5{
 color: #555;
}

.ic-cl-8{
  color: #7F8182;
}

.ic-money{
  margin-right: 0.20rem;
}

a{
  color:#505557;
}

.ic-mgt{
  margin-top: 1.0rem;
}

.ic-mgr{
  margin-right: 0.40rem;
}

.font-bold{
  font-weight: bold;
}

.font-blue{
  color:#0768ad;
}

.font-green{
  color:#5cb85c;
}
.row span{
  display: block;
}

.select-orange{
  color:#f36825;
}

.row-order{
  padding-left: 1.0rem;
}

.order-empty{
  margin-top: 120px;
  color:#777;
}

.btn-sm{
  padding: .4rem .8rem;
  font-size: 1.4rem;
  line-height: 1.4;
  border-radius: .4rem;
  cursor: pointer;
  color: #e84e4e;
  background-color: #fff;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  font-weight: 400;
  border: 1px solid #e84e4e;
  white-space: nowrap;
}

.navbar-fixed-top{
  background-color: #fff !important;
}

.navbar-fixed-top ul li{
  padding: 0;
  font-size: 1.0em;
}

.navbar-fixed-top .container-fluid .row-fluid{
  min-height: 50px;
}

.row-menu-line{
  line-height: 2.0rem;
}

.row-fluid .row{
  padding-top: 1.0rem;
  background-color: #fff;
  font-size: 0.8em;
}

.row-margin-top{
  margin-top: 0.50rem;
}

.row-bottom-border{
  border-bottom: 1px solid #ddd;
  padding-bottom:0.80rem;
}

.row-bottom-nav-pd{
  padding-top: 0.50rem;
}

.list-item a{
  padding: 15px 15px;
}

.list-item .fa{
  font-size: 1.4em;
}

.navbar .row .fa{
  font-size: 1.3em;
}

.border-right{
  border-right: 1px solid #ddd;
}

.fl-right{
  float: right;
}

.font-york-yellow-bold{
  font-weight: bold;
  color:#fe8a23;
}

.user-info .account span {
  display: block;
}
.user-info .account span.user-name {
  font-size: 1.6rem;
  color:#337ab7;
}

.user-info .account span.user-mobile {
  color: #777;
}

.order-img160 {
  display: block;
  width: 80px;
  height: 80px;
  overflow: hidden;
}

.bd {
  border-width: 1px;
  border-color: #f0eeea;
  border-style: solid;
}

.lpd{
  padding-left: 10px;
}

.order-list{
  margin-top: 55px;
  padding: 5px 15px;
}

.order-item .row{
  margin: 0;
}

.order-item{
  padding: 8px 8px;
}

.order-item .row span{
  display: inline;
}

.order-item div{
  padding: 0;
}



.user-info {
  border-width: 0 0 1px;
  background-color: #fff;
  padding: 0.90rem .90rem;
  position: relative;
  border-style: solid;
  border-color: #ddd;
}

.user-info .avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  float: left;
  margin-right: .85rem;
}

