<div id="addressListModal" class="modal fade"  tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="padding: 9px 15px;">
                <a class="close" data-dismiss="modal" style="font-size: 30px;">×</a>
                <h3 style="line-height: 27px;font-size: 18px;margin: 0;color:#E8441E;font-weight: bold;">选择收货地址</h3>
            </div>
            <div class="modal-body" style="max-height: 300px;overflow: auto;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="widget wgreen">
                            <div class="widget-content">
                                <div class="padd">
                                        <section id="js-address-list">
                                            <ul class="fz24 font-dark plr30 addressbox js-address-item" data-th-if="${addresses != null}"  data-th-each="address : ${addresses}">
                                                <li class="bg-white cart-address-line font-dark clearfix t-lf" style="position: relative;" data-th-id="${address.id}">
                                                    <span data-th-fragment="select" data-th-id="${address.id}"  class="address-checkbox fl-l address-checkbox-checked" data-th-if="${address.isDefault}"></span>
                                                    <span data-th-fragment="select"  data-th-id="${address.id}" class="address-checkbox fl-l" data-th-if="${!address.isDefault}"></span>
                                                    <span style="margin-left: 8px;">收货人:</span><span class="modal-addr-consignee" data-th-text="${address.consignee}" ></span>
                                                    <span style="margin-left: 5px;margin-right: 5px;">,</span>
                                                    <span class="ff-numb modal-addr-phone" data-th-text="${address.phone}"></span>
                                                    <span class="icon-edit btn-address-edit" style="float:right;margin-right: 5%;font-size: 20px;color:#E8441E" data-th-id="${address.id}"></span>
                                                </li>
                                                <li class="bg-white cart-address-narrow-line clearfix t-lf">
                                                    <span style="margin-left: 8px;">收货地址:</span>
                                                    <span class="modal-addr-details" data-th-text="${address.details}"></span>
                                                </li>
                                                <li>
                                                    <input class="address-certificateId" type="hidden" data-th-value="${address.certificateId}" />
                                                </li>
                                            </ul>
                                        </section>
                                </div>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="t-lf btn-address-create" style="font-size: 16px;color:#E8441E;">
                    <span class="icon-plus" style="margin-right: 10px;"></span>添加新地址
                    <span class="icon-right" style="float:right;margin-right: 5%;"></span>
                </div>
                <div class="alert alert-danger alert-dismissable t-lf addrls-help-info" style="display: none;">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>注意: </strong> 收货地址更新失败,请稍后再试.
                </div>
            </div>
        </div>
    </div>
</div>