<head>
	<meta charset="UTF-8" />
	<title>购物车无商品</title>
	<link rel="stylesheet" type="text/css" data-th-href="@{/_resources/css/noResultStyle.css?t=20141014}" />
</head>
<body>
	<div id="img" class="nocart"></div>
	<h1>购物车中没有商品</h1>
	<p>没有商品，快去逛逛吧</p>
	<div id="button" >
	<a data-th-href="'/shop/'+${shopId} + '?currentSellerShopId=' + ${shopId} " type="button">
		<h2>去逛逛</h2>
		</a>
	</div>

</body>
