<div id="editAddressModal" class="modal fade in"  tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="background-color: white;">
            <div class="modal-header" style="padding: 9px 15px;">
                <a class="close" data-dismiss="modal" style="font-size: 30px;">×</a>
                <h3 style="line-height: 27px;font-size: 18px;margin: 0;color:#E8441E;font-weight: bold;">收货地址</h3>
            </div>
            <div class="modal-body" style="max-height: 300px;overflow: auto;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="widget wgreen">
                            <div class="widget-content">
                                <div class="padd">
                                    <form id="address_modal_form" data-th-action="${'/address/save'}" method="post">
                                        <input type="hidden" id="id" name="id" value=""/>
                                        <input type="hidden" id="zoneId" name="zoneId"/>
                                        <input type="hidden" id="isDefault" name="isDefault" value="1"/>
                                        <input class="mb30i db" id="consignee" name="consignee" type="text" placeholder="收货人姓名" required="required" value=""/>
                                        <input class="mb30i db" id="phone" name="phone" type="text" placeholder="手机号码" required="required" value=""/>
                                        <div class="db">
                                            <select class="mb30i width13" id="province" name="province">
                                                <option value="0">--省份--</option>
                                            </select>
                                            <select class="mb30i width20" id="city" name="city">
                                                <option value="0">--城市--</option>
                                            </select>
                                            <select class="mb30i width15" id="district" name="district">
                                                <option value="0">--地区--</option>
                                            </select>
                                        </div>
                                        <textarea class="mb30i db" id="street" name="street" rows="2" placeholder="详细地址" required="required" text=""></textarea>
                                    </form>
                                    <div id="addrcr-help-content" style="color:#f36825;display: none;" > 收货地址更新失败,请稍后再试.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
               <div id="addrSubmitBtn" class="addressBtn" style="  background-image: linear-gradient(to bottom , #E6022D, #E8441E);">保存收货地址</div>
            </div>
        </div>
    </div>
</div>