<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation" data-th-fragment="args(shopId)">
        <div class="row row-bottom-nav-pd">
            <div class="col-xs-4 span4 text-center">
                <a data-th-href="'/shop/' + ${shopId}">
                    <span class="font-dark"><i class="fa fa-shopping-basket"></i> </span>
                    店铺主页
                </a>
            </div>
            <div class="col-xs-4 span4 text-center  select-orange">
                <a data-th-href="'/user/userCenter/' + ${shopId}">
                    <span class="font-dark"><i class="fa fa-suitcase"></i> </span>
                    会员中心
                </a>
            </div>
        </div>
</nav>