<section class="header-top" data-th-fragment="args(shopId,identity)">
    <div class="box-no-center bg-black pt10b5">
        <div class="mr20">
            <a data-th-href="'/shop/'+${shop.id}" valign="top" class="img50 img-bd3 ml10 img-round">
                <img data-vd-src="${shop.img[s025]}" />
            </a>
        </div>
        <div class="mr20">
            <a class="font-gray fz28 widthhuanh" style="vertical-align: middle;" data-th-href="'/shop/'+${shop.id}" data-th-text="${shop.name}"></a>
        </div>
        <div class="mr20" style="position:absolute; right: 75px;">
            <a data-th-href="'/catalog/search?shopId='+${shopId}">
                 <span class="glyphicon glyphicon-search" style="margin-top: 4px;font-size:16px;"></span>
            </a>
        </div>
        <div class="mr20" style="position:absolute; right: 10px;">
            <a class="font-gray fz28 widthhuanh" herf="javascript:;" id="userCenter" name="userCenter" style="vertical-align: middle;" data-th-attr="nextUrl='/user/userCenter/'+${shop.id}">我的记录</a>
        </div>
    </div>
</section>
