<div id="userLogin" class="modal fade"  data-th-attr="next-url=''"  tabindex="-1" role="dialog" aria-labelledby="userLoginLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="width:90%;top:100px;">
        <div class="modal-content" style="background-color: white;" id="modal-content" name="modal-content">
            <div class="modal-header" style="padding: 9px 15px;">
                <a class="close" data-dismiss="modal">×</a>
                <h3 id="userLoginTitle" name="userLoginTitle" style="line-height: 27px;font-size: 18px;margin: 0;color:#f36825;font-weight: bold;">请填写您的手机号码</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="widget wgreen">
                            <div class="widget-content">
                                <div class="padd">
                                    <form class="form-horizontal" role="form" >
                                        <div class="form-item">
                                            <label for="memberPhone">手机号码</label>
                                            <input type="tel" class="form-control"  id="memberPhone" name="j_username" autocomplete="off" maxlength="11" placeholder="手机号码"/>
                                        </div>
                                        <div class="form-item js-member-captcha" id="js-member-captcha" name="js-member-captcha">
                                            <label for="captcha">验证码</label>
                                            <input type="text" class="form-control" style="width: 200px;"  id="captcha" name="captcha" autocomplete="off" maxlength="6" placeholder="请输入短信验证码"/>
                                            <button type="button" data-text="获取验证码" class="btn btn-warning btn-captcha">获取验证码</button>
                                        </div>
                                        <div class="form-item js-member-pwd" id="js-member-pwd" name="js-member-pwd">
                                            <label for="memberPwd">密码</label>
                                            <input type="password" class="form-control" id="memberPwd" name="j_password"  autofocus="autofocus" autocomplete="off" placeholder="请输入登录密码" />
                                        </div>
                                        <div class="error-info js-help-info">手机验证码验证错误,请重新获取!请填写6位短信验证码</div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-warning btn-lg btn-block" id="btnSubmit" data-th-attr="data-status=''" >确认手机号码</a>
                <div class="bottom-tips js-bottom-cg" id="js-bottom-cg" name="js-bottom-cg">
                    <span class="s-orange">如果您忘了密码，请</span>
                    <a href="javascript:;" class="a-blue js-change-pwd">点我找回密码</a>
                    <a href="javascript:;" class="a-blue js-change-phone" style="margin-left: 30px;">更换手机号</a>
                </div>
                <div class="bottom-tips js-bottom-lg" id="js-bottom-lg" name="js-bottom-lg">
                    <a href="javascript:;" class="a-blue inline-item js-login">已有账号登录</a>
                    <a href="javascript:;" class="a-blue js-register" style="margin-left: 12px;">注册新账号</a>
                </div>
            </div>
        </div>
    </div>
</div>