<div data-th-fragment="numEditor(amount, stock)" class="numEditor">
    <!--<input class="numed amount" type="hidden" name="amount" data-th-value="${amount eq null?1:amount}" />-->
    <button type="button" data-th-attr="edge=${stock}" class="numDec va-m numMinus" style="padding:0;"></button>
    <input class="numed amount va-m" name="amount" data-th-attr="edge=${stock}" value="1" data-th-value="${amount eq null?1:amount}" />
    <button type="button" data-th-attr="edge=${stock}" class="numInc va-m numPlus" style="padding:0;"></button>
</div>

<!-- <img data-vd-src="/_resources/images/productNewIcon03.png" alt="" /> -->