<div class="refund_box">
    <div class="refund_title">
        <em></em>
        <div class="txt oblique">服务介绍</div>
    </div>
    <div class="refund_introduce">
        <p>1. 仅退款</p>
        <p>申请条件：若您未收到货，或已收到货且与卖家达成一致不退货仅退款时，请选择“仅退款”选项。</p>
        <p>退款流程：1.申请退款 >2.卖家同意退款申请 >3.退款成功</p>
        <p class="introduce2">2. 退货退款</p>
        <p>申请条件：若为商品问题，或者不想要了且与卖家达成一致退货，请选择“退货退款”选项，退货后请保留物流底单。</p>
        <p>退货流程：1.申请退货 >2.卖家发送退货地址给买家 >3.买家退货并填写退货物流信息 >4.卖家确认收货，退款成功</p>
    </div>
</div>