<div class="refund_step" data-th-fragment="pc_refund_step (step,style)" data-th-classappend="'refund_style' + ${style}">
    <div data-th-classappend="'refund_step' + ${step}">
        <div class="refund_step_bg">
            <div class="refund_step_bg_line"></div>
            <span class="refund_step_bg-ball refund_step_bg-ball-1">1</span>
            <span class="refund_step_bg-ball refund_step_bg-ball-2">2</span>
            <span class="refund_step_bg-ball refund_step_bg-ball-3">3</span>
            <span class="refund_step_bg-ball refund_step_bg-ball-4">4</span>
            <div class="refund_step_front">
                <div class="refund_step_front_line"></div>
                <span class="refund_step_front-ball refund_step_front-ball-1">1</span>
                <span class="refund_step_front-ball refund_step_front-ball-2">2</span>
                <span class="refund_step_front-ball refund_step_front-ball-3">3</span>
                <span class="refund_step_front-ball refund_step_front-ball-4">4</span>
            </div>
        </div>
        <div class="refund_4step_info">
            <div class="refund_step_info refund_step_info-1">买家申请退款退货</div>
            <div class="refund_step_info refund_step_info-2">卖家处理退货申请</div>
            <div class="refund_step_info refund_step_info-3">买家退货给卖家</div>
            <div class="refund_step_info refund_step_info-4">卖家确认，收货退款完成</div>
        </div>
        <div class="refund_3step_info">
            <div class="refund_step_info refund_step_info-1">买家申请退款</div>
            <div class="refund_step_info refund_step_info-2">卖家处理退款申请</div>
            <div class="refund_step_info refund_step_info-3">卖家确认，退款完成</div>
        </div>
    </div>

</div>