<a data-th-href="'/p/'+${prod.id}" data-th-fragment="card(prod)">
    <div class="coupon-pro-item">
        <div>
            <img width="70" height="70" data-vd-src="${prod.img}" data-th-alt="${prod.name}" />
        </div>
        <div class="shop-item-text">
            <p data-th-text="${prod.name}"></p>
            <div class="shop-item-btm">
                <span class=" ff-numb font-orange-bold" data-vd-price="${prod.price}"></span>
                <em class="ff-numb font-orange-bold amount"><span data-th-text="${prod.amount}" />件</em>
            </div>
        </div>
    </div>
</a>
