<section data-th-fragment="card(prod)">
    <a data-th-href="'/p/'+${prod.id}" >
        <div class="img-outer">
            <img class="js-img-size" data-th-attr="imgWidth=${prod.imgWidth eq null? 480 :prod.imgWidth},imgHeight=${prod.imgHeight eq null? 480 :prod.imgHeight}" data-vd-src="${prod.img}" data-th-alt="${prod.name}" />
        </div>
    </a>
    <div class="pro-item-text p10">
        <p class="widthhuanh fz20 font-dark prod" data-th-text="${prod.name}"></p>
        <span class="fz28 ff-numb pt10 font-orange" data-vd-price="${prod.price}"></span>
        <span class="ff-numb pt10 js-shop-cart" style="text-decoration: line-through;float: right;margin-right: 10px;margin-bottom: 10px;" data-th-attr="productId=${prod.id}">
           <i class="fa fa-cart-plus font-dark fa-2x"></i>
        </span>
    </div>
</section>