<head>
	<meta charset="UTF-8" />
	<title>店内搜索无检索结果</title>
	<link rel="stylesheet" type="text/css" data-th-href="@{/_resources/css/noResultStyle.css?t=20141014}" />
</head>
<body>
	<div id="img" class="noresult"></div>
	<h1>无检索结果</h1>
	<p>没有检索到相应的商品，再试试别的吧</p>
</body>