<div class="bar bottom-bar addToCartAndBuyBtns" data-th-fragment="args(shopId,identity)">
    <div class="goods-actions seckill-actions">
        <a class="cell" data-th-href="'/shop/' + ${shopId}"><i class="if if-store"></i>
            <div>进店</div>
        </a>
        <div class="cell btns-cell">
            <button id="addToCartBtn" class="btn-sm btn-cart js-open-cart">加入购物车</button>
            <button id="buyBtn" class="btn-sm btn-buy js-open-cart">立即购买</button>
        </div>
    </div>
</div>





