    <div data-th-if="${crossBorder==true}">
    	<img data-vd-src="/_resources/images/cross/cross_intro.jpg" style="cursor: pointer;padding: 0 0 10px 9%;width: 87%" onclick="window.open('http://www.kjb2c.com');"/>
    </div>
    <div class="pro-infor" data-th-each="prod:${prods}">
        <div data-th-replace="fragments/productCard::card(prod=${prod})"></div>
    </div>
