<section data-th-fragment="args(shopId)">
    <!-- modules-search 首页搜索-->
    <div class="modules-search" style="background-color: #e6508b;">
        <section>
            <div>
                <div class="mod-search js-search" >
                    <a class="search-inner" style="font-size: 16px; width: 90%;">
                        <span class="ml20">人人搜索</span>
                    </a>
                    <a id="userCenter" name="userCenter" data-th-href="'/user/userCenter/'+${shopId}" style="margin-left: 5px;">
                        <span class="icon-user" style="font-size: 28px;color: white; vertical-align: sub;">
                        </span>
                    </a>
                </div>
            </div>
        </section>
    </div>

    <!--&lt;!&ndash;modules-image 导航  &ndash;&gt;-->
    <!--<div class="modules-image">-->
        <!--<div>-->
            <!--<section class="mod-image-list">-->
                <!--<div style="background-color: #399d3b">-->
                    <!--<table style="width: 320px">-->
                        <!--<tbody>-->
                        <!--<tr>-->
                            <!--<td style="border-width:0px" class="not-empty cols-2 rows-1" colspan="2" rowspan="1">-->
                                <!--<a href="#">-->
                                    <!--<img style="display: inline;" data-vd-src="/_resources/images/staticpage/Fn6MCwTWa6Q2GA9NyD8dKqWdglW6.jpg" class="lazy"   width="100%" />-->
                                <!--</a>-->
                            <!--</td>-->
                            <!--<td style="border-width:0px" class="not-empty cols-2 rows-1" colspan="2" rowspan="1">-->
                                <!--<a id="userCenter" name="userCenter" data-th-href="'/user/userCenter/'+${shopId}">-->
                                    <!--<img style="display: inline;" data-vd-src="/_resources/images/staticpage/FhtczP_5VCzeQ3J9O-NYm_ICFVNG.jpg" class="lazy" data-original=" " width="100%" />-->
                                <!--</a>-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                <!--</div>-->
            <!--</section>-->
        <!--</div>-->
    <!--</div>-->
    <!--<nav class="navbar navbar-default navbar-static-top" role="navigation" style="background-color: #5c5c5c;margin-bottom: 0px;">-->
        <!--<div class="navbar-header mod-search-top">-->
            <!--<span class="search-inner" data-th-attr="nextUrl='/catalog/search?shopId='+${shopId}">-->
                <!--<i class="fa fa-search fa-lg"></i>-->
                <!--在店内搜索-->
            <!--</span>-->
            <!--<a herf="javascript:;" id="userCenter" name="userCenter" data-th-attr="nextUrl='/user/userCenter/'+${shopId}" class="navbar-link">-->
                <!--<i class="fa fa-user partner-head"></i>-->
            <!--</a>-->
        <!--</div>-->
    <!--</nav>-->
</section>