<section style="margin-bottom: 2px" data-th-fragment="args(shopId)">
    <div class="modules-nav">
        <img  data-vd-src="/_resources/images/decoration/底部信息条.jpg" />
    </div>
</section>

<section class="" data-th-fragment="args(shopId)">
    <div class="modules-nav">
        <div>
            <section>
                <ul class="mod-nav">
                    <li style="">
                        <a data-th-href="'/shop/'+${shopId}">
                            <i style="width:40px;height:40px;">
                                <img data-vd-src="/_resources/images/decoration/导航图标-店铺2.png" />
                            </i>
                            <span >店铺主页</span>
                        </a>
                    </li>
                    <li style="">
                        <a data-th-href="'/user/userCenter/'+${shopId}">
                            <i style="width:40px;height:40px;">
                                <img data-vd-src="/_resources/images/decoration/导航图标-个人2.png" />
                            </i>
                            <span >个人中心</span>
                        </a>
                    </li>
                    <li data-th-if="${applicationEnv.get('isFromWechat') == true}" style="">
                        <a  data-th-href="${'/twitterCenter/center'}">
                            <i style="width:40px;height:40px;">
                                <img data-vd-src="/_resources/images/decoration/导航图标-推客2.png" />
                            </i>
                            <span>推客中心</span>
                        </a>
                    </li>
                    <li data-th-if="${applicationEnv.get('isFromWechat') == true}" style="">
                        <a data-th-href="${user.shopId != null ? ('/shop/' + user.shopId + '?currentSellerShopId=' + user.shopId) : ('/twitter/apply/' + user.currentSellerShopId)}">
                            <i style="width:40px;height:40px;">
                                <img data-vd-src="/_resources/images/decoration/导航图标-小店2.png" />
                            </i>
                            <span>我的小店</span>
                        </a>
                    </li>
                    <li style="background-color:#ffffff;">
                        <a data-th-href="'/cart?shopId=' + ${shopId}">
                            <i style="width:40px;height:40px;">
                                <img data-vd-src="/_resources/images/decoration/导航图标-购物2.png" />
                            </i>
                            <span>购物车</span>
                        </a>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</section>





