<head>
	<meta charset="UTF-8" />
	<title>店铺不存在</title>
	<link rel="stylesheet" type="text/css" data-th-href="@{/_resources/css/noResultStyle.css?t=20141014}" />
</head>
<body>
	<h1>店铺无法访问或不存在</h1>
	<section id="allGoods">
		<p>看看大家在逛什么</p>
		<div class="pt75b40 goodsList">
			<div class="clearfix pro-imglist" id="pro-all">
				<div class="pro-infor" data-th-each="entry : ${recentShops}" style="display: inline-block; width: 130px; float: inherit; position: static; margin: 20px 10px 10px 15px;">
					<a data-th-href="'/shop/'+${entry.value.id}">
						<div class="img-outer" style="width: 130px; height: 130px;">
							<img class="js-img-size" imgheight="480" imgwidth="480" data-vd-src="${entry.value.img}" data-th-alt="${entry.value.name}" style="width: 130px; height: 130px;"/>
						</div>
						<div class="p10">
							<p class="widthhuanh fz20 font-dark" style="width: 110px;" data-th-text="${entry.value.name}"></p>
							<span class="fz22 ff-numb pt10 font-dark-bold" style="text-decoration: line-through;"></span>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>
</body>
