<nav class="wei-chat-navbar" data-th-fragment="args(shopId,cartCount)">
        <a class="nav-li" data-th-href="${'/shop/' + shopId +'?currentSellerShopId=' + shopId}">
            <div class="nav-index nav-index-dark">
                店主精选
            </div>
        </a>
        <a class="nav-li" data-th-href="${'/flashsale/list?shopId=' + shopId}">
            <div class="nav-sale nav-sale-dark">
                特卖
            </div>
        </a>
        <a class="nav-li" data-th-href="${'/catalog/allProducts?shopId=' + shopId + '&amp;categoryId=0'}">
            <div class="nav-more nav-more-dark">
                发现更多
            </div>
        </a>
        <a class="nav-li" data-th-href="${'/cart?shopId=' + shopId}">
            <i data-th-text="${cartCount}" class="nav-cart-added" data-th-if="${cartCount > 0}"></i>
            <div class="nav-car nav-car-dark">
                购物车
            </div>
        </a>
        <a class="nav-li" data-th-href="${'/user/userCenter/' + shopId}">
            <div class="nav-center nav-my-dark">
                我的
            </div>
        </a>
</nav>
