<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>详情</title>
    <link rel="stylesheet" href="/pintuan/css/afterPay_detail_2.css"/>
</head>
<body>
    <div class="bj">
        <ul class="show">
            <li >
                <div class="c">
                    <div class="cy">
                        <img data-th-src="${OrderGoods.img}" alt=""/>
                        <div class="cr">
                            <p data-th-text="${OrderGoods.name}">欧锦葵丰盈强韧洗发露蒂娜海味</p>
                            <div class="cc">
                                <p></p>
                                <p></p>
                            </div>
                            <div class="cb">
                                <p>拼团价</p>
                                <p data-th-text="'￥'+${OrderGoods.disCountPrice}">860</p>
                                <p data-th-text="'￥'+${OrderGoods.marketPrice}">￥1028</p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="yq">
            <div class="success" th:if="${status}==1">
                <img src="/pintuan/img/拼团成功.png" alt=""/>
                <p>拼团成功</p>
            </div>
            <!--<div class="success" th:if="${status}==1">-->
                <!--<img src="/pintuan/img/拼团成功.png" alt=""/>-->
                <!--<p>已完成</p>-->
            <!--</div>-->
            <div class="success" th:if="${status}==4">
                <img src="/pintuan/img/拼团失败1.png" alt=""/>
                <p style="color:rgba(43,48,56,1)">拼团失败</p>
            </div>
            <div class="void"></div>
            <ul class="sul" id="sul">
                <li th:each="i:${#numbers.sequence(0,MemberCount-1)}">
                    <img class="nximg" src="/pintuan/img/拼团占位符.png"/>
                </li>
                <ul class="bul" id="bul">
                    <!--<img class="wimg" src="/pintuan/img/拼主.png" alt=""/>-->
                    <li data-th-each="item,index:${OrderGoods.memberInfo}">
                        <img  class="nimg" data-th-src="${item.headimgurl}" alt=""/>
                    </li>
                </ul>
            </ul>

            <p class="msg" data-th-text="'拼团成功'+${beginCount}+'人，拼团已结束'" th:if="${status}==1">拼团成功4人，拼团已结束</p>
            <p class="msg" data-th-text="'拼团失败'+${beginCount}+'人，拼团已结束'" th:if="${status}==4" >拼团成功4人，拼团已结束</p>
            <p class="msg" style="display:none" data-th-text="'加入成功，还剩'+${beginCount}+'人'"></p>
            <input type="button" value="返回首页" id="share"/>
        </div>
    </div>
</body>
<script src="/pintuan/js/font.js"></script>
<script>
    var oshare=document.getElementById('share')
</script>
</html>