<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>详情</title>
    <link rel="stylesheet" href="/pintuan/css/afterPay_detail_1.css"/>
</head>
<body>
    <div class="bj">
        <!--<div class="hd">-->
            <!--<img src="/pintuan/img/007.png" alt=""/>-->
            <!--<span>拼团详情</span>-->
        <!--</div>       -->
        <ul class="show">
            <li >
                <div class="c">
                    <div class="cy">
                        <img data-th-src="${OrderGoods.img}" alt=""/>
                        <div class="cr">
                            <p data-th-text="${OrderGoods.name}">欧锦葵丰盈强韧洗发露蒂娜海味</p>
                            <div class="cc">
                                <p></p>
                                <p></p>
                            </div>
                            <div class="cb">
                                <p>拼团价</p>
                                <p data-th-text="'￥'+${OrderGoods.disCountPrice}">860</p>
                                <p data-th-text="'￥'+${OrderGoods.marketPrice}">￥1028</p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="yq">
            <p>
                仅剩
                <i data-th-text="${MemberCount-beginCount}">9</i>人，
                &nbsp;
                <span class="js-count-down-item">
                    <i style="color: #fff;font-style: normal" class="js-countdown"></i>
                    <i style="display:none;" class="js-countdown-start" data-th-text='${startTime}'></i>
                    <i style="display:none" class="js-countdown-end" data-th-text='${regimentTime}' ></i>
                    <i style="display:none" class="js-current-time" data-th-text='${localTime}'></i>
                </span>:
                后结束

            </p>
            <ul class="sul" id="sul">
                <li th:each="i:${#numbers.sequence(0,MemberCount-1)}">
                    <img class="nximg" src="/pintuan/img/拼团占位符.png" alt=""/>
                </li>
                <ul class="bul" id="bul">
                    <img class="wimg" src="/pintuan/img/拼主.png" alt=""/>
                    <li data-th-each="item,index:${OrderGoods.memberInfo}">

                        <img class="nimg" data-th-src="${item.headimgurl}" alt=""/>
                    </li>
                </ul>
                <!--<li>-->
                    <!--<img class="nximg" src="/pintuan/img/拼团占位符.png" alt=""/>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<img class="nximg" src="../../../../pintuan/img/拼团占位符.png" alt=""/>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<img class="nximg" src="../../../../pintuan/img/拼团占位符.png" alt=""/>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<img class="nximg" src="../../../../pintuan/img/拼团占位符.png" alt=""/>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<img class="nximg" src="../../../../pintuan/img/拼团占位符.png" alt=""/>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<img class="nximg" src="../../../../pintuan/img/拼团占位符.png" alt=""/>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<img class="nximg" src="../../../../pintuan/img/拼团占位符.png" alt=""/>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<img class="nximg" src="../../../../pintuan/img/拼团占位符.png" alt=""/>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<img class="nximg" src="../../../../pintuan/img/拼团占位符.png" alt=""/>-->
                <!--</li>-->
            </ul>
            <input type="button" value="邀请好友参团" id="share"/>
        </div>
        <div class="sharepage" id="sharepage">
            <header>
                <img src="/pintuan/img/007.png" alt="" />
                <p>拼团详情</p>
            </header>
            <section>
                <div class="share-c">
                    <div class="share-c1">
                        <img src="/pintuan/img/微信.png" alt=""/>
                        <p>微信</p>
                    </div>
                    <div class="share-c2" id="shareC2">
                        <img src="/pintuan/img/生成海报.png" alt="" />
                        <p>生成海报</p>
                    </div>
                </div>
            </section>
            <footer id="close">取消</footer>
        </div>
        <div class="poster" id="poster">
            <div class="posterbox">
                <div class="postbt">
                    <img src="/pintuan/img/关闭符号.png" alt="" id="postclose"/>
                    <img src="/pintuan/img/图片.png" alt=""/>
                </div>
                <div class="postbc">
                    <img src="/pintuan/img/010_03.jpg" alt=""/>
                    <p>拼团中</p>
                </div>
                <div class="postbcb">
                    <p>欧锦葵丰盈强韧洗发露蒂娜海味</p>
                    <p><i>￥</i>217.00</p>
                    <p>￥1028</p>
                    <p>还差<i>3</i>人拼团成功</p>
                </div>
                <div class="postbb" id="pressshow">
                    <img src="/pintuan/img/013_03.jpg" alt=""/>
                    <p>长按识别小程序码识别</p>
                </div>
            </div>
        </div>
        <div class="press" id="pressbl">
            <div class="pressb">
                <div class="pressbt">
                    <img src="/pintuan/img/微信.png" alt=""/>
                    <p>发送微信好友</p>
                </div>
                <div class="pressbc">
                    <img src="/pintuan/img/下载.png" alt=""/>
                    <p>保存在本地</p>
                </div>
                <div class="pressbb">
                    <img src="/pintuan/img/朋友圈.png" alt=""/>
                    <p>发送朋友圈</p>
                </div>
            </div>
            <div class="pressbot" id="pressclose">
                <p>取消</p>
            </div> 
        </div>
    </div> 
</body>
<script src="/pintuan/js/font.js"></script>
<script src="/pintuan/js/countdowntow.js"></script>
<script>
    var oshare=document.getElementById('share')
    var osharepage=document.getElementById('sharepage')
    var oclose=document.getElementById('close')
    osharepage.style.display='none'
    var oposter=document.getElementById('poster')
    oposter.style.display='none'
    var oshareC2=document.getElementById('shareC2')
    var opostclose=document.getElementById('postclose')
    var pressbl=document.getElementById('pressbl')
    var pressshow=document.getElementById('pressshow')
    pressbl.style.display='none'
    var pressclose=document.getElementById('pressclose')
    oshare.onclick=function(){
        var u = navigator.userAgent;
        var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1; //android终端
        var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
        if(isAndroid){
            // window.purchase.jumpPay(JSON.stringify(alldata1))
            window.purchase.invitation('分享')
        }else if(isiOS){
            // window.webkit.messageHandlers.NativeMethod.postMessage(JSON.stringify(alldata1))
        }
    }
    oclose.onclick=function(){
        osharepage.style.display='none'
    }
    oshareC2.onclick=function(){
        oposter.style.display='block'
        osharepage.style.display='none'
    }
    opostclose.onclick=function(){
        oposter.style.display='none'
        pressbl.style.display='none'
    }
    pressshow.onclick=function(){
        pressbl.style.display='block'
    }
    pressclose.onclick=function(){
        pressbl.style.display='none'
        oposter.style.display='none'
    }
    
    function getMSg() {

    }

</script>
</html>