// 状态条
@color_step_default: #ddd;
@color_step_front: #000;
@import "./refund-request.less";
body{
  font-family: "Simhei,sans - serif";

}
.fl {
    float: left;
}
.fr {
    float: right;
}
.refund_bg {
    background: #f9f9f9;
}
.mt24{
  margin-top: 24px;
}
.mt16{
  margin-top: 16px;
}
//退款进度条
.refund_step {
    width: 980px;
    height: 67px;
    margin: 30px auto 20px;
    .refund_step_bg {
        margin-left: 70px;
    }
    .refund_step_bg {
        position: relative;
        width: 840px;
        height: 36px;
    }
    .refund_step_bg_line {
        width: 840px - 36px;
        height: 10px;
        position: absolute;
        top: 50%;
        margin-top: -5px;
        left: 18px;
        background: @color_step_default;
    }
    .refund_step_bg-ball {
        width: 36px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        color: #fff;
        font-size: 14px;
        border-radius: 18px;
        behavior: url(/resources/js/plugins/PIE.htc);
        background: @color_step_default;
        position: absolute;
        top: 0;
    }
    .refund_step_front {
        width: 832px;
        position: absolute;
        height: 28px;
        line-height: 28px;
        top: 50%;
        margin-top: -14px;
        left: 4px;
    }
    .refund_step_front_line {
        width: 832px - 28px;
        height: 4px;
        position: absolute;
        top: 50%;
        margin-top: -2px;
        left: 14px;
        background: @color_step_front;
    }
    .refund_step_front-ball {
        width: 28px;
        height: 28px;
        line-height: 28px;
        text-align: center;
        color: #fff;
        font-size: 14px;
        border-radius: 14px;
        behavior: url(/resources/js/plugins/PIE.htc);
        background: @color_step_front;
        position: absolute;
        top: 0;
        display: none;
    }
    .refund_step_info {
        line-height: 28px;
        float: left;
        color: #c3c3c3;
        margin-top: 2px;
    }
    .refund_step_info-1 {
        margin-left: 38px;
    }
    .refund_step_info-2 {
        margin-left: 160px;
    }
    .refund_step_info-3 {
        margin-left: 163px;
    }
    .refund_step_info-4 {
        margin-left: 137px;
    }
}
//球位置
.refund_style1 {
    .refund_step_bg-ball-1 {
        left: 0;
    }
    .refund_step_bg-ball-2 {
        left: 272px;
    }
    .refund_step_bg-ball-3 {
        left: 543px;
    }
    .refund_step_bg-ball-4 {
        right: 0;
    }
    .refund_step_front-ball-1 {
        left: 0;
    }
    .refund_step_front-ball-2 {
        left: 272px;
    }
    .refund_step_front-ball-3 {
        left: 543px;
    }
    .refund_step_front-ball-4 {
        right: 0;
    }
}
.refund_style2 {
    .refund_step_bg-ball-1 {
        left: 0;
    }
    .refund_step_bg-ball-2 {
        left: 390px;
    }
    .refund_step_bg-ball-3 {
        right: 0px;
    }
    .refund_step_bg-ball-4 {
        display: none;
    }
    .refund_step_front-ball-1 {
        left: 0;
    }
    .refund_step_front-ball-2 {
        left: 390px;
    }
    .refund_step_front-ball-3 {
        right: 0px;
    }
    .refund_step_front-ball-4 {
        display: none;
    }
}
//步骤
.refund_step1 {
    .refund_step_front-ball-1 {
        display: block;
    }
    .refund_step_front_line {
        width: 144px;
    }
    .refund_step_info-1 {
        color: #000;
    }
}
.refund_step2 {
    .refund_step_front-ball-1, .refund_step_front-ball-2 {
        display: block;
    }
    .refund_step_front_line {
        width: 393px + 14px;
    }
    .refund_step_info-1, .refund_step_info-2 {
        color: #000;
    }
}
.refund_step3 {
    .refund_step_front-ball-1, .refund_step_front-ball-2, .refund_step_front-ball-3 {
        display: block;
    }
    .refund_step_front_line {
        width: 657px + 14px;
    }
    .refund_step_info-1, .refund_step_info-2, .refund_step_info-3 {
        color: #000;
    }
}
.refund_step4 {
    .refund_step_front-ball-1, .refund_step_front-ball-2, .refund_step_front-ball-3, .refund_step_front-ball-4 {
        display: block;
    }
    .refund_step_front_line {
        width: 832px - 28px;
    }
    .refund_step_info-1, .refund_step_info-2, .refund_step_info-3, .refund_step_info-4 {
        color: #000;
    }
}
//三步四步差异
.refund_style1 {
    .refund_3step_info {
        display: none;
    }
}
.refund_style2 {
    .refund_4step_info {
        display: none;
    }
    .refund_step_info-2 {
        margin-left: 300px;
    }
    .refund_step_info-3 {
        margin-left: 300px;
    }
    .refund_step1 {
        .refund_step_front_line {
            width: 200px;
        }
    }
    .refund_step2 {
        .refund_step_front_line {
            width: 600px;
        }
    }
    .refund_step3 {
        .refund_step_front_line {
            width: 832px - 28px;
        }
    }

}
//退款进度条 end
//box公共样式
.refund_box {
    margin: 10px auto;
    width: 946px;
    padding: 0 16px 16px 16px;
    border: 1px solid #c3c3c3;
    box-sizing: content-box;
    background: #fff;
    .refund_title {
        height: 50px;
        line-height: 50px;
        border-bottom: 1px solid #c3c3c3;
        text-indent: 13px;
        color: #000;
        font-size: 16px;
        position: relative;
        font-weight: bold;
        em {
            position: absolute;
            width: 4px;
            height: 18px;
            overflow: hidden;
            top: 50%;
            margin-top: -9px;
            background: #000;
            left: 0;
        }
        .txt {
            vertical-align: middle;
            display: inline;
        }
        .nowState {
            position: absolute;
            right: 0;
            top: 0;
        }
        select {
            padding: 0;
            margin: 0;
            display: inline-block;
            background: none;
            border: none;
            vertical-align: middle;
        }
        .oblique {
            font-style: oblique;
        }
    }
    .refund_italics{
      font-style: italic;
    }
  .tuihuotuikuan{
    margin-left: 104px;
  }
  .tuikuanbtn{
    position: relative;
  }
  .tuikuanbtn i{
    display: none;
    position: absolute;
    right: 10px;
    top: -17px;
    background-image: url("/resources/images/order/tuikuanico.png");
    background-repeat: no-repeat;
    width: 41px;
    height: 31px;
    z-index: 2;
  }
  .tuikuanbtn:hover i,.tuikuanbtn:active i{
    display: block;
  }
  .tuikuanbtndisable:hover i,.tuikuanbtndisable:active i{
    display: none;
  }
  .tuikuanbtn{
    border: 2px solid #000;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px;
    width: 150px;
    text-align: center;
    display: inline-block;
    float: left;
    font-size: 22px;
    height: 80px;
    line-height: 80px;
    vertical-align: middle;
    cursor: pointer;
  }
  .tuikuanbtndisable{
    border: 2px solid #c3c3c3;
    color: #c3c3c3;
  }
  .order-infor{
    font-size: 16px;
    font-weight: bold;
    border-top: 1px solid #c3c3c3;
    padding-top: 18px;
  }
  .order-infor-body{
    margin: 20px 0;
    font-family:'\5fae\8f6f\96c5\9ed1',"Microsoft YaHei";
  }
  .order-infors{
    margin-left: 10px;
    font-size: 14px;
  }
  .order-infor-t{
    margin-top: 8px;
    font-weight: normal;
  }
  .order-infor-text{
    color: #9c9c9c;
    font-size: 14px;
    font-weight: normal;
  }
}
.refund_introduce {
    margin-top: 10px;
    font-family: "微软雅黑";
    p {
        line-height: 25px;
        color: #666;
        font-size: 14px;
    }
    .introduce2 {
        margin-top: 26px;
    }
}
//按钮
.refund_btn {
    width: 123px;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    border: 2px solid #000;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    font-family: "黑体";
    &:hover {
        text-decoration: none;
    }
    &.refund_btn1 {
        color: #fff;
        background: #000;
    }
    &.refund_btn2 {
        color: #000;
        background: #fff;
    }
}
//退款失败
.refund_result {
	display: none;
    .refund_fail_info {
        text-indent: 4px;
        font-size: 18px;
        height: 58px;
        line-height: 58px;
        color: #000;
    }
    &.refund_fail {
        padding-bottom: 56px;
        img {
            width: 163px;
            height: 143px;
            display: block;
            margin: 38px auto 66px;
        }
    }
    &.refund_success {
        height: 380px;
        background: #fff url('/resources/images/refund_success.png') no-repeat 308px 127px;
        font-size: 28px;
        line-height: 380px;
        text-align: center;
        text-indent: 80px;
    }
    .refund_btn_group {
        width: 306px;
        height: 36px;
        margin: 0 auto;
    }
}


//choose
.order-infor-image img{
  display: block;
  width: 100px; 
  height: 100px;
  overflow: hidden;
}
.buyerRequire{
  display: block;
  width: 412px;
  margin: 60px auto 70px;
}
.order-l,.order-r{
  display: inline-block;
  float: left;
}
.order-l{
  width: 60%;
  padding-bottom: 100px;
  border-right: 1px solid #c3c3c3;
}
.order-r{
  width: 40%;
  padding: 16px 0 0 20px;
}
//ship
.form-control{
  width: 40%;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px; 
  border-radius: 0px; 
}
.fl-l{
  display: inline-block;
  float: left;
}
.refundRequest-pannel{
  font-size: 14px;
  font-weight: bold;
  font-family:'\5fae\8f6f\96c5\9ed1',"Microsoft YaHei";
}
.control-label{
  margin: 6px 6px 0 0;
}
.cart_btn_ship{
  padding: 10px 32px;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 
  border-radius: 5px; 
}
.cart_btn_ship:hover{
  color: #fff;
  background:rgba(0,0,0,0.6);
}
.refund-bottom{
  margin: 28px 0 0 72px;
}
.cart_btn_cancel{
  color: #000;
  margin: 10px 0 0 10px;
}
.cart_btn_cancel:hover{
  color: #666;
}
.order-r-infor{
  color: #7a7a7a;
  font-size: 14px;
}
.order-r-infor-item{
  padding-top: 10px;
}
.order-r-infor-text{
  line-height: 20px;
}
.order-r-infor-name{
  width: 68px;
}
.order-r-infor-text{
  width: 280px;
}
.otherCompanyBar{
    display: none;
}
