.bg-grayed{
  background: url("../../images/wx_pay.png") no-repeat center top;
  min-height: 549px;
}
#qrcode{
  padding-top: 44px;
}
.pay-price{
  color: #c20812;
  font-size: 36px;
  font-family: -webkit-body;
  text-align: center;
  padding: 106px 0 0 90px;
}
#header{
  display: none;
}