* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  overflow-x: hidden;
  overflow-y: auto;
  color: white;
  background: #222222; }

a {
  text-decoration: none; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  overflow-x: hidden;
  overflow-y: auto;
  color: white;
  background: #222222; }

a {
  text-decoration: none; }

.header {
  display: flex;
  height: 16vw;
  background: #222222;
  justify-content: space-between;
  border-bottom: 1px #bbbbbb solid; }

.header-item {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  width: 16vw;
  align-items: center;
  border-left: 1px #bbbbbb solid; }
  .header-item:first-child {
    border: none; }

.header-img {
  display: block;
  margin: 0 auto;
  position: relative; }

.header-menu img {
  width: 6vw; }

.header-search img {
  width: 5vw; }

.header-shopping img {
  width: 5vw; }

.header-homepage {
  flex: 1 0 auto; }
  .header-homepage img {
    width: 8vw; }

.header-link {
  display: block; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  overflow-x: hidden;
  overflow-y: auto;
  color: white;
  background: #222222; }

a {
  text-decoration: none; }

.footer {
  position: relative;
  width: 100vw;
  background: #222222;
  color: white;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center; }

.footer-item {
  display: flex;
  align-items: center; }

.footer-img {
  display: block;
  width: 6vw;
  height: 6vw; }

.footer-text {
  display: block;
  font-size: 3.2vw;
  margin-left: 2vw; }

.carousel {
  position: relative;
  width: 100%;
  height: 84.53333vw;
  padding-bottom: 9.2vw;
  background: #222222; }

.carousel-dark {
  position: absolute;
  width: 100vw;
  bottom: 9.06667vw;
  height: 19.33333vw;
  background: linear-gradient(0, #222222 50%, rgba(0, 0, 0, 0));
  z-index: 999; }

.carousel-img {
  width: 100%;
  height: 75.33333vw; }

.carousel-btn {
  position: absolute;
  bottom: 0vw;
  height: 12.53333vw;
  width: 88.8vw;
  margin: 0 5.6vw;
  background: #0286cd; }

.carousel-text {
  display: inline-block;
  text-align: center;
  font-size: 4.13333vw;
  color: white;
  line-height: 12.53333vw; }

.carousel-arrow {
  display: inline-block;
  position: relative;
  height: 4.13333vw;
  margin: 0 0.5em;
  line-height: 12.8vw; }

.production {
  display: block;
  width: 100%;
  color: white;
  text-align: center;
  background: #222222; }

.production-imgPanel {
  position: relative;
  height: 50.66667vw; }

.production-img {
  width: 100vw; }

.production-textPanel {
  position: relative;
  height: 19.46667vw;
  background: #222222;
  padding: 9.33333vw 0 2.66667vw 0; }

.production-title {
  position: absolute;
  top: 30%;
  left: 3.46667vw;
  text-align: left;
  font-weight: bold;
  font-size: 4.8vw;
  background: transparent; }

.production-subTitle {
  font-size: 2.8vw;
  margin-bottom: 1.73333vw; }

.production-more {
  display: flex;
  justify-content: center;
  font-size: 2.13333vw;
  line-height: 2.13333vw; }

.production-arrow {
  display: inline-block;
  height: 2.13333vw;
  line-height: 2.13333vw;
  margin-left: 0.3em; }

.production-title_right {
  text-align: right;
  right: 3.46667vw; }
