* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  overflow-x: hidden;
  overflow-y: auto;
  color: white;
  background: #222222; }

a {
  text-decoration: none; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  overflow-x: hidden;
  overflow-y: auto;
  color: white;
  background: #222222; }

a {
  text-decoration: none; }

.header {
  display: flex;
  height: 16vw;
  background: #222222;
  justify-content: space-between;
  border-bottom: 1px #bbbbbb solid; }

.header-item {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  width: 16vw;
  align-items: center;
  border-left: 1px #bbbbbb solid; }
  .header-item:first-child {
    border: none; }

.header-img {
  display: block;
  margin: 0 auto;
  position: relative; }

.header-menu img {
  width: 6vw; }

.header-search img {
  width: 5vw; }

.header-shopping img {
  width: 5vw; }

.header-homepage {
  flex: 1 0 auto; }
  .header-homepage img {
    width: 8vw; }

.header-link {
  display: block; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  overflow-x: hidden;
  overflow-y: auto;
  color: white;
  background: #222222; }

a {
  text-decoration: none; }

.footer {
  position: relative;
  width: 100vw;
  background: #222222;
  color: white;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center; }

.footer-item {
  display: flex;
  align-items: center; }

.footer-img {
  display: block;
  width: 6vw;
  height: 6vw; }

.footer-text {
  display: block;
  font-size: 3.2vw;
  margin-left: 2vw; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  overflow-x: hidden;
  overflow-y: auto;
  color: white;
  background: #222222; }

a {
  text-decoration: none; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  overflow-x: hidden;
  overflow-y: auto;
  color: white;
  background: #222222; }

a {
  text-decoration: none; }

.header {
  display: flex;
  height: 16vw;
  background: #222222;
  justify-content: space-between;
  border-bottom: 1px #bbbbbb solid; }

.header-item {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  width: 16vw;
  align-items: center;
  border-left: 1px #bbbbbb solid; }
  .header-item:first-child {
    border: none; }

.header-img {
  display: block;
  margin: 0 auto;
  position: relative; }

.header-menu img {
  width: 6vw; }

.header-search img {
  width: 5vw; }

.header-shopping img {
  width: 5vw; }

.header-homepage {
  flex: 1 0 auto; }
  .header-homepage img {
    width: 8vw; }

.header-link {
  display: block; }

.shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); }

.shadow-close {
  position: absolute;
  margin: 0 auto;
  left: 50%;
  top: 60%;
  transform: translateX(-50%);
  font-size: 3vw;
  padding: 1vw 2vw;
  font-weight: normal;
  color: black;
  background: white;
  border-radius: 6px; }

.shadow-box {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  height: 14.4vw;
  width: 60vw;
  font-size: 3.6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  z-index: 100; }

.shadow-label {
  margin-right: 0.3em;
  z-index: 102; }

.shadow-code {
  z-index: 102; }

.shadow-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 101; }

body {
  background: #222222;
  height: 100%; }

.main {
  height: 100%; }

.menu-footer {
  position: absolute;
  bottom: 0; }

.menu {
  height: 100%;
  padding: 3.86667vw 0;
  margin: 0 6vw;
  border-bottom: 1px #eeeeee solid; }

.menu-item {
  position: relative;
  height: 13.06667vw; }

.menu-text {
  font-size: 5.33333vw;
  width: 100%;
  text-align: center;
  line-height: 13.06667vw; }

.menu-arrow {
  position: absolute;
  right: 0;
  top: 4.53333vw;
  height: 4vw; }
