* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  overflow-x: hidden;
  overflow-y: auto;
  color: white;
  background: #222222; }

a {
  text-decoration: none; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  overflow-x: hidden;
  overflow-y: auto;
  color: white;
  background: #222222; }

a {
  text-decoration: none; }

.header {
  display: flex;
  height: 16vw;
  background: #222222;
  justify-content: space-between;
  border-bottom: 1px #bbbbbb solid; }

.header-item {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  width: 16vw;
  align-items: center;
  border-left: 1px #bbbbbb solid; }
  .header-item:first-child {
    border: none; }

.header-img {
  display: block;
  margin: 0 auto;
  position: relative; }

.header-menu img {
  width: 6vw; }

.header-search img {
  width: 5vw; }

.header-shopping img {
  width: 5vw; }

.header-homepage {
  flex: 1 0 auto; }
  .header-homepage img {
    width: 8vw; }

.header-link {
  display: block; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  overflow-x: hidden;
  overflow-y: auto;
  color: white;
  background: #222222; }

a {
  text-decoration: none; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  overflow-x: hidden;
  overflow-y: auto;
  color: white;
  background: #222222; }

a {
  text-decoration: none; }

.header {
  display: flex;
  height: 16vw;
  background: #222222;
  justify-content: space-between;
  border-bottom: 1px #bbbbbb solid; }

.header-item {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  width: 16vw;
  align-items: center;
  border-left: 1px #bbbbbb solid; }
  .header-item:first-child {
    border: none; }

.header-img {
  display: block;
  margin: 0 auto;
  position: relative; }

.header-menu img {
  width: 6vw; }

.header-search img {
  width: 5vw; }

.header-shopping img {
  width: 5vw; }

.header-homepage {
  flex: 1 0 auto; }
  .header-homepage img {
    width: 8vw; }

.header-link {
  display: block; }

.shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); }

.shadow-close {
  position: absolute;
  margin: 0 auto;
  left: 50%;
  top: 60%;
  transform: translateX(-50%);
  font-size: 3vw;
  padding: 1vw 2vw;
  font-weight: normal;
  color: black;
  background: white;
  border-radius: 6px; }

.shadow-box {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  height: 14.4vw;
  width: 60vw;
  font-size: 3.6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  z-index: 100; }

.shadow-label {
  margin-right: 0.3em;
  z-index: 102; }

.shadow-code {
  z-index: 102; }

.shadow-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 101; }

.table {
  position: relative;
  width: 100vw;
  height: 100%;
  background: url("../images/dark-bg.png") repeat-y;
  padding: 4.4vw 11.2vw 6.93333vw 0;
  color: #78630c; }

.table-paper {
  background: white;
  padding: 0 2vw 3.73333vw 0; }

.table-content {
  background: white;
  border: 3px #78630c solid; }

.table-form {
  position: relative;
  border-left: none;
  padding: 6.8vw 15.33333vw 13.2vw 18.26667vw; }

.table-section {
  display: block; }
  .table-section:first-of-type {
    width: 50.26667vw;
    margin-top: 61.86667vw;
    margin-left: 10.93333vw; }
  .table-section:last-of-type {
    width: 46.53333vw;
    margin-left: 17.6vw;
    margin-bottom: 8.26667vw; }

.table-card {
  position: absolute;
  width: 91.33333vw;
  height: 52.4vw;
  top: 10.93333vw;
  right: 4.13333vw; }
  .table-card img {
    width: 100%;
    height: 100%; }

.table-postmark {
  width: 26vw;
  position: absolute;
  bottom: 0;
  right: 1.06667vw; }
  .table-postmark img {
    width: 100%; }

.table-title {
  font-size: 4.8vw; }

.table-item {
  display: block;
  width: 100%;
  margin-bottom: 2vw; }

.table-sex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-color: transparent transparent #78630c transparent;
  border-bottom: 1px #78630c solid; }
  .table-sex input {
    display: block;
    width: 4vw; }

.table-label {
  display: block;
  font-size: 3.2vw;
  font-weight: 200; }

.table-input {
  display: block;
  height: 4.53333vw;
  width: 100%;
  font-size: 3.2vw;
  line-height: 1.3em;
  overflow: hidden;
  border-color: transparent transparent #78630c transparent;
  border-bottom: 1px #78630c solid;
  color: #78630c; }

.table-submit {
  position: absolute;
  display: block;
  bottom: 2.26667vw;
  right: 15.33333vw;
  width: 27.2vw;
  height: 6.53333vw;
  border: none; }

.table-submitImg {
  display: block;
  width: 100%;
  height: 100%; }

.table-submitText {
  position: absolute;
  width: 100%;
  top: 0;
  text-align: center;
  font-size: 2.93333vw;
  font-weight: 300;
  line-height: 6.53333vw;
  color: white; }
