@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.svg?csrrv0');
    src:url('fonts/icomoon.eot?#iefixcsrrv0') format('embedded-opentype'),
        url('fonts/icomoon.woff?csrrv0') format('woff'),
        url('fonts/icomoon.ttf?csrrv0') format('truetype'),
        url('fonts/icomoon.svg?csrrv0#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-radio-checked:before {
    content: "\e600";
}
.icon-radio-unchecked:before {
    content: "\e601";
}
.icon-arrow-right:before {
    content: "\e602";
}
