<!DOCTYPE html>
<html data-layout-decorator="/layout/mainPage">

<head>
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>im聊天</title>
</head>

<body class="im">
    <div data-layout-fragment="content">
        <div class="imDetail">
            <div class="imHeader clearfix">
                <div class="fl-l imHeader-user">
                    <img data-vd-src="${avatar}" alt="" />
                    <span class="imHeader-user-name" data-th-text="${nickName}">E-fulya</span>
                </div>
                <div class="fl-r imHeader-oper">
                    <a href="/im/list" class="imHeader-oper-goList imSprite"></a>
                    <a href="javascript:history.back();" class="imHeader-oper-close imSprite"></a>
                </div>
            </div>
            <div id="imMain">
                <div id="scroller">
                </div>
            </div>
            <div class="imFooter">
                <div class="imFooter-iptWrap">
                    <input type="text" class="imFooter-ipt" />
                </div>
                <span class="imFooter-send">发送</span>
            </div>
        </div>
        <script type="text/template" id="tplOrder">
        /*<![CDATA[*/
        {{
         if( it.order ){ }}
                {{ if( it.order.orderItems.length == 1 ) {}}
                <div class="imProduct clearfix">
                    <a href="/p/{{=it.order.orderItems[0].id}}" class="fl-l imProduct-img"><img src="{{=it.order.orderItems[0].productImgUrl}}" /></a>
                    <div class="imProduct-info">
                        <a class="imProduct-name">{{=it.order.orderItems[0].prodctName}}</a>
                        <div class="imProduct-price">
                            ￥{{=it.order.orderItems[0].price}}
                        </div>
                        <div class="imProduct-sellNum">
                            销量:
                            <span>{{=it.order.orderItems[0].sales}}</span>
                        </div>
                    </div>
                    <a href="javascript:;" class="imProduct-sendLink js-sendOrderLink">发送订单链接</a>
                </div> 
                {{ } else if( it.order.orderItems.length == 2 || it.order.orderItems.length == 3 ){ }}
                <div class="imProduct clearfix imProS">
                   {{ for(var i=0;i<it.order.orderItems.length;i++){ }}
                        <a href="/p/{{=it.order.orderItems[i].id}}" class="fl-l imProduct-img"><img src="{{=it.order.orderItems[0].productImgUrl}}" /></a>
                   {{ } }}
                    <a href="javascript:;" class="imProduct-sendLink js-sendOrderLink">发送链接</a>
                </div> 
                {{ } else if( it.order.orderItems.length > 3 ) { }}
                <div class="imProduct clearfix imProS">
                    <a href="/p/{{=it.order.orderItems[0].id}}" class="fl-l imProduct-img"><img src="{{=it.order.orderItems[0].productImgUrl}}" /></a>
                    <div class="fl-l imProduct-moreIcon">...</div>
                    <a href="/p/{{=it.order.orderItems[it.order.orderItems.length - 1].id}}" class="fl-l imProduct-img"><img src="{{=it.order.orderItems[it.order.orderItems.length - 1].productImgUrl}}" /></a>
                    <a href="javascript:;" class="imProduct-sendLink js-sendOrderLink">发送链接</a>
                </div> 
                {{ } }}
        {{ } }}
        /*]]>*/
        </script>
        <script type="text/template" id="tplProdcut">
        /*<![CDATA[*/
        {{
         if( it.product ){ }}
            <div class="imProduct clearfix">
                <a href="/p/{{= it.product.id}}" class="fl-l imProduct-img"><img src="{{= it.product.productImgUrl}}" /></a>
                <div class="imProduct-info">
                    <a class="imProduct-name">{{= it.product.productName}}</a>
                    <div class="imProduct-price">
                        ￥{{= it.product.price}}
                    </div>
                    <div class="imProduct-sellNum">
                        销量:
                        <span>{{= it.product.sales}}</span>
                    </div>
                </div>
                <a href="javascript:;" class="imProduct-sendLink js-sendProLink">发送商品链接</a>
            </div>
        {{ } }}
        /*]]>*/
        </script>
        <script type="text/template" id="tplMsg">
        /*<![CDATA[*/
        {{ for(var i=0;i<it.msgList.length;i++ ){ }}
            <div class="imMsg clearfix {{= it.msgList[i].from_id  == conf.sellerId ? 'imMsg1' : 'imMsg2' }}">
                <div class="imMsg-time">
                    {{= it.msgList[i].createTime}}
                </div>
                <div class="imMsg-main">
                    <em class="imSprite"></em>
                    {{= KKKD.imDetail.parseMsg(it.msgList[i].msgData) }}
                </div>
            </div>
        {{ } }}  
        /*]]>*/
        </script>
    </div>
    <div data-layout-fragment="postScript">
        <script type="text/javascript" data-th-src="@{/_resources/js/plugins/doT.min.js}"></script>
        <script type="text/javascript" data-th-src="@{/_resources/js/plugins/tool.js}"></script>
        <script data-th-inline="text">
        /*<![CDATA[*/
        var conf = {
            buyerId : '[[${buyerId}]]',
            sellerId : '[[${sellerId}]]',
            history : true,
            cometServer: '[[${imUrl}]]',
            ver : 1001,
            debug : false,
            data : {
                product: [[${productInfo}]],
                order: [[${orderInfo}]]
            }
        };
        /*]]>*/
        </script>
        <script type="text/javascript" data-th-src="@{/_resources/js/page/im.js?v=4}"></script>
    </div>
</body>

</html>