<!DOCTYPE html>
<html data-layout-decorator="/layout/mainPage">
<head>
    <meta charset="utf-8" />
    <title>im聊天列表</title>
</head>
<body class="im">
    <div data-layout-fragment="content">
        <div class="imList" id="imListMain">
            <div class="imListScroll">
                <ul class="imListWrap">
                </ul>
            </div>
        </div>
        <script type="text/template" id="tplMsg">
        /*<![CDATA[*/
            {{ for(var i=0;i< it.msgList.length;i++ ){ }}
                <li>
                    <a href="/im/chatwith/{{= it.msgList[i].user_id}}" >
                    <img src="{{= it.msgList[i].avatar}}" class="imList-img fl-l" />
                    <div class="imList-right">
                        <div class="imList-right-top clearfix">
                            <span class="imList-name fl-l">{{= it.msgList[i].nick_name}}</span>
                            <span class="imList-time fl-r">{{= it.msgList[i].user_updated}}</span>
                        </div>
                        <p class="imList-txt">
                            {{= it.msgList[i].content}}
                        </p>
                    </div>
                    </a>
                </li>
            {{ } }}
        /*]]>*/
        </script>
    </div>
    <div data-layout-fragment="postScript">
        <script type="text/javascript" data-th-src="@{/_resources/js/plugins/doT.min.js}"></script>
        <script type="text/javascript" data-th-src="@{/_resources/js/plugins/tool.js}"></script>
        <script data-th-inline="text">
        /*<![CDATA[*/
        var conf = {
            buyerId : '[[${buyerId}]]',
            cometServer: '[[${imUrl}]]',
            ver : 1001,
            debug : true
        };
        /*]]>*/
        </script>
        <script type="text/javascript" data-th-src="@{/_resources/js/page/imList.js}"></script>
    </div>
</body>

</html>