<div class="am-modal am-modal-confirm KD-coupon-view" tabindex="-1">
<div class="coupon-view-tip am-text-center" style="font-size: 20px;">
    创建新优惠劵
</div>
<div class="coupon-view-main am-cf">
    <span class="coupon-am-close">关闭</span>
    <div class="coupon-view-info am-fl">
        <form class="am-form am-form-horizontal kd-form" id="J_formCouponSends">
            <table>
                <tr>
                    <td style="width: 110px; text-align: right;height:50px;">填写日期：</td>
                    <td style="width: 180px;">
                        <input id="create_at" name="create_at" type="text" style="width:180px;background:#CCCCCC;" readonly="true" />
                        <input type="hidden" id="couponId" name="couponId"/>
                    </td>
                    <td style="width: 150px; text-align: right;">发行日期：</td>
                    <td style="width: 150px;">
                        <input id="distributed_at" name="distributed_at" type="text" data-am-datepicker="{format: 'yyyy-mm-dd'}" style="width:120px;" />
                    </td>
                    <td style="width: 170px; text-align: right;">
                        优惠劵状态：
                    </td>
                    <td style="text-align: center;">
                        <input id="status_show" name="status_show" type="text" style="width:60px;background:#CCCCCC;" readonly="true"/>
                        <select id="status" name="status" style="display: none">
                            <option value="VALID"> 可使用</option>
                            <option value="OVERDUE">过期 </option>
                            <option value="CLOSED">作废</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="height:50px; text-align: right;">批次号：</td>
                    <td >
                        <input id="batch_no" name="batch_no" type="text" style="width:180px;background:#CCCCCC;" readonly="true" />
                    </td>
                    <td style=" text-align: right;">优惠券开始日期：</td>
                    <td>
                        <input id="valid_from" name="valid_from" type="text" data-am-datepicker="{format: 'yyyy-mm-dd'}"  style="width:120px;" />
                    </td>
                    <td style="text-align: right;">优惠券结束日期：</td>
                    <td>
                        <input id="valid_to" name="valid_to" type="text" data-am-datepicker="{format: 'yyyy-mm-dd'}" style="width:120px;" />
                    </td>
                </tr>
                <tr>
                    <td style="height:80px; text-align: right;">优惠券面值：</td>
                    <td>
                        <input id="discount" name="discount" type="text"  style="width:180px;" precision="2" max="99999.99" size="8" maxlength="8"  placeholder="金额"  />
                    </td>
                    <td style="text-align: right;">发行数量：</td>
                    <td>
                        <input id="amount" name="amount" type="text"  style="width:120px;" onkeyup="this.value=this.value.replace(/\D|^0/g,'')" maxlength="5" />
                    </td>
                    <td style="text-align: right;">发行总金额：</td>
                    <td>
                        <input id="total_discount" name="total_discount" type="text"  style="width:150px;;background:#CCCCCC;" readonly="true" />
                    </td>
                </tr>
                <tr>
                    <td style="height:50px; text-align: right;">领取限制：</td>
                    <td>
                        单人：<input id="acquire_limit" name="acquire_limit" type="text"  style="width:80px;" onkeyup="this.value=this.value.replace(/\D|^0/g,'')" maxlength="5" onchange=""/>张
                    </td>
                    <td style="text-align: right;">优惠券使用限制：</td>
                    <td>
                        单人：<input id="apply_limit" name="apply_limit" type="text" style="width:80px;" onkeyup="this.value=this.value.replace(/\D|^0/g,'')" maxlength="5"/>张
                    </td>
                    <td style="text-align: right;">
                        满：<input id="apply_above" name="apply_above" type="text" style="width:80px;" precision="2" max="99999.99" size="8" maxlength="8"  placeholder="金额" />元使用
                    </td>
                    <td></td>
                </tr>
            </table>
            <div class="modal-footer am-text-center mlr--10" style="margin-top: 35px;">
                <button type="submit" class="am-btn am-btn-comfirm am-btn-comfirm-yes" data-am-modal-confirm="">确认</button>
                <button type="button" class="am-btn am-btn-comfirm am-btn-comfirm-no" data-am-modal-cancel="">取消</button>
            </div>
        </form>

    </div>
</div>
</div>