<div data-th-fragment="dataTable(name)">
  <div class="datatable-scroll">
    <table class="table datatable-basic dataTable no-footer " data-th-id="${name}" role="grid"
           data-th-attr="aria-describedby=${name}" data-page-length='8'>
    </table>
  </div>
</div>
