<div class="set-footer am-pa am-text-center" data-th-fragment="settings_footer">
    <button type="button" class="am-btn am-btn-comfirm am-btn-comfirm-yes" id="J-all-save">确认</button>
    <button type="button" class="am-btn am-btn-comfirm am-btn-comfirm-no" id="J-all-cancel">取消</button>
</div>