<!--glyphicon glyphicon-th-list&lt;!&ndash; Main sidebar &ndash;&gt;-->
<div class="sidebar sidebar-main" data-th-fragment="sideBar(page, userName, module)">
    <div class="sidebar-content">
        <!-- User menu -->
        <div class="sidebar-user">
            <div class="category-content">
                <div class="media">
                    <a href="#" class="media-left">
                        <img data-th-if="${user.avatar != null}"  data-vd-src="${user.avatar}" class="img-circle img-sm" alt="" />
                    </a>
                    <div class="media-body">
                        <span class="media-heading text-semibold" data-th-text="${userName}"></span>
                        <div class="text-size-mini text-muted">
                            <i class="icon-pin text-size-small"></i> &nbsp;上海
                        </div>
                    </div>

                    <div class="media-right media-middle">
                        <ul class="icons-list">
                            <li>
                                <!--<a href="#"><i class="icon-cog3"></i></a>-->
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /user menu -->

        <!-- Main navigation -->
        <div class="sidebar-category sidebar-category-visible">
            <div class="category-content no-padding">
              <ul class="navigation navigation-main navigation-accordion">
                <li data-th-each="m : ${modules}" data-th-if="${#strings.contains(m.page, page)}"
                    data-th-attr="class=(${#strings.contains(m.module, module)} and ${#strings.contains(m.page, page)}) ? 'active' : ''">
                  <a href="" data-th-href="@{${m.url}}">
                    <i class="" data-th-class="${m.iconName}"></i>
                    <span data-th-text="${m.name}">产品</span>
                  </a>
                </li>
                </ul>

            </div>
        </div>
        <!-- /main navigation -->

    </div>
</div>
<!-- /main sidebar -->


