

<ul class="am-nav sidebar-top" data-th-fragment="sider(page)">
    <li><a data-th-href="@{/products/myproduct}" data-th-attr="class=${page} == 'product' ? 'active' : '' "><i class="am-icon-gift"></i>我的商品</a></li>
    <li><a data-th-href="@{/products/category}" data-th-attr="class=${page} == 'category' ? 'active' : '' "><i class="am-icon-puzzle-piece"></i>商品分类</a></li>
    <li><a data-th-href="@{/orders/list}" data-th-attr="class=${page} == 'order' ? 'active' : '' "><i class="am-icon-file-text"></i>订单管理</a></li>
    <!-- <li><a href="#"><span>&#xe605;</span>统计<i></i></a></li> -->
    <!-- <li><a href="#"><span>&#xe60b;</span>收入<i></i></a></li>
    <li><a href="#"><span>&#xe60a;</span>客户<i></i></a></li>
    <li><a href="#"><span>&#xe609;</span>活动<i></i></a></li>
    <li><a href="#"><span>&#xe600;</span>消息<i></i></a></li> -->
    <li><a data-th-href="@{/setShop}"  data-th-attr="class=${page} == 'settings' ? 'active' : '' "><i class="am-icon-cogs"></i>系统设置</a></li>
    <li><a data-th-href="@{/coupons/myCoupon}"  data-th-attr="class=${page} == 'coupon' ? 'active' : '' "><i class="am-icon-cogs"></i>优惠劵管理</a></li>
</ul>

