<!DOCTYPE html>
<html data-layout-decorator="/layout/mainPage">
<head>
    <meta charset="utf-8" />
    <title>优惠劵管理</title>
</head>

<body>
<ul data-layout-fragment="siderBar" data-th-replace="fragments/sider::sider(page='coupon')"></ul>
<div data-layout-fragment="content">
    <div class="order-list">
        <div class="am-kd-search am-cf">
            <div class="am-form-group am-form-group-sm am-cf am-fl kd-form pad-0">
                <div class="am-fl">
                    <select class="combox" name="couponStatus">
                        <option value="" selected="selected">全部</option>
                        <option value="VALID">可使用</option>
                        <option value="OVERDUE">已过期</option>
                        <option value="CLOSED">已关闭</option>
                    </select>
                </div>
            </div>
            <form class="am-form am-fr" onsubmit="return false;">
                <div class="am-form-group am-form-icon am-form-search">
                    <span class="am-icon-search"></span>
                    <input type="text" class="am-form-field am-round" placeholder="搜索优惠劵" />
                </div>
            </form>
        </div>
        <div class="am-cf my-footer am-pannel">
            <div class="am-table-handle am-fl">
                <input type="checkbox" class="kd-checkbox checkAll" group="couponId" />全选
                <button type="button" class="am-btn am-btn-black am-round am-btn-xs am-margin-left-xs" id="js-coupon-close">批量关闭</button>
                <button type="button" class="am-btn am-btn-black am-round am-btn-xs am-margin-left-xs" id="js-coupon-create">创建新优惠劵</button>
            </div>
            <div class="pagers pagination am-fr">
            </div>
        </div>
        <div class="order-items column6">
            <div class="am-table-sort">
                <span class="col1">优惠劵</span>
                <span class="col2"><em class="j-order-discount asc j-order" data-ordername="discount" data-dir="desc">&#xe613;</em><i>面值</i></span>
                <span class="col3"><em class="j-order-remainder asc j-order" data-ordername="remainder" data-dir="desc">&#xe613;</em><i>剩余数量</i></span>
                <span class="col4"><em class="j-order-validFrom asc j-order" data-ordername="valid_from" data-dir="desc">&#xe613;</em><i>有效期</i></span>
                <span class="col5">状态</span>
                <span class="col6">操作</span>
            </div>
            
            <div class="order-item tab-coupon">
                <form id="pagerForm" method="post">
                    <input type="hidden" name="pageNum" value="1" />
                    <input type="hidden" name="pageSize" value="8" />
                    <input type="hidden" name="orderField" value="" />
                    <input type="hidden" name="direction" value="" />
                    <input type="hidden" name="status"  value="" />
                </form>
                <table class="am-table am-table-hover am-table-border0">
                    <tbody class="order-item-body column6">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="wrap-dialog">
            <!-- 改价弹窗 begin -->
            <div data-th-replace="fragments/coupon-view"></div>
        </div>
    <script type="text/template" class="tpl-couponList">
        /*<![CDATA[*/
        {{ if(it.data.rows){var rows =  it.data.rows;}else if( it.data[0] && it.data[0].rows ){ var rows = it.data[0].rows } else{var rows =  it.data;} }}
        {{? it.type !='delay'}}
            {{~rows:item:index}}
            <tr class="{{=index%2 == 0 ? '' : 'trbg'}}" data-id="{{=item.id}}">
                <td class="am-pr col1 tn-l">
                    <input type="checkbox" name=coupontId" value="{{=item.id}}" class="kd-checkbox icheck" />
                    <span>{{=item.name}}</span>
                    <i class="kd-table-line"></i>
                </td>

                <td class="am-pr col2">
                    <p class="am-color-gray">面值</p>
                    <span>{{=item.discount}}</span>
                    <i class="kd-table-line"></i>
                </td>
                <td class="am-pr col3">
                    <p class="am-color-gray">剩余数量</p>
                    <span>{{=item.remainder}}</span>
                    <i class="kd-table-line"></i>
                </td>
                <td class="am-pr col4">
                    <p class="am-color-gray">有效期</p>
                    <span>{{=item.strValidFrom}}~{{=item.strValidTo}}</span>
                    <i class="kd-table-line"></i>
                </td>
                <td class="am-pr col5">
                    {{? item.status == 'VALID'}}
                        <span style="color:green;">可使用</span>
                    {{?? item.status == 'OVERDUE'}}
                        <span style="color:grey;">过期</span>
                    {{?? item.status == 'USED'}}
                        <span style="color:red;">已使用</span>
                    {{?? item.status == 'LOCKED'}}
                        <span style="color:red;">已有订单</span>
                    {{?? item.status == 'CLOSED'}}
                        <span style="color:black;">关闭</span>
                    {{?}}
                    <i class="kd-table-line"></i>
                </td>
                <td class="col6 table-op">
                    <a class="btn-coupon-detail" href="javascript:;" data-id="{{=item.id}}">详情</a><br/>
                    <a class="btn-coupon-pre" href="javascript:;" data-id="{{=item.id}}">预览</a>
                    <a class="btn-coupon-qrCode" href="javascript:;" data-id="{{=item.id}}">二维码</a><br/>
                </td>
            </tr>
            {{~}}
        {{?}}
        /*]]>*/
    </script>
        
    </div>
</div>

<div data-layout-fragment="postScript">
    <script>
    require(['base/coupon']);
    </script>
</div>
</body>
</html>

