.cart-address{
  margin-top: 24px;
}
.address li{
  font-size: 20px;
  margin-bottom: 26px;
}
.cart-address i{
  display: block;
  position: absolute;
  z-index: 0;
}

.address label{
  width: 128px;
  text-align: right;
  margin: 0 21px 0 0;
}
.choose-address .form-control{
  width: auto;
  border: none;
  margin-right: 22px;
  box-shadow: none; 
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px; 
  border-radius: 0px;
}
.address-textarea{
  height: 72px;
  padding: 5px;
}
.address-input{
  border: 1px solid #000;
  border-width: 0 0 2px 0;
}
.address-input:focus{
  outline: none;
}
.addressBtn{
  display: block;
  background: url("../../images/baocun.png") no-repeat;
  width: 147px;
  height: 39px;
  border: none;
  margin: 38px 0 0 156px;
}
.cart-address-bd1{
  background: url("../../images/comfirm2.png") no-repeat;
  width: 88px;
  height: 53px;
  top: -31px;
  right: 70px;
}

.cart-address-bd2{
  background: url("../../images/comfirm_07.png") no-repeat;
  width: 25px;
  height: 42px;
  bottom: -21px;
  right: 78px;
}
.address-show{
//  display: none;
}
.address-show-bd1{
  background: url("../../images/confirm_11.png") no-repeat;
  width: 214px;
  height: 67px;
  top: -28px;
  right: -4px;
}

.address-show-bd2{
  background: url("../../images/comfirm_07.png") no-repeat;
  width: 25px;
  height: 42px;
  bottom: -21px;
  right: 78px;
}
.address-modify,.address-show-container{
  display: inline-block;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  position: relative;
  border: 4px solid #000;
  padding: 30px 45px 32px 0;
}
.address-show-container{
  padding-left: 46px;
}
.address-list{
  font-size: 20px;
  position: relative;
  z-index: 1;
}
.address-show-tel{
  padding-left: 26px;
}
.addrss-editor{
  display: block;
  background: #fff;
  border: 0;
  font-size: 20px;
  margin: 18px 0 0 24px;
  color: #d8b53a;
}
.pt20{
  padding-top: 10px;
}