.numEditor {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
}
.numEditor .numPlus,.shelves-select .numEditor .numPlus:hover{
    background: url("/resources/images/productNewIcon03.png") center no-repeat;
}
.numEditor .numPlus:hover{
    background: url("/resources/images/png8_14.png") center no-repeat;
}
.shelves-select .numEditor .numPlus{
  background: url("/resources/images/cartn_05.png") center no-repeat;
}
.shelves-select .numEditor .numMinus{
  background: url("/resources/images/cartn_03.png") center no-repeat;
}
.numEditor .numMinus ,.shelves-select .numEditor .numMinus:hover{
    background: url("/resources/images/productNewIcon02.png") center no-repeat;
}
.numEditor .numMinus:active{
    border: none;
}
.numEditor .numMinus:hover {
    background: url("/resources/images/png8_12.png") center no-repeat;
}
.numEditor button, .numEditor .numed {
    display: inline-block;
    text-align: center;
    padding: 0;
    float: left;
    border: 0;
    margin: 0;
  width: 30px;
  height: 30px;
    background-color: transparent;
}

.numEditor .numed {
    font-family: helveticaneue;
    margin:0 4px;
    width: 38px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    vertical-align: -2em/9;
    *vertical-align: -2em!important;
    border: 2px solid #1d1d1d;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: sans-serif;
}
