.moni-checkbox{
    display: inline-block;
    background: url("/resources/images/png8_09.png") no-repeat;
    width: 24px;
    height: 24px;
    margin-right: 15px;
  cursor: pointer;
}
.moni-checkbox-active{
  display: inline-block;
  background: url("/resources/images/png8_06.png") no-repeat;

}