<!DOCTYPE html>
<html layout:decorator="/layout/mainPage">
<head>
	<meta charset="utf-8" />
    <title>step4</title>
</head>
<body class="as_page">
<!--<header class="box header bg-white font-orange-bold" layout:fragment="header">
    <a id="backButton" class="flex1 back-button arrow-before fz30" th:text="#{Back}">Back</a>
    <div class="flex1 h1 fz38">淘宝搬家</div>
</header>-->
<div layout:fragment="content">
    <section>
        <ul class="box fz24">
            <li class="step-list-item flex1">
                            <span class="step-ico">
                                <img src="../../../_resources/images/shop/done.png" alt=""/>
                            </span>
                <span class="step-text font-dark">获取验证码</span>
            </li>
            <li class="step-list-item flex1">
                            <span class="step-ico">
                                <img src="../../../_resources/images/shop/done.png" alt=""/>
                            </span>
                <span class="step-text font-light">店铺验证</span>
            </li>
            <li class="step-list-item flex1">
                <span class="step-ico">
                    <img src="../../../_resources/images/shop/step3-sel.png" alt=""/>
                </span>
                <span class="step-text font-light">开始搬家</span>
            </li>
        </ul>
    </section>
    <section>
        <div id="js-tip" class="bd-shb box ptb20">
            <div class="step-tip-ico flex1">
                <img src="../../../_resources/images/shop/alert.png" alt=""/>
            </div>
            <div class="flex3 fz24 font-dark plr10">已搬家的商品编辑或删除后，再次搬家不可恢复</div>
            <div id="js-step-close" class="step-tip-close flex1" href="">
                <img src="../../../_resources/images/shop/cross.png" alt=""/>
            </div>
        </div>
        <div class="centered pt70b50">
            <img src="../../../_resources/images/shop/move-loading.png" alt=""/>
            <div class="pt40 fz42 font-dark">等待搬家</div>
            <p class="pt20 fz24 font-light">预计24小时内完成搬家</p>
        </div>
    </section>

</div>
	<div layout:fragment="postScript">
	    <script type="text/javascript" charset="utf-8" vd:src="/_resources/js/page/shop.js"></script>
        <script type="text/javascript">
             window.onload=function(){
                  var obj = document.getElementById('js-tip');
                  var btn = document.getElementById('js-step-close');
                  btn.onclick=function(){
                      obj.style.display='none';
                  }
              }
        </script>
	</div>
</body>
</html>